<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <% current_user.products.each do |product| %>
    <div class="row">
      <div class="col-md-4">
        <% if product.image.present? %>
          <%= image_tag(product.image.small.url, class:"thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/400x400&text=No Pic", class:"thumbnail")%>
        <% end %>
      </div>
      <div class="col-md-6">
        <h4><%=link_to(product.title, product_path(product)) %> </h4>
        <div style="height:100px;">
          <p>
            <%= product.description %>
          </p>
        </div>
        <div class="product-price"> ￥ <%= product.price %> </div>
      </div>
      <div class="col-md-2">
        <% if product.quantity.present? && product.quantity > 0 %>
          <%= link_to( add_to_cart_product_path(product),:method => :post, :class => "btn btn-primary  btn-primary") do %><i class="fa fa-shopping-cart" aria-hidden="true"></i> 加入购物车 <% end %>
        <% else %>
          已销售一空，无法购买
        <% end %>
        <br><br>
        <%= link_to( delete_from_wish_list_product_path(product), method: :post, class: "btn  btn-danger") do %><i class="fa fa-trash-o" aria-hidden="true"></i> 移除<% end %>
      </div>
    </div>
    <hr>
    <% end %>
  </div>
</div>
