<h2> Edit Template </h2>

<%= simple_form_for [:admin,@template] do |f| %>

  <div class="group">
    <%= f.input :title %>
  </div>

  <div class="group">
    <%= f.input :description %>
  </div>

  <div class="group">
    <%= f.input :price %>
  </div>

  <div class="group">
    <%= f.input :version %>
  </div>

  <div class="group">
    <%= f.input :proportion %>
  </div>

  <% if @template.templatephotos.present? %>
    <span>目前商品图</span><br>
    <% @template.templatephotos.each do |p| %>
      <%= image_tag p.image.thumb.url %><br />
    <% end %>
  <% end %>

  <div class="group">
    <%= f.file_field :image, :multiple => true, name: "templatephotos[image][]" %>（"请上传5张图片"）<br>
  </div>

  <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>
<% end %>
