<h2> Edit Template </h2>

<%= simple_form_for [:admin,@template] do |f| %>

  <div class="group">
    <%= f.input :title %>
  </div>

  <div class="group">
    <%= f.input :description %>
  </div>

  <div class="group">
    <%= f.input :price %>
  </div>

  <div class="group">
    <%= f.input :version %>
  </div>

  <div class="group">
    <%= f.input :proportion %>
  </div>

  <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>
<% end %>
