<h2> Product List </h2>
<div class="pull-right" style="padding-bottom: 20px;">
  <%= link_to("新增产品", new_admin_template_path, class: "btn btn-primary btn-sm") %>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th width="220">Product Pic</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Version</th>
      <th>Proportion</th>
      <th width="100"> Options</th>
    </tr>
  </thead>
  <tbody>
    <% @templates.each do |template| %>
      <tr>
        <td>
          <%= template.id %>
        </td>
        <td>
          <%= link_to template_path(template) do %>
            <%# if template.image.present? %>
              <%#= image_tag(template.image.thumb.url, class: "thumbnail") %>
            <%# else %>
              <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
            <%# end %>
          <% end %>
        </td>
        <td>
          <%= template.title %>
        </td>
        <td>
          <%= template.description %>
        </td>
        <td>
          <%= template.price %>
        </td>
        <td>
          <%= template.version %>
        </td>
        <td>
          <%= template.proportion %>
        </td>
        <td>
          <%= link_to("Edit", edit_admin_template_path(template)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
