<div class="container club-box">
  <div class="row">
<!-- ================================= -->

    <!-- 主内容区域 -->
    <div class="col-md-8">

      <!-- 发帖子按钮 -->
      <% if current_user.present? %>
        <div class="row club-index-up-btn">
          <div class="col-sm-1 hidden-sm hidden-md hidden-xs">
            <% if current_user.avatar.present? %>
              <%= image_tag(current_user.avatar.avatarminixs.url, class: "img-circle img-responsive center-block" )%>
            <% else %>
              <%= image_tag("http://placehold.it/40x40&text=No Pic", class: "img-circle img-responsive center-block") %>
            <% end %>
          </div>
          <div class="col-sm-11">
            <%= link_to("发布帖子", new_club_path, class: "btn btn-default center-block") %>
          </div>
        </div>
      <% end %>


      <% @clubs.each do |club| %>
        <div class="club-index-box-main">

          <!-- 头像、发帖者名称、发帖时间 -->
          <div class="row">
            <div class="club-user-avatar">
              <% if club.user.avatar.present? %>
                <%= image_tag(club.user.avatar.avatarminixs.url, class: "img-circle img-responsive") %>
              <% else %>
                <%= image_tag("http://placehold.it/40x40&text=No Pic", class: "img-circle img-responsive center-block") %>
              <% end %>
            </div>
            <div class="club-user-name">
              <p><strong><%= club.user.display_name %></strong> <br> <%= club.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
            </div>
          </div>

          <div class="row">
            <hr>
          </div>

          <!-- 发帖内容 -->
          <div class="row">
            <div class="club-title">
              <h2><%= link_to(club.title, club_path(club)) %></h2>
            </div>
            <div class="club-description">
              <%= simple_format(club.description) %>
            </div>
          </div>

          <br>
          <!-- 点赞按钮 -->
          <%= link_to upvote_club_path(club), method: :post do %>
            <i class="fa fa-thumbs-o-up"></i> &nbsp <span><%= club.club_votes.count %></span>
          <% end %>

          <!-- 收藏按钮 -->&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
          <% if current_user && current_user.is_club_member_of?(club) %>
            <%= link_to quit_club_path(club), method: :post do %>
              <i class="fa fa-bookmark"></i> &nbsp <span><%= club.club_collections.count %></span>
            <% end %>
          <% else %>
            <%= link_to join_club_path(club), method: :post do %>
              <i class="fa fa-bookmark-o"></i> &nbsp <span><%= club.club_collections.count %></span>
            <% end %>
          <% end %>

          <!-- 评论数量 -->&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <i class="fa fa-commenting-o"></i> &nbsp <span><%= club.club_reviews.count %></span>


        </div>


        <!-- 帖子评论 -->
        <div class="club-index-box-review">

          <!-- 填写评论 -->
          <%= simple_form_for ([club, @club_review]) do |f| %>
            <div class="">
              <%= f.input :comment, :label => "发表评论" %>
            </div>
            <div class="">
              <%= f.submit "发表评论", class: "btn btn-sm btn-default ", data: {disable_with: "Submiting"} %>
            </div>
          <% end %>
          <hr>

          <!-- 评论内容 -->
          <div class="club-reviews">
            <% club.club_reviews.order("created_at DESC").each do |club_review| %>

              <div class="row">

                <div class="">
                  <!-- 评论者头像 -->
                  <div class="club-review-user-avatar">
                    <% if club_review.user.avatar.present? %>
                      <%= image_tag(club_review.user.avatar.avatarminixs.url, class: "img-circle img-responsive") %>
                    <% else %>
                      <%= image_tag("http://placehold.it/40x40&text=No Pic", class: "img-circle img-responsive center-block") %>
                    <% end %>
                  </div>
                  <div class="club-user-name">
                    <p><strong><%= club_review.user.display_name %>：</strong> <br> <%= club_review.created_at.strftime("%Y-%m-%d %H:%M") %></p>
                  </div>
                </div>

                <div class="club-review-comment">
                    <%= club_review.comment %>
                </div>


              </div>

              <hr>
            <% end %>
          </div>
        </div>

      <% end %>
    </div>



    <!-- 侧边栏 -->
    <div class="col-md-4 club-index-box-side hidden-sm hidden-md hidden-xs">

      <div class="club-index-box-side-user">
        <!-- 注册，登入或头像 -->
        <div class="club-index-box-side-avatar text-center">
          <!-- 注册，登入 -->
          <% if !current_user %>
            <%= link_to("注册", new_user_registration_path) %> &nbsp|&nbsp
            <%= link_to("登入", new_user_session_path) %>
          <% else %>
          <!-- 头像 -->
          <div class="article-avatar">
            <% if current_user.avatar.present? %>
              <%= image_tag(current_user.avatar.avatar.url, class: "img-circle img-responsive center-block" )%>
            <% else %>
              <%= image_tag("http://placehold.it/80x80&text=No Pic", class: "img-circle img-responsive center-block") %>
            <% end %>
          </div>
          <!-- 用户名 -->
          <div class="article-username text-center">
            <%= current_user.display_name %>
          </div>
          <% end %>
          <hr>
        </div>

        <!-- 四个按钮 -->
        <div class="club-index-box-side-btn row">
          <div class="col-md-6">
            <%= link_to("发帖子", new_club_path, class: "btn btn-sm btn-danger center-block") %>
          </div>
          <div class="col-md-6">
            <%= link_to("个人主页", clubuser_clubs_path, class: "btn btn-sm btn-warning center-block") %>
          </div>
          <hr>
        </div>
      </div>


      <!-- 广告图 -->
      <div class="club-index-box-side-adv">
        <%= link_to image_tag("article-image-text6.jpg", class: "club-index-box-side-adv all_image_css"), article_path(id:3) %>
      </div>


      <!-- 热门帖子 -->
      <div class="club-index-box-side-list">
        <h5>热评帖子</h5>
        <hr>

        <% @club_hots.each do |club_hot| %>
          <div class="club-index-box-side-list-hot">
            <%= link_to(club_hot.title, club_path(club_hot)) %> <span class="pull-right"><i class="fa fa-commenting-o"></i> &nbsp <%= club_hot.club_reviews.count %></span>
          </div>
        <% end %>

        <hr>
      </div>

    </div>


<!-- ================================= -->
  </div>
</div>
