<div class="container club-box">
  <div class="row">
<!-- ================================= -->

    <!-- 主内容区域 -->
    <div class="col-md-8">

      <!-- 发帖子按钮 -->
      <% if current_user.present? %>
        <div class="row">
          <div class="col-sm-1 hidden-sm hidden-md hidden-xs">
            <% if current_user.avatar.present? %>
              <%= image_tag(current_user.avatar.avatarminixs.url, class: "img-circle img-responsive center-block" )%>
            <% else %>
              <%= image_tag("http://placehold.it/40x40&text=No Pic", class: "img-circle img-responsive center-block") %>
            <% end %>
          </div>
          <div class="col-sm-11">
            <%= link_to("发布帖子", new_club_path, class: "btn btn-default center-block") %>
          </div>
        </div>
      <% end %>


      <% @clubs.each do |club| %>
        <div class="club-index-box-main">

          <!-- 头像、发帖者名称、发帖时间 -->
          <div class="row">
            <div class="club-user-avatar">
              <% if club.user.avatar.present? %>
                <%= image_tag(club.user.avatar.avatarmini.url, class: "img-circle img-responsive" )%>
              <% else %>
                <%= image_tag("http://placehold.it/40x40&text=No Pic", class: "img-circle img-responsive center-block") %>
              <% end %>
            </div>
            <div class="club-user-name">
              <p><strong><%= club.user.display_name %></strong> <br> <%= club.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
            </div>
          </div>

          <div class="row">
            <hr>
          </div>

          <!-- 发帖内容 -->
          <div class="row">
            <div class="club-title">
              <h2><%= link_to(club.title, club_path(club)) %></h2>
            </div>
            <div class="club-description">
              <%= simple_format(club.description) %>
            </div>
          </div>

        </div>
      <% end %>

      <!-- 帖子评论 -->
      <div class="club-index-box-review">
        帖子评论
      </div>


    </div>



    <!-- 侧边栏 -->
    <div class="col-md-4 club-index-box-side hidden-sm hidden-md hidden-xs">
      <p>发帖子</p>
      <p>个人主页</p>
      <p>我的帖子</p>
      <p>我的收藏</p>
    </div>















<!-- ================================= -->
  </div>
</div>
