<tr >
  <td colspan="5">
    订单号：<%= link_to(item.token, order_path(item.token)) %>
    <% if item.is_paid %>
      <span class="label label-success">Paid</span>
    <% else %>
      <span class="label label-danger">Not Paid</span>
    <% end %>
    <br>
    <%= render_created_at(item.created_at) %>
  </td>
</tr>
<% item.product_lists.each do |product| %>
  <tr>
    <td colspan="2">
      <%= image_tag product.image %>
      <%= link_to(product.product_name, product_path(item.token)) %>
    </td>
    <td><%= product.product_price %></td>
    <td><%= product.quantity %></td>
    <td><%= item.total_price %></td>
  </tr>
<% end %>
<tr>
  <td class="active" colspan=5>

  </td>
</tr>
