<div class="row">
	<div class="col-md-12">
		<h2>History Orders</h2>
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Buyer</th>
					<th>Receiver</th>
					<th>Total</th>
					<th>Created_at</th>
				</tr>
			</thead>
			<tbody>
				<% @orders.each do |order| %>
				<tr><td><%= order.billing_name %> - <%= order.billing_address  %></td>
				<td><%= order.shipping_name %> - <%=order.shipping_address  %></td>
				<td><%= order.total  %> CNY</td>
				<td><%= order.created_at.strftime("%Y-%m-%d")  %> </td></tr>
				<% end %>
			</tbody>
		</table>
		
	</div>
	
</div>