<div class="col-md-12">

  <h2 class="text-center"> 我的历史订单 </h2>

  <table class="table">
    <thead>
      <tr>
        <th> 订单编号 </th>
        <th> 订购人 </th>
        <th>  订购人地址 </th>
        <th> 收货人 </th>
        <th>  收获地址 </th>
        <th> 订单状态 </th>
        <th> 支付方式</th>
          <th>订单时间 </th>
          <th> 订单总价  </th>

      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td> <%= order.id %> </td>
          <td> <%= order.billing_name %> </td>
          <td> <%= order.billing_address %> </td>
          <td> <%= order.shipping_name %> </td>
          <td> <%= order.shipping_address %> </td>
          <td> <% if order.is_paid? %> 已支付
            <% else  %>未支付
            <% end %>
          </td>

          <td> <%= order.payment_method %> </td>
          <td> <%= order.created_at %> </td>
          <td> <%= order.total %> </td>

      <% end %>
    </tbody>
  </table>
</div>
