<h1>
  <%#= @user.email %>&nbsp Orders History
</h1>

<div class="container-fluid">
  <table class="table table-bordered">
    <thead >
      <tr>
        <th>All orders</th>
        <th>Order detail</th>
        <th>Consignee</th>
        <th>Price</th>
        <th>Status</th>
        <th>Oprate</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="6">&nbsp</td>
      </tr>
  <% @orders.each do |order| %>
  <% order.product_lists.each do |product_list| %>
    <tr>
      <td>
        <%= order.created_at %>
      </td>
      <td colspan="5">
        Order No : <%= link_to(order.token,account_order_path(order.token)) %>
      </td>
      <tr>
      <td><%= product_list.product_name %></td>
      <td><%= product_list.quantity %></td>
      <td >
        <%= order.shipping_name %>
      </td>
      <td >
        TotalPrice ¥ <%= order.total %>
        <br />
        Paymthod
      </td>
      <td >
        Status<%#= order.status %>
      </td>
      <td>
        <%= link_to("Delete", account_order_path(order), :method => :delete, :data => { :confirm => "Are you sure?" } , :class => "btn btn-xs btn-danger") %>
      </td>
    </tr>
  </tbody>
  <% end %>
  <% end %>
  </table>
</div>
