<h1> Order List </h1>
<table class="table table-boldered">
  <thead>
       <tr>
           <td>订单编号</td>
           <td>总价(元)</td>
           <td>付款人</td>
           <td>收件人</td>
           <td>是否付款</td>
           <td>订单时间</td>

       </tr>

   </thead>
 <tbody>
  <% @orders.each do |order| %>
  <tr>
    <td>
     <%= link_to(truncate(order.token, length: 8), order_path(order.token)) %>
    </td>

    <td>
      <%= order.total%>
    </td>

    <td>
      <%= order.billing_name %>
    </td>

    <td>
      <%= order.shipping_name%>
    </td>

    <td>
      <%= order.is_paid %>
    </td>

    <td>
      <%= order.created_at %>
    </td>
  </tr>
  <% end %>
<tbody>
</table>
