<div class="col-md-12">
    <h2>订单详情</h2>
    <% @orders.each do |o| %>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width :20%">
                    订购人
                </th>
                <th style="width :20%">
                    收货人
                </th>
                <th style="width :20%">
                    付款方式
                </th>
                <th style="width :20%">
                    总价
                </th>
                <th style="width :20%">
                    付款时间
                </th>
                <th style="width :20%">
                    付款时间
                </th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    <%= o.billing_name %>
                </td>
                <td>
                    <%= o.shipping_name%>
                </td>

                <td>
                    <%= o.payment_method %>
                </td>
                <td>
                    <%= o.total %>
                </td>
                <td>
                    <%= o.created_at %>
                </td>
                <td>
                    <%= link_to("申请退款", request_to_cancel_account_order_path(o), method: :post, class: "btn btn-primary") %>
                </td>

            </tr>
            <table>
                <br/><br/>
                <% end %>
