<div class="col-md-12">

  <h2 class="text-center"> 历史订单 </h2>

  <table class="table">
    <thead>
      <tr>
        <th> 订单编号 </th>
        <th> 订单金额 </th>
        <th> 下单时间 </th>
        <th> 付款情况 </th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td> <%= order.token %> </td>
          <td> <%= order.total %> </td>
          <td> <%= order.updated_at %> </td>
          <td><% if  order.is_paid %>
              <%= order.payment_method %>
              <% else %>
              <%= order.is_paid %>
              <% end %>
           </td>

          <td> </td>
          <td> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
