<div class="row">
  <div class="col-md-12">

    <h2> 全部订单</h2>

      <div class="row well">
        <table class="table table-bordered">
          <thead>
            <tr>


          
              <th>
               商品信息
              </th>
              <th>  总价 </th>
              <th>  是否付款  </th>
              <th>  支付方式  </th>
            </tr>
          </thead>

          <tbody>
            <% @orders.each do |order| %>
            <tr>

              <td>
                <% order.product_lists.each do |product_list| %>
                   <%= product_list.product_name %>;
                <% end %>
              </td>
              <td> <%= order.total  %></td>
              <td><%= order.is_paid %></td>

              <td>
                <%= link_to("支付宝支付", "#", :method => :post, :class => "btn btn-primary ", style: "margin-left:20px") %>
                <%= link_to("微信支付", "#", :method => :post, :class => "btn btn-danger ") %>

              </td>

            </tr>
            <% end %>
          </tbody>


        </table>
      </div>



  </div>
  </div>
