<h2> 修改商品 </h2>

<%= simple_form_for [:admin, @book] do |f| %>

  <div class="group">
    <%= f.input :title %>
  </div>

  <div class="group">
    <%= f.input :description %>
  </div>

  <div class="group">
    <%= f.input :quantity %>
  </div>

  <div clas="group">
    <%= f.input :price %>
  </div>

  <% if @book.image.present? %>
    <span>目前商品图</span> <br>
    <%= image_tag(@book.image.thumb.url) %>
  <% end %>

  <div class="group">
    <%= f.input :image, as: :file %>
  </div>

  <%= f.submit "上传图片", data: { disable_with: "正在上传..."} %>

<% end %>
