<br>
<div class="row">
  <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">

        <div class="panel panel-default">
          <div class="panel-heading" align="center">
          <h1>商品 #<%= @product.id %> <%= @product.title %></h1>
  </div>
  <div class="panel-body">
    <div class="pull-right">
      <%= form_tag admin_product_product_images_path(product_id: @product), method: :post, enctype: "multipart/form-data", class: "form-horizontal" do %>
        <input type="file" name="images[]" multiple class="image-input" />
        <%= submit_tag "上傳", class: "btn btn-primary" %>
      <% end %>
    </div>
    <div style="margin-left: 50px;">
      <h4>可上傳多張圖片</h4>
      <h4>圖片“權重”最高者為商品的主要圖片</h4>
    </div>
  </div>
  <br>
  <!-- Table -->
  <table class="table table-striped">
    <tr>
      <th class="text-center">ID</th>
      <th class="text-center">商品圖片</th>
      <th class="text-center">圖片權重</th>
      <th class="text-center">圖片管理</th>
    </tr>
    <% @product_images.each do |product_image| %>

      <tr>
        <td class="text-center"><%= product_image.id %></td>
        <td class="text-center">
          <div class="product-image-inex-list-style col-centered">
            <img src=<%= cl_image_path(product_image.image.url) %>>
          </div>
        </td>
        <td class="text-center">
          <%= form_tag admin_product_product_image_path(@product, product_image), method: :put do %>
            <input type="text" value="<%= product_image.weight %>" name="weight" />
            <%= submit_tag "更新", class: "btn btn-default btn-xs" %>
          <% end -%>
        </td>
        <td class="text-center">
          <%= link_to "刪除", admin_product_product_image_path(@product, product_image), method: :delete, 'data-confirm': "確定刪除嗎?" %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
