<div class="col-md-8 col-md-offset-2">
  <h2 class="text-center">编辑试题</h2>
  <%= simple_form_for [:admin, @exam] do |f| %>
    <%= f.input :name, placeholder: "请输入试题xxx"%>
    <%= f.input :question, placeholder: "请输入试题题干" %>
    <%= f.input :answer_1, placeholder: "请输入试题描述" %><%= f.input :is_a1en, :label => "A" %>
    <%= f.input :answer_2, placeholder: "请输入试题描述" %><%= f.input :is_b1en, :label => "B" %>
    <%= f.input :answer_3, placeholder: "请输入试题描述" %><%= f.input :is_c1en, :label => "C" %>
    <%= f.input :answer_4, placeholder: "请输入试题描述" %><%= f.input :is_d1en, :label => "D" %>
    <%= f.input :answer_5, placeholder: "请输入试题描述" %><%= f.input :is_e1en, :label => "E" %>
    <%= f.input :answer_6, placeholder: "请输入试题描述" %><%= f.input :is_f1en, :label => "F" %>
    <%= f.select :category_id, @categories %>


    <div class="group"> <p><b>CountDownDate</b></p>
      <%= f.datetime_field :countdown %><br>
      <%= @exam.countdown %>
    </div>
    <%= f.label :image %><br>
    <%= f.file_field :image, :multiple => true, name: "photos[image][]" %>（"这里可以上传图片"）<br>
    <%= f.submit "Submit", class: "btn btn-default" %>
    <% end %>
    <%= simple_form_for [@choice] do |f| %>
      <%= f.input :name, placeholder: "请输入与试题相同的名字"%>
      <%= f.input :is_aa1en, :label => "A" %>
      <%= f.input :is_bb1en, :label => "B" %>
      <%= f.input :is_cc1en, :label => "C" %>
      <%= f.input :is_dd1en, :label => "D" %>
      <%= f.input :is_ee1en, :label => "E" %>
      <%= f.input :is_ff1en, :label => "F" %>
      <%= f.submit "Submit", class: "btn btn-default" %>
    <% end %>

</div>
