<div class="col-md-8 col-md-offset-2">
  <h2 class="text-center">添加试题</h2>
  <%= simple_form_for [:admin, @exam] do |f| %>
    <%= f.input :name, placeholder: "请输入试题xxx"%>
    <%= f.input :question, placeholder: "请输入试题题干" %>
    <%= f.input :answer_1, placeholder: "请输入试题描述" %>
    <%= f.input :answer_2, placeholder: "请输入试题描述" %>
    <%= f.input :answer_3, placeholder: "请输入试题描述" %>
    <%= f.input :answer_4, placeholder: "请输入试题描述" %>
    <%= f.input :answer_5, placeholder: "请输入试题描述" %>
    <%= f.input :answer_6, placeholder: "请输入试题描述" %>
    <%= f.select :category_id, @categories %>
    <%= f.select :sizes_id, @categories %>
    <%= f.label :image %><br>
    <%= f.file_field :image, :multiple => true, name: "photos[image][]" %>（"这里可以上传图片"）<br>
    <%= f.submit "Submit", class: "btn btn-default" %>
  <% end %>
</div>
