<h2> 考试题 </h2>
<div class="pull-right" style="padding-bottom: 20px;">
  <%= link_to("新增试题", new_admin_exam_path, class: "btn btn-primary btn-sm") %>
  <%= link_to("新增答案代号", new_choice_path, class: "btn btn-primary btn-sm") %>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>question</th>
      <th>answer</th>
      <th>true_answer</th>
      <th width="100"> Options </th>
      <td>试题代号 </td>
      <th>填写答案代号</th>
      <th>已填答案代号</th>
    </tr>
  </thead>
  <tbody>
    <% @exams.each do |exam| %>
    <tr>
      <td>
        <%= link_to exam.id, admin_exam_path(exam) %>
      </td>
       <td>
         <%= exam.question %>
       </td>
       <td>
         <%= exam.answer_1 %>
       </br><br>
         <%= exam.answer_2 %>
         <br><br>
         <%= exam.answer_3 %>
       </br><br>
         <%= exam.answer_4 %>
       <br><br>
         <%= exam.answer_5 %>
       </br><br>
         <%= exam.answer_6 %>
       </td>
       <td>

         <% if exam.is_a1en %>
         <%= link_to a_admin_exam_path(exam), method: :post, class: "btn btn-xs btn-success" do %>
         <i class="fa fa-check"></i><% end %>  A. <%= exam.answer_1 %>
         <% else %>
         <%= link_to a1_admin_exam_path(exam), method: :post, class: "btn btn-xs btn-warning" do %>
         <i class="fa fa-square-o"></i><% end %> A. <%= exam.answer_1 %>
         <% end %>
         <br><br>
         <% if exam.is_b1en %>
         <%= link_to b_admin_exam_path(exam), method: :post, class: "btn btn-xs btn-success" do %>
         <i class="fa fa-check"></i><% end %> B. <%= exam.answer_2 %>
         <% else %>
         <%= link_to b1_admin_exam_path(exam), method: :post, class: "btn btn-xs btn-warning" do %>
         <i class="fa fa-square-o"></i><% end %> B. <%= exam.answer_2 %>
         <% end %>
          <br><br>
         <% if exam.is_c1en %>
         <%= link_to c_admin_exam_path(exam), method: :post, class: "btn btn-xs btn-success" do %>
         <i class="fa fa-check"></i><% end %> C. <%= exam.answer_3 %>
         <% else %>
         <%= link_to c1_admin_exam_path(exam), method: :post, class: "btn btn-xs btn-warning" do %>
         <i class="fa fa-square-o"></i><% end %> C. <%= exam.answer_3 %>
         <% end %>
          <br><br>
         <% if exam.is_d1en %>
         <%= link_to d_admin_exam_path(exam), method: :post, class: "btn btn-xs btn-success" do %>
         <i class="fa fa-check"></i><% end %> D. <%= exam.answer_4 %>
         <% else %>
         <%= link_to d1_admin_exam_path(exam), method: :post, class: "btn btn-xs btn-warning" do %>
         <i class="fa fa-square-o"></i><% end %> D. <%= exam.answer_4 %>
         <% end %>
         <br><br>
        <% if exam.is_e1en %>
        <%= link_to e_admin_exam_path(exam), method: :post, class: "btn btn-xs btn-success" do %>
        <i class="fa fa-check"></i><% end %> E. <%= exam.answer_5 %>
        <% else %>
        <%= link_to e1_admin_exam_path(exam), method: :post, class: "btn btn-xs btn-warning" do %>
        <i class="fa fa-square-o"></i><% end %> E. <%= exam.answer_5 %>
        <% end %>
         <br><br>
        <% if exam.is_f1en %>
        <%= link_to f_admin_exam_path(exam), method: :post, class: "btn btn-xs btn-success" do %>
        <i class="fa fa-check"></i><% end %> F. <%= exam.answer_6 %>
        <% else %>
        <%= link_to f1_admin_exam_path(exam), method: :post, class: "btn btn-xs btn-warning" do %>
        <i class="fa fa-square-o"></i><% end %> F. <%= exam.answer_6 %>
        <% end %>

       </td>
       <td>
         <%= link_to("Edit", edit_admin_exam_path(exam)) %> |
         <%= link_to("Delete", admin_exam_path(exam), method: :delete, data: { confirm: "Are your sure?" }) %>
       </td>

       <td>
         <%= exam.name %>
       </td>

       <td>
           <%= simple_form_for @choice do |f| %>
           <%= f.input :name, placeholder: "请输入与试题相同的代号"%>
           <%= f.input :is_aa1en, :label => "A." %>
           <br>
           <%= f.input :is_bb1en, :label => "B." %>
           <br>
           <%= f.input :is_cc1en, :label => "C." %>
           <br>
           <%= f.input :is_dd1en, :label => "D." %>
           <%= f.submit "确定", class: "btn btn-info btn-info", data: {disable_with: "Submitting..."} %>
           <% end %>

       </td>
       <td>
         <% @choices.each do |choice| %>
         <%= choice.name %>
         <% end %>
       </td>

      <% end %>
     </tr>
   </tbody>
 </table>
