
<div style="text-align:center;">
  <%= link_to("Add new item", new_admin_item_path) %>
</div>

<br><br>

<table class="table table-boldered">
  <% @items.each do |item| %>
  <tr>
    <td>
      <%= link_to(item.title, admin_item_path(item)) %>
    </td>

    <td>
      <%= link_to("Edit", edit_admin_item_path(item)) %>
    </td>

    <td>
      <%= link_to("Delete", admin_item_path(item), :method => :delete) %>
    </td>

    <td>
      <% if item.is_available %>
        <%= link_to("Off Shelf", hide_admin_item_path(item), :method => :post) %>
      <% else %>
        <%= link_to("On Shelf", publish_admin_item_path(item), :method => :post) %>
      <% end %>

    </td>

    <td>
      <%= item.created_at %>
    </td>
  </tr>
  <% end %>
</table>
