<h1> Add new Item </h1>

<%= simple_form_for [:admin, @item] do |f| %>
<%= f.input :title %>
<%= f.input :description %>
<%= f.input :price %>
<%= f.input :storage %>

 <%= f.label :picture %>
 <%= f.file_field :attachment %>

<%= f.input :is_available %>

<%= f.submit "Submit" %>
<% end %>
