<div class="sign-container">
    <div class="box left">
        <h1>欢迎来到美哲宝,我们一起守护心灵胚胎</h1>
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">登录</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">注册</a></li>
        </ul>
         <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">

                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                 <div class="form-inputs">
                   <%= f.text_field :email, placeholder: "Email", label:false, required: false, autofocus: true %>
                   <%= f.password_field :password, placeholder: "请输入密码", label:false, required: false %>
                 </div>
                 <div class="form-actions">
                   <%= f.submit "登录", class: "submit" %>
                   <a href="#" class="extra-link">Forgot your password?</a>
                 </div>
               <% end %>

            </div>
            <div role="tabpanel" class="tab-pane info sign-info" id="profile">

                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

                  <div class="form-inputs">
                    <%= f.text_field :email, placeholder: "Email", required: true, autofocus: true %>
                    <%= f.password_field :password, placeholder: "请输入密码", required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
                    <%= f.password_field :password_confirmation, placeholder: "请再次输入密码", required: true %>
                  </div>

                  <div class="form-actions">
                    <%= f.submit "注册", class: "submit" %>
                    <a href="#" class="extra-link">Please Read Our Terms and conditions</a>
                  </div>
                <% end %>

            </div>
          </div>
    </div>

    <div class="box right">
        <div class="info signin-info">
          <span class="sign-via">其它方式登录</span>
          


          <!-- <button class="social-network google"><i class="fa fa-google-plus" aria-hidden="true"></i>Google+</button> -->
        </div>
        <div class="info signup-info">
          <span class="sign-via">Sign up via... </span>
          <button class="social-network facebook"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</button>
          <button class="social-network twitter"><i class="fa fa-twitter" aria-hidden="true"></i>Twitter</button>
          <button class="social-network google"><i class="fa fa-google-plus" aria-hidden="true"></i>Google+</button>
        </div>
    </div>
</div>
