<div style="margin-top:120px;margin-bottom:30px;line-height:275%;">
    <h1 class="text-center", style="color:rgb(62,146,190);">用户注册</h1>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
<%= devise_error_messages! %>

<div class="form-group">
    <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
        <%= f.email_field :email, autofocus: true , class: "form-control" , :style => "border: solid 1px white;", placeholder: "Email Address"%>
    </div>
</div>

<div class="form-group">
    <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password"%>
    </div>
</div>

<div class="form-group">
    <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Password Confirmation"%>
    </div>
</div>

<div class="form-group">
  <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
      <%= f.submit "注册", class: "btn btn-primary",:style => "border: none;color:white;width:100%;background-color:rgb(62,146,190);border-radius:50px;" %>
  </div>
</div>

<div class="form-group">
  <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
      <%= render "devise/shared/links" %>
  </div>
</div>
<% end %>
