<div class="log-page-bg row">
  <div class="container">
    <div class="col-md-4 col-md-offset-4 log-page">

      <h2 class="text-center">注 册</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true, :label => "邮箱" %>
          <%= f.input :password, required: true, hint: ("请输入至少 #{@minimum_password_length} 位数的密码" if @minimum_password_length), :label => "密码" %>
          <%= f.input :password_confirmation, required: true, :label => "确认密码" %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "注 册" %>
        </div>
      <% end %>
      <br>
      <%= render "devise/shared/links" %>

    </div>
  </div>
</div>
