<div class="row user_setup">
  <div class="col-md-4 col-md-offset-4 user_setup_content">
    <div class="col-md-10 col-md-offset-1">
      <h2><span class="fa fa-user-circle-o"></span>账号注册</h2>

      <br>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true, placeholder: "请输入常用的邮箱地址", label: false, error: '请输入邮箱地址' %>
          <%= f.input :name, :label => false, placeholder: '请输入真实姓名', error: '请输入姓名', required: true %>
          <%= f.input :user_type, :label => false, as: :radio_buttons, collection:  [['我是买家', 1, checked: true], ['我是卖家', 2]], required: true %>
          <%= f.input :password, required: true, placeholder: "请输入6-16位密码", label: false, error: '请输入6-16位密码', input_html: { maxlength: 16 } %>
          <%= f.input :password_confirmation, required: true, placeholder: "确认密码", label: false, error: '请输入相同的密码', input_html: { maxlength: 16 } %>
        </div>

        <br>

        <div class="form-actions">
          <%= f.button :submit, "注册", class: "button" %>
        </div>

        <hr />

        <div class="account">
          <%= link_to "已有帐号，立即登录", new_user_session_path %>
        </div>
      <% end %>

    </div>
  </div>
</div>
