<div class="pull-right">
  <%= link_to("Add an Item", new_seller_item_path, :class => "btn btn-default") %>
</div>

<br><br>

<table class="table table-boldered">
  <% @items.each do |item| %>
      <tr>
        <td>
          <%= link_to(item.title, seller_item_path(item)) %>
        </td>
        <td>
          <%= item.created_at %>
        </td>
        <td>
          <%= link_to("Edit", edit_seller_item_path(item)) %> |
          <%= link_to("Destroy", seller_item_path(item), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
        </td>
      </tr>
  <% end %>
</table>