<table class="table table-boldered">

      <tr>
        <td>
          <%= link_to(@item.title, seller_item_path(@item)) %>
        </td>
        <td>
          <%= @item.description %>
        </td>
        <td>
          <%= @item.created_at %>
        </td>
        <td>
          <%= link_to("Edit", edit_seller_item_path(@item)) %> |
          <%= link_to("Destroy", seller_item_path(@item), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
        </td>
      </tr>

</table>