<div class="container">
<div class="row">
  <div class="col-md-6">
    <!-- <% if @chef.image.present? %>
      <%#= image_tag(@chef.image.medium.url, class: "thumbnail") %>
    <% else %>
      <%#= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %> -->
    <% if @photos.present? %>
      <% @photos.each_with_index do |p, index| %>
        <% if index == 0 %>
          <%= image_tag p.image.medium.url %>
          <div style="letter-spacing: -8px">
        <% else %>
          <%= image_tag p.image.thumb.url %>
        <% end %>
      <% end %>
      </div>
    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>
  </div>
  <div class="col-md-6">
    <h2><%= @chef.name %>
      <% if @chef.chef_level_id == 1 %>
        <img src='<%= image_url 'gold-medal.png' %>'>
      <% elsif @chef.chef_level_id == 2 %>
        <img src='<%= image_url 'silver-medal.png' %>'>
      <% elsif @chef.chef_level_id == 3 %>
        <img src='<%= image_url 'bronze-medal.png' %>'>
      <% end %>
    </h2>
    <div style="height: 100px;">
      <p>
        <%= simple_format(@chef.description) %>
      </p>
    </div>
    <div class="style">
      <i class="fa fa-map-marker fa-lg" aria-hidden="true"></i> <%= @chef.city %>
    </div>

    <div class="style">
      <i class="fa fa-cutlery fa-lg" aria-hidden="true"></i> <%= @chef.style %>
    </div>
<div class="row">
<div class='col-sm-6'>
    <div class="chef-follow">
      <% if current_user.has_follow?(@chef) %>
        <%= link_to unfollow_chef_path(@chef), :method => :post do %>
          <i class="fa fa-thumbs-up fa-lg" style="color:red" aria-hidden="true" ></i>
        <% end %>
      <% else %>
        <%= link_to follow_chef_path(@chef), :method => :post do %>
            <i class="fa fa-thumbs-o-up fa-lg" style="color:red" aria-hidden="true" ></i>
        <% end %>
      <% end %>
      <%= @chef.followers.count %>
    </div>
</div>
</div>

<div>
  <div class="row" style="margin-top: 10px;">
          <div class='col-sm-6'>
              <div class="form-group">
    <%= simple_form_for  current_cart do |f| %>
      <%= f.input :book_date, as: :date, start_year: Date.today.year,
              end_year: Date.today.year + 1, label: false %>
      <%= f.submit "预定", data: {disable_with: "Submiting..." } , class: "btn btn-primary btn-success"%>
    <% end %>
  </div>
</div>

</div>
    <div class="pull-right">
      <% if !current_user.admin? %>
        <%= link_to("菜品订制", add_to_cart_chef_path(@chef), :method => :post, :class => "btn btn-primary btn-lg btn-danger") %>
      <% end %>
    </div>
  </div>
</div>
</div>
