<div class="container">
  <div class="row">
    <div class="col-md-6">
    <!-- <% if @chef.image.present? %>
      <%#= image_tag(@chef.image.medium.url, class: "thumbnail") %>
    <% else %>
      <%#= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %> -->
    <% if @photos.present? %>
      <% @photos.each_with_index do |p, index| %>
        <!-- <% if index == 0 %>
          <%#= image_tag p.image.medium.url %>
          <div style="letter-spacing: -8px">
        <% else %>
          <%#= image_tag p.image.thumb.url %>
        <% end %> -->
        <%= image_tag p.image.medium.url %>
      <% end %>
    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>
  </div>

    <div class="col-md-6">
      <h2><%= @chef.name %>
        <% if @chef.chef_level_id == 1 %>
          <img src='<%= image_url 'gold-medal.png' %>'>
        <% elsif @chef.chef_level_id == 2 %>
          <img src='<%= image_url 'silver-medal.png' %>'>
        <% elsif @chef.chef_level_id == 3 %>
          <img src='<%= image_url 'bronze-medal.png' %>'>
        <% end %>
      </h2>
      <!-- <div style="height: 10px;">
        <p>
          <%#= @chef.position %> <br>
        </p>
      </div> -->
      <br>
      <div style="margin-top: 20px;">
        <div class="style">
          <i class="fa fa-map-marker fa-lg" aria-hidden="true"></i> <%= @chef.city %>
          <i class="fa fa-cutlery fa-lg" aria-hidden="true"></i> <%= @chef.style %>
        </div>
      </div>

      <% if current_user && !current_user.admin? %>
          <div class="row" style="margin-top: 10px;">
              <div class='col-sm-6'>
                  <div class="form-group">
                  <%= simple_form_for  current_cart do |f| %>
                    <%= f.input :book_date, as: :date, start_year: Date.today.year,
                      end_year: Date.today.year + 1, label: false %>
                      <%= f.submit "预定私厨", data: {disable_with: "Submiting..." } ,
                          class: "btn  btn-success"%>
                  <% end %>
                  </div>
              </div>
            </div>
        <% end %>
        
            <% if current_cart.book_date.present? %>
            <div class="pull-right">
              <% if current_user && !current_user.admin? %>
                <% if current_cart.chef_id != nil && @current_chef_in_cart.style != @chef.style %>
                  <%= link_to("菜品订制", add_to_cart_chef_path(@chef), :data => {:confirm => "更换不同菜系的厨师将清空当前购物车。确定吗？" }, :method => :post, :class => "btn btn-primary btn-danger") %>
                <% else %>
                  <%= link_to("菜品订制", add_to_cart_chef_path(@chef), :method => :post, :class => "btn btn-primary btn-danger") %>
                <% end %>
              <% end %>
            </div>
            <% end %>

            <hr style="margin-top: 150px;">
            <div style="height: 150px;">
              <h4>食物回忆
              </h4>
              <p>
                <%= simple_format(@chef.description) %>
              </p>
            </div>
            <hr style="margin-top: 50px;">
            <div class="panel with-nav-tabs panel-default" style="height: 600px;">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active">
                              <a href="#viewcomments" data-toggle="tab">精选评论</a>
                            </li>
                            <li><a href="#wirtecomments" data-toggle="tab">
                              <i class="fa fa-comments-o" aria-hidden="true"></i> 写评论</a>
                            </li>
                        </ul>
                </div>
                        <div class="tab-content">
                        <div class="tab-pane active" id="viewcomments">
                          <% @chef_comments.each do |chef_comment| %>
                            <div class="reviews">
                              <ul class="list-group">
                                <li class="list-group-item" >
                                  <div class="row" >
                                    <div class="col-md-2" style="color: #bcbaba">
                                        <%= chef_comment.user.email %>
                                    </div>
                                      <br>
                                    <div class="col-md-8">
                                        <%= chef_comment.comment %>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                          </div>
                          <% end %>
                         </div>
                        <div class="tab-pane" id="wirtecomments">
        	                  <div>
                              <%= simple_form_for([@chef, @chef_comment]) do |f| %>
                              <div class="form-inputs">
                                <%= f.input :comment, label: false, class: "form-control" %>
                              </div>
                              <div class="form-actions">
                                <%= f.button :submit, value = "提交", class: "btn btn-primary" %>
                              </div>
                              <% end %>
        	                  </div>
                         </div>
                      </div>
            </div>
      </div>
    </div>
</div>
