<div class="account-box">

  <h3 class="text-center">我要投稿（Contribute）</h3>
  <br>

<%= simple_form_for [@article] do |f| %>
  <div class="form-group">
    <%= f.input :title, :label => "标题" %>
    <%= f.input :image, as: :file, :label => "封面(要求：600px*400px)" %>
    <%= f.input :summary, :label => "摘要" %>
    <%= f.input :description, as: :wysihtml5, :label => "内容" %>
    <hr>

  </div>
  <%= f.submit "提交审核", class: "btn btn-sm btn-default", data: {disable_with: "Submiting..."} %>
<% end %>

</div>
