<h2> 考试题 </h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>question</th>
      <th width="100"> Options </th>
      <th>管理</th>
    </tr>
  </thead>
  <tbody>
    <% @exams.each do |exam| %>
    <tr>
      <td>
         <%= exam.name %>
      </td>
       <td>
         <%= exam.question %>
       </td>
       <td>
         <% @choices.each do |choice| %>
         <% if choice.is_aa1en %>
         <%= link_to aa_choice_path(choice), method: :post, class: "btn btn-xs btn-success" do %>
         <i class="fa fa-check"></i><% end %>  A. <%= exam.answer_1 %>
         <% else %>
         <%= link_to aa1_choice_path(choice), method: :post, class: "btn btn-xs btn-warning" do %>
         <i class="fa fa-square-o"></i><% end %> A. <%= exam.answer_1 %>
         <% end %>
         <br><br>
         <% if choice.is_bb1en %>
         <%= link_to bb_choice_path(choice), method: :post, class: "btn btn-xs btn-success" do %>
         <i class="fa fa-check"></i><% end %> B. <%= exam.answer_2 %>
         <% else %>
         <%= link_to bb1_choice_path(choice), method: :post, class: "btn btn-xs btn-warning" do %>
         <i class="fa fa-square-o"></i><% end %> B. <%= exam.answer_2 %>
         <% end %>
          <br><br>
         <% if choice.is_cc1en %>
         <%= link_to cc_choice_path(choice), method: :post, class: "btn btn-xs btn-success" do %>
         <i class="fa fa-check"></i><% end %> C. <%= exam.answer_3 %>
         <% else %>
         <%= link_to cc1_choice_path(choice), method: :post, class: "btn btn-xs btn-warning" do %>
         <i class="fa fa-square-o"></i><% end %> C. <%= exam.answer_3 %>
         <% end %>
          <br><br>
         <% if choice.is_dd1en %>
         <%= link_to dd_choice_path(choice), method: :post, class: "btn btn-xs btn-success" do %>
         <i class="fa fa-check"></i><% end %> D. <%= exam.answer_4 %>
         <% else %>
         <%= link_to dd1_choice_path(choice), method: :post, class: "btn btn-xs btn-warning" do %>
         <i class="fa fa-square-o"></i><% end %> D. <%= exam.answer_4 %>
         <% end %>
       </td>

       <td>
         <%= link_to("开始答题", edit_choice_path(choice)) %> |
         <%= link_to("Delete", choice_path(choice), method: :delete, data: { confirm: "Are your sure?" }) %>
       </td>

      <% end %>
      <% end %>
     </tr>
   </tbody>
 </table>
