<h2> 商品明细 </h2>
<div class="pull-right" style="padding-bottom: 20px;">
  <%= link_to("新增产品", new_admin_phone_path, class: "btn btn-primary btn-sm") %>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th width="220">手机样品</th>
      <th>名称</th>
      <th>价格</th>
      <th width="100"> 操作按钮</th>
    </tr>
  </thead>
  <tbody>
    <% @phones.each do |phone| %>
      <tr>
        <td>
          <%= phone.id %>
        </td>
        <td>
          <%= link_to phone_path(phone) do %>
            <% if phone.image.present? %>
              <%= image_tag(phone.image.thumb.url, class: "thumbnail") %>
            <% else %>
              <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= phone.title %>
        </td>
        <td>
          <%= phone.price %>
        </td>
        <td>
          <%= link_to("修改", edit_admin_phone_path(phone)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
