<div style="padding:10px; float:right;">

  <% case order.aasm_state %>
  <% when "order_placed" %>
    <%= link_to("Cancel Order",
                cancel_admin_order_path(order),
                class: "btn btn-default btn-sm", method: :post) %>

  <% when "paid" %>
    <%= link_to("Cancel Order",
                cancel_admin_order_path(order),
                class: "btn btn-default btn-sm", method: :post) %>
    <%= link_to("Ship",
                ship_admin_order_path(order),
                class: "btn btn-default btn-sm", method: :post) %>

  <% when "shipping" %>
    <%= link_to("Mark as Shipped",
                shipped_admin_order_path(order),
                class: "btn btn-default btn-sm", method: :post) %>

  <% when "shipped" %>
    <%= link_to("Return",
                return_admin_order_path(order),
                class: "btn btn-default btn-sm", method: :post) %>

  <% when "order_cancelled" %>
    <span class="label label-default">Order Cancelled</span>

  <% when "good_returned" %>
    <span class="label label-default">Returned</span>

  <% end %>

</div>
