<br><br>

<table class="table table-bordered table-striped">
  <tr>
    <td>order_id</td>
    <td>total</td>
    <td>payment_method</td>
    <td>is_paid</td>
    <td>created_at</td>
    <td>aasm_state</td>
    <td>operation</td>
  </tr>
  <% @orders.each do |order| %>
  <tr>
    <td>
      <%= link_to(order.id, admin_order_path(order.token),method: :get,:class => "btn btn-xs") %>
    </td>
    <td><%= order.total%></td>
    <td><%= order.payment_method %></td>
    <td><%= order.is_paid %></td>
    <td><%= order.created_at %></td>
    <td><%= order.aasm_state %></td>
    <td>
      <%= link_to("发货", ship_admin_order_path(order.token),method: :put,:class => "btn btn-xs btn-success") %>
      <%= link_to("取消订单", cancell_order_admin_order_path(order.token),method: :put,:class => "btn btn-xs btn-danger") %>
    </td>
  </tr>
  <% end %>
</table>
