<div>
  <h2>My Orders</h2>
  <table class="table table-bordered">
    <% @orders.each do |order| %>
      <tr>
        <th colspan="3">
          <span>
            <span>Order Time</span>
            <span><%= order.created_at %></span>
          </span>
          <span>
            <span>Order_ID:</span>
            <span><%= order.id %></span>
          </span>
        </th>

        <tr>
          <td>
            <div>
              <span></span>
              <div>
                <%= link_to(order.product_lists.first.product_title, admin_order_path(order)) %>
              </div>
              <div class="">
                订单状态：<%= render_order_state(order.aasm_state) %>
              </div>
            </div>
          </td>
          <td><%= order.total %></td>
          <td>
            <%= link_to "查看订单", admin_order_path(order.token) %>
            <% if order.can_be_cancelled? %>
              <%= link_to "取消订单", cancel_admin_order_path(order), method: :post, data:{confirm:"确认要取消用户的订单么？"} %>
            <% end %>
            <% if order.can_be_shipped? %>
              <%= link_to "出货",ship_admin_order_path(order), method: :post, data:{confirm:"确认为本订单发货么？"} %>
            <% end %>
          </td>
        </tr>
      </tr>
    <% end %>
  </table>
</div>
