<div class="col-md-12">

  <h2 class="text-center"> All Orders </h2>

  <table class="table">
    <thead>
      <tr>
        <th> Order No. </th>
				<th> Status </th>
        <th> User </th>
        <!-- <th> Name </th> -->
        <th> Payment Method </th>
        <th> Total </th>
				<th> Order Placed </th>
				<th colspan = "3"> Admin Actions </th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td> <%= link_to(order.id, account_order_path(order)) %> </td>
          <td> <%= order.aasm_state %> </td>
          <td> <%= order.user.email %> </td>
          <!-- <td> <%= order.billing_name %> </td> -->
          <td> <%= order.payment_method %> </td>
					<td> <%= order.total %> </td>
					<td> <%= order.created_at %> </td>
					<td><%= link_to('Ship',  admin_ships_admin_order_path(order.token), :method => :post, class: "btn btn-negative btn-xs") %></td>
					<td><%= link_to('Cancel', admin_cancel_order_admin_order_path(order.token), :method => :post, class: "btn btn-negative btn-xs") %></td>
	        <td><%= link_to('Delete', admin_order_path(order.token), method: :delete,
					data: { confirm: "Are you sure?"}, class: "btn btn-negative btn-xs") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
