<h2 class="text-center">All Orders</h2>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Orders</th>
      <th>Is Paid</th>
      <th>Payment Method</th>
      <th>Order Statement</th>
      <th>Last Update</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td>#</td>
      <td>
        <%= link_to(order.id, order_path(order.token)) %>
      </td>
      <td>
        <%= order.is_paid %>
      </td>
      <td>
        <%= order.payment_method %>
      </td>
      <td>
        <%= order.aasm_state %>
        <%= link_to("Cancell", cancell_order_admin_order_path(order.token), method: :post, class: "btn btn-default") %>
        <%= link_to("Ship", ship_admin_order_path(order.token), method: :post, class: "btn btn-default") %>
      </td>
      <td>
        <%= order.created_at %>
      </td>
    </tr>
    <% end %>
</table>
