<h1>订单列表</h1>

<br><br>

<table class="table table-bordered">

  <thead>
    <tr>
      <th>订单id</th>
      <th>下单用户</th>
      <th>下单时间</th>
      <th>是否付款</th>
      <th>付款方式</th>
      <th>订单状态</th>
      <th>修改订单状态</th>
    </tr>
  </thead>
    <% @orders.each do |order| %>
    <tbody>
      <tr>
        <td>
          <%= link_to(order.id, admin_order_path(order.token), :method => :get)%>
        </td>
        <td>
          <%= order.user.email %>
        </td>
        <td>
          <%= order.created_at %>
        </td>
        <td>
          <%= order.is_paid %>
        </td>
        <td>
          <%= order.payment_method %>
        </td>
        <td>
          <%= order.aasm_state %>
        </td>
        <td>
          <% if order.paid? %>
            <%= link_to("出货", ship_admin_order_path(order.token) , :method => :post, :class => "btn btn-xs btn-default") %>
          <% elsif order.waiting_cancel? %>
            <%= link_to("同意取消", cancel_order_admin_order_path(order.token) , :method => :post, :class => "btn btn-xs btn-default") %>
          <% elsif order.order_cancelled? %>
              订单取消
          <% elsif order.shipping? %>
              已出货
          <% elsif order.order_placed? %>
              未付款
          <% elsif order.shipped? %>
              已签收
          <% elsif order.good_returned? %>
              已退货
          <% end %>

          <% if order.order_placed? %>
          | <%= link_to("取消订单", cancel_order_admin_order_path(order.token) , :method => :post, :class => "btn btn-xs btn-default") %>
          <% elsif order.paid? %>
          | <%= link_to("取消订单", cancel_order_admin_order_path(order.token) , :method => :post, :class => "btn btn-xs btn-default") %>
          <% else  %>
        <% end %>

        </td>
      </tr>
    </tbody>
  <% end %>
</table>
