<div class="thumbnail">
<table class="table table-boldered">
  <thead>
    <tr>
      <th>订单编号</th>
      <th>billname</th>
      <th>token </th>
      <th>订单状态</th>
      <th>订单总额</th>
      <th>订单操作</th>
      <th>订单详情</th>
      <th>创建时间</th>
    </tr>
  </thead>

  <% @orders.each do |order| %>
  <tr>

    <td><%= order.id %></td>

    <td><%= order.billing_name%></td>
    <td><%= link_to(order.token, admin_order_path(order))%></td>
    <td><%= order.aasm_state %></td>
    <td><%= order.total %></td>
    <td>
      <%= link_to("取消订单",cancelorder_admin_order_path(order))%> |
      <%= link_to("发货", "#")%>
    </td>
    <td> <%= link_to("查看详情", "#")%></td>
    <td><%= order.created_at%></td>
    <!-- 可以这么用吗？ -->

  </tr>
    <td><%= order.is_paid %></td>
  <% end %>
</table>
