<table class="table table-bordered table-striped">
  <tr>
    <td>order_id</td>
    <td>total</td>
    <td>payment_method</td>
    <td>is_paid</td>
    <td>created_at</td>
  </tr>
  <% @orders.each do |order| %>
  <tr>
    <td>
      <%= link_to(order.id, admin_order_path(order),method: :get,:class => "btn btn-xs btn-default") %>
    </td>
    <td><%= order.total%></td>
    <td><%= order.payment_method %></td>
    <td><%= order.is_paid %></td>
    <td><%= order.created_at %></td>
  </tr>
  <% end %>
</table>
