<div class="col-md-12">
  <h2>订单列表</h2>

  <div class="group">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>订单状态</th>
          <th>生成时间</th>
          <th>操作选项</th>

        </tr>
      </thead>
      <tbody>

        <% @orders.each do |order| %>
        <tr>
          <td> <%= link_to(order.id, order_path(order.token)) %> </td>
          <td> <%= order.aasm_state %> </td>
          <td> <%= order.created_at.to_s(:long) %> </td>
          <td>
            <% if order.aasm_state == "paid" %>
            <%= link_to("出货", shipping_order_path(order.token), method: :post) %> |
            <% end %>
            <% if order.aasm_state == "paid" || order.aasm_state == "order_placed" %>
            <%= link_to("取消订单", cancelled_order_path(order.token), method: :post) %>
            <% end %>
          </td>
        </tr>
        <% end %>

      </tbody>
    </table>
  </div>
</div>
