

<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th>商品明细</th>
      <th>寄送资讯</th>
      <th>订购人</th>
      <th>总价</th>
      <th>订单状态</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <% order.product_lists.each do |product_list| %>
    <tr>
      <td>
        <%= product_list.product_name %>
      </td>
      <td>
        <%= order.billing_name %> - <%= order.billing_address %>
      </td>
      <td>
        <%= order.shipping_name %> - <%= order.shipping_address %>
      </td>
      <td>
        <%= order.total %>
      </td>
      <td>
        <%= order.aasm_state %>
      </td>
      <td>
        <% if order.aasm_state == "paid" %>
        <%= link_to("出货", ship_admin_order_path(order), method: :post, class: "btn btn-danger") %>
        <% else %>
        <%= link_to("取消订单", cancell_admin_order_path(order), method: :post, class: "btn btn-danger") %>
        <%= link_to("已到货", deliver_admin_order_path(order), method: :post, class: "btn btn-danger") %>
        <%= link_to("删除订单", admin_order_path(order), method: :delete, class: "btn btn-danger") %>
        <%= link_to("退货", return_good_admin_order_path(order), method: :post, class: "btn btn-danger") %>
        <% end %>
      </td>
    </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>

  <!-- <div class="container">
  	<div class="row">

  		<section class="content">
  			<h1>Table Filter</h1>
  			<div class="col-md-8 col-md-offset-2">
  				<div class="panel panel-default">
  					<div class="panel-body">
  						<div class="pull-right">
  							<div class="btn-group">
  								<button type="button" class="btn btn-success btn-filter" data-target="pagado">Pagado</button>
  								<button type="button" class="btn btn-warning btn-filter" data-target="pendiente">Pendiente</button>
  								<button type="button" class="btn btn-danger btn-filter" data-target="cancelado">Cancelado</button>
  								<button type="button" class="btn btn-default btn-filter" data-target="all">Todos</button>
  							</div>
  						</div>
  						<div class="table-container">
  							<table class="table table-filter">
  								<tbody>
  									<tr data-status="pagado">
  										<td>
  											<div class="ckbox">
  												<input type="checkbox" id="checkbox1">
  												<label for="checkbox1"></label>
  											</div>
  										</td>
  										<td>
  											<a href="javascript:;" class="star">
  												<i class="glyphicon glyphicon-star"></i>
  											</a>
  										</td>
  										<td>
  											<div class="media">
  												<a href="#" class="pull-left">
  													<img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
  												</a>
  												<div class="media-body">
  													<span class="media-meta pull-right">Febrero 13, 2016</span>
  													<h4 class="title">
  														Lorem Impsum
  														<span class="pull-right pagado">(Pagado)</span>
  													</h4>
  													<p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p>
  												</div>
  											</div>
  										</td>
  									</tr>
  									<tr data-status="pendiente">
  										<td>
  											<div class="ckbox">
  												<input type="checkbox" id="checkbox3">
  												<label for="checkbox3"></label>
  											</div>
  										</td>
  										<td>
  											<a href="javascript:;" class="star">
  												<i class="glyphicon glyphicon-star"></i>
  											</a>
  										</td>
  										<td>
  											<div class="media">
  												<a href="#" class="pull-left">
  													<img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
  												</a>
  												<div class="media-body">
  													<span class="media-meta pull-right">Febrero 13, 2016</span>
  													<h4 class="title">
  														Lorem Impsum
  														<span class="pull-right pendiente">(Pendiente)</span>
  													</h4>
  													<p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p>
  												</div>
  											</div>
  										</td>
  									</tr>
  									<tr data-status="cancelado">
  										<td>
  											<div class="ckbox">
  												<input type="checkbox" id="checkbox2">
  												<label for="checkbox2"></label>
  											</div>
  										</td>
  										<td>
  											<a href="javascript:;" class="star">
  												<i class="glyphicon glyphicon-star"></i>
  											</a>
  										</td>
  										<td>
  											<div class="media">
  												<a href="#" class="pull-left">
  													<img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
  												</a>
  												<div class="media-body">
  													<span class="media-meta pull-right">Febrero 13, 2016</span>
  													<h4 class="title">
  														Lorem Impsum
  														<span class="pull-right cancelado">(Cancelado)</span>
  													</h4>
  													<p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p>
  												</div>
  											</div>
  										</td>
  									</tr>
  									<tr data-status="pagado" class="selected">
  										<td>
  											<div class="ckbox">
  												<input type="checkbox" id="checkbox4" checked>
  												<label for="checkbox4"></label>
  											</div>
  										</td>
  										<td>
  											<a href="javascript:;" class="star star-checked">
  												<i class="glyphicon glyphicon-star"></i>
  											</a>
  										</td>
  										<td>
  											<div class="media">
  												<a href="#" class="pull-left">
  													<img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
  												</a>
  												<div class="media-body">
  													<span class="media-meta pull-right">Febrero 13, 2016</span>
  													<h4 class="title">
  														Lorem Impsum
  														<span class="pull-right pagado">(Pagado)</span>
  													</h4>
  													<p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p>
  												</div>
  											</div>
  										</td>
  									</tr>
  									<tr data-status="pendiente">
  										<td>
  											<div class="ckbox">
  												<input type="checkbox" id="checkbox5">
  												<label for="checkbox5"></label>
  											</div>
  										</td>
  										<td>
  											<a href="javascript:;" class="star">
  												<i class="glyphicon glyphicon-star"></i>
  											</a>
  										</td>
  										<td>
  											<div class="media">
  												<a href="#" class="pull-left">
  													<img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
  												</a>
  												<div class="media-body">
  													<span class="media-meta pull-right">Febrero 13, 2016</span>
  													<h4 class="title">
  														Lorem Impsum
  														<span class="pull-right pendiente">(Pendiente)</span>
  													</h4>
  													<p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p>
  												</div>
  											</div>
  										</td>
  									</tr>
  								</tbody>
  							</table>
  						</div>
  					</div>
  				</div>
  				<div class="content-footer">
  					<p>
  						Page © - 2016 <br>
  						Powered By <a href="https://www.facebook.com/tavo.qiqe.lucero" target="_blank">TavoQiqe</a>
  					</p>
  				</div>
  			</div>
  		</section>

  	</div>
  </div> -->
