<div class="row">
  <div class="col-md-12">

    <h2> Order Summary </h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="80%">Item Details</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>

        <% @product_lists.each do |product_list| %>
          <tr>
            <td>
              <%= product_list.product_name %>
            </td>
            <td>
              <%= product_list.product_price %>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>

    <div class="total clearfix">
      <span class="pull-right">
        Total <%= @order.total %> CNY
      </span>
    </div>

     <hr>

     <h2> Delivery Details </h2>

     <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <td>
            Ordered By
          </td>
        </tr>
        <tr>
          <td>
            <%= @order.billing_name %> - <%= @order.billing_address %>
          </td>
        </tr>
        <tr>
          <td>
            Recipient
          </td>
        </tr>
        <tr>
          <td>
            <%= @order.shipping_name %> - <%= @order.shipping_address %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="checkout clearfix">
<%= link_to("Pay by Alipay", pay_with_alipay_order_path(@order), :method => :post, class: "btn btn-lg btn-primary pull-right") %>
<%= link_to("Pay by Wechat", pay_with_wechat_order_path(@order), :method => :post, class: "btn btn-lg btn-primary pull-right") %>
</div>
<br>
