<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2 class="text-center">分组列表</h2>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>分组名称</th>
          <th>选项</th>
          <th>新增时间</th>
        </tr>
      </thead>
      <tbody>
        <% @groups.each do |group| %>
          <tr>
            <td><%= group.id %></td>
            <td><%= group.name %></td>
            <td>
              <%= link_to "Edit", edit_group_path(group), class: "btn btn-default btn-sm" %>
              <%= link_to "Delete", group_path(group), method: :delete, class: "btn btn-default btn-sm", data: { confirm: "你确定要删除这个分组吗？"} %>
            </td>
            <td>
              <%= group.created_at.to_s(:long) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="">
      <%= link_to "New", new_group_path, class: "btn btn-danger btn-lg" %>
    </div>
  </div>
</div>
