<div class="col-sm-3" >
       <div class="responsive">

<!--          <div class="img">
           <%#= link_to chef_path(chef) do %>
             <%# if chef.image.present? %>
               <%#= image_tag(chef.image.thumb.url, class: "img-circle") %> -->

         <div class="image">
           <%= link_to chef_path(chef) do %></i>
             <% if chef.photos.present? %>
               <%= image_tag(chef.photos[0].image.thumb.url, class: "thumbnail") %>

             <% else %>
               <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "img-circle") %>
             <% end %>
           <% end %>
         </div>
       </div>
     <div class="desc"><%= link_to(chef.name, chef_path(chef), :style => "color: black" ) %></div>
     <br>
    <div class="position"><%= chef.position %>, <%= chef.city %></div>
      <!-- <img src='<%#= image_url 'thumbs-up-hand-symbol_1.png' %>'> <%#= chef.followers.count %> -->
</div>
