<div class="col-sm-3" >
       <div class="responsive">
         <div class="img">
           <%= link_to product_path(product) do %>
             <% if product.image.present? %>
               <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
             <% else %>
               <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
             <% end %>
           <% end %>
         </div>
       </div>
     <!--<div class="desc"><%= chef.name %>
      <img src='<%= image_url 'thumbs-up-hand-symbol_1.png' %>'> <%= chef.followers.count %></div>
</div>-->
