<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Block Chain</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">

 <body id="page-top" data-spy="scroll" data-target="nav">

    <!-- Top Navigation -->

    <nav class="navbar navbar-default navbar-custom navbar-fixed-top" id="nav">
      <div class="container-fluid">

        <!-- Progress Animation On Scroll -->

        <div class="progressContainer">
            <div id="progress" class="progress"></div>
        </div>

        <!-- Progress Animation On Scroll End -->

        <div class="navbar-header">

          <!-- Toggle button -->

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navigation" aria-expanded="false">
            <span class="sr-only">Block Chain</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <!-- Toggle button -->

          <!-- Brand -->

          <a class="navbar-brand logo" id="navbar-logo" href="#section1">
            <img src="assets/blockchain-logo.png" alt="" />
          </a>

          <!-- Brand End -->

        </div>
        <div class="collapse navbar-collapse" id="top-navigation">

          <!-- Top Navigation Links -->

          <ul class="nav navbar-nav navbar-right">
            <li><a href="#section2">首页</a></li>
            <li><%= link_to("交易币种", products_path) %></li>

            <!-- 购物车按钮-->
            <li class="landing-page-navbar__item__cart">
                <%= link_to carts_path do  %>
                   购物车<i class="fa fa-shopping-cart"></i><span class="landing-page-navbar_cart-btn__badge"><%= current_cart.products.count %></span>
                <% end %>
            </li>

            <!-- 用户按钮 -->
            <% if !current_user %>
            <li class="landing-page-navbar__item__signup"><%= link_to(content_tag(:i, "注册", class: 'fa fa-user-plus'), new_user_registration_path) %> </li>
            <li class="landing-page-navbar__item__signin"><%= link_to(content_tag(:i, '登入', class: 'fa fa-sign-in'), new_user_session_path) %></li>
            <% else %>
            <li>
              <% if current_user.avatar.present? %>
                <%= image_tag(current_user.avatar.thumbimage.url, style: "border-radius:50%; width: 50px; height:50px;", class: "thumbnail") %>
              <% else %>
                <!-- <%= image_tag("http://ww1.sinaimg.cn/large/006tNbRwgy1ffzxufbo0lj3069069t8o.jpg",class:"thumbnail",style:"width:60px;height:60px;border-radius:50%;") %> -->
                <img src= "<%= render_user_avatar(current_user, 50) %>">
              <% end %>
            </li>            
            <li class="dropdown user-list">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Hi!, <%= current_user.display_name %>
                    <b class="caret"></b>
                </a>
                <ul class="user-list__item dropdown-menu" id="user-list__item">
                    <% if current_user.admin? %>
                    <li>
                        <%= link_to("Admin 选单", admin_products_path ) %>
                    </li>
                    <% end %>

                    <li>
                        <%= link_to("个人订单列表", account_orders_path ) %>
                    </li>

                    <li>
                        <%= link_to(content_tag(:i, '编辑个人资料', class: 'fa fa-user droplist'), edit_user_registration_path(current_user)) %>
                    </li>

                    <li>
                        <%= link_to(content_tag(:i, '登出', class: 'fa fa-sign-out'), destroy_user_session_path, method: :delete) %>
                    </li>
                </ul>
            </li>
            <% end %>
          </ul>

          <!-- Top Navigation Links End -->

        </div>
      </div>
    </nav>

    <!-- Top Navigation End -->

    <!-- Sections -->

    <!-- Section 1 -->

    <section class="section1" id="section1">
      <div class="BC-page-table">
        <div class="container">
          <div class="BC-themeWord">
            <h2>数字资产 • 地球货币</h2>
            <p>即使银行倒闭，国家消亡，只要互联网存在，你的数字资产就存在</p>
            <p>即使人类灭亡，只要互联网存在，你的数字资产就存在</p>
          </div>
          <div class="actionBtn">
            <button type="配置资产" class="btn btn-primary"><%= link_to("配置资产", products_path) %></button>
          </div>

            <a href="#section2"><span></span><span></span><span></span></a>

        </div>
      </div>
    </section>

    <!-- Section 1 End -->

    <!-- Section 2 -->

    <section class="section2" id="section2">
      <div class="page2-table" id="page2-table">
        <div class="page2__header" id="page2__header">
          <h2>区块链数字货币，只要记住密匙，资产就能保存在脑中</h2>
        </div>
        <div class="page2__content row" id="page2__content">
          <div class="row">
            <div class="col-md-4 col-sm-6 post">
              <a href="#" class="img-thumbnail"><img src="assets/further-img1.jpg" alt="" /></a>
              <h4>节约&快捷</h4>
              <p>它可以跨区域、跨平台，在任意一台接入互联网终端以低廉甚至零成本进行交易或转账</p>
            </div>
            <div class="col-md-4 col-sm-6 post">
              <a href="#" class="img-thumbnail"><img src="assets/further-img2.jpg" alt="" /></a>
              <h4>隐私&安全</h4>
              <p>它是基于密码学、智能合约、去中心化分布式账本，强大的算力充分保障了拥有者的个人隐私以及资金安全</p>
            </div>
            <div class="col-md-4 col-sm-6 post">
              <a href="#" class="img-thumbnail"><img src="assets/further-img3.jpg" alt="" /></a>
              <h4>流行&未来</h4>
              <p>区块链数字货币是一种趋势，可实现了全球无障碍流通</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section 2 End -->

    <!-- Section 3 -->

    <section class="section3" id="section3">
      <div class="section3-table" id="section3-table">
        <div class="section3-content">
          <!-- SOSOBTC Widget Begin -->

          <div style="width: 100%; height: 560px;" id="sosobtc_kline"></div>
          <!-- SOSOBTC Widget End -->
        </div>
        <p>BTC/CNY当前行情</p>
      </div>
    </section>

    <!-- Section 3 End -->

    <!-- Section 4 -->

    <section class="section4" id="section4">
      <div class="section4-table" id="section4-table">
        <div class="section4__header">
          <h2>已经参与区块链的世界各大公司</h2>
        </div>
        <div class="section4__content" id="section4__content">
          <ul class="clearfix">
            <li>
              <a href="https://www.google.com/"><img src="assets/sup-google-b.png" alt="" /></a>
            </li>
            <li>
              <a href="https://www.zynga.com/"><img src="assets/sup-zynga-b.png" alt="" /></a>
            </li>
            <li>
              <a href="https://www.wikimedia.org/"><img src="assets/sup-wikimedia-b.png" alt="" /></a>
            </li>
            <li>
              <a href="https://www.virginaustralia.com"><img src="assets/sup-virgin-b.png" alt="" /></a>
            </li>
            <li>
              <a href="https://www.timeinc.com/"><img src="assets/sup-timeinc-b.png" alt="" /></a>
            </li>
            <li>
              <a href="http://m.tigerdirect.com/"><img src="assets/sup-tigerdirect-b.png" alt="" /></a>
            </li>
            <li>
              <a href="https://www.takeaway.com/"><img src="assets/sup-takeaway-b.png" alt="" /></a>
            </li>
            <li>
              <a href="https://www.shopify.com/"><img src="assets/sup-shopify-b.png" alt="" /></a>
            </li>
            <li>
              <a href="http://www.savethechildren.org/"><img src="assets/sup-save-the-children-b.png" alt="" /></a>
            </li>
            <li>
              <a href="http://revelsystems.com/"><img src="assets/sup-revel-b.png" alt="" /></a>
            </li>
            <li>
              <a href="http://www.rakuten.co.jp/"><img src="assets/sup-rakuten-b.png" alt="" /></a>
            </li>
            <li>
              <a href="https://www.paypal-biz.com/"><img src="assets/sup-paypal-b.png" alt="" /></a>
            </li>
            <li>
              <a href="http://www.newegg.cn/"><img src="assets/sup-newegg-b.png" alt="" /></a>
            </li>
            <li>
              <a href="https://www.neteller.com/"><img src="assets/sup-neteller-b.png" alt="" /></a>
            </li>
            <li>
              <a href="https://www.namecheap.com/"><img src="assets/sup-namecheap-b.png" alt="" /></a>
            </li>
            <li>
              <a href="https://www.mozilla.org/"><img src="assets/sup-mozilla-b.png" alt="" /></a>
            </li>
            <li>
              <a href="https://www.gyft.com/"><img src="assets/sup-gyft-b.png" alt="" /></a>
            </li>
            <li>
              <a href="http://www1.ap.dell.com/"><img src="assets/sup-dell-b.png" alt="" /></a>
            </li>
            <li>
              <a href="https://www.microsoft.com/"><img src="assets/sup-microsoft-b.png" alt="" /></a>
            </li>
            <li>
              <a href="https://www.globalpaymentsinc.com/"><img src="assets/sup-global-payments-b.png" alt="" /></a>
            </li>
            <li>
              <a href="https://www.airbaltic.com/"><img src="assets/sup-airbaltic-b.png" alt="" /></a>
            </li>
            <li>
              <a href="https://www.adyen.com/"><img src="assets/sup-adyen-b.png" alt="" /></a>
            </li>
            <li>
              <a href="https://www.ibm.com/"><img src="assets/IBM.PNG" alt="" /></a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- Section 4 End -->

    <!-- Section 5 -->

    <section class="section5" id="section5">
      <div class="section5-table" id="section5-table">
        <div class="section5-table__header">
          <h2>为改变世界而生</h2>
        </div>
        <div class="section5-table__content">
          <p>区块链数字货币——颠覆现实、引发技术革命，即将渗透至你我生活的方方面面</p>
          <div class="actionBtn">
            <button type="马上配置" class="btn btn-primary"><%= link_to("马上配置", products_path) %></button>
          </div>
        </div>

      </div>
    </section>

    <!-- Section 5 End -->

    <!-- Section 6 -->

    <footer class="footer-2 bg-color-2" id="landing-page__footer">

        <!-- sub footer begin -->
        <div class="sub-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center">
                      <div class="social-icons-2 clearfix">
                        <p>Copyright © <img src="assets/blockchain-logo.png" alt="" /> 2017. All rights reserved.</p>
                      </div>
                    </div>
                    <div class="col-md-6 text-center pull-right">
                      <div class="social-icons-2 clearfix">
                          <p> Designed by Lichen & Antarts.
                            <a href="mailto:blackchain@sever.com" title="联系我们" class="email"><i title="联系我们" class="fa fa-envelope-o"></i></a>
                            <a href="https://github.com/lichen19844/jdstore" title="查看源码" class="github"><i title="查看源码" class="fa fa-github"></i></a>
                          </p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- sub footer close -->

    </footer>

    <!-- Section 6 End -->

    <!-- Sections End -->
    <!-- <a href="#top"> -->
       <div class="backtop">
         <span class="fa fa-chevron-up"></span>
       </div>
   <!-- </a> -->

</body>
</html>

<%= content_for :handwrite_javascript do %>

<script type="text/javascript">
  /* Toggle Navigation Close On Click */

$('.navbar-collapse').click(function() {
  $('.navbar-collapse').collapse('hide');
});

/* Toggle Navigation Close On Click End */

/* Top Navigation Shrink On Scroll */

function collapseNavbar() {
  if ($('.navbar').offset().top > 250) {
    $('.navbar-fixed-top').addClass('top-collapse');
  } else {
    $('.navbar-fixed-top').removeClass('top-collapse');
  }
}

$(window).scroll(collapseNavbar);
$(document).ready(collapseNavbar);

/* Top Navigation Shrink On Scroll End */

/* Progress Animation On Scroll */

function updateProgress(num1, num2){
    var percent = Math.ceil( num1 / num2 * 100 ) + '%';
    document.getElementById('progress').style.width = percent;
}

window.addEventListener('scroll', function(){
    var top = window.scrollY;
    var height = document.body.getBoundingClientRect().height - window.innerHeight;
    updateProgress(top, height);
});

/* Progress Animation On Scroll End */

/* Smooth Scrolling on Click */

$('#nav .navbar-nav li>a, .navbar-header>a, .fa-caret-up').click(function(){
  var link = $(this).attr('href');
    var position = $(link).offset().top;
    $('body,html').animate({
      scrollTop: position
    }, 1000);
});
</script>

<script src="//static2.sosobtc.com/public/assets/plugin/sosobtc_plugin.js"></script>
<script type="text/javascript">
    (function () {
        SOSOBTC('Kline').init({
            sid: 'yunbi_btc', enableChatRoom: false,
            id: 'sosobtc_kline',
        });
    })();
</script>


<!-- 美洽客服 -->
<script type='text/javascript'>
  (function(m, ei, q, i, a, j, s) {
    m[i] = m[i] || function() {
      (m[i].a = m[i].a || []).push(arguments)
    };
    j = ei.createElement(q),
    s = ei.getElementsByTagName(q)[0];
    j.async = true;
    j.charset = 'UTF-8';
    j.src = '//static.meiqia.com/dist/meiqia.js?_=t';
    s.parentNode.insertBefore(j, s);
  })(window, document, 'script', '_MEIQIA');
  _MEIQIA('entId', 50521);
</script>
<!-- 这是你自己的 JavaScript 代码 -->
<script>
    // 你可以自己的代码中选择合适的时机来调用手动初始化
    _MEIQIA('init');
  </script>
  <!-- 美洽客服 -->

  <script>
  $( document ).ready(function() {
      console.log( "ready!" );
  });
  </script>

  <% end %>
