<div class="container">
<div class="row">
<!-- Carousel -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
<!-- Indicators -->
<ol class="carousel-indicators">
<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
<li data-target="#carousel-example-generic" data-slide-to="1"></li>
<li data-target="#carousel-example-generic" data-slide-to="2"></li>
</ol>
<!-- Wrapper for slides -->
<div class="carousel-inner">
<div class="item active">
    <%= image_tag "003.jpg" %>
    <!-- <img src="http://stokpic.com/wp-content/uploads/2015/09/Everything-Apple-iMac-iPhone-iPad-Macbook-And-Apple-Watch.jpg" alt="First slide"> -->
    <!-- Static Header -->
    <div class="header-text hidden-xs">
        <div class="col-md-12 text-center">
            <h2>
                <span>Welcome to
                    <strong>LOREM IPSUM</strong>
                </span>
            </h2>
            <br>
            <h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            </h3>
            <br>

        </div>
        <!-- /header-text -->
    </div>



    <br>
    <div class="well text-center">

    </div>



</div>
<div class="container">
<div class="row">
<!-- Carousel -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
<!-- Indicators -->
<ol class="carousel-indicators">
<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
<li data-target="#carousel-example-generic" data-slide-to="1"></li>
<li data-target="#carousel-example-generic" data-slide-to="2"></li>
</ol>
<!-- Wrapper for slides -->
<div class="carousel-inner">
<div class="item active">
    <%= image_tag "004.jpg" %>
    <!-- <img src="http://stokpic.com/wp-content/uploads/2015/09/Everything-Apple-iMac-iPhone-iPad-Macbook-And-Apple-Watch.jpg" alt="First slide"> -->
    <!-- Static Header -->
    <div class="header-text hidden-xs">
        <!-- <div class="col-md-12 text-center">
            <h2>
                <span>Welcome to
                    <strong>LOREM IPSUM</strong>
                </span>
            </h2>
            <br>
            <h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            </h3>
            <br>

        </div> -->
        <!-- /header-text -->
    </div>



    <br>
    <div class="well text-center">

    </div>




</div><div class="container">
<div class="row">
<!-- Carousel -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
<!-- Indicators -->
<ol class="carousel-indicators">
<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
<li data-target="#carousel-example-generic" data-slide-to="1"></li>
<li data-target="#carousel-example-generic" data-slide-to="2"></li>
</ol>
<!-- Wrapper for slides -->
<div class="carousel-inner">
<div class="item active">
    <%= image_tag "005.jpg" %>
    <!-- <img src="http://stokpic.com/wp-content/uploads/2015/09/Everything-Apple-iMac-iPhone-iPad-Macbook-And-Apple-Watch.jpg" alt="First slide"> -->
    <!-- Static Header -->
    <div class="header-text hidden-xs">
        <!-- <div class="col-md-12 text-center">
            <h2>
                <span>Welcome to
                    <strong>LOREM IPSUM</strong>
                </span>
            </h2>
            <br>
            <h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            </h3>
            <br>

        </div> -->
        <!-- /header-text -->
    </div>



    <br>
    <div class="well text-center">

    </div>




</div><div class="container">
<div class="row">
<!-- Carousel -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
<!-- Indicators -->
<ol class="carousel-indicators">
<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
<li data-target="#carousel-example-generic" data-slide-to="1"></li>
<li data-target="#carousel-example-generic" data-slide-to="2"></li>
</ol>
<!-- Wrapper for slides -->
<div class="carousel-inner">
<div class="item active">
    <%= image_tag "006.jpg" %>
    <!-- <img src="http://stokpic.com/wp-content/uploads/2015/09/Everything-Apple-iMac-iPhone-iPad-Macbook-And-Apple-Watch.jpg" alt="First slide"> -->
    <!-- Static Header -->
    <div class="header-text hidden-xs">
        <!-- <div class="col-md-12 text-center">
            <h2>
                <span>Welcome to
                    <strong>LOREM IPSUM</strong>
                </span>
            </h2>
            <br>
            <h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            </h3>
            <br>

        </div>

    </div> -->

</div>

<br>
<div class="well text-center">

</div>




</div><div class="container">
<div class="row">
<!-- Carousel -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
<!-- Indicators -->
<ol class="carousel-indicators">
<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
<li data-target="#carousel-example-generic" data-slide-to="1"></li>
<li data-target="#carousel-example-generic" data-slide-to="2"></li>
</ol>
<!-- Wrapper for slides -->
<div class="carousel-inner">
<div class="item active">
<%= image_tag "007.jpg" %>
<!-- <img src="http://stokpic.com/wp-content/uploads/2015/09/Everything-Apple-iMac-iPhone-iPad-Macbook-And-Apple-Watch.jpg" alt="First slide"> -->
<!-- Static Header -->
<div class="header-text hidden-xs">
    <div class="col-md-12 text-center">
        <h2>
            <span>Welcome to
                <strong>LOREM IPSUM</strong>
            </span>
        </h2>
        <br>
        <h3>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
        </h3>

        <br>
          <div class="">
          <%= link_to("注册", new_user_registration_path, class: "btn btn-theme") %>
          <%= link_to('登入', new_user_session_path, class: "btn btn-theme") %>
         </div>
          </div>

    </div>
    <!-- /header-text -->
</div>

</div>
<br><br>
