<h1> Hello World! </h1>

 <div class="city-group">
    <select class="city-select">
      <option>--省份--</option>
      <%= options_for_select(ChinaCity.list) %>
    </select>
    <select class="city-select">
      <option>--城市--</option>
    </select>
    <select class="city-select">
      <option>--地区--</option>
    </select>
    <select class="city-select">
      <option>--街道--</option>
    </select>
  </div>


	<%= simple_form_for [:account,@user] do |f| %>
	 <div class="city-group">
	    <%= f.select :province,  ChinaCity.list.unshift(["--省份--", 0]), {}, class: "city-select"%>
	    <%= f.select :city, ChinaCity.list(f.object.province).presence || [["--城市--", 0]], {}, class: "city-select" %>
	    <%= f.select :area, ChinaCity.list(f.object.city).presence || [["--地区--", 0]], {}, class: "city-select" %>
	</div>
	<% end %>




	<h2>回显</h2>
	<div class="city-group">
	  <%= select_tag "province", options_for_select(ChinaCity.list          , '440000')   , class: 'city-select', prompt: "--省份--" %>
	  <%= select_tag "city"    , options_for_select(ChinaCity.list('440000'), '440300')   , class: 'city-select', prompt: "--城市--" %>
	  <%= select_tag "district", options_for_select(ChinaCity.list('440300'), '440305')   , class: 'city-select', prompt: "--地区--" %>
	  <%= select_tag "street"  , options_for_select(ChinaCity.list('440305'), '440305007'), class: 'city-select', prompt: "--街道--" %>
	</div>
