
<!-- <div id="page_wrapper"></div> -->

<!-- Slider Area -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="sidebar-menu">
          <ul class="sidebar-ul">
            <li>全部分类</li>
            <li class="menu-child-list menu-item-mega-parent">
              <a href="#">新鲜水果</a> <span class="down"></span>
              <ul class="mega-menu-container row">
                <!-- Mega Menu Sub Menu -->
                <li class="menu-child-list col-md-3">
                  <a href="#" class=" zn_mega_title ">水果</a> <span class="down"></span>
                  <ul class="clearfix">
                    <li><a href="#">樱桃</a></li>
                    <li><a href="#">黄杏</a></li>
                    <li><a href="#">芒果</a></li>
                    <li><a href="#">香瓜</a></li>
                    <li><a href="#">火龙果</a></li>
                    <li><a href="#">百香果</a></li>
                    <li><a href="#">椰青</a></li>
                    <li><a href="#">山竹</a></li>
                  </ul>
                </li>
                <!-- End Sub Menu -->
              </ul>
              <!-- End Mega Menu List -->
            </li>

            <li class="menu-child-list menu-item-mega-parent">
              <a href="#">新鲜蔬菜</a> <span class="down"></span>
              <ul class="mega-menu-container row">
                <!-- Mega Menu Sub Menu -->
                <li class="menu-child-list active col-md-3">
                  <a href="#" class=" zn_mega_title ">蔬菜</a> <span class="down"></span>
                  <ul class="clearfix">
                    <li><a href="#">菜心</a></li>
                    <li><a href="#">生菜</a></li>
                    <li><a href="#">通心菜</a></li>
                    <li><a href="#">小白菜</a></li>
                  </ul>
                </li>
                <!-- End Sub Menu -->
              </ul>
              <!-- End Mega Menu List -->
            </li>

            <li>
              <a href="#">零食干货</a>
            </li>
            <li>
              <a href="#">鲜肉蛋禽</a>
            </li>
            <li>
              <a href="#">茶水饮品</a>
            </li>
            <li>
              <a href="#">粮油米面</a>
            </li>
          </ul>

          <ul class="mt-15">
            <li>更多分类</li>
            <li>
              <a href="#">热销商品</a>
            </li>
            <li>
              <a href="#">特价促销</a>
            </li>
          </ul>
        </div>
        <!-- <div class="sidebar-menu-bottom mt-30">
        <h4>Get Notifications</h4>
        <a href="#" class="btn subscribe">SUBSCRIBE</a>
      </div> -->
    </div>
    <div class="col-md-9 mt-10">
      <div class="main-slider owl-carousel owl-theme mt-30">
        <div class="item">
          <img class="img-responsive" src="/images/slider/slider-1.png" alt="">
          <!-- <img src="" alt=""> -->
        </div>

        <div class="item">
          <img class="img-responsive" src="/images/slider/slider-2.png" alt="">
        </div>

        <div class="item">
          <img class="img-responsive" src="/images/slider/slider-3.png" alt="">
        </div>
      </div>

      <!-- <div class="discount-banner mt-30">
      <h1>全栈营全线优惠！</h1>
    </div> -->
  </div>
</div>
</div>
</section>

<!-- Navigation Area -->
<!-- <section id="welcome-text">
<div class="container">
<div class="row">
<div class="col-md-6 pr-gero">
<div class="welcome-content">
<div class="dalvse-header text-left">
<h1>Welcome to <br>The DaLvSe</h1>
<div class="heading-border"></div>
<p>
Health care with organic science
</p>
</div>

<p>
Duis autem vel eum irure dolor n hendrer it in <br>
vul uputate velt esse molestie conseq uat. Duis <br>
suautem vel eupm irure dolor in hendrerit in v <br>
ulputate velit esse molestie.
</p>

<a class="btn btn-default" href="#"> read more </a>
</div>
</div>
<div class="col-md-6 pl-gero">
<div class="welcome-content-image">
<img class="img-responsive" src="/images/wc-1.jpg" alt="">
</div>
</div>
</div>
</div>
</section> -->

<!-- Navigation Area
===================================== -->
<section id="featured-product" class="pt-60 pb-20">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="dalvse-header text-center">
          <h2>热销商品</h2>
          <div class="heading-border"></div>
          <p>
            天然无污染 绿色更健康
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <% @products.each do |product| %>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="product-style-1 text-center">

          <!-- <%= link_to product_path(product) do %>
          <% if product.image.present? %>
          <%= image_tag(product.image.thumb.url, class: "img-responsive", alt: product.name) %>
          <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "img-responsive", alt: "None") %>
          <% end %>
          <% end %> -->

          <%= link_to product_path(product) do %>
            <% if product.img_url.present? %>
              <%= image_tag(product.img_url, size: "200x200", class: "", alt: product.name) %>
            <% else %>
              <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "", alt: "None") %>
            <% end %>
          <% end %>

          <div class="product-detail-content">
            <h6><%= product.name %></h6>
            <div class="product-rating-with-border">
              <div class="background-border"></div>
              <ul>
                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
              </ul>
            </div>
            <h5>￥<%= product.price %><% product.price_unit %></h5>
            <h6><%= product.content %></h6>
            <!-- <a class="btn cart-button" href="#"> 放入购物车 </a> -->
            <% if product.quantity.present? && product.quantity > 0 %>
              <%= link_to("加入购物车", add_to_cart_product_path(product), method: :post, class: "btn cart-button") %>
            <% else %>
              已销售一空，无法购买！
            <% end %>
            <br><br><br>
          </div>
        </div>
      </div>
      <% end %>

    </div>

  </div>
</section>


<!-- Navigation Area -->
<!-- <section id="clients-say" class="parallax-1 ptb-100">
<div class="container">
<div class="row">
<div class="col-md-6">
<div class="tab-horizontal">

<ul class="nav nav-tabs shortcode-navtabs">
<li class="active"><a class="tab-back-red" href="#eightteen" data-toggle="tab">Work Process 1 </a></li>
<li><a class="tab-back-red" href="#nineteen" data-toggle="tab">Work Process 2</a></li>
<li><a class="tab-back-red" href="#twenty" data-toggle="tab">Work Process 3</a></li>
</ul>

<div class="tab-content shortcode-tab-content">
<div class="tab-pane fade in active" id="eightteen">
<P>
Duis autem vel eum irure dolor n hendrer it in  vul uputate velt esse <br>
molestie conseq uat. Duis suautem vel eupm irure dolor in hendreri <br>
t in v ulputate velit esse molestie..Duis  aute . Duis autem vel eum iru <br>
re dolor n hendrer it in  vul uputate velt esse molestie conseq uat. tri <br>
Duis suautem vel eupm irure dolor in hendreri te velit esstiubs <br>
t in v ulputate velit esse molestie..Duis  aute.Duis autem vel e <br>
um irure dolor n hendrer it in  vul uputat.
</P>
</div>

<div class="tab-pane fade" id="nineteen">
<P>
Duis autem vel eum irure dolor n hendrer it in  vul uputate velt esse <br>
molestie conseq uat. Duis suautem vel eupm irure dolor in hendreri <br>
t in v ulputate velit esse molestie..Duis  aute . Duis autem vel eum iru <br>
re dolor n hendrer it in  vul uputate velt esse molestie conseq uat. tri <br>
Duis suautem vel eupm irure dolor in hendreri te velit esstiubs <br>
t in v ulputate velit esse molestie..Duis  aute.Duis autem vel e <br>
um irure dolor n hendrer it in  vul uputat.
</P>
</div>

<div class="tab-pane fade" id="twenty">
<P>
Duis autem vel eum irure dolor n hendrer it in  vul uputate velt esse <br>
molestie conseq uat. Duis suautem vel eupm irure dolor in hendreri <br>
t in v ulputate velit esse molestie..Duis  aute . Duis autem vel eum iru <br>
re dolor n hendrer it in  vul uputate velt esse molestie conseq uat. tri <br>
Duis suautem vel eupm irure dolor in hendreri te velit esstiubs <br>
t in v ulputate velit esse molestie..Duis  aute.Duis autem vel e <br>
um irure dolor n hendrer it in  vul uputat.
</P>
</div>
</div>
</div>
</div>

<div class="col-md-6">
<div class="client-say-slide owl-carousel owl-theme">
<div class="item">
<div class="client-say-content">
<img class="img-responsive" src="/images/client-1.png" alt="">

<p>
Duis autem vel eum irure dolor n hendrer it in  vul uputate velt esse <br>
molestie conseq uat. Duis suautem vel eupm irure dolor in hendreri <br>
t in v ulputate velit esse molestie.
</p>

<h3>John Doe, Customer</h3>
</div>
</div>
<div class="item">
<div class="client-say-content">
<img class="img-responsive" src="/images/client-1.png" alt="">

<p>
Duis autem vel eum irure dolor n hendrer it in  vul uputate velt esse <br>
molestie conseq uat. Duis suautem vel eupm irure dolor in hendreri <br>
t in v ulputate velit esse molestie.
</p>

<h3>John Doe, Customer</h3>
</div>
</div>
<div class="item">
<div class="client-say-content">
<img class="img-responsive" src="/images/client-1.png" alt="">

<p>
Duis autem vel eum irure dolor n hendrer it in  vul uputate velt esse <br>
molestie conseq uat. Duis suautem vel eupm irure dolor in hendreri <br>
t in v ulputate velit esse molestie.
</p>

<h3>John Doe, Customer</h3>
</div>
</div>
</div>
</div>
</div>
</div>
</section> -->
<!-- End Section Image Content  -->

<!-- Navigation Area
===================================== -->
<!-- <section id="top-selling-product"  class="ptb-60">
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="dalvse-header text-center">
<h2>特价促销</h2>
<div class="heading-border"></div>
<p>
劲爆优惠 惊喜不断
</p>
</div>
</div>
</div>

<div class="row">
<div class="col-md-4 col-sm-6 col-xs-6">
<div class="product-style-2">
<figure>
<img class="img-responsive" src="/images/products/product-style-1.jpg" alt="">
<figcaption>
<ul>
<li>
<a class="btn product-button" href="#"> ADD TO WISHLIST </a>
</li>
<li>
<a class="btn product-button" href="#"> ADD TO CART </a>
</li>
</ul>
</figcaption>
</figure>

<div class="product-detail-content-2">
<div class="product-detail-top-content">
<h6>
<span>$139.89</span>
Tamarind Juice  with Lemon Peal, <br>
mont & coriender

</h6>
</div>
<div class="product-detail-bottom-content">
<div class="like-count">
<ul>
<li><i class="fa fa-heart" aria-hidden="true"></i> 100</li>
<li><i class="fa fa-thumbs-up" aria-hidden="true"></i> 100</li>
</ul>
</div>
<i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
</div>
</div>
</div>
</div>

<div class="col-md-4 col-sm-6 col-xs-6">
<div class="product-style-2">
<figure>
<img class="img-responsive" src="/images/products/product-style-2.jpg" alt="">
<figcaption>
<ul>
<li>
<a class="btn product-button" href="#"> ADD TO WISHLIST </a>
</li>
<li>
<a class="btn product-button" href="#"> ADD TO CART </a>
</li>
</ul>
</figcaption>
</figure>

<div class="product-detail-content-2">
<div class="product-detail-top-content">
<h6>
<span>$139.89</span>
Tamarind Juice  with Lemon Peal, <br>
mont & coriender

</h6>
</div>
<div class="product-detail-bottom-content">
<div class="like-count">
<ul>
<li><i class="fa fa-heart" aria-hidden="true"></i> 100</li>
<li><i class="fa fa-thumbs-up" aria-hidden="true"></i> 100</li>
</ul>
</div>
<i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
</div>
</div>
</div>
</div>

<div class="col-md-4 col-sm-6 col-xs-6">
<div class="product-style-2">
<figure>
<img class="img-responsive" src="/images/products/product-style-3.jpg" alt="">
<figcaption>
<ul>
<li>
<a class="btn product-button" href="#"> ADD TO WISHLIST </a>
</li>
<li>
<a class="btn product-button" href="#"> ADD TO CART </a>
</li>
</ul>
</figcaption>
</figure>

<div class="product-detail-content-2">
<div class="product-detail-top-content">
<h6>
<span>$139.89</span>
Tamarind Juice  with Lemon Peal, <br>
mont & coriender

</h6>
</div>
<div class="product-detail-bottom-content">
<div class="like-count">
<ul>
<li><i class="fa fa-heart" aria-hidden="true"></i> 100</li>
<li><i class="fa fa-thumbs-up" aria-hidden="true"></i> 100</li>
</ul>
</div>
<i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
</div>
</div>
</div>
</div>

</div>
</div>
</section> -->
<!-- End Section Image Content  -->

<!-- Latest News Area -->
<!-- <section class="background-grey ptb-80">
<div class="container">
<div class="row">
<div class="col-md-6">
<div class="small-header">
<h2>Why Choose Us</h2>
</div>
<div class="dalvse-accordion pt-40">
<div class="panel-group" id="accordion1">

<div class="panel panel-default">
<div class="panel-heading panel-active">
<a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
<h4 class="panel-title">
<span> <i class="fa fa-minus"></i> </span>
Why choose us
</h4>
</a>
</div>
<div id="collapseOne" class="panel-collapse collapse in">
<div class="panel-body">
<P>
Duis autem vel eum irure dolor n hendrer it in  vul uputate velt <br>
esse molestie conseq uat Duis suautemvel eupm irure dolorin he <br>
ndrerit in vulputate velit esse molestie..Duis  aute. Duis autem vel <br>
eum irure dolor n hendrer it in  vul uputate . <br>
</P>
</div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<a data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">
<h4 class="panel-title">
<span> <i class="fa fa-plus"></i> </span>
OUR MISSION
</h4>
</a>
</div>
<div id="collapseTwo" class="panel-collapse collapse">
<div class="panel-body">
<P>
Duis autem vel eum irure dolor n hendrer it in  vul uputate velt <br>
esse molestie conseq uat Duis suautemvel eupm irure dolorin he <br>
ndrerit in vulputate velit esse molestie..Duis  aute. Duis autem vel <br>
eum irure dolor n hendrer it in  vul uputate . <br>
</P>
</div>

</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<a data-toggle="collapse" data-parent="#accordion1" href="#collapseThree">
<h4 class="panel-title">
<span> <i class="fa fa-plus indicator"></i> </span>
OUR VISION
</h4>
</a>
</div>
<div id="collapseThree" class="panel-collapse collapse">
<div class="panel-body">
<P>
Duis autem vel eum irure dolor n hendrer it in  vul uputate velt <br>
esse molestie conseq uat Duis suautemvel eupm irure dolorin he <br>
ndrerit in vulputate velit esse molestie..Duis  aute. Duis autem vel <br>
eum irure dolor n hendrer it in  vul uputate . <br>
</P>
</div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<a data-toggle="collapse" data-parent="#accordion1" href="#collapseFour">
<h4 class="panel-title">
<span> <i class="fa fa-plus indicator"></i> </span>
OUR GOAL
</h4>
</a>
</div>
<div id="collapseFour" class="panel-collapse collapse">
<div class="panel-body">
<P>
Duis autem vel eum irure dolor n hendrer it in  vul uputate velt <br>
esse molestie conseq uat Duis suautemvel eupm irure dolorin he <br>
ndrerit in vulputate velit esse molestie..Duis  aute. Duis autem vel <br>
eum irure dolor n hendrer it in  vul uputate . <br>
</P>
</div>

</div>
</div>
</div>
</div>
</div>

<div class="col-md-6">
<div class="choose-us">
<img class="img-responsive pt-70" src="/images/choose-right.jpg" alt="">
</div>
</div>
</div>
</div>
</section> -->
<!-- End Section Image Content  -->


<!-- Latest News Area -->
<!-- <section id="latest-news" class="ptb-100">
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="dalvse-header text-center">
<h1>Latest News</h1>
<div class="heading-border"></div>
<p>
Health care with organic science Duis autem vel eum irure dolor <br>
vul uputate velt esse molestie conseq uat.
</p>
</div>
</div>
</div>

<div class="row">
<div class="col-md-4 col-sm-6 col-xs-6">
<div class="latest-news">
<img class="img-responsive" src="/images/blog/latest-news-1.jpg" alt="">

<h5>Most Popular Organic Products </h5>

<p>
Duis autem vel eum irure dolor n hendrer it in <br>
vul uputate velt esse molestie conseq uat. Duis <br>
suautem vel eupm irure dolor in hendrerit in v <br>
ulputate velit esse molestie.
</p>

<a href="blog-detail.html" class="generalLink">READ MORE <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
</div>
</div>

<div class="col-md-4 col-sm-6 col-xs-6">
<div class="latest-news">
<img class="img-responsive" src="/images/blog/latest-news-2.jpg" alt="">

<h5>Most Popular Organic Products </h5>

<p>
Duis autem vel eum irure dolor n hendrer it in <br>
vul uputate velt esse molestie conseq uat. Duis <br>
suautem vel eupm irure dolor in hendrerit in v <br>
ulputate velit esse molestie.
</p>

<a href="blog-detail.html" class="generalLink">READ MORE <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
</div>
</div>

<div class="col-md-4 col-sm-6 col-xs-6">
<div class="latest-news">
<img class="img-responsive" src="/images/blog/latest-news-3.jpg" alt="">

<h5>Most Popular Organic Products </h5>

<p>
Duis autem vel eum irure dolor n hendrer it in <br>
vul uputate velt esse molestie conseq uat. Duis <br>
suautem vel eupm irure dolor in hendrerit in v <br>
ulputate velit esse molestie.
</p>

<a href="blog-detail.html" class="generalLink">READ MORE <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
</div>
</div>
</div>
</div>
</section> -->
<!-- End Section Image Content  -->

<!-- Partners Area -->
<section>
  <!-- style="margin-top:-250px;" -->
  <!-- <div class="background-grey ptb-60" style="margin-bottom:250px;"> -->
  <div class="background-grey ptb-60" style="margin-bottom: 0px;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="partner-slider owl-carousel owl-theme">
            <div class="item">
              <img class="img-responsive" src="/images/partner-1.png" alt="">
            </div>

            <div class="item">
              <img class="img-responsive" src="/images/partner-2.png" alt="">
            </div>

            <div class="item">
              <img class="img-responsive" src="/images/partner-3.png" alt="">
            </div>

            <div class="item">
              <img class="img-responsive" src="/images/partner-4.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Section Image Content  -->
