<div class="container">
<div class="row">
<!-- Carousel -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
<div class="item active">
    <%= image_tag "003.jpg" %>
    <div class="header-text hidden-xs">
        <div class="col-md-12 text-center">
            <h2>
                <span>Welcome to
                    <strong>LOREM IPSUM</strong>
                </span>
            </h2>
            <br>
            <h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            </h3>
            <br>

        </div>
    </div>



    <br>
    <div class="well text-center">
      <p font-size="150%">
        我来说说遵循原则带来的收获吧：我最根本的一套原则，实现理想的一套方法，以及基于根本原则下延伸的管理原则。综上所述，这些原则帮助我系统地描绘出追求真理和卓越的蓝图，收获随之而来的回报。我写下这些原则供人们参考，原本是想为了帮助桥水联合基金和我最关心的人们。
      </p>

    </div>



</div>
<div class="container">
<div class="row">
<!-- Carousel -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
<div class="item active">
    <%= image_tag "004.jpg" %>
    <div class="header-text hidden-xs">
    </div>



    <br>
    <div class="well text-center">

    </div>




</div><div class="container">
<div class="row">
<!-- Carousel -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

<div class="carousel-inner">
<div class="item active">
    <%= image_tag "005.jpg" %>

    <div class="header-text hidden-xs">

    </div>



    <br>
    <div class="well text-center">

    </div>




</div><div class="container">
<div class="row">
<!-- Carousel -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

<div class="carousel-inner">
<div class="item active">
    <%= image_tag "006.jpg" %>
    <!-- <img src="http://stokpic.com/wp-content/uploads/2015/09/Everything-Apple-iMac-iPhone-iPad-Macbook-And-Apple-Watch.jpg" alt="First slide"> -->
    <!-- Static Header -->
    <div class="header-text hidden-xs">
        <!-- <div class="col-md-12 text-center">
            <h2>
                <span>Welcome to
                    <strong>LOREM IPSUM</strong>
                </span>
            </h2>
            <br>
            <h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            </h3>
            <br>

        </div>

    </div> -->

</div>

<br>
<div class="well text-center">

</div>




</div><div class="container">
<div class="row">
<!-- Carousel -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
<!-- Indicators -->

<!-- Wrapper for slides -->
<div class="carousel-inner">
<div class="item active">
<%= image_tag "007.jpg" %>
<!-- <img src="http://stokpic.com/wp-content/uploads/2015/09/Everything-Apple-iMac-iPhone-iPad-Macbook-And-Apple-Watch.jpg" alt="First slide"> -->
<!-- Static Header -->
<div class="header-text hidden-xs">
    <div class="col-md-12 text-center">
        <h2>
            <span>Welcome to
                <strong>LOREM IPSUM</strong>
            </span>
        </h2>
        <br>
        <h3>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
        </h3>

        <br>
          <div class="">
          <% if !current_user %>
          <%= link_to("注册", new_user_registration_path, class: "btn btn-theme") %>
          <%= link_to('登入', new_user_session_path, class: "btn btn-theme") %>
          <% else %>
          hi
          <% end %>
         </div>
          </div>

    </div>
    <!-- /header-text -->
</div>

</div>
<br><br>
