<!-- 首页右边的图片组 -->
<div class="col-sm-10">
  <div id="layout">
      <ul>
          <li>
              <%= link_to 'https://nameless-meadow-97724.herokuapp.com/products/14' do %><%= image_tag("p1.jpg") %><% end %>      </li>
          <li>
              <%= link_to 'https://nameless-meadow-97724.herokuapp.com/products/15' do %><%= image_tag("p2.jpg") %><% end %>
          </li>
          <li>
              <%= link_to 'https://nameless-meadow-97724.herokuapp.com/products/16' do %><%= image_tag("p3.jpg") %><% end %>
          </li>
          <li>
              <%= link_to 'https://nameless-meadow-97724.herokuapp.com/products/17' do %><%= image_tag("p4.jpg") %><% end %>
          </li>
          <li>
              <%= link_to 'https://nameless-meadow-97724.herokuapp.com/products/18' do %><%= image_tag("p5.jpg") %><% end %>
          </li>
          <li>
              <%= link_to 'https://nameless-meadow-97724.herokuapp.com/products/19' do %><%= image_tag("p6.jpg") %><% end %>
          </li>
          <li>
              <%= link_to 'https://nameless-meadow-97724.herokuapp.com/products/20' do %><%= image_tag("p7.jpg", height:360, width:360) %><% end %>
          </li>
          <li>
              <%= link_to 'https://nameless-meadow-97724.herokuapp.com/products/21' do %><%= image_tag("p8.jpg", height:360, width:360) %><% end %>
          </li>
          <li>
              <%= link_to 'https://nameless-meadow-97724.herokuapp.com/products/22' do %><%= image_tag("p9.jpg", height:360, width:360) %><% end %>
          </li>
      </ul>
  </div>
</div>

<!-- 首页右边的图片组 结束 -->
