<!-- seciont1 -->
<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
 </ol>
 <div class="carousel-inner">
    <div class="item active">
     <a href="javascript:;">
      <%= image_tag("header.png")%>
      <div class="carousel-caption"></div>
     </a>
    </div>
    <div class="item">
     <a href="javascript:;">
      <%= image_tag("header.png")%>
      <div class="carousel-caption"></div>
     </a>
    </div>
    <div class="item">
     <a href="javascript:;">
      <%= image_tag("header.png")%>
      <div class="carousel-caption"></div>
     </a>
    </div>
  </div>
</div>

<!-- section2 -->
<div class="container text-center container_in_welcome">
  <h3>关于我们</h3>
  <p>欢迎加入</p>
  <br>

  <div class="row">
    <div class="col-sm-4">
      <p class="text-center"><strong>好</strong></p><br>
      <a href="#demo" data-toggle="collapse">
        <%= image_tag("header.png", :class => "img-circle person", :id => "trip1" )%>
      </a>
      <div id="demo" class="collapse">
        <p>真的不错</p>
        <p>来试试</p>
        <p>不会失望</p>
      </div>
    </div>

    <div class="col-sm-4">
      <p class="text-center"><strong>很好</strong></p><br>
      <a href="#demo2" data-toggle="collapse">
        <%= image_tag("header.png", :class => "img-circle person", :id => "trip1" )%>
      </a>
      <div id="demo2" class="collapse">
        <p>真的可以</p>
        <p>绝对惊喜</p>
        <p>价格优惠</p>
      </div>
    </div>

    <div class="col-sm-4">
      <p class="text-center"><strong>非常好</strong></p><br>
      <a href="#demo3" data-toggle="collapse">
        <%= image_tag("header.png", :class => "img-circle person", :id => "trip1" )%>
      </a>
      <div id="demo3" class="collapse">
        <p>非常棒</p>
        <p>来吧</p>
        <p>加入我们</p>
      </div>
    </div>

  </div>

</div>

<!-- section3 -->
<div class="bg-1">
  <div class="container container_in_welcome">
    <h3 class="text-center">热销计划</h3>
    <p class="text-center">我们为你定做了几款健身计划<br> 试试看</p>

    <div class="row text-center">
      <div class="col-sm-4">
        <div class="thumbnail">
          <%= image_tag("header.png", :style => "width:400 height:300" )%>

          <p><strong>一年计划</strong></p>
          <p>一年变身</p>
          <button class="btn" data-toggle="modal" data-target="#myModal">购买</button>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="thumbnail">
          <%= image_tag("header.png", :style => "width:400 height:300" )%>
          <p><strong>半年计划</strong></p>
          <p>半年修身</p>
          <button class="btn" data-toggle="modal" data-target="#myModal">购买</button>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="thumbnail">
          <%= image_tag("header.png", :style => "width:400 height:300" )%>
          <p><strong>三个月计划</strong></p>
          <p>只需三个月</p>
          <button class="btn" data-toggle="modal" data-target="#myModal">购买</button>
        </div>
      </div>

    </div>
  </div>
</div>



<div class="container text-center container_in_welcome">
  <h3>用户反馈</h3>
  <p><em>听听我们的会员怎么说</em></p>
  <p>.....</p>
  <br>


</div>


<!-- 购买 弹窗 -->

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4><span class="glyphicon glyphicon-lock"></span> Tickets</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="psw"><span class="glyphicon glyphicon-shopping-cart"></span> Tickets, $23 per person</label>
            <input type="number" class="form-control" id="psw" placeholder="How many?">
          </div>
          <div class="form-group">
            <label for="usrname"><span class="glyphicon glyphicon-user"></span> Send To</label>
            <input type="text" class="form-control" id="usrname" placeholder="Enter email">
          </div>
          <button type="submit" class="btn btn-block">Pay
            <span class="glyphicon glyphicon-ok"></span>
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove"></span> Cancel
        </button>
      </div>
    </div>
  </div>
</div>
