<ul id="menu">
	<li data-menuanchor="home" class="active"><a href="#home">首页</a></li>
	<li data-menuanchor="list"><%= link_to("开始匠淘", admin_products_path) %></li>
	<li data-menuanchor="about"><a href="#about">关于</a></li>

</ul>
<ul id="menu_user">
		<li>
			<% if !current_user %>
				<li><%= link_to("✏️注册", new_user_registration_path) %></li>
				<li><%= link_to("🔐登陆", new_user_session_path) %></li>
			<% else %>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							👏欢迎, <%= current_user.email %>
							<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
							<% if current_user.admin? %>
							<li> <%= link_to("匠淘操作中心", admin_products_path) %></li>
							<li class="divider"></li>
							<% end %>
							<li><%= link_to("📴退出", destroy_user_session_path, method: :delete) %></li>
					</ul>
				</li>
			<% end %>
	  </li>
</ul>

<ul id="menu_tips">
	<%= render "common/flashes" %>
</ul>

<div id="dowebok">
  <!--home-->
	<div class="section">
		<div class="bgp_universe">
			<div class="bgp_yikuaishiting">
			</div>
			<div class="bgp_biaoyu">
			</div>
			<p class="p_des">
				匠淘 —— “淘宝”也可以具备匠人精神。2017年最具创意气质的饱含匠人精神的价值交易
				<br>
				平台，重生光华，为之瞩目。这里是独立手艺人、自由插画师、极客、及其爱好者等的聚
				<br>
				集地，实现了小众但极具创意吸睛的工匠产品的交易。
				<br>
				在这里，小众的东西会成就无数一小撮人无与伦比的出众品味，无可比拟的独特体验随时
				<br>
				在发生。
			</p>
			<div class="bgp_peopleback">
			</div>
			<div class="bgp_peoplefront">
			</div>
		</div>
	</div>

  <!--joblist-->
	<div class="section">
		<div class="bgp_sun">
			<div class="slide">
				<div class="bg-content">
					<script src="//fast.wistia.com/embed/medias/j0ms3g9zeq.jsonp" async></script><script src="//fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:51.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_j0ms3g9zeq videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
					<h3>测试视频 - 《七年就是一辈子》</h3>
					<a href="javascript:" style="text-decoration: underline; color: #000000; font-weight: 300;">更多精彩，尽在匠淘...[内测]</a>
				</div>
			</div>
			<div class="slide">
				<div class="bg-content">
					<marquee scrollamount="2" direction="up" bgcolor="#3e362a" onmouseover=stop() onmouseout=start()>
						<p><a href="javascript:" style="text-decoration: underline; color: #ff45f0; font-size: 4;"> test丨xxx（xxx）</a></p>
						<p><a href="javascript:" style="text-decoration: underline; color: #ff4500; font-size: 4;"> test丨xxx（xxx）</a></p>
						<p><a href="javascript:" style="text-decoration: underline; color: #ff5600; font-size: 4;"> test丨xxx（xxx）</a></p>
						<p><a href="javascript:" style="text-decoration: underline; color: #dd6700; font-size: 4;"> test丨xxx（xxx）</a></p>
						<p><a href="javascript:" style="text-decoration: underline; color: #2387ff; font-size: 4;"> test丨xxx（xxx）</a></p>
						<p><a href="javascript:" style="text-decoration: underline; color: #ff8900; font-size: 4;"> test丨xxx（xxx）</a></p>
						<p><a href="javascript:" style="text-decoration: underline; color: #ff45f0; font-size: 4;"> test丨xxx（xxx）</a></p>
						<p><a href="javascript:" style="text-decoration: underline; color: #ff1200; font-size: 4;"> test丨xxx（xxx）</a></p>
						<p><a href="javascript:" style="text-decoration: underline; color: #876664; font-size: 4;"> test丨xxx（xxx）</a></p>
						<p><a href="javascript:" style="text-decoration: underline; color: #ff3400; font-size: 4;"> test丨xxx（xxx）</a></p>
						<p><a href="javascript:" style="text-decoration: underline; color: #ff0011; font-size: 4;"> test丨xxx（xxx）</a></p>
						<p><a href="javascript:" style="text-decoration: underline; color: #239876; font-size: 4;"> test丨xxx（xxx）</a></p>
						<p><a href="javascript:" style="text-decoration: underline; color: #ffffff; font-size: 4;"> (更多精彩，尽在匠淘...[内测])</a></p>
					</marquee >
					<h3>测试滚屏 - 最新上架好玩意儿</h3>
				</div>
			</div>
			<div class="slide">
				<div class="bg-content">
					<div style="width:100%; height:400px; border:#ccc solid 1px;" id="dituContent"></div>
					<h3>测试地图 - 最火匠人分布图</h3>
				</div>
			</div>
			<div class="bgp_dots"></div>
		</div>
		<div class="zhubo">
			<img src="http://oj8zlumqh.bkt.clouddn.com/image/headphones-jt.png" alt="zhubo">
			<h4><%= link_to("我是匠人", "#" ) %></h4>
		</div>
		<div class="shouting">
			<img src="http://oj8zlumqh.bkt.clouddn.com/image/headphones-jt.png" alt="zhubo">
			<h4><%= link_to("寻找匠人", "#" ) %></h4>
		</div>
	</div>

  <!--about-->
	<div class="section">
		<div class="bgp_pure">
			<div class="bgp_goutongwujie"></div>
		  <div class="bgp_houjibofa"></div>
			<div class="bgp_video">
				<h4>xxxxxxxxxxxxxxxx</h4>
				<p><a href="javascript:" style="color: #ffffff;">测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</a></p>
			</div>
			<div class="bgp_email">
				<h4>xxxxxxxxxxxxxxxx</h4>
				<p><a href="mailto:taketimeasafriend@gmail.com" style="color: #ffffff;">测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</a></p>
			</div>
			<div class="bgp_author">
				<h4>xxxxxxxxxxxxxxxx</h4>
				<p><a href="http://oj8zlumqh.bkt.clouddn.com/image/whynotwangwei.jpeg" target=_new style="color: #ffffff;">测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</a></p>
			</div>
			<%= render "common/footer" %>
		</div>
	</div>
</div>
