<nav class="navbar " role="navigation">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">

          </ul>

          <ul class="nav navbar-nav navbar-right">
            <% if !current_user %>
              <li><a href="#" data-toggle="modal" data-target="#signup-modal">注册</a></li>
              <li><a href="#" data-toggle="modal" data-target="#login-modal">登入</a></li>
            <% else %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  你好, <%= current_user.email %>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu text-center">
                  <% if current_user.admin? %>
                    <li><%= link_to("管理后台", admin_products_path ) %></li>
                  <% end %>
                  <li>
                    <%= link_to("个人订单列表", account_orders_path) %>
                  </li>
                  <li>
                    <%= link_to("收藏", favorite_index_path) %>
                  </li>
                  <li> <%= link_to(content_tag(:i, '登出', class: 'fa fa-sign-out'), destroy_user_session_path, method: :delete) %> </li>
                </ul>
              </li>
            <% end %>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog" role="document">
        <div class="loginmodal-container">
           <h2 class="text-center">登录</h2>
           <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
             <div class="form-inputs">
               <%= f.input :email, required: false, autofocus: true , :label => "登录邮箱" %>
               <%= f.input :password, required: false , :label => "登录密码" %>
               <%= f.input :remember_me,  :label => "记住我", as: :boolean if devise_mapping.rememberable?  %>
             </div>
             <div class="form-actions">
               <%= f.button :submit, "登录" %>
             </div>
           <% end %>
        </div>
      </div>
    </div>

    <div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
        <div class="loginmodal-container">
          <div class="timeline-image">
            <img class="img-circle img-responsive" style="width: 250px;height: 185px" src="https://ooo.0o0.ooo/2017/01/25/58888e470ad0c.jpg" alt="">
          </div>
          <h2 class="text-center">注册</h2>
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs">
              <%= f.input :email, required: true, autofocus: true , :label => "注册邮箱" %>
              <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) , :label => "设置密码" %>
              <%= f.input :password_confirmation, required: true , :label => "确认密码" %>
            </div>
            <div class="form-actions">
                <%= f.button :submit, "注册" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</nav>

<div class="jumbotron">
  <h1 class="title">logo</h1>
  <div class="sologn pull-right">
    <span>女人逛淘宝</span>
    <br>
    <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp男人逛酷跑</span>
    <br>
    <div>&nbsp&nbsp&nbsp有不喜欢女人的男人，但绝对没有不喜欢跑车的男人</div>
    <br>
    <p><a href="#" data-toggle="modal" data-target="#signup-modal" class="btn btn-lg highlight">成为会员</a></p>
  </div>


</div>

<section class="sec-four">
<div class="container ">
  <h1>众多实力超跑大厂倾情入驻</h1>
  <br>
  <h4>各种知名大厂的超跑应有尽有，我们甚至还独家供应全球限量版的超跑。</h4>
  <br>
    <div class="col-lg-12 text-center">
      <div class="col-sm-6 col-md-6">
        <div class="panel panel-default panel-card">
            <div class="panel-heading">
              <img src="https://ooo.0o0.ooo/2017/02/13/58a1b97f6e177.png" />
            </div>
            <div class="panel-body">
              <br><br>
              <h4 class="panel-header"><%= link_to("法拉利", category_products_path(c:"法拉利"), class: "bootstrap-override-2") %></h4>
            </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="panel panel-default panel-card">
          <div class="panel-heading">
            <img src="https://ooo.0o0.ooo/2017/02/13/58a1b9bb9d1c9.png" />
          </div>
          <div class="panel-body">
            <br><br>
            <h4 class="panel-header"><%= link_to("保时捷", category_products_path(c:"保时捷"), class: "bootstrap-override-2") %></h4>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="panel panel-default panel-card">
          <div class="panel-heading">
            <img src="https://ooo.0o0.ooo/2017/02/13/58a1b9f1b18ca.png" />
          </div>
          <div class="panel-body">
            <br><br>
            <h4 class="panel-header"><%= link_to("兰博基尼", category_products_path(c:"兰博基尼"), class: "bootstrap-override-2") %></h4>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="panel panel-default panel-card">
          <div class="panel-heading">
            <img src="http://www.kuqin.com/upimg/allimg/100709/0003350.jpg" />
          </div>
          <div class="panel-body">
            <br><br>
            <h4 class="panel-header"><%= link_to("布加迪威龙", category_products_path(c:"布加迪威龙"), class: "bootstrap-override-2") %></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sec-video">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <embed src='http://player.youku.com/player.php/sid/XMTc5NDg5MTU2/v.swf' allowFullScreen='true' quality='high' width='960' height='540' align='middle' allowScriptAccess='always' type='application/x-shockwave-flash'></embed>
    </div>
  </div>
</div>
</section>
<section>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>Employees said</h1>
      <hr>
      <div class="container">
        <div class="row">
             <div class="col-sm-6 col-md-6">
               <div>
                 <h1>酷跑社区</h1>
                 <br>
                 <h4>这里是全国最大的线上超跑俱乐部，定期举办各种各样的精彩活动，更多机会近距离触摸跑车。</h4>
                 <br>
                 <p>✔️ 速度与激情——跑车赛事<br><br>
                 ✔️ 壮观的车队环城活动<br><br>
                 ✔️ 非凡之旅——非洲跑车大冒险<br><br>
                 ✔️ 巡游秋名山<br><br>
                 ✔️ 酷跑老司机教你如何打造个性跑车<br><br>
                 ✔️ 美女与跑车——上海车展<br><br>
                 ✔️ 技术交流车友会<br><br>
                 ✔️ 炫魅之夜狂欢派对</p>
               </div>
    		</div>
		    <div class="col-sm-6 col-md-3">
        	    <div class="panel panel-default panel-card">
                    <div class="panel-heading">
                        <img src="https://unsplash.imgix.net/41/bXoAlw8gT66vBo1wcFoO_IMG_9181.jpg?q=75&fm=jpg&s=a760fd82863937c841f4b3870cdef011" />
                    </div>
                    <div class="panel-figure">
                        <img class="img-responsive img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/josue/73.jpg" />
                    </div>
                    <div class="panel-body">
                      <br><br>
                        <h4 class="panel-header">Leon</h4>
                        <small>XX公司工程师</small>
                    </div>
                    <div class="panel-thumbnails">
                        <div class="row">
                            <p>我在前行网找到我现在呆的公司，发展前景和待遇我都很满意。</p>
                        </div>
                    </div>
            	</div>
    		</div>
        <div class="col-sm-6 col-md-3">
              <div class="panel panel-default panel-card">
                    <div class="panel-heading">
                        <img src="https://unsplash.imgix.net/41/bXoAlw8gT66vBo1wcFoO_IMG_9181.jpg?q=75&fm=jpg&s=a760fd82863937c841f4b3870cdef011" />
                    </div>
                    <div class="panel-figure">
                        <img class="img-responsive img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/josue/73.jpg" />
                    </div>
                    <div class="panel-body">
                      <br><br>
                        <h4 class="panel-header">Leon</h4>
                        <small>XX公司工程师</small>
                    </div>
                    <div class="panel-thumbnails">
                        <div class="row">
                            <p>我在前行网找到我现在呆的公司，发展前景和待遇我都很满意。</p>
                        </div>
                    </div>
              </div>
        </div>
            <div class="col-sm-6 col-md-3">
                <div class="panel panel-default panel-card">
                    <div class="panel-heading">
                        <img src="https://ununsplash.imgix.net/19/waves.JPG?q=75&fm=jpg&s=6f316bc8e1dc9887a7cebe0841096e99" />
                    </div>
                    <div class="panel-figure">
                        <img class="img-responsive img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/mutlu82/73.jpg" />
                    </div>
                    <div class="panel-body">
                      <br><br>
                        <h4 class="panel-header">John</h4>
                        <small>XX公司业务代表</small>
                    </div>
                    <div class="panel-thumbnails">
                        <div class="row">
                          <p>这里有热心的师兄师姐提建议，让我找到了最适合自己的职业发展道路。</p>
                        </div>
                    </div>
            	</div>
    		</div>
            <div class="col-sm-6 col-md-3">
                <div class="panel panel-default panel-card">
                    <div class="panel-heading">
                        <img src="https://ununsplash.imgix.net/26/camera-keys.jpg?q=75&fm=jpg&s=b919d3158053cde8e9f0e37b4876c14f" />
                    </div>
                    <div class="panel-figure">
                        <img class="img-responsive img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/nisaanjani/73.jpg" />
                    </div>
                    <div class="panel-body">
                      <br><br>
                        <h4 class="panel-header">Mike</h4>
                        <small>XX公司总监</small>
                    </div>
                    <div class="panel-thumbnails">
                        <div class="row">
                            <p>前行网的社区很活跃，我们很多同届的毕业生都喜欢在这里互相交流。</p>
                        </div>
                    </div>
            	</div>
    		</div>
	    </div>
    </div>
    </div>
  </div>
</div>
</section>
<section>
  <div class="col-lg-12">
    <h1 class="text-center">Contact us</h1>
    <hr>
  </div>
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ooo.0o0.ooo/2017/01/25/58889f3c2503d.png" alt="search" class = "img-thhumbnail">
          <div class="caption">
            <h4>厦门思明区软件园二期</h4>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ooo.0o0.ooo/2017/01/25/58889f9734b02.png" alt="bid" class = "img-thhumbnail">
          <div class="caption">
            <h4>qianxing@offer.com</h4>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ooo.0o0.ooo/2017/01/25/58889fffd8780.png" alt="heart" class = "img-thhumbnail">
          <div class="caption">
            <h4>0592-88888888</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
