
<div class="container">
  <h3>
  我们精挑细选，<br>替您省下左右为难的时间，<br>陪孩子。</h3>
</div>
<div>
  <button class="btn btn-danger" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
  <input type="text" class="form-control" placeholder="为宝贝找宝贝" name="query_string">

</div>
<!-- Add this css File in head tag-->
       <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
       <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">


<!--
       If you want to change #bootstrap-touch-slider id then you have to change Carousel-indicators and Carousel-Control  #bootstrap-touch-slider slide as well
       Slide effect: slide, fade
       Text Align: slide_style_center, slide_style_left, slide_style_right
       Add Text Animation: https://daneden.github.io/animate.css/
       -->


       <div id="bootstrap-touch-slider" class="carousel bs-slider slide  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000" >

           <!-- Indicators -->
           <ol class="carousel-indicators">
               <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
               <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
               <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
           </ol>

           <!-- Wrapper For Slides -->
           <div class="carousel-inner" role="listbox">

               <!-- Third Slide -->
               <div class="item active">
                 <!-- Slide Background -->
                 <img src="https://ww2.sinaimg.cn/large/006tNbRwgy1fcrf3m99enj31kw11zqv5.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
                 <div class="bs-slider-overlay"></div>
                 <!-- Slide Text Layer -->
                 <div class="slide-text slide_style_right">
                     <h1 data-animation="animated flipInX">有没有礼物，<br>
                       孩子都一样盼着你回家。</h1>
                     <p data-animation="animated lightSpeedIn">当然，有礼物那就更好了。</p>
                     <a href="/products" target="/"  class="btn btn-primary" data-animation="animated fadeInRight">来，别让孩子等太久！</a>

                 </div>
             </div>
             <!-- End of Slide -->



               <!-- Second Slide -->
               <div class="item">
                 <!-- Slide Background -->
                 <img src="https://ww2.sinaimg.cn/large/006tNbRwgy1fcs4eir3m6j31kw11zqv5.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
                 <div class="bs-slider-overlay"></div>

                 <div class="container">
                     <div class="row">
                         <!-- Slide Text Layer -->
                         <div class="slide-text slide_style_left">
                             <h1 data-animation="animated zoomInRight">孩子是上天的馈赠，
                               <br>惊喜也是</h1>
                             <p data-animation="animated fadeInLeft">给孩子的惊喜才是真惊喜</p>

                             <a href="/products" target="/"  class="btn btn-primary" data-animation="animated fadeInRight">来，创造共同的惊喜！</a>
                         </div>
                     </div>
                 </div>
                 </div>
                 <!-- End of Slide -->


               <!-- Third Slide -->
               <div class="item">

                   <!-- Slide Background -->
                   <img src="https://ww2.sinaimg.cn/large/006tNbRwgy1fcrf48birej31kw11snpg.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
                   <div class="bs-slider-overlay"></div>
                   <!-- Slide Text Layer -->
                   <div class="slide-text slide_style_left">
                       <h1 data-animation="animated zoomInLeft">认识世界，<br>
                       孩子是我们的向导</h1>
                       <p data-animation="animated fadeInRight">当然需要全副武装<br>以及我们的爱！</p>

                       <a href="/products" target="_blank" class="btn btn-primary" data-animation="animated fadeInRight">来，让孩子更强大一些</a>
                   </div>
               </div>
               <!-- End of Slide -->


           </div><!-- End of Wrapper For Slides -->

           <!-- Left Control -->
           <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
               <span class="fa fa-angle-left" aria-hidden="true"></span>
               <span class="sr-only">Previous</span>
           </a>

           <!-- Right Control -->
           <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
               <span class="fa fa-angle-right" aria-hidden="true"></span>
               <span class="sr-only">Next</span>
           </a>

       </div> <!-- End  bootstrap-touch-slider Slider -->






           <div class="row package">
               <div class="col-sm-4 col-xs-12">
                   <div class="panel panel-default text-center">
                       <div class="panel-heading">
                           <img class="img-circle" alt="Cinque Terre" width="350" height="350" src="https://ww3.sinaimg.cn/large/006tNbRwgy1fcsaxw5wsjj30e80e8dfv.jpg">
                       </div>

                       <div class="panel-footer">
                           <button class="btn btn-lg"><%= link_to("食", products_path(:order => "by_eating"))%></button>
                       </div>
                   </div>
               </div>

               <div class="col-sm-4 col-xs-12">
                   <div class="panel panel-default text-center">
                       <div class="panel-heading">
                           <img class="img-circle" alt="Cinque Terre" width="350" height="350" src="https://ww1.sinaimg.cn/large/006tNbRwgy1fcsb1dwk50j30e80e8jrg.jpg">
                       </div>

                       <div class="panel-footer">

                           <button class="btn btn-lg"><%= link_to("衣", products_path(:order => "by_clothes")) %></button>
                       </div>
                   </div>
               </div>
               <div class="col-sm-4 col-xs-12">
                   <div class="panel panel-default text-center">
                       <div class="panel-heading">
                           <img class="img-circle" alt="Cinque Terre" width="350" height="350" src="https://ww4.sinaimg.cn/large/006tNbRwgy1fcsb1egiyij30e80e8dfy.jpg">
                         </div>

                       <div class="panel-footer">

                           <button class="btn btn-lg"><%= link_to("玩", products_path(:order => "by_playing"))%></button>
                       </div>
                   </div>
               </div>
               <div class="col-sm-4 col-xs-12">
                   <div class="panel panel-default text-center">
                       <div class="panel-heading">
                           <img class="img-circle" alt="Cinque Terre" width="350" height="350" src="https://ww1.sinaimg.cn/large/006tNbRwgy1fcsb40lh44j30e80e80su.jpg">
                          </div>

                       <div class="panel-footer">
                            <button class="btn btn-lg"><%= link_to("行", products_path(:order => "by_walking"))%></button>
                       </div>
                    </div>
                </div>


                <div class="col-sm-4 col-xs-12">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <img class="img-circle" alt="Cinque Terre" width="350" height="350" src="https://ww3.sinaimg.cn/large/006tNbRwgy1fcp7q5j4hhj30e80e8dfu.jpg">
                        </div>

                        <div class="panel-footer">
                            <button class="btn btn-lg"><%= link_to("住", products_path(:order => "by_living"))%></button>
                        </div>
                    </div>
                   </div>

              <div class="col-sm-4 col-xs-12">
                  <div class="panel panel-default text-center">
                      <div class="panel-heading">
                          <img class="img-circle" alt="Cinque Terre" width="350" height="350" src="https://ww2.sinaimg.cn/large/006tNbRwgy1fcp7jy424zj30e80e8jrd.jpg">
                     </div>

                    <div class="panel-footer">
                        <button class="btn btn-lg"><%= link_to("浴", products_path(:order => "by_bathing"))%></button>
                   </div>
                 </div>
           </div>

           <ul class="list-inline text-center">

             <img class="img-circle" alt="Cinque Terre"   width="150" height="150" src="https://ww4.sinaimg.cn/large/006tNbRwgy1fcydz0ycvtj30e80e8dge.jpg">

             <img class="img-circle" alt="Cinque Terre"   width="150" height="150" src="https://ww2.sinaimg.cn/large/006tNbRwgy1fcydyxoonlj30e80e8weq.jpg">

             <img class="img-circle" alt="Cinque Terre"   width="150" height="150" src="https://ww1.sinaimg.cn/large/006tNbRwgy1fcydyrsnqdj30e80e8jrj.jpg">

             <img class="img-circle" alt="Cinque Terre"   width="150" height="150" src="https://ww3.sinaimg.cn/large/006tNbRwgy1fcydygd075j30e80e874p.jpg">
             <img class="img-circle" alt="Cinque Terre"   width="150" height="150" src="https://ww1.sinaimg.cn/large/006tNbRwgy1fcydyia4o0j30e80e8q34.jpg">
             <img class="img-circle" alt="Cinque Terre"   width="150" height="150" src="https://ww4.sinaimg.cn/large/006tNbRwgy1fcydy7mz6lj30e80e874i.jpg">
             <img class="img-circle" alt="Cinque Terre"   width="150" height="150" src="https://ww2.sinaimg.cn/large/006tNbRwgy1fcydyc73llj30e80e8t8u.jpg">
           </div>


      </div>
