<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <title>无标题文档</title>
    <style type="text/css">

    

    </style>
    </head>
    <body>

    <div id="layout">
    <ul>
      <li>
        <%= link_to 'https://nameless-meadow-97724.herokuapp.com/products/1' do %><%= image_tag("p1.jpg") %><% end %>      </li>
      <li>
        <%= link_to 'https://nameless-meadow-97724.herokuapp.com/products/2' do %><%= image_tag("p2.jpg") %><% end %>
      </li>
      <li>
        <%= link_to 'https://nameless-meadow-97724.herokuapp.com/products/3' do %><%= image_tag("p3.jpg") %><% end %>
      </li>
      <li>
        <%= link_to 'https://nameless-meadow-97724.herokuapp.com/products/4' do %><%= image_tag("p4.jpg") %><% end %>
      </li>
      <li>
        <%= link_to 'https://nameless-meadow-97724.herokuapp.com/products/5' do %><%= image_tag("p5.jpg") %><% end %>
      </li>
      <li>
        <%= link_to 'https://nameless-meadow-97724.herokuapp.com/products/6' do %><%= image_tag("p6.jpg") %><% end %>
      </li>
      <li>
        <%= link_to 'https://nameless-meadow-97724.herokuapp.com/products/7' do %><%= image_tag("p7.jpg", height:360, width:360) %><% end %>
      </li>
      <li>
        <%= link_to 'https://nameless-meadow-97724.herokuapp.com/products/8' do %><%= image_tag("p8.jpg", height:360, width:360) %><% end %>
      </li>
      <li>
        <%= link_to 'https://nameless-meadow-97724.herokuapp.com/products/9' do %><%= image_tag("p9.jpg", height:360, width:360) %><% end %>
      </li>

    </ul>
    </div>

    </body>
    </html>
