<header id="header" role="header">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">乐活生活馆</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li>
            <%= link_to("首页", root_path) %>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">分类浏览
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <% Category.all.each do |category| %>
                <li>
                  <%= link_to(category.name, products_path(category: category.name)) %>
                </li>
              <% end %>
            </ul>
          </li>
          <li>
            <%= link_to("产品", products_path) %>
          </li>
          <li>
            <%= link_to("关于我们", "#") %>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to carts_path do %>
              购物车 <i class="fa fa-shopping-cart fa-lg"></i> (<%= current_cart.products.count %>)
            <% end %>
          </li>
          <% if !current_user %>
            <li>
              <div class="login">
                <%= link_to("注册", new_user_registration_path) %> |
                <%= link_to("登录", new_user_session_path) %>
              </div>
            </li>
          <% else %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <% if current_user.nickname.present? %>
                  Hi, <%= current_user.nickname %>!
                <% else %>
                  Hi, <%= current_user.email %>!
                <% end %>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <% if current_user.admin? %>
                  <li>
                    <%= link_to(content_tag(:i, " 后台管理", class: "fa fa-lock"), admin_products_path) %>
                  </li>
                <% end %>
                <li>
                  <%= link_to(content_tag(:i, " 我的订单", class: "fa fa-history"), account_orders_path) %>
                </li>
                <li>
                  <%= link_to(content_tag(:i, " 我的收藏", class: "fa fa-gratipay"), favorites_path ) %>
                </li>
                <li><%= link_to(content_tag(:i, " 编辑账户", class: "fa fa-pencil-square-o"),edit_user_registration_path) %></li>
                <li>
                  <%= link_to(content_tag(:i, " 账户登出", class: "fa fa-sign-out"), destroy_user_session_path, method: :delete) %>
                </li>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <div class="row">
    <div class="col-md-12">

     <%= render "common/flashes" %>
    </div>
    <div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-6">
      <div class="picture">
        <%= image_tag "luna.jpg" %>
      </div>
    </div>
    <div class="col-md-5 col-sm-5 col-xs-6">
      <div class="slogan">
        <h2>
          欢迎来到乐活生活馆
        </h2>
        <h2>
          ——好物尽在这里
        </h2>
        <h2>
          ——随便逛逛, <%= link_to("点这里", products_path) %>
        </h2>
      </div>
    </div>
  </div>
</header>

<div id="products">
  <div class="wrapper1">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2 col-lg-8 col-lg-offset-2">
        <!-- Search area -->
        <%= form_tag search_products_path , :method => :get, :class => "search-container" do %>
          <input type="text", id="search-bar", name="q" value="<%= params[:q] %>" placeholder="产品，描述...">
          <button type="submit" class="search-icon">
            <span class="fa fa-search fa-2x"></span>
          </button>
        <% end %>
        <!-- End Search -->

        <h2 class="text-center">热销商品</h2>
        <div class="row hot-products">
          <% Product.all.each do |product| %>
          <div class="col-md-6 col-sm-12">
            <figure class="snip1423">
              <%= link_to product_path(product) do %>
                <% if product.photos.present? %>
                  <%= image_tag(product.photos[0].image.url) %>
                <% else %>
                  <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
                <% end %>
              <% end %>
              <figcaption>
                <h3><%= link_to(product.title, product_path(product)) %> <span>￥<%= product.price %></span></h3>
                <p>
                  已成交6单
                  <% if product.quantity.present? && product.quantity > 0 %>
                    <%= link_to(content_tag(:i, "", class: "fa fa-shopping-cart fa-2x"), add_to_cart_product_path(product), :method => :post) %>
                  <% else %>
                    已售馨
                  <% end %>
                  <i class="sub"><%= product.fans.count %></i>
                  <% if user_signed_in? %>
                    <% if !current_user.is_fan_of?(product) %>
            				  <%= link_to favorite_product_path(product), method: :post do %>
            					  <i class="fa fa-heart-o fa-2x"></i>
            				  <% end %>
            			  <% else %>
            				  <%= link_to unfavorite_product_path(product), method: :post do %>
            					  <i class="fa fa-heart fa-2x"></i>
            				  <% end %>
            			  <% end %>
                  <% else %>
                    <%= link_to favorite_product_path(product), method: :post do %>
                      <i class="fa fa-heart-o fa-2x"></i>
                    <% end %>
                  <% end %>
                </p>
              </figcaption>
            </figure>
          </div>
          <% end %>
        </div>


        <h2 class="text-center">精选商品</h2>
        <div class="row specific-products">
          <% Product.last(4).each do |product| %>
          <div class="col-md-6 col-sm-12">
            <figure class="snip1423">
              <%= link_to product_path(product) do %>
                <% if product.photos.present? %>
                  <%= image_tag(product.photos[0].image.url) %>
                <% else %>
                  <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
                <% end %>
              <% end %>
              <figcaption>
                <h3><%= link_to(product.title, product_path(product)) %> <span>￥<%= product.price %></span></h3>
                <p>
                  已成交5单
                  <% if product.quantity.present? && product.quantity > 0 %>
                    <%= link_to(content_tag(:i, "", class: "fa fa-shopping-cart fa-2x"), add_to_cart_product_path(product), :method => :post) %>
                  <% else %>
                    已售馨
                  <% end %>
                  <i class="sub"><%= product.fans.count %></i>
                  <% if user_signed_in? %>
                    <% if !current_user.is_fan_of?(product) %>
            				  <%= link_to favorite_product_path(product), method: :post do %>
            					  <i class="fa fa-heart-o fa-2x"></i>
            				  <% end %>
            			  <% else %>
            				  <%= link_to unfavorite_product_path(product), method: :post do %>
            					  <i class="fa fa-heart-o fa-2x"></i>
            				  <% end %>
            			  <% end %>
                  <% else %>
                    <%= link_to favorite_product_path(product), method: :post do %>
                      <i class="fa fa-heart-o fa-2x"></i>
                    <% end %>
                  <% end %>
                </p>
              </figcaption>
            </figure>
          </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="footer">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
      <div class="col-md-4">
        <div class="footer-chunk">
          <h4>关于产品</h4>
          <ul>
            <% Category.all.each do |category| %>
              <li>
                <%= link_to(category.name, products_path(category: category.name)) %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-chunk">
          <h4>关于我们</h4>
          <ul>
            <li>理念：乐活 Love Home</li>
            <li>ROR爱好者</li>
            <li>拥有挑剔的眼光</li>
            <li>设计者：陈慧娟</li>
            <li>设计者：刘慧玲</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-chunk">
          <h4>售后服务</h4>
          <ul>
            <li>24小时热线服务</li>
            <li>热线咨询：15995693717</li>
            <li>邮箱咨询：megy.chen203@gmail.com</li>
            <li>帮助</li>
            <li>意见</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="design">
      <span><a href="#">Github仓库</a></span>  <span><a href="#">关于我们</a></span>  <span><a href="#">联系我们</a></span>
      <p>@Copyright 2017 乐活生活馆网站是由<span>陈慧娟</span> 和 <span>刘慧玲</span>共同打造</p>
      <p>再次感谢您的光临</p>
    </div>
  </div>
</div>
