<div class="container">
    <div class="row">
        <!-- Carousel -->
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <%= image_tag "003.jpg" %>
                    <div class="header-text hidden-xs">
                        <!-- <div class="col-md-12 text-center">
            <h2>
                <span>Welcome to
                    <strong>GGS</strong>
                </span>
            </h2>
            <br>
            <h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            </h3>
            <br>

        </div> -->
                    </div>

                    <br>
                    <div class=" text-center black">
                        <p class="p-big">
                            棒槌程序员和大拿程序员的社交商店
                        </p>

                    </div>

                </div>
                <div class="container">
                    <div class="row">
                        <!-- Carousel -->
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <%= image_tag "004.jpg" %>
                                    <div class="header-text hidden-xs"></div>

                                    <br>
                                    <div class="text-center black">
                                        <p class="p-big">
                                            工作可以这样
                                        </p>

                                    </div>

                                </div>
                                <div class="container">
                                    <div class="row">
                                        <!-- Carousel -->
                                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                                            <div class="carousel-inner">
                                                <div class="item active">
                                                    <%= image_tag "005.jpg" %>

                                                    <div class="header-text hidden-xs"></div>

                                                    <br>
                                                    <div class="text-center black">
                                                        <p class="p-big">
                                                            生活可以这样
                                                        </p>

                                                    </div>

                                                </div>
                                                <div class="container">
                                                    <div class="row">
                                                        <!-- Carousel -->
                                                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                                                            <div class="carousel-inner">
                                                                <div class="item active">
                                                                    <%= image_tag "006.jpg" %>
                                                                    <!-- <img src="http://stokpic.com/wp-content/uploads/2015/09/Everything-Apple-iMac-iPhone-iPad-Macbook-And-Apple-Watch.jpg" alt="First slide"> -->
                                                                    <!-- Static Header -->
                                                                    <div class="header-text hidden-xs">
                                                                        <!-- <div class="col-md-12 text-center">
            <h2>
                <span>Welcome to
                    <strong>LOREM IPSUM</strong>
                </span>
            </h2>
            <br>
            <h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            </h3>
            <br>

        </div>

    </div> -->

                                                                    </div>

                                                                    <br>
                                                                    <div class="text-center black">
                                                                        <p class="p-big">
                                                                            伙伴可以这样
                                                                        </p>
                                                                    </div>

                                                                </div>
                                                                <div class="container">
                                                                    <div class="row">
                                                                        <!-- Carousel -->
                                                                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                                                            <!-- Indicators -->

                                                                            <!-- Wrapper for slides -->
                                                                            <div class="carousel-inner">
                                                                                <div class="item active">
                                                                                    <%= image_tag "007.jpg" %>
                                                                                    <!-- <img src="http://stokpic.com/wp-content/uploads/2015/09/Everything-Apple-iMac-iPhone-iPad-Macbook-And-Apple-Watch.jpg" alt="First slide"> -->
                                                                                    <!-- Static Header -->
                                                                                    <div class="header-text hidden-xs">
                                                                                        <div class="col-md-12 text-center">
                                                                                            <h2>
                                                                                                <span>
                                                                                                    等你
                                                                                                </span>
                                                                                            </h2>
                                                                                            <br>
                                                                                            <h3>
                                                                                                <span>健康 Health 阳光 Sunny 整洁 Clean 愉快 Happy</span>
                                                                                            </h3>

                                                                                            <br>
                                                                                            <div class="">
                                                                                                <% if !current_user %>
                                                                                                <%= link_to("注册", new_user_registration_path, class: "btn btn-theme") %>
                                                                                                <%= link_to('登入', new_user_session_path, class: "btn btn-theme") %>
                                                                                            <% else %>

                                                                                                <% end %>
                                                                                            </div>
                                                                                        </div>

                                                                                    </div>
                                                                                    <!-- /header-text -->
                                                                                </div>

                                                                            </div>
                                                                            <br><br>