<ul class="breadcrumb">
  <li><%= link_to("我的账户", edit_account_user_path(current_user)) %></li>
  <li><%= link_to("我的订单", account_orders_path ) %></li>
</ul>


<div class="row", style="margin-left: -21px;">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading-account">
        <h3 class="panel-title">个人帐户讯息</h3>
      </div>
      <div class="panel-body", style="padding: 45px 0px;">
        <div class="col-md-8 col-centered">
          <div class="container page-wrap", style="padding: 1em 3em 6em;">
            <div class="account-view">
              <!-- <img src="http://ww4.sinaimg.cn/large/006tKfTcgy1ffr161honcj30xg0n0am7.jpg" style="opacity:0.6;" alt="background image"> -->
              <div class="account-detail">

                <div class="input-block">
                  <%= simple_form_for [:account, @user] do |f| %>
                    <%= f.error_notification %>

                    <div class="form-inputs">
                      <%= f.input :username, autofocus: true, label: "用户名", placeholder: "请输入用户名" %>
                      <%= f.input :name, label: "姓名", placeholder: "请输入您的姓名" %>
                      <%= f.input :phonenumber, label: "联系电话", placeholder: "请输入您的联系电话" %>
                      <%= f.input :address, label: "地址", placeholder: "请输入您的地址" %>
                      <%= f.button :submit, '更新', class: 'btn-account' %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
