<%= render "account/users/navbar" %>

      <div class="my-info">
        <p>基本信息</p>
      </div>
<%= simple_form_for [:account, @user] do |f| %>
      <div class="my-name">
        <span>邮　箱:</span> <span><%= @user.email%></span><br>
        <span>用户名:</span> <input type="text" value="<%= @user.username %>"  name="user[username]"><br>
        <span>性　别:</span>
        <label class="radio-inline">
          <input type="radio" name="user[gender]" value="0" <%= if @user.gender==0 then "checked" end%>> 保密
        </label>
        <label class="radio-inline">
          <input type="radio" name="user[gender]" value="1" <%= if @user.gender==1 then "checked" end%>> 男
        </label>
        <label class="radio-inline">
          <input type="radio" name="user[gender]" value="2" <%= if @user.gender==2 then "checked" end%>> 女
        </label>
      </div>


      <div class="my-photo">
        <p>头像设置</p>
          <%= f.input :image, as: :file %>
      </div>

<%= f.button :submit, '更新', class: 'button' %>
      <% end %>


<%= render "account/users/footer" %>
