

<hr>

<br>
<div class="row">
  <div class="col-md-6">
    <%# if @answer.image.present? %>
      <%#= image_tag(@answer.image.medium.url, class: "thumbnail") %>
    <%# else %>
      <%#= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <%# end %>
    <% if @photos.present? %>
      <% @photos.each_with_index do |p, index| %>
        <% if index == 0 %>
          <%= image_tag p.image.medium.url %>
        <% else %>
          <%= image_tag p.image.thumb.url %>
        <% end %>
      <% end %>
    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>正确答案</th>
        <th>答案解析</th>
      </tr>
    </thead>
    <tbody>
      <% @answers.each do |answer| %>
      <tr>
        <td>
          <%= answer.id %>
        </td>
         <td>
           <%= answer.ture_answer%>
         </td>
         <td>
           <%= answer.description %>
         </td>
       </tr>
       <% end %>
     </tbody>
   </table>
