<div class="row">
    <div class="col-md-12">
      <h2>订单列表</h2>
      <table class="table table-bordered">
          <thead>
            <tr>
              <th>订单编号</th>
              <th>时间</th>
              <th>状态</th>
              <th>收货人</th>
              <th>收货人地址</th>
              <th>付款人</th>
              <th>付款地址</th>
              <th>编辑</th>
            </tr>
          </thead>
          <tbody>
            <% @orders.each do |order| %>
              <tr>
              
                <td>
                  <%= link_to(order.token, order_path(order.token)) %>
                </td>
                <td>
                  <%= order.created_at %>
                </td>
                <td>
                  <%= order.pay_state_info %>
                </td>
                <td>
                  <%= order.shipping_name %>
                </td>
                <td>
                  <%= order.shipping_address %>
                </td>
                <td>
                  <%= order.billing_name %>
                </td>
                <td>
                  <%= order.billing_address %>
                </td>
                <td>
                  <%= render_order_edit_option(order) %>
                </td>
              </tr>
            <% end %>
          </tbody>
      </table>
    </div>
</div>
