<div class="row">
  <div class="col-md-12">
    <h2>Shopping Cart</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="80%">Name</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @product_lists.each do |product_list| %>
          <tr>
            <td><%= product_list.product_name %></td>
            <td><%= product_list.product_price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="total clearfix">
      <span class="pull-right">
        Subtotal: $ <%= @order.total %>
      </span>
    </div>
    <hr>
    <h2>Shipping Information</h2>
    <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <td>Bill Address</td>
        </tr>
        <tr>
          <td><%= @order.billing_name %> - <%= @order.billing_address %></td>
        </tr>
        <tr>
          <td>Shipping Address</td>
        </tr>
        <tr>
          <td><%= @order.shipping_name %> - <%= @order.shipping_address %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
