<div class="row">
  <div class="col-md-12">

    <h2> Order Details </h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="80%">Items</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>

        <% @item_lists.each do |item_list| %>
          <tr>
            <td>
              <%= item_list.item_name %>
            </td>
            <td>
              <%= item_list.item_price %>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>

    <div class="total clearfix">
      <span class="pull-right">
        SUM RMB ￥<%= @order.total %>
      </span>
    </div>

     <hr>

     <h2> Names and Addresses </h2>

     <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <td>
            Billing
          </td>
        </tr>
        <tr>
          <td>
            <%= @order.billing_name %> - <%= @order.billing_address %>
          </td>
        </tr>
        <tr>
          <td>
            Shipping
          </td>
        </tr>
        <tr>
          <td>
            <%= @order.shipping_name %> - <%= @order.shipping_address %>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="pull-right">

      <% if @order.is_paid = false %>

        <%= link_to("WeChat", pay_with_wechat_order_path(@order), method: :post, class:"btn btn-lg btn-success") %>

        <%= link_to("AliPay", pay_with_alipay_order_path(@order), method: :post, class:"btn btn-lg btn-success" ) %>

      <% else %>

        <h2>
          The order is paid by <%= @order.payment_method %>.

        </h2>

      <% end %>
    </div>


  </div>
</div>
