<div class="row">
  <div class="col-md-12">

    <h2> 订单明细 </h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="80%">商品明细</th>
          <th>单价</th>
        </tr>
      </thead>
      <tbody>

        <% @product_lists.each do |product_list| %>
          <tr>
            <td>
              <%= product_list.product_name %>
            </td>
            <td>
              <%= product_list.product_price %>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>

    <div class="total clearfix">
      <span class="pull-right">
        总计 <%= @order.total %> CNY
      </span>
    </div>

     <hr>

     <h2> 寄送资讯 </h2>

     <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <td>
            订购人
          </td>
        </tr>
        <tr>
          <td>
            <%= @order.billing_name %> - <%= @order.billing_address %>
          </td>
        </tr>
        <tr>
          <td>
            收件人
          </td>
        </tr>
        <tr>
          <td>
            <%= @order.shipping_name %> - <%= @order.shipping_address %>
          </td>
        </tr>
      </tbody>
    </table>
    <h5>订单状态</h5>
    <h5>
      <% case @order.aasm_state %>
        <% when 'order_placed' %>
          <i class="fa fa-gavel" aria-hidden="true"> 已下订 </i>
        <% when 'paid' %>
          <i class="fa fa-money" aria-hidden="true"> 已付款 </i>
        <% when 'shipping' %>
          <i class="fa fa-trunk" aria-hidden="true"> 出货中 </i>
        <% when 'shipped' %>
          <i class="fa fa-square" aria-hidden="true"> 到货 </i>
        <% when 'order_cancelled' %>
          <i class="fa fa-close" aria-hidden="true"> 已取消 </i>
        <% when 'good_returned' %>
          <i class="fa fa-reply" aria-hidden="true"> 已退货 </i>
        <% else %>
          <i class="fa fa-question" aria-hidden="true"> 无状态 </i>
      <% end %>
    </h5>

    <div class="group pull-right">
    <% if !@order.is_paid %>
      <%= link_to("以支付宝支付", pay_with_alipay_order_path(@order.token),:method => :post, class: "btn btn-primary") %> 
      <%= link_to("以微信支付",pay_with_wechat_order_path(@order.token),:method => :post, class: "btn btn-success") %>      
    <% end %>

    <!-- 管理员可以取消订单 -->
    <% if current_user.admin? &&  (@order.aasm_state == 'order_placed' || @order.aasm_state == 'paid' )%>
    <%= link_to('取消订单',order_to_cancell_admin_order_path(@order.token),:method => :put,class: "btn btn-lg btn-danger") %>
    <% end %>

    </div>

  </div>
</div>