<div class="row">
  <div class="col-md-12">

    <h2> Product List </h2>
    <span class="pull-right">
      <% if @order.is_paid %>
      <label class="label label-success"> Paid </label>
      <% else %>
      <label class="label label-warning"> Unpaid </label>
      <% end %>
    </span>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="80%"> Goods List </th>
          <th> Unit Price </th>
          <th> Quantity </th>
        </tr>
      </thead>
      <tbody>

        <% current_cart.cart_items.each do |cart_item| %>
                  <tr>
                    <td>
                      <%= link_to(cart_item.product.title, product_path(cart_item.product)) %>
                    </td>
                    <td>
                      <%= cart_item.product.price %>
                    </td>

                    <td>
                      <%= cart_item.quantity %>
                    </td>

                  </tr>
                <% end %>
      </tbody>
    </table>

    <div class="total clearfix">
      <span class="pull-right">
        Total <%= @order.total %> USD
      </span>
    </div>

    <hr>

    <h2> Order Information </h2>
    <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <td>
            Order Person
          </td>
        </tr>
        <tr>
          <td>
            <%= @order.billing_name %> - <%= @order.billing_address %>
          </td>
        </tr>
        <tr>
          <td>
            Receiver
          </td>
        </tr>
        <tr>
          <td>
            <%= @order.shipping_name %> - <%= @order.shipping_address %>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<div class="group pull-right">
  <%= link_to("Pay by Alipay", pay_with_alipay_order_path(@order), :method => :post, :class => "btn btn-danger" )%>
  <%= link_to("Pay by Wechat", pay_with_wechat_order_path(@order), :method => :post, :class => "btn btn-danger") %>
  <%= link_to("Cancelled", cancel_order_path(@order), :method => :post, :class => "btn btn-danger")%>
</div>
