<h2> 答案库 </h2>
<div class="pull-right" style="padding-bottom: 20px;">
  <%= link_to("新增答案", new_admin_answer_path, class: "btn btn-primary btn-sm") %>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>正确答案</th>
      <th>答案解析</th>
      <th width="100"> Options </th>
    </tr>
  </thead>
  <tbody>
    <% @answers.each do |answer| %>
    <tr>
      <td>
        <%= link_to answer.id, admin_answer_path(answer) %>
      </td>
       <td>
         <%= answer.true_answer%>
       </td>
       <td>
         <%= answer.description %>
       </td>
       <td>
         <%= link_to("Edit", edit_admin_answer_path(answer)) %> |
         <%= link_to("Delete", admin_answer_path(answer), method: :delete, data: { confirm: "Are your sure?" }) %>
       </td>
     </tr>
     <% end %>
   </tbody>
 </table>
