<h1> Edit a post </h1>

<%= simple_form_for [:admin,@post] do |f| %>

<%= f.input :title %>
<%= f.input :description, as: :ckeditor %>
<%= f.input :contact_email %>
<%= f.input :is_hidden %>
<div class="group">
        <%= select_tag(:category_id, options_for_select(@categories), :prompt => "Category") %>
    </div>

  <%= f.submit "Submit" %>
<% end %>
