<div class="pull-right">
  <%= link_to("Add a post", new_admin_post_path, :class => "btn btn-default" ) %>
</div>

<br><br>

<table class="table table-boldered">
  <thead>
        <tr>
            <td>
                职缺
            </td>

            <td>
              收到报告数量
            </td>
            <td>
                管理选项
            </td>
            <td>
                刊登时间
            </td>
        </tr>
    </thead>
  <% @posts.each do |post| %>
  <tr>
    <td>
       <%= render_post_status(post) %>
      <%= link_to(post.title, admin_post_path(post)) %>
    </td>
    <td> <%= link_to(post.reports.count, admin_post_reports_path(post)) %> </td>
    <td>
      <%= link_to("Edit", edit_admin_post_path(post)) %>
      |
      <%= link_to("Destroy", admin_post_path(post), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
      |
      <% if post.is_hidden %>

     <%= link_to("Publish", publish_admin_post_path(post),  :method => :post, :class => "btn btn-xs btn-default") %>
     <% else %>
     <%= link_to("Hide", hide_admin_post_path(post),  :method => :post,  :class => "btn btn-xs btn-default") %>
     <% end %>
    </td>
    <td>
      <%= post.created_at %>
    </td>
  </tr>
  <% end %>
</table>
