<tr>
	<td>
		<%= link_to product_path(cart_item.product)  do %>
		<% if cart_item.product.image.present? %>
		<%= image_tag(cart_item.product.image.thumb.url, class: "thumbnail") %>
		<% else %>
		<%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
		<% end %>
		<% end %>
	</td>

	<td>
		<%= link_to(cart_item.product.title,product_path(cart_item.product)) %>
	</td>
	<td>
		<%= cart_item.product.price  %>
	</td>
	<td>
		<%= cart_item.quantity  %>
	</td>
</tr>