<tr>
  <td><input type="checkbox" name="itemid" value="<%= item.id %>"></td>
  <td><%= image_tag item.product.image.thumb %></td>
  <td><%= item.product.description %></td>
  <td><%= item.product.price %></td>
  <td>
    <% if item.quantity >= 2 %>
      <%= link_to("-", down_cart_item_count_cart_path(item), class: "btn btn-default btn-xs", method: :post) %>
    <% else %>
      <%= link_to("-", "#", class: "btn btn-default btn-xs", disabled: "disabled") %>
    <% end %>
    <span><%= item.quantity %></span>
    <% if item.quantity < item.product.quantity   %>
      <%= link_to("+", up_cart_item_count_cart_path(item), class: "btn btn-default btn-xs", method: :post) %>
    <% else %>
      <%= link_to("+", "#", class: "btn btn-default btn-xs", disabled: "disabled") %>
    <% end %>
    <%= link_to("del", del_cart_items_carts_path(:itemids => item.id), class: "btn btn-danger", method: :post )%>
  </td>
</tr>
