<div class="container">
<div class="row">
   <div class="col-md-12">

    <h2> 购物明细 </h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>商品</th>
          <th>名称</th>
          <th>单价</th>
          <th>数量</th>
          <th>小计</th>
        </tr>
      </thead>
      <tbody>

        <% current_cart.cart_items.each do |cart_item| %>
          <tr>
            <td>
              <%= link_to product_path(cart_item.product) do %>
                <% if cart_item.product.photos.present? %>
                  <%= image_tag(cart_item.product.photos[0].image.thumb.url, class: "thumbnail") %>
                <% else %>
                  <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
                <% end %>
              <% end %>
            </td>
            <td>
              <%= link_to(cart_item.product.title, product_path(cart_item.product)) %>
            </td>
            <td>
              <%= cart_item.product.price %>RMB
            </td>
            <td>
              <%= cart_item.quantity %>
            </td>

            <td>
              <%= cart_item.quantity * cart_item.product.price %>RMB
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>

    <div class="total clearfix">
      <span class="pull-right">
        总计 <%= render_cart_total_price(current_cart) %> RMB
      </span>
    </div>

    <hr>

    <h2 class="text-center"> 订单资讯 </h2>

    <div class="col-md-6 col-md-offset-3">
      <div class="order-form">
        <%= simple_form_for @order do |f| %>

          <legend> 订购人</legend>
          <div class="form-group">
            <%= f.input :billing_name ,label: "订购人姓名" %>
          </div>
          <div class="form-group">
            <%= f.input :billing_phone ,label: "订购人电话" %>
          </div>
          <div class="form-group ">
            <%= f.input :billing_address ,label: "订购人详细地址" %>
          </div>
          <div class="city-group">
            <%= f.select :billing_province,  ChinaCity.list.unshift(["--省份--", 230000]), {}, class: "city-select "%>
            <%= f.select :billing_city,      ChinaCity.list(f.object.province).presence || [["--城市--", 230900]],    {}, class: "city-select " %>
            <%= f.select :billing_district,  ChinaCity.list(f.object.city).presence     || [["--地区--", 230903]],    {}, class: "city-select " %>
          </div>

          </div>


          <hr>

          <legend> 收货人</legend>
          <div class="form-group ">
           <%= f.input :shipping_name ,label: "收货人姓名" %>
          </div>
          <div class="form-group">
            <%= f.input :shipping_phone ,label: "收货人电话" %>
          </div>
          <div class="form-group ">
            <%= f.input :shipping_address ,label: "收货人详细地址" %>
          </div>
          <div class="city-group">
            <%= f.select :province,  ChinaCity.list.unshift(["--省份--", 230000]), {}, class: "city-select "%>
            <%= f.select :city,      ChinaCity.list(f.object.province).presence || [["--城市--", 230900]],    {}, class: "city-select " %>
            <%= f.select :district,  ChinaCity.list(f.object.city).presence     || [["--地区--", 230903]],    {}, class: "city-select " %>
          </div>


          <div class="checkout">
            <%= f.submit "生成订单", class: "btn btn-lg btn-danger pull-right",
                         data: { disable_with: "Submitting..." } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
