<br>
<div class="row">
  <div class="container">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading" align="center">
                  <h2> 購物明细 </h2>
        </div>
              <div class="panel-body">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th width="80%">商品明细</th>
                        <th>單價</th>
                        <th>數量</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% current_cart.cart_items.each do |cart_item| %>
                        <tr>
                          <td>
                            <%= link_to(cart_item.product.title, product_path(cart_item.product)) %>
                          </td>
                          <td>
                            <%= cart_item.product.price %>
                          </td>
                          <td>
                            <%= cart_item.quantity %>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                  <div class="total clearfix">
                    <span class="pull-right">
                      總計 NT$ <%= render_cart_total_price(current_cart) %> 元
                    </span>
                  </div>
                  <hr>
                  <h2> 訂單資訊 </h2>
                  <div class='order-form'>
                      <%= simple_form_for @order do |f| %>
                        <legend>購買人</legend>
                        <div class='form-group col-lg-6'>
                            <%= f.input :billing_name, placeholder: '請輸入購買人姓名', input_html: {value: current_user.name}, :label => '姓名'  %>
                        </div>
                        <div class='form-group col-lg-6'>
                            <%= f.input :billing_address, placeholder: '請輸入購買人帳單地址', input_html: {value: current_user.address}, :label => '地址'  %>
                        </div>
                        <legend>收貨人</legend>
                        <div class='form-group col-lg-6'>
                            <%= f.input :shipping_name, placeholder: '請輸入收貨人姓名', input_html: {value: current_user.name}, :label => '姓名'  %>
                        </div>
                        <div class='form-group col-lg-6'>
                            <%= f.input :shipping_address, placeholder: '請輸入收貨人帳單地址', input_html: {value: current_user.address}, :label => '地址'  %>
                        </div>
                        <div class='checkout'>
                          <%= f.submit '生成訂單', class: 'btn btn-lg btn-danger pull-right', data: { disable_with: 'Submitting...' } %>
                        </div>
                      <% end %>
                  </div>
                </div>
          </div>
       </div>
    </div>
</div>
