<div class="row">
  <div class="col-md-12">
    <h2>购物明细</h2>
    <table class="table table-bordered table-striped">
      <tr>
        <td>Title</td>
        <td>Quantity</td>
        <td>Price</td>
        <td>Totle</td>
      </tr>
      <% current_cart.cart_items.each do |c1| %>
        <tr>
          <td><%= c1.product.title %></td>
          <td><%= c1.quantity %></td>
          <td><%= c1.product.price %></td>
          <td><%= c1.quantity * c1.product.price  %></td>
        </tr>
      <% end %>
    </table>

    <div class="total clearfix">
      <span class="pull-right">
        总计 <%= render_cart_total_price(current_cart) %> ￥
      </span>
    </div>

    <hr>

    <h2>订单信息</h2>
    <div class="order-form">
    <%= simple_form_for @order do |o| %>
      <legend> 订购人</legend>
      <div class="form-group col-lg-6">
        <%= o.input :billing_name  %>
      </div>
      <div class="form-group col-lg-6">
        <%= o.input :billing_address  %>
      </div>

      <legend> 收货人</legend>
      <div class="form-group col-lg-6">
        <%= o.input :shipping_name  %>
      </div>
      <div class="form-group col-lg-6">
        <%= o.input :shipping_address  %>
      </div>

      <div class="checkout">
        <%= o.submit "生成订单",
        class: "btn btn-danger pull-right", data: { disable_with: "Submitting..." } %>
      </div>
    <% end %>
    </div>
  </div>
</div>
