<div class="row">
  <div class="col-md-12">
    <h2>购物明细</h2>
    <table class="table">
      <thead>
        <tr>
          <th>商品明细</th>
          <th>单价</th>
          <th>数量</th>
        </tr>
      </thead>
      <tbody>
        <% current_cart.cart_items.each do |cart_item| %>
        <tr>
          <td><%= link_to(cart_item.product.title, product_path(cart_item.product)) %></td>
          <td><%= cart_item.product.price %></td>
          <td><%= cart_item.quantity %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="total pull-right">
      总计<%= current_cart.total_price %>RMB
    </div>

    <div class="checkout clearfix">
      <h2>订单信息</h2>
      <h3>订购人</h3>
      <%= simple_form_for @order do |f| %>
      <%= f.input :billing_name %>
      <%= f.input :billing_address %>
      <h3>收货人</h3>
      <%= f.input :shipping_name %>
      <%= f.input :shipping_address %>
      <%= f.submit "生成订单", data: {disable_with: "Submitting..."}, class: "btn btn-danger pull-right" %>
      <% end %>
    </div>

  </div>
</div>
