<div class="row">
  <div class="col-md-12">
    <h2> 购物明细 </h2>

    <h4> 您的私厨 <img src='<%= image_url 'chef.png' %>'>
        <%= link_to(@chef.name, chef_path(@chef), :style => "color: #801815; text-decoration: underline;") %>
        <img src='<%= image_url 'mobile-phone.png' %>'> <%= @chef.phone %>
        <br>
        预约时间 <img src='<%= image_url 'calendar.png' %>'> <%= current_cart.book_date %>
    </h4>
    <div>

    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="80%">菜品明细</th>
          <th>菜式</th>
          <th>单价</th>
          <th>数量</th>
        </tr>
      </thead>
      <tbody>
        <% current_cart.cart_items.each do |cart_item| %>
          <% if !cart_item.product.is_hidden %>
          <tr>
            <td>
              <%= link_to(cart_item.product.title, product_path(cart_item.product)) %>
            </td>
            <td>
              <%= cart_item.product.style %>
            </td>
            <td>
              <%= cart_item.product.price %>
            </td>
            <td>
              <%= cart_item.quantity  %>
            </td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <div class="total clearfix">
      <span class="pull-right">
        总计 <%= render_cart_total_price(current_cart) %> RMB
      </span>
    </div>

    <hr>

    <h2> 订单资讯 </h2>

    <div class="order-form">
      <%= simple_form_for @order do |f| %>
        <legend> 订购人 </legend>
        <div class="form-group col-lg-6">
          <%= f.input :billing_name %>
        </div>
        <div class="form-group col-lg-6">
          <%= f.input :billing_address %>
        </div>

        <legend> 收货人 </legend>
        <div class="form-group col-lg-6">
          <%= f.input :shipping_name %>
        </div>
        <div class="form-group col-lg-6">
          <%= f.input :shipping_address %>
        </div>

        <div class="checkout">
          <%= f.submit "生成订单", class: "btn btn-lg btn-danger pull-right",
                      data: { disable_with: "Submitting..." } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
