<div class="container">
  <div class="col-md-12">
    <h3>購物車</h3>
    <p>您的購物車目前共有
      <span class="badge" style="background-color: #77cde3;font-size:13px;vertical-align:center;">
        <%= current_cart.products.count %>
      </span>  個商品。
    </p>
    <hr>
    <div class="col-sm-8 col-md-8 padding-bottom-2x">
      <div class="shopping-cart">
        <% current_cart.cart_items.each do |cart_item| %>
          <div class="item">
            <%= link_to product_path(cart_item.product),class: "item-thumb" do %>
               <% if cart_item.product.main_product_image.present? %>
                  <img src=<%= cl_image_path(cart_item.product.main_product_image.image.url) %>>
              <% else %>
                <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
              <% end %>
            <% end %>
            <div class="item-details">
                <p class="item-title">
                  <%= link_to(cart_item.product.title, product_path(cart_item.product)) %>
                </p>
                <p class="item-price">
                  ¥ <%= cart_item.product.price %>
                </p>
            </div>
            <div class="count-input">
              <%= link_to("-", remove_quantity_cart_item_path(cart_item.product_id), class: "incr-btn", method: :post) %>
              <input class="quantity" type="text" value="<%= cart_item.quantity %>">
              <%= link_to("+", add_quantity_cart_item_path(cart_item.product_id), class: "incr-btn", method: :post) %>
            </div>
            <div class="row">
                <%= link_to cart_item_path(cart_item.product_id), class: "item-remove btn btn-xs  btn-danger", :data => { :confirm => "確認要將該商品移出購物車嗎？" } ,method: :delete do %>
                <i class="fa fa-trash-o fa-fw"></i>
                <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <!-- Sidebar -->
    <div class="col-md-3 col-md-offset-1 col-sm-4 padding-bottom-2x">
      <aside>
        <h3 class="toolbar-title">總價:</h3>
        <h4 class="amount">NT$ <%= render_cart_total_price(current_cart) %></h4>
        <p class="tips">* 確認購買商品無誤後，前往結帳頁填寫寄送資料</p>
        <% if current_cart.products.count > 0 %>
        <%= link_to("清空購物車", clean_carts_path, method: :delete, class: "btn btn-info btn-block", data: {confirm: "Are you sure to clean the cart?"}) %>
        <%= link_to("結帳", checkout_carts_path, method: :post, class: "btn btn-danger btn-block") %>
        <% end %>

      </aside>
    </div>
  <!-- Sidebar -->
  </div>
</div>
