<div class="row">
  <div class="col-md-12">

    <h2> Cart </h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2"> Description </th>
          <th> Unit Price </th>
          <th> Quantity </th>
          <th> Amount </th>
          <th> Option </th>
        </tr>
      </thead>
      <tbody>

        <% current_cart.cart_items.each do |cart_item| %>
        <tr>
          <td>
            <%= link_to product_path(cart_item.product) do %>
            <% if cart_item.product.attachment.present? %>
            <%= image_tag(cart_item.product.attachment.thumb.url, class: "thumbnail", style: "width:100px") %>
            <% end %>
            <% end %>
          </td>
          <td>
            <%= link_to(cart_item.product.title, product_path(cart_item.product)) %>
          </td>
          <td>
            <%= cart_item.product.price %>
          </td>
          <td>
            <%= link_to '-1', minus_an_item_cart_item_path(cart_item), class: "btn btn-default", method: :post %>
            <%= cart_item.quantity %>
            <%= link_to '+1', add_an_item_cart_item_path(cart_item), class: "btn btn-default", method: :post %>
          </td>
          <td>
            <%= sum = number_with_precision(cart_item.quantity * cart_item.product.price, :precision => 2 ||0) %>
          </td>
          <td>
            <%= link_to("Delete", delete_one_item_cart_path(cart_item), method: :post, :data => { :confirm => "Are you sure?" }, :class => "btn btn-xs btn-default")%>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <div class="total clearfix">
      <span class="pull-right">
        <span>
          Total Qty: <%= render_cart_total_quantity(current_cart) %> PC
        </span>
        <br>
        <span>
          <%#= f.text_field :cost, :class => 'cost', :value => (number_with_precision(f.object.cost, :precision => 2) || 0) %>
          Total Price: <%= number_with_precision(render_cart_total_price(current_cart), :precision => 2 || 0) %> USD
        </span>
      </span>
    </div>

    <hr>

    <div class="checkout clearfix">
      <%= link_to("Empty Cart", cart_path(current_cart), method: :delete, :data => { :confirm => "Are you sure?" }, class: "btn btn-lg btn-info pull-left") %>
      <%= link_to("Confirm", checkout_carts_path, method: :post, class: "btn btn-lg btn-danger pull-right") %>
    </div>
  </div>
</div>
