<div class="row">
  <div class="col-md-12">

    <h2>购物车</h2>
    <table class="table table_bordered">
      <thead>
        <tr>
          <th cospan="2">图片</th>
          <th >名称</th>
          <th>单价</th>

          <th>数量</th>
        </tr>
      </thead>
      <tbody>
        <% current_cart.cart_items.each do |cart_item| %>
        <tr>
          <td>
            <%= link_to product_path(cart_item.product) do %><!--这里后面一段是link_to加的内容-->
              <% if cart_item.product.image.present?%>
              <%= image_tag(cart_item.product.image.mini.url, class: "thumbnail")%>
              <% end %>
            <% end %>
          </td>
          <td>
            <%= link_to(cart_item.product.title, product_path(cart_item.product))%>
          </td>
          <td>
            <%= link_to(cart_item.product.price, product_path(cart_item.product))%>
          </td>
          <td>
           <%= link_to("+1",add_item_cart_item_path(cart_item), method: :post, class: "btn btn-success btn-sm ")%>
           <%= cart_item.quantity %>
           <%= link_to("-1",des_item_cart_item_path(cart_item), method: :post, class: "btn btn-success btn-sm ")%>
          </td>
          <td>
            <%= link_to("删除", cart_item_path(cart_item), :method => :delete, :data =>{:confirm => "are you sure?"})%>
            </td>
        </tr>
        <% end %>
      </body>
    </table>
    <br>
    <div class="total clearfix">
      <span class="pull-right">
        <span>
          总计<%=render_cart_total_price(current_cart)%>RMB
        </span>
      </span>
    </div>
    <hr>
    <div class="checkout clearfix">
      <%= link_to("确认结账", checkout_carts_path, method: :post, class: "btn btn-sm btn-info btn-info")%>
        <%= link_to("删除所有", clear_cart_item_path(current_cart), method: :post, class: "btn btn-default btn-sm btn-warning") %>
    </div>
     </div>
</div>
