<div style="margin-top: 0px;">
<br><br>
<div class="col-md-9 col-centered">
  <div class="panel">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span class="pull-right btn btn-md btn-warning">
          <%= link_to("清空购物车", clean_carts_path ,
                  method: :delete , class: "pull-right",
                  data: { confirm: "你确定要清空整个购物车吗？"} )%>
        </span>
      </h3>
    </div>
    <div class="panel-body">

      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th colspan="2">商品名</th>
            <th>单价</th>
            <th>数量</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <% current_cart.cart_items.each do |cart_item| %>
            <tr>
              <td>
                <%= link_to product_path(cart_item.product) do %>
                  <% if cart_item.product.image.present? %>
                    <%= image_tag(cart_item.product.image.thumb.url, class: "thumbnail") %>
                  <% else %>
                    <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
                  <% end %>
                <% end %>
              </td>
              <td>
                <%= link_to(cart_item.product.name, product_path(cart_item.product)) %>
              </td>
              <td>
                <%= cart_item.product.price %>
              </td>
              <td>
                <%= form_for cart_item, url: cart_item_path(cart_item.product_id) do |f| %>
                  <%= f.select :quantity, 1..cart_item.product.stock, class: "form-control" %>
                  <%= f.submit "更新", class: "btn btn-primary pull-right", data: { disable_with: "提交中..."} %>
                <% end %>
              </td>
              <td>
                <%= link_to cart_item_path(cart_item.product_id), method: :delete do %>
                  <i class="fa fa-trash"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
        </table>

      <br>

      <div class="total clearfix">
        <span class="pull-right">
          <span><strong>
            总计 <%= render_cart_total_price(current_cart) %> RMB</strong>
          </span>
        </span>
      </div>
      <hr>
      <div class="checkout clearfix">
        <%= link_to("确认结账", checkout_carts_path, method: :post, class: "btn btn-danger pull-right")%>
      </div>
    </div>
  </div>
</div>
</div>
