<div class="row">
<div class="col-md-12">
<%= link_to("Clean Cart",clean_carts_path,
			method: :delete, class: "pull-right btn btn-danger btn-lg",
			data: {confrim: "Are you sure ?"} )%>
	<h2>Cart</h2>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="2">Product Info</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Options</th>
			</tr>
		</thead>
		<tbody>
		<% current_cart.cart_items.each do |cart_item| %>
			<tr>
				<td><%= show_product_image(cart_item.product)  %></td>
				<td><%= link_to(cart_item.product.title,product_path(cart_item.product)) %></td>
				<td><%= cart_item.product.price %></td>
				<td><%= cart_item.quantity %></td>
				<td>
					<%= link_to cart_item_path(cart_item.product),method: :delete do%>
						<i class="fa fa-trash"></i>
					<% end %>
				</td>
			</tr>
		<% end %>
			
		</tbody>
	</table>
	<br>
	<div class="total clearfix">
		<span class="pull-right">
			<span>Total <%= current_cart.total_price  %> RMB</span>
		</span>
	</div>
	<hr>
	<div class="checkout clearfix">
		<%= link_to("Confirm","#", method: :post, class: "btn btn-lg btn-danger pull-right") %>
	</div>
</div>
	
</div>