<div class="row">
  <div class="col-md-12">

    <h4> 购物车 </h4>

    <div class="checkout clearfix">
      <%= link_to("清空购物车", clear_cart_cart_path(current_cart), method: :post, class: "btn btn-sm btn-danger pull-right") %>
    </div>
    <br/>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">商品信息</th>
          <th>单价</th>
          <th>数量</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>

        <% current_cart.cart_items.each do |cart_item| %>
          <tr>
            <td>
              <%= link_to product_path(cart_item.product) do %>
                <% if cart_item.product.image.present? %>
                  <%= image_tag(cart_item.product.image.mini.url, class: "thumbnail") %>
                <% else %>
                  <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
                <% end %>
              <% end %>
            </td>
            <td>
              <%= link_to(cart_item.product.title, product_path(cart_item.product)) %>
            </td>
            <td>
              <%= cart_item.product.price %>
            </td>
            <td>
              <%= link_to("-1", change_quantity_cart_item_path(cart_item,addOrRM: "-"),method: :post,class: "btn btn-xs btn-default") %>
               <%= cart_item.quantity %>
               <%= link_to("+1", change_quantity_cart_item_path(cart_item,addOrRM: "+"),method: :post,class: "btn btn-xs btn-default") %>
            </td>
            <td>
              <%= link_to("Delete", cart_item_path(cart_item), class: "btn btn-sm btn-default",method: :delete, data: { confirm: "Are you sure?" } ) %>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>

    <br>

    <div class="total clearfix">
      <span class="pull-right">
         <span>
           总计<%= render_cart_total_price(current_cart) %>元
          <!-- <% sum=0 %>
          <% current_cart.cart_items.each do |cart_item| %>
            <% sum = sum + cart_item.quantity * cart_item.product.price %>
          <% end %>
          总计<%= sum %>元 -->
         </span>
      </span>
    </div>

    <hr>

    <div class="checkout clearfix">
      <%= link_to("确认结账", checkout_carts_path, method: :post, class: "btn btn-lg btn-danger pull-right") %>
    </div>
  </div>
</div>
