<div class="row">
  <div class="col-md-12">

    <h2> 購物車 </h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">商品資訊</th>
          <th>單價</th>
          <th>數量</th>
        </tr>
      </thead>

      <tbody>

        <% current_cart.cart_items.each do |cart_item| %>
          <tr>
            <td>
              <%= render_thumb_image_link(cart_item.item) %>
            </td>
            <td>
              <%= link_to(cart_item.item.title, item_path(cart_item.item)) %>
            </td>
            <td>
              <%= cart_item.item.price %>
            </td>
            <td>
              <%= cart_item.quantity %>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>

    <br>

    <div class="total clearfix">
      <span class="pull-right">
         <span> 總計 <%= render_cart_total_price(current_cart) %> RMB  </span>
      </span>
    </div>

    <hr>

    <div class="checkout clearfix">
      <%= link_to("確認結賬", "#", method: :post, class: "btn btn-lg btn-danger pull-right") %>
    </div>
  </div>
</div>