<div class="col-sm-12 col-md-12 col-lg-12" style="margin-bottom:15px">
  <h1>Cart </h1>
  <!-- del_all_cart_item_cart_path(current_cart) -->

  <%= simple_form_for @cart, :url => del_cart_items_carts_path(), :method => :post do |f| %>
    <input type="hidden" name="itemids" id="itemids">
    <input type="checkbox" name="name" id="checkAll"> 全选
    <%= f.submit "Del All", class: "btn btn-danger", id: "delitem" ,data: {disable_with: "Submitting..."}%>
  <% end %>
</div>
<div class="col-sm-12 col-md-12 col-lg-12">
  <input type="hidden" name="item_ids" id="item_ids">
  <table class="table table-bordered">
    <thead>
      <tr>
        <td>#</td>
        <td>Title</td>
        <td>Description</td>
        <td>Price</td>
        <td>Quantity</td>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "cart_items", collection: @cart_items, as:"item" %>
    </tbody>
  </table>
</div>
<div class="col-sm-12 col-md-12 col-lg-12 text-right" style="margin-bottom:15px">
  <p>
      总计：$ <%= render_cart_total_price(current_cart) %>
  </p>
  <%= link_to("Proceed to checkout", "#", class: "btn btn-danger")%>
</div>
<script>
  $(function() {
    checkAll();
    delItem();

  });

  function delItem() {
    var itemids = [];
    $("#delitem").click(function() {
      $("input[name='itemid']:checkbox").each(function() {
        if(this.checked) {
          itemids.push($(this).val());
        }
      })
      $("#itemids").val(itemids);
    })
  }

  function checkAll() {
    $("#checkAll").click(function() {
      if (this.checked) {
        $("input[name='itemid']:checkbox").each(function() {
          $(this).prop("checked", true);
        })
      } else {
        $("input[name='itemid']:checkbox").each(function() {
          $(this).prop("checked", false);
        })
      }
    })
  }
</script>
