<div class="">
  <% if current_cart.products.count == 0 %>
  <img src="https://ooo.0o0.ooo/2017/02/12/589f491051f06.jpg" class="center-block">
  <h1 class="text-center">购物车空空如也，购物车君表示很伤心……</h1>
  <% else %>
  <h2> 购物车 </h2>
  <hr>
  <div class="col-md-12">
    <div class="col-md-8">
    <table class="table table-striped panel1">
      <thead>
        <tr>
          <th colspan="2">商品资讯</th>
          <th>单价</th>
          <th>数量</th>
          <th>操作选项 </th>
        </tr>
      </thead>
      <tbody>

        <% current_cart.cart_items.each do |cart_item| %>
          <tr>
            <td>
              <%= link_to product_path(cart_item.product) do %>
                 <% if cart_item.product.photos[0].present? %>
                  <%= image_tag(cart_item.product.photos[0].avatar.thumb.url, class: "thumbnail") %>
                <% else %>
                  <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
                <% end %>
              <% end %>
            </td>
            <td>
              <%= link_to(cart_item.product.title, product_path(cart_item.product)) %>
            </td>
            <td>
              <%= cart_item.product.price %>
            </td>
            <td>
              <span class="count-input">
                <%= link_to("-", remove_quantity_cart_item_path(cart_item.product_id), class: " btn", method: :post) %>
                <%= cart_item.quantity %>
                <%= link_to("+", add_quantity_cart_item_path(cart_item.product_id), class: " btn", method: :post) %>
              </span>
            </td>
            <td>
              <%= link_to cart_item_path(cart_item.product_id), method: :delete do %>
                <img src="https://ooo.0o0.ooo/2017/02/10/589d4a05a0ee8.png" class="highlight"></img>
              <% end %>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>
    </div>

    <div class="col-md-4 panel1">

          <h3 class="toolbar-title">购物车总价:</h3>
          <h4 class="amount">¥ <%= render_cart_total_price(current_cart) %></h4>
          <p class="text-sm text-gray">* 若您想个性化定制跑车，请联系我们，我们将会给您提供最具性价比的定制方案。</p>

          <%= link_to("清空购物车", clean_carts_path, method: :delete, class: "btn btn-info btn-block", data: {confirm: "这么酷的车你忍心抛弃吗?"}) %>

          <%= link_to("结帐", checkout_carts_path, method: :post, class: "btn btn-danger btn-block") %>
          <br>
    </div>
    </div>
  <% end %>
</div>
<br>
<br>
