<div class="container">
  <div class="row">
    <div class="col-md-12">

      <h2>购物车</h2>

      <!-- 购物列表 -->
      <table class="table table-bordered">
        <thead>
          <tr>
            <th colspan='2'>商品资讯</th>
            <th>单价</th>
            <th>数量</th>
            <th>操作选项</th>
          </tr>
        </thead>
        <tbody>
          <% current_cart.cart_items.each do |cart_item| %>
            <tr>
              <td>
                <%= link_to product_path(cart_item.product) do%>
                  <% if cart_item.product.image.present? %>
                    <%= image_tag(cart_item.product.image.thumb.url, class: "thumbnail") %>
                  <% else %>
                    <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
                  <% end %>
                <% end %>
              </td>
              <td>
                <%= link_to(cart_item.product.title, product_path(cart_item.product)) %>
              </td>
              <td>
                <%= cart_item.product.price %>
              </td>
              <td>
                <%= cart_item.product.quantity %>
              </td>
              <td>
                <!-- 设立使用“link_to...do”的写法，可以将元素变为链接 -->
                <%= link_to cart_item_path(cart_item.product_id), method: :delete do%>
                  <i class="fa fa-trash"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <!-- 清空购物车 -->
      <%= link_to("清空购物车", clean_carts_path,
                  method: :delete, class: "pull-left btn btn-default",
                  data: { confirm: "你确定要清除购物车吗？"}) %>


      <!-- 合计详情 -->
      <div class="total clearfix">
        <span class="pull-right">
          总计：<%= render_cart_total_price(current_cart) %> RMB
        </span>
      </div>

      <hr>

      <!-- 提交按钮 -->
      <div class="checkout clearfix">
        <%= link_to("确认结账", "#", method: :post, class: "btn btn-danger pull-right") %>
      </div>

    </div>
  </div>
</div>
