<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="clean_carts">
        <span>
          <%= link_to("清空购物车", clean_carts_path ,
          method: :delete , class: "pull-right",
          data: { confirm: "你确定要清空整个购物车吗？"} )%>
        </span>
      </div>


      <div class="shoping-cart">
        <h2> 购物车 </h2>
        <div class="cart-column-head center-block">
          <label class="col-xs-2 product-image-cart">商品</label>
          <label class="col-xs-2 product-title-cart">名称</label>
          <label class="col-xs-2 product-price-cart">单价</label>
          <label class="col-xs-2 product-quantity-cart">数量</label>
          <label class="col-xs-2 product-line-price-cart">小计</label>
          <label class="col-xs-2 product-removal-cart">操作</label>
        </div>

        <% current_cart.cart_items.each do |cart_item| %>
        <div class="product-list row text-center cart-item-<%= cart_item.product_id%>">
          <div class="col-xs-2 product-image-cart">

              <%= link_to product_path(cart_item.product) do %>
              <%= image_tag(img430(cart_item.product,1), style: "width: 200px;") %>
              <% end %>
            </div>

            <div class="col-xs-2 product-title-cart2">
              <%= link_to(cart_item.product.title, product_path(cart_item.product)) %>
            </div>

            <div class="col-xs-2 product-title-cart">
            <%= cart_item.product.price %> RMB
          </div>
            <%# cart_item = current_cart.cart_items.find_by(product_id: cart_item.product_id) %>
            <div class="col-xs-2 product-title-cart">
              <%= form_for cart_item, url: cart_item_path(cart_item.product_id) do |f| %>
              <%= f.select :quantity, 1..cart_item.product.quantity %>
              <%= f.submit "更新", data: { disable_with: "Submiting..." } %>
              <% end %>
            </div>

            <div class="col-xs-2 product-title-cart">
              <%= cart_item.product.price * cart_item.quantity %> RMB
            </div>

            <div class="col-xs-2 product-title-cart">
              <%= link_to "Delete", cart_item_path(cart_item.product_id), :method => :delete, :remote => true, :class => "btn btn-danger" %>
            </div>
          </div>
          <hr>
          <% end %>
        </div>

        <div class="row">
          <div class="container">
            <span class="pull-right text-center product-price-totle">
              总计：<%= render_cart_total_price(current_cart) %> RMB
            </span>
          </div>

          <div class="container cart-buying-buttom">
            <% if !current_user %>
            <div class="checkout clearfix"><a class="btn btn-lg btn-danger pull-right" href="#" data-toggle="modal" data-target="#login-modal">确认结账</a></li>
            </div>
            <% else %>
            <div class="checkout clearfix">
              <%= link_to("确认结账", checkout_carts_path, method: :post, class: "btn btn-lg btn-danger pull-right") %>
            </div>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>
