<div style="margin-top:30px">
</div>
  <div class="pull-right">

  </div>
    <table class="table table-boldered">
      <h1> <%= current_user.user_name %>的订单</h1>
      <tHead>
        <tr>
          <td>商品图片</td>
          <td>商品名称</td>
          <td>商品数量</td>
          <td>商品价钱</td>
          <td>商品总价</td>
        </tr>
      </tbody>
        <% current_cart.cart_items.each do |cart_item| %>
        <tr>
          <td><img src="<%=cart_item.product.attachment.thumb%>" ></td>
          <td><%= cart_item.product.title %></td>
          <td><%= cart_item.quantity %></td>
          <td><%= cart_item.product.price %></td>
          <td><%= cart_item.product.price * cart_item.quantity %></td>
        </tr>
        <% end %>
      <tbody>

    </table>

    <div class="total clearfix">
      <span class="pull-right">
        <span> 总计: <%= render_cart_total_price(current_cart) %> RMB  </span>
      </span>
      </div>
      <div style="margin-top:30px">
      </div>
      <div class="checkout clearfix">
        <%= link_to("确认订单", checkout_shipping_cart_index_path, method: :post, class: "btn btn-lg btn-danger pull-right") %>
      </div>
      <div style="margin-top:30px">
    </div>
