
    <div class="box box-center">
      <div class="container-fluid sign-container">
        <div class="panel panel-success">
          <div class="panel-heading"><h1>欢迎光临 泰•开心</h1></div>
          <div class="panel-body" >邮箱登录</div>
        </div>

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
              <%= f.input :email, :label => "邮箱", placeholder: "邮箱地址", required: false, autofocus: true %>
              <%= f.input :password, :label => "密码", placeholder: "输入秘密", required: false %>
              <%= f.input :remember_me, :label => "记住我", as: :boolean if devise_mapping.rememberable? %>
           </div>
           <div class="footer text-center">
             <%= f.submit "登录", class: "btn btn-round btn-success"%>
           </div>
        <% end %>




    </div>

</div>
