<div class="row">
  <div class="col-md-12">
    <h2>
      Order Information<br>
      <small>
        <%= link_to("Order Link", order_url(@order.token)) %>
      </small>
    </h2>
    <table class="table">
      <thead>
        <tr>
          <th width="70%">Products List</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% @product_lists.each do |product_list| %>
        <tr>
          <td>
            <%= product_list.product_name %>
          </td>
          <td>
            <%= product_list.product_price %>
          </td>
          <td>
            <%= product_list.quantity %>
          </td>
          <td>
            小计 <%= product_list.quantity * product_list.product_price %> CNY
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <h3>总计 <%= @order.total %> CNY</h3>
    <hr/>
    <h2>Billing Information</h2>
    <p>
      Billing Name<br>
      <%= @order.billing_name %> - <%= @order.billing_address %><br>
      Shipping Name<br>
      <%= @order.shipping_name %> - <%= @order.shipping_address %>
    </p>
  </div>
</div>
