<div class="row">
  <div class="col-md-12">
    <h2>订单明细<br>
        <small>
        <%= link_to("订单连接", order_url(@order.token))%>
      </small>
    </h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="70%">商品明细 </th>
          <th width="100">单价</th>
          <th width="100">数量</th>
          <th width="100">小记</th>
        </tr>
      </thead>
      <tbody>
        <% @product_lists.each do |product_list| %>
          <tr>
            <td align="center">
              <%= product_list.product_name %>
            </td>
            <td align="center"><%=product_list.product_price %>  </td>
            <td align="center"><%=product_list.quantity%></td>
            <td align="center"><%=product_list.quantity * product_list.product_price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="total group clearfix">
      <h4 align="center">总计: <%= @order.total %> </h4>
    </div>
    <hr>
    <h2>寄送资讯</h2>
    <table >
      <tbody>
        <tr>
          <td>订购人</td>
        </tr>
        <tr>
           <td><%= @order.billing_name %> - <%= @order.billing_address %></td>
        </tr>
        <tr>
          <td>收件者</td>
        </tr>
        <tr>
          <td><%= @order.shipping_name %> - <%= @order.shipping_address %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
