<div class="row">
  <div class="col-md-12">
    <h2>
      下单成功！
      <br>
      <small>
      <%= link_to("订单链接",order_url(@order.token)) %>
      </small>
    </h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="70%">商品明细</th>
          <th>单价</th>
          <th>数量</th>
          <th>小计</th>
        </tr>
      </thead>
      <tbody>
      <% @product_lists.each do |product_list| %>
        <tr>
          <td><%= product_list.product_name %></td>
          <td><%= product_list.product_price %></td>
          <td><%= product_list.quantity %></td>
          <td><%= product_list.product_price * product_list.quantity %></td>
        </tr>
      <% end %>
      </tbody>
      <h2>总计： 
      <%= @order.total %>
      </h2>
    </table>

    <hr>
    <h2>邮寄信息</h2>
    <h6>订货人</h6>
    <p>
      <%= @order.billing_name %>
      -
      <%= @order.billing_address %>
    </p>
    <h6>收件人</h6>
    <p>
      <%= @order.shipping_name %>
      -
      <%= @order.shipping_address %>
    </p>
  </div>
</div>