<div class="row">
  <div class="col-md-12">
    <h2>
      <%= link_to("Order", order_url(@order.token)) %>
    </h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="70%">Products</th>
          <th>Price</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        <% @item_lists.each do |item_list| %>
        <tr>
          <td><%= item_list.item_name %></td>
          <td><%= item_list.item_price %></td>
          <td><%= item_list.quantity %></td>
        </tr>
        <% end %>
      </table>

      <div class="total clearfix">
        <span class="pull-right">
          SUM RMB ￥<%= @order.total %>
        </span>
      </div>

      <br>

      <h2>
        Billing and Shipping
      </h2>
      <p>

        <table class="table table-striped table-bordered">
         <tbody>
           <tr>
             <td>
               Billing
             </td>
           </tr>
           <tr>
             <td>
               <%= @order.billing_name %> - <%= @order.billing_address %>
             </td>
           </tr>
           <tr>
             <td>
               Shipping
             </td>
           </tr>
           <tr>
             <td>
               <%= @order.shipping_name %> - <%= @order.shipping_address %>
             </td>
           </tr>
         </tbody>
       </table>
     </div>
   </div>
