<div class="row">
    <div class="col-md-12">
        <h2>Order detail<br/>
            <small>
                <%= link_to("Your Order", order_url(@order.token)) %>
            </small>
        </h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th width="70%">Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>

                <% @product_lists.each do |product_list| %>
                <tr>
                    <td>
                        <%= product_list.product_name %>
                    </td>
                    <td>
                        <%= product_list.product_price %>
                    </td>
                    <td>
                        <%= product_list.quantity %>
                    </td>
                    <td>
                        <%= product_list.product_price * product_list.quantity %>
                    </td>
                </tr>
                <% end %>

            </tbody>

        </table>

        <h4>Total:
            <%= @order.total %>
            RMB</h4>

        <hr>
        <h2>Shipping</h2>
        <p>Billing Info<br/>

            <%= @order.billing_name %> - <%= @order.billing_address %><br/>

            Shipping Info<br/>

            <%= @order.shipping_name %>
            -
            <%= @order.shipping_address %>
        </p>
    </div>
</div>
