<div class="row">
    <div class="col-md-10">
        <h2>我收藏的商品</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th width="220">Product Pic</th>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <% @products.each do |product| %>
                    <tr>
                        <td>
                            <%= product.id %>
                        </td>
                        <td>
                            <%= link_to product_path(product) do %>
                                <% if product.image.present? %>
                                    <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
                                <% else %>
                                    <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
                                <% end %>
                            <% end %>
                        </td>
                        <td>
                            <%= product.title %>
                        </td>
                        <td>
                            <%= product.price %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
