<div class="col-md-5">
        <%= render_medium_image_link(@item) %>
</div>

<div class="col-md-2">
	<ul>
        <li><%= @item.title %></li>
        <li><%= @item.price %></li>
        <li><%= @item.quantity %></li>
    </ul>
</div>

<div class="col-md-3">
	<%= link_to("Add to Chart", add_to_cart_item_path(@item), method: :post, :class => "btn btn-default" ) %>
</div>