<div class="backend-main">
<h2 >Categories</h2>


<div class="backend-category pull-right" style="margin-bottom: 20px;">

      <%= link_to("新增产品", new_admin_product_path, class: "btn btn-primary btn-sm") %>



      <%=link_to '新增分类', new_admin_category_path, class: "btn btn-primary btn-sm"%>

</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Category Name</th>
      <th colspan=2 width="100">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td>
          <%= category.id %>
        </td>
        <td><%= link_to(category.name, admin_category_path(category)) %></td>
        <td>
          <%= link_to 'Edit', edit_admin_category_path(category) %>
          <%= link_to 'Destroy', admin_category_path(category), method: :delete, data: {
  confirm: 'Are you sure?'
} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
