<div>
  <div class="pull-right">
    <%= link_to "新建分類", new_admin_category_path, class: "btn btn-primary" %>
  </div>

  <h1>

  </h1>
    <% if @category %>
      分類：<%= @category.title %>(<%= @categories.total_entries %>)
    <% else %>
      分類(<%= @categories.total_entries %>)
    <% end %>
  </h1>
</div>

<div>
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>名稱</th>
      <th>權重</th>
      <th></th>
    </tr>

    <% @categories.each do |category| %>
    <tr>
      <td><%= category.id %></td>
      <td><%= category.title %></td>
      <td><%= category.weight %></td>
      <td align="right">
        <%= link_to "編輯", edit_admin_category_path(category) %>
        <%= link_to "刪除", admin_category_path(category), method: :delete, 'data-confirm': "確認刪除嗎?" %>
        <% if category.root? %>
          <%= link_to "查看子分類", admin_categories_path(id: category) %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>

  <%= will_paginate @categories %>
</div>
