<div>
  <h1><%= @category.new_record? ? "新建分類" : "修改分類 ##{params[:id]}"%></h1>
</div>

<div class="form-body">
  <%= form_for @category,
    url: (@category.new_record? ? admin_categories_path : admin_category_path(@category)),
    medthod: (@category.new_record? ? 'post' : 'put'),
    html: { class: 'form-horizontal' } do |f| %>

    <% unless @category.errors.blank? %>
      <div class="alert alert-danger">
        <ul class="list-unstyled">
          <% @category.errors.messages.values.flatten.each do |error| %>
            <li><i class="fa fa-exclamation-circle"></i> <%= error %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <label for="ancestry" class="col-sm-2 control-label">所屬分類:</label>
      <div class="col-sm-5">
        <select name="category[ancestry]">
          <option></option>
          <% @root_categories.each do |category| %>
            <% next if category == @category %>
            <option value="<%= category.id %>" <%= @category.ancestry == category.id.to_s ? 'selected' : ''%>><%= category.title %></option>
          <% end %>
        </select>
        為空為一級分類
      </div>
    </div>
    <div class="form-group">
      <label for="title" class="col-sm-2 control-label">名稱:*</label>
      <div class="col-sm-5">
        <%= f.text_field :title, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <label for="weight" class="col-sm-2 control-label">權重:</label>
      <div class="col-sm-5">
        <%= f.text_field :weight, class: "form-control" %> 數值愈大愈靠前
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-8">
        <%= f.submit (@category.new_record? ? "新建分類" : "編輯分類"), class: "btn btn-default" %>
      </div>
    </div>
    <% end %>
</div>
