<%= simple_form_for [:admin,@product] do |f| %>
  <div class="form-group">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :quantity %>
    <%= f.input :price %>
    <%= f.input :image %>
  </div>
  <%= f.submit "Create Product", data: { disable_with: "Submitting..." } %>
<% end %>
