<%= simple_form_for [:admin, @product] do |f| %>
<div class="form-group">
    <%= f.input :title, label: '商品名',input_html: { class: "form-control"} %>
    <%= f.input :description, label: '描述',input_html: { class: "form-control"} %>
    <%= f.input :image, label: '图片'%>

        <!-- 显示图判断 -->
        <% if no_pic?(@product) %>
          <img src="/nopic.png" alt="no picture" class="img-responsive">
        <% else %>
        <%= image_tag(@product.image.thumb.url, class: "thumbnail") %>
          <!-- <img src="<#%= @product.image %>" alt="<#%= @product.title %>" class="img-responsive"> -->
        <% end %>


    <%= f.input :quantity, label: '库存',input_html: { class: "form-control"} %>
    <%= f.input :price, label: '价格',input_html: { class: "form-control"} %>

</div>
<%= f.submit "提交", class: "btn btn-primary", data: { disable_with: "提交..." } %>
<% end %>