<%= simple_form_for [:admin, @product] do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :quantity %>
  <div class="form-group">
    <%= f.label "Images" %>
    <%= f.file_field :images, multiple: true %>
  </div>
  <%= render "images_preview" %>
  <%= link_to("取消", admin_products_path, class: "btn btn-default") %>
  <%= f.submit "保存", data: {disable_with: "正在保存..."}, class: "btn btn-success" %>
<% end %>
