<%= simple_form_for [:admin,@product] do |f| %>
  <div class="form-group">
    <%= f.input :title, input_html: { class: "form-control"} %>
    <%= f.input :description, input_html: { class:"form-control"} %>
    <%= f.input :quantity, input_html: { class:"form-control"} %>
    <%= f.input :price, input_html: { class:"form-control"} %>
    <% if @product.image.present? %>
      <span>目前商品图</span> <br/>
      <%= image_tag(@product.image.thumb.url) %>
    <% end %>
    <%= f.input :image, as: :file %>
  </div>
  <%= f.submit "Submit", class: "btn btn-primary", data: {disable_with: "Submitting..."}%>
<% end %>
