<tr>
  <td>#</td>
  <td><%= link_to(product.title, admin_product_path(product)) %></td>
  <td><%= render_product_description(product) %></td>
  <td><%= product.quantity %></td>
  <td><%= product.price %></td>
  <td>
    <%# if current_user && current_user == product.user %>
      <%= link_to("Edit", edit_admin_product_path(product), class: "btn btn-sm btn-default")%>
       |
      <%= link_to("Delete", admin_product_path(product),    class: "btn btn-sm btn-default",
                  method: :delete, data: { confirm: "Are you sure?" } )%>
    <%# end %>
  </td>
  <td><%= product.created_at %></td>

</tr>
