<div class="row">
  <% @products.each do |product| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
      <a href="<%= admin_product_path(product) %>"><img src="<%= product.image %>" alt="<%= product.title %>"></a>
        
        <div class="caption">
          <h3>￥<%= product.price %>.00</h3>
          <p><%= product.description %></p>
          <p><%= link_to('编辑',edit_admin_product_path(product),class: "btn btn-primary",role: "button") %> <%= link_to("删除", admin_product_path(product), :method => :delete, :data => { :confirm => "确定删除?" },class: "btn btn-primary",role: "button") %>
        </div>
      </div>
    </div>
  <% end %>
</div>