<h2>内容修改</h2>

<%= simple_form_for [:admin,@product] do |f| %>
  <%= f.input :title, :label => "名称" %>
  <%= f.input :description, :label => "简介" %>
  <%= f.input :quantity, :label => "库存" %>
  <%= f.input :price, :label => "单价" %>

  <% if @product.image.present? %>
    <span>目前的商品图</span> <br>
    <%= image_tag(@product.image.thumb.url)%>
  <% end %>
  <%= f.input :image, :label => "图像", as: :file%>

  <%= f.submit "提交修改后的信息", class: "btn btn-lg btn-primary",
      data: {disable_with: "提交等待中..."}%>
<% end %>
