<h2> 编辑商品</h2>
<%= simple_form_for [:admin, @product] do |f| %>
<%= f.input :title %>
<%= f.input :description %>
<%= f.input :quantity %>
<%= f.input :price %>
<% if @product.image.present? %>
<span>目前商品图</span> <br/>
<%= image_tag(@product.image.thumb.url) %>
<% end %>
<%= f.input :image, as: :file %>
<%= f.submit "Submit", data: {disable_with: "Submitting" }%>
<% end %>
