<div class="col-md-4 col-md-offset-4">
  <h2 class="text-center">Edit a Product</h2>
  <%= simple_form_for [:admin, @product] do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :quantity %>
    <%= f.input :price %>
    <% if @product.photos.present? %>
      <span>目前商品圖</span> <br>
      <% @product.photos.each do |p| %>
        <%= image_tag p.image.thumb.url %><br>
      <% end %>
    <% end %>

    <div class="group">
      <%= f.file_field :image, :multiple => true, name: "photos[image][]" %>
    </div>
    <%= f.submit "Submit", class: "btn btn-default" %>
  <% end %>
</div>
