<h2> Edit Product </h2>

<%= simple_form_for [:admin, @product] do |f| %>
  <!--分类 -->
  <div class="group">
    <%= f.select :category_id, @categories %>
  </div>
  <br>
  <div class="group">
    <%= f.input :title %>
  </div>

  <div class="group">
    <%= f.input :description %>
  </div>

  <div class="group">
    <%= f.input :quantity %>
  </div>

  <div class="group">
    <%= f.input :price %>
  </div>

  <% if @product.photos.present?%>
    <span>目前商品图</span> <br>
    <% @product.photos.each do |p| %>
    <%= image_tag p.image.thumb.url ,class: "thumbnail"%><br/>
    <% end %>
  <%else%>
  <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
  <% end %>

  <div class="group">
    <%= f.label :image %><br>
    <%= f.file_field :image, :multiple => true, name: "photos[image][]" %>（"请上传5张图片"）
  </div>

  <%= f.submit "Submit", data: { disable_with: "Submitting..." }%>

  <% end %>
