<h2> Edit Product </h2>

<%= simple_form_for [:admin, @product] do |f| %>

  <div class="group">
    <%= f.input :title %>
  </div>

  <div class="group">
    <%= f.input :description %>
  </div>

  <div class="group">
    <%= f.input :quantity %>
  </div>

  <div class="group">
    <%= f.input :price %>
  </div>

  <% if @product.photos.present? %>
     <span>目前商品圖</span> <br>
     <% @product.photos.each do |p| %>
       <%= image_tag p.avatar.thumb.url %><br>
     <% end %>
   <% end %>

   <div class="group">
     <%= f.label :avatar %><br>
     <%= f.file_field :avatar, :multiple => true, name: "photos[avatar][]" %>
   </div>

  <div class="group">
      <%= select_tag(:category_id, options_for_select(@categories), :prompt => "Category") %>
  </div>

  <br>

  <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>

<% end %>

</br>

<hr>

<h2>超大图片</h2>

<% if @product.product_images.present? %>

  <% @product.product_images.each do |product_image| %>
    <%= image_tag(product_image.big_image.url, class: "thumbnail") %>
  <% end %>

  <div class="text-left">
    <%= link_to("更改超大图片", edit_product_product_image_path(@product), :style => "font-size: 30px")%>
  </div>

<% else %>

  <div class="text-left">
    <%= link_to("新增超大图片", new_product_product_image_path(@product), :style => "font-size: 30px")%>
  </div>
<% end %>

<br>
