<h1> Edit a  product </h1>

<%= simple_form_for [:admin,@product] do |f| %>

<%= f.input :name  %>
<%= f.input :description %>
<%= f.input :price %>
<%= f.input :amount %>

<%= f.submit "Submit" %>
<% end %>
