<h2> Edit Product </h2>

<%= simple_form_for [:admin, @product] do |f| %>

  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :quantity %>
  <%= f.input :price %>

  <% if @product.image.present? %>
    <span>目前商品图</span>
    <%= image_tag(@product.image.thumb.url) %>
  <% end %>

  <%= f.input :image, as: :file %>

  <%= f.submit "Update Product", data: {disable_with: "Submitting..."} %>

<% end %>
