<h1 class="text-center">Edit Product </h1>
<%= simple_form_for [:admin,@product] do |f| %>

<%= f.input :title %>
<%= f.input :description %>
<%= f.input :quantity %>
<%= f.input :price %>
<!--<%= f.input :image %>  -->
<% if @product.image.present? %>
  <span> 目前商品图 </span> <br>
  <%= image_tag(@product.image.thumb.url)%>
<% end %>
<div class="group">
  <%= f.input :image,as: :file %>
</div>
<%= f.submit "Submit" %>

<% end %>
