<h2> Edit Product </h2>

<%= simple_form_for [:admin, @product] do |f| %>

  <div class="group">
    <%= f.input :title %>
  </div>

  <div class="group">
    <%= f.input :description %>
  </div>

  <div class="group">
    <%= f.input :quantity %>
  </div>

  <div class="group">
    <%= f.input :price %>
  </div>


  <div class="group">
    <% if @product.photos.present? %>
    <span>目前商品圖</span> <br>
    <% @product.photos.each do |p| %>
      <%= image_tag p.avatar.url ,size:"200"%><br>
    <% end %>
  <% end %>
  </div>

  <div class="group">
    <%= f.label :avatar %><br>
    <%= f.file_field :avatar, :multiple => true, name: "photos[avatar][]" %>
  </div>

  <% if @product.introduce_pictures.present? %>
    <span>详情图</span> <br>
    <% @product.introduce_pictures.each do |p| %>
      <%= image_tag p.avatar.url ,size:"200"%><br>
    <% end %>
<% end %>

  <div class="group">
    <%#= f.label :"商品详情" %><br>
    <%= f.file_field :avatar, :multiple => true, name: "introduce_pictures[avatar][]" %>
  </div>


  <div class="group">
    <%= select_tag(:category_id, options_for_select(@categories)) %>
  </div>
  <%= f.submit "Submit", :class=>"btn btn-default",data: { disable_with: "Submitting..." } %>

<% end %>
