<h2>编辑商品</h2>
<%= simple_form_for [:admin,@product] do |p| %>
<%= p.input :title %>
<%= p.input :description %>
<%= p.input :quantity %>
<%= p.input :price %>
<%= p.submit "更新", class:"btn btn-danger btn-lg" %>

<% end %>
