<h1>Edit Product</h1>
<%= simple_form_for [:admin,@product] do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :quantity %>
  <%= f.input :price %>
  <% if @product.photos.present? %>
    <span>目前商品图</span><br/>
    <% @product.photos.each do |p| %>
      <%= image_tag p.avatar.thumb.url %><br>
    <% end %>
  <% end %>
  <%= f.label :avatar %><br>
  <%= f.file_field :avatar, :multiple => true, name: "photos[avatar][]" %>  <%= f.association :category %>
  <%= f.association :groups %>
  <%= f.submit "Create Product", data: { disable_with: "Submitting..."} %>
<% end %>

<!-- 简化下拉选单 -->
<script >
$("#product_category_id").select2({
  placeholder: "Choose a category",
});//抓元素，后面跟方法
</script>

<script >
$("#product_group_ids").select2({
  placeholder: "Choose groups",
});
</script>
