<h2>编辑商品</h2>

<%= simple_form_for [:admin, @product] do |f| %>
  <div class="group"> <%= f.input :title, label: '商品名称' %> </div>
  <div class="group"> <%= f.input :description, label: '商品简介' %> </div>
  <div class="group"> <%= f.input :price, label: '商品价格' %> </div>
  <div class="group"> <%= f.input :quantity, label: '剩余数量' %> </div>
  <%= f.submit "提交", data: {disable_with: "修改中..."} %>
<% end %>
