<div class="container">
	<h3 class="well">更新产品信息</h3>
	<div class="col-md-4">

		<% if @product.image.nil? %>
			<%= image_tag("http://placehold.it/300x400&text=No Pic") %>
		<% else %>
			<%= image_tag @product.image.url(:medium) %>
		<% end %>

		<% if false %>
			<%= render partial: "common/product_image", locals: {product: @product, size: "medium", admin: true} %>
		<% end %>
		
	</div>
	<div class="col-md-4 col-md-offset-1">
		<%= simple_form_for [:admin, @product] do |f| %>

		<%= f.input :title %>
		<br>

		<%= f.input :description %>
		<br>

		<%= f.input :price%>
		<br>

		<%= f.input :quantity %>
		<br>	

		<%= f.input :image %>
		
		<%= f.submit "更新产品信息", :disable_with => "提交中...", class: "btn btn-success btn-lg pull-right" %>
		<% end %>

	</div>
</div>

