<h2> Edit Product </h2>

<%= simple_form_for [:admin, @product] do |f| %>

  <div class="group">
    <%= f.input :title %>
  </div>

  <div class="from-group">
    <%= f.label :friendly_id %>
    <%= f.text_field :friendly_id, :required => true, :class => "form-control" %>
    <p class="help-block">限小写英文数字及横线, 将作为网址的一部分</p>
  </div>

  <div clss="group">
    <%= f.input :description%>
  </div>

  <div class="group">
    <%= f.input :quantity %>
  </div>

  <div class="group">
    <%= f.input :price %>
  </div>

  <% if @product.image.present? %>
    <span>目前商品图</span> <br>
    <%= image_tag(@product.image.thumb.url) %>
  <% end %>

  <div class="group">
    <%= f.input :image, as: :file %>
  </div>

  <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>

  <% end %>
