<div class="pull-right">
  <%= link_to("Add a product", new_admin_product_path, :class => "btn btn-default" ) %>
</div>

<br><br>

<table class="table table-bordered">
  <thead>
    <tr>
     <td>品名</td>
     <td>介绍</td>
     <td>价格</td>
     <td>库存</td>
     <td>管理选项</td>
     <td>创建时间</td>
    </tr>
  </thead>

  <% @products.each do |product| %>
  <tr>
    <td>
      <%= link_to(product.name, product_path(product)) %>
    </td>
    <td>
      <%= link_to(product.description, product_path(product)) %>
    </td>
    <td>
      <%= link_to(product.price, product_path(product)) %>
    </td>
    <td>
      <%= link_to(product.amount, product_path(product)) %>
    </td>
    <td>
      <%= link_to("Edit", edit_admin_product_path(product)) %>
      <%= link_to("Destroy", admin_product_path(product), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
    </td>
    <td>
      <%= product.created_at %>
    </td>
  </tr>
  <% end %>
</table>
