<div class="render-page">
  <div class="pull-right">
    <%= link_to("新增商品", new_admin_product_path, class: "btn btn-default") %>
  </div>
  <h3 class="text-center">全部商品</h3>
  <hr>
  <div class="row">
    <% @products.each do |product| %>
    <div class="col-md-6 product-chunk">
      <div class="col-md-6 chunk-left">
        <%= link_to product_path(product) do %>
          <% if product.photos.present? %>
            <%= image_tag(product.photos[0].image.thumb.url, class: "img-circle") %>
          <% else %>
            <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
          <% end %>
        <% end %>
      </div>
      <div class="col-md-6 chunk-right">
        <p><%= product.title %> ￥<%= product.price %></p>
        <p><%= product.quantity %></p>
        <%= link_to("Edit", edit_admin_product_path(product)) %> |
        <%= link_to("Destroy", admin_product_path(product), method: :delete, data: { confirm: "Are your sure?" }) %>
      </div>
    </div>
    <% end %>
  </div>
</div>
