<!-- <li><%= link_to("新增商品", new_admin_product_path) %></li>

<ul>
  <% @products.each do |product| %>
    <li> <%= link_to(product.title, admin_product_path(product)) %> </li>
  <% end %>
</ul> -->

<div class="col-md-12">
  <div class="product">
    <%= link_to("新增商品", new_admin_product_path, class: "btn btn-primary pull-right") %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>商品</td>
        <td>描述</td>
        <td>库存</td>
        <td>价格</td>
        <td>选项</td>
        <td>创建日期</td>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td>#</td>
          <td><%= link_to(product.title, admin_product_path(product)) %></td>
          <td><%= product.description %></td>
          <td><%= product.quantity %></td>
          <td><%= product.price %></td>
          <td>
              <%= link_to("Edit", edit_admin_product_path(product), class: "btn btn-sm btn-default")%>
              <%= link_to("Delete", admin_product_path(product),    class: "btn btn-sm btn-default",
                          method: :delete, data: { confirm: "Are you sure?" } )%>
          </td>
          <td><%= product.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
