<h2>商品列表</h2>

  <div class="pull-right">
    <%= link_to("新增商品", new_admin_product_path, class: "btn btn-default") %>
  </div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>标题</th>
      <th>数量</th>
      <th>价格</th>
      <th>选项</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= link_to(product.title, admin_product_path(product)) %></td>
        <td><%= product.quantity %></td>
        <td><%= product.price %></td>
        <td>
          <%= link_to("修改", edit_admin_product_path(product)) %>
          <%= link_to("删除", admin_product_path(product), method: :delete,
              data: { confirm: "你确定删除吗?"}) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
