<div >
    <h2>Products List</h2>
</div>

<div class="pull-right">
    <%= link_to("Add a product", new_admin_product_path, :class => "btn btn-default" ) %>
</div>


<table class="table table-bordered">
    <thead>
        <tr>
            <td>#</td>
            <td>品名</td>
            <td>商品描述</td>
            <td>库存</td>
            <td>价格</td>
            <td>操作</td>
            <td>创建日期</td>
        </tr>
    </thead>
    <tbody>
        <% @products.each do |product| %>
            <tr>
                <td>#</td>
                <td>
                    <%= link_to(product.title, admin_product_path(product)) %>
                </td>
                <td>
                    <%= link_to(product.description, admin_product_path(product)) %>
                </td>
                <td>
                    <%= link_to(product.quantity, admin_product_path(product)) %>
                </td>
                <td>
                    <%= link_to(product.price, admin_product_path(product)) %>
                </td>
                <td>
                    <%= link_to("Edit", edit_admin_product_path(product)) %>
                     |
                    <%= link_to("Destroy", admin_product_path(product), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
                </td>
                <td>
                    <%= product.created_at %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
