<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th width="220">产品图片</th>
      <th>产品名称</th>
      <th>价格</th>
      <th width="100">操作</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td>
          <%= product.id %>
        </td>
        <td>
          <%= link_to product_path(product) do %>
            <% if product.image.present? %>
              <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
            <% else %>
              <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= product.title %>
        </td>
        <td>
          <%= product.price %>
        </td>
        <td>
          <ul class="hide1">
            <li>
              <%= link_to edit_admin_product_path(product), class: "btn btn-lg btn-info highlight" do %><i class="fa fa-pencil-square-o"></i><% end %>
            </li>
            <li>
              <%= link_to admin_product_path(product), :method => :delete, :class => "btn btn-lg btn-danger highlight", :data => { :confirm => "Are you sure?" } do %><i class="fa fa-trash-o"></i><% end %>
            </li>
            <li>
              <% if product.is_hidden %>
                <%= link_to publish_admin_product_path(product) , :method => :post, :class => "btn btn-lg btn-success highlight" do %><i class="fa fa-eye"></i><% end %>
              <% else %>
                <%= link_to hide_admin_product_path(product), :method => :post,  :class => "btn btn-lg btn-warning highlight" do %><i class="fa fa-eye-slash"></i><% end %>
              <% end %>
            </li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="text-center col-md-12 pagination">
  <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
</div>
