<div class="col-md-12">
  <div class="product">
    <%= link_to("Add a product", new_admin_product_path, class: "btn btn-primary pull-right") %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>品名</th>
        <th>描述</th>
        <th>价格</th>
        <th>库存</th>
        <th>管理选项</th>
        <th>创建时间</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td>#</td>
          <td><%= link_to(product.title, admin_product_path(product)) %></td>
          <td><%= product.description %></td>
          <td><%= product.price %></td>
          <td><%= product.quantity %></td>
          <td>
            <%= link_to('Edit',edit_admin_product_path(product), class: "btn btn-sm btn-default") %>
            <%= link_to('Delete',admin_product_path(product), class: "btn btn-sm btn-default",
                            method: :delete, data: { confirm: "Are you sure?"}) %>
          </td>
          <td><%= product.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
