<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 >Product List</h1>
      <%= link_to("Add new product", new_admin_product_path, class:"btn btn-default pull-right") %>
      <br><br>
      <table class="table table-bordered">
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Image</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Option</th>
          <th>Time</th>
        </tr>
        <% @products.each do |product| %>
        <tr>
          <td><%= product.id %></td>
          <td><%= product.title %></td>
          <td>
            <%= link_to product_path(product) do %>
              <% if product.image.present? %>
                <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
              <% else %>
                 <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
              <% end %>
            <% end %>
          </td>
          <td><%= product.quantity %></td>
          <td><%= product.price %></td>
          <td><%= link_to("Edit", edit_admin_product_path(product)) %> | <%= link_to("Destroy", admin_product_path(product), method: :delete) %></td>
          <td><%= product.created_at %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
