<div class="col-md-12">
  <h2>Product List</h2>
  <%= link_to("Add New Product", new_admin_product_path, class: "btn btn-primary pull-right") %>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>品名</td>
        <td>叙述</td>
        <td>库存</td>
        <td>价格</td>
        <td>选项</td>
        <td>创建日期</td>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td>#</td>
          <td><%= link_to(product.title, admin_product_path(product)) %></td>
          <td><%= product.description %></td>
          <td><%= product.price %></td>
          <td><%= product.quantity %></td>
          <td><%= link_to("Edit", edit_admin_product_path(product), class: "btn btn-sm btn-default")%>
              <%= link_to("Delete", admin_product_path(product),    class: "btn btn-sm btn-default",
                          method: :delete, data: { confirm: "确定删除此商品?" } )%></td>
          <td><%= product.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
