<div class="col-md-12 col-centered">
<h1> Product List </h1>
    <div class="dropdown clearfix pull-right">
      <%= link_to("Add New Product",new_admin_product_path, :class=>"btn btn-info")%>
      </div>

      <table class="table table-boldered table-stdiped custab">
        <thead>
            <tr>
              <td> #  </td>
              <td> 商品名称  </td>
              <td>  描述    </td>
              <td>  价格    </td>
              <td>  库存    </td>
              <td>  管理选项 </td>
              <td>  上货时间 </td>
            </tr>
        </thead>

        <% @products.each do |product| %>
        <tr>
          <td><%= product.id %></td>
          <td><%= link_to(product.title,admin_product_path(product))%></td>
          <td><%= product.description %></td>
          <td><%= product.price %></td>
          <td><%= product.quantity %></td>
          <td>
            <%= link_to("Edit",edit_admin_product_path(product), :class=>"btn btn-xs btn-info")%>
            <%= link_to("Delete",admin_product_path(product), :method => :delete, :class=>"btn btn-xs btn-danger")%>
            <%= link_to('向上', move_up_admin_product_path(product),method: :patch)%>
            <%= link_to('向下',move_down_admin_product_path(product),method: :patch)%>
          </td>
          <td> <%= product.created_at %></td>
        </tr>
        <% end %>
      </table>

    </div>
