<div class="col-md-12">
  <div class="product">
    <%= link_to("商品上架", new_admin_product_path, class: "btn btn-primary pull-right") %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>商品</td>
        <td>描述</td>
        <td>价格</td>
        <td>库存</td>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td>#</td>
          <td><%= link_to(product.title, admin_product_path(product)) %></td>
          <td><%= product.description %></td>
          <td><%= product.price %></td>
          <td><%= product.stock %></td>
          <td>
              <%= link_to("Edit", edit_admin_product_path(product), class: "btn btn-sm btn-default")%>
              <%= link_to("Delete", admin_product_path(product),    class: "btn btn-sm btn-default",
                          method: :delete, data: { confirm: "你确定要移除该商品?" } )%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
