<h2>商品列表</h2>
<div style="margin-bottom: 20px;"><%= link_to("添加商品", new_admin_product_path, class: "btn btn-primary btn-sm pull-right") %></div>
<div class="col-md-12">
  <table class="table table-hover table-bordered table-striped">
    <thead>
      <tr>
        <th width="220">商品图</th>
        <th>商品名</th>
        <th>描述</th>
        <th>价格</th>
        <th>库存</th>
        <th>管理</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td>
            <%= link_to product_path(product) do %>
              <% if product.image.present? %>
                <%= image_tag(product.image.thumb.url, class: "thumbnail")%>
              <% else %>
                <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail")%>
              <% end %>
            <% end %>
          </td>
          <td><%= link_to(product.name, product_path(product)) %></td>
          <td><%= product.description %></td>
          <td><%= product.price %></td>
          <td><%= product.stock %></td>
          <td>
            <%= link_to("编辑", edit_admin_product_path(product), class: "btn btn-primary btn-xs") %>
            <%= link_to("删除", admin_product_path(product), method: :delete, class: "btn btn-primary btn-xs", data: {confirm: "你确定删除商品吗？"}) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
