<div class="pull-right">
  <%= link_to("添加商品",new_admin_product_path, :class => "btn btn-default")%>
</div>

<table class="table table-boldered">
  <thead>
    <tr>
      <td>#</td>
      <td>商品名</td>
      <td>叙述</td>
      <td>库存</td>
      <td>价格</td>
      <td>选项</td>
      <td>创建日期</td>
    </tr>
  </thead>
  <tbody>
      <% @products.each do |product| %>
        <tr>
            <td>#</td>
            <td><%= link_to(product.title,admin_product_path(product)) %></td>
            <td><%= product.description %></td>
            <td><%= product.quantity %></td>
            <td><%= product.price%></td>
            <td>
              <%= link_to("编辑",edit_admin_product_path(product))%>
              <%= link_to("删除",admin_product_path(product),method: :delete)%>
            </td>
            <td><%= product.created_at%></td>
        </tr>
      <% end %>
  </tbody>
</table>
