<h1> Product List </h1>

<div class="col-md-12">
  <div class="product">
    <%= link_to("New product", new_admin_product_path, class: "btn btn-primary pull-right") %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>图片</td>
        <td>品名</td>
        <td>叙述</td>
        <td>库存</td>
        <td>价格</td>
        <td>创建日期</td>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td>
            <%= link_to product_path(product) do %>
            <% if product.picture.present? %>
            <%= image_tag(product.picture.thumb.url, class: "thumbnail") %>
            <% else %>
            <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
            <% end %>
            <% end %>
          </td>
          <td><%= product.title %></td>
          <td><%= product.description %></td>
          <td><%= product.quantity %></td>
          <td><%= product.price %></td>
          <td><%= product.created_at %></td>
          <td>
              <%= link_to("Edit", edit_admin_product_path(product), class: "btn btn-sm btn-default")%>
              <%= link_to("Delete", admin_product_path(product),    class: "btn btn-sm btn-default",
                          method: :delete, data: { confirm: "Are you sure?" } )%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
