<div id="wrapper" class="active">
    <!-- Sidebar -->
            <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <div class="logo">
          <img src='https://ooo.0o0.ooo/2017/02/14/58a2fc8de7e4a.png' class="img-responsive center-block" alt="Logo">
        </div>
        <div id="sidebar_menu" class="sidebar-nav">
           <div class="sidebar-brand text-center"><%= link_to("后台管理", admin_products_path) %></div>
        </div>
        <ul class="sidebar-nav" id="sidebar">
          <li> <%= link_to("首页", root_path, :class => "btn btn-info fa fa-home" ) %> </li>
          <li> <%= link_to("新增产品", new_admin_product_path, class: "btn btn-primary btn-sm fa fa-plus-circle") %> </li>
          <li> <%= link_to("订单管理", admin_orders_path, class: "btn btn-success btn-sm fa fa-bars") %> </li>
          <li> <%= link_to("登出", destroy_user_session_path, :class => "btn btn-warning fa fa-sign-out", method: :delete) %> </li>
        </ul>
      </div>

      <!-- Page content -->
      <div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
            <div class="row">
                <div class="tbl-header">
                  <table class="table-striped">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th width="220">产品图片</th>
                        <th>产品名称</th>
                        <th>价格</th>
                        <th width="100">操作</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @products.each do |product| %>
                        <tr>
                          <td>
                            <%= product.id %>
                          </td>
                          <td>
                            <%= link_to product_path(product) do %>
                              <% if product.photos.present? %>
                                <%= image_tag(product.photos[0].avatar.thumb.url, class: "thumbnail") %>
                              <% else %>
                                <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
                              <% end %>
                            <% end %>
                          </td>
                          <td>
                            <%= product.title %>
                          </td>
                          <td>
                            <%= product.price %>
                          </td>
                          <td class="hide1">
                              <li>
                                <%= link_to edit_admin_product_path(product), class: "btn btn-lg btn-info highlight" do %><i class="fa fa-pencil-square-o"></i><% end %>
                              </li>
                              <li>
                                <%= link_to admin_product_path(product), :method => :delete, :class => "btn btn-lg btn-danger highlight", :data => { :confirm => "Are you sure?" } do %><i class="fa fa-trash-o"></i><% end %>
                              </li>
                              <li>
                                <% if product.is_hidden %>
                                  <%= link_to publish_admin_product_path(product) , :method => :post, :class => "btn btn-lg btn-success highlight" do %><i class="fa fa-eye"></i><% end %>
                                <% else %>
                                  <%= link_to hide_admin_product_path(product), :method => :post,  :class => "btn btn-lg btn-warning highlight" do %><i class="fa fa-eye-slash"></i><% end %>
                                <% end %>
                              </li>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                  <div class="text-center col-md-12 pagination">
                    <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
                  </div>
                </div>
          </div>
        </div>

    </div>
