<h2>Prodcut Managment</h2>

<div class="pull-right">
    <%= link_to("Add new product", new_admin_product_path, :class => "btn btn-default" ) %>
    <br><br>
</div>

<table class="table table-bordered">

    <thead>
        <tr>
            <td>#
            </td>
            <td>
              图片
            </td>
            <td>
                商品
            </td>
            <td>
                商品介绍
            </td>

            <td>
                库存
            </td>
            <td>
               价格
            </td>
            <td>
                编辑
            </td>
            <td>
                创建日期
            </td>
        </tr>
    </thead>

    <tbody>
        <% @products.each do |product| %>
        <tr>
            <td>
                <%= product.id %>
            </td>
            <td>
              <% if product.image.present? %>
                <%= image_tag(product.image.thumb.url) %>
              <% end %>
            </td>
            <td>
             <%= product.title %>
            </td>
            <td>
                <%= simple_format(product.description) %>
            </td>
            <td>
                <%= product.quantity %>
            </td>
            <td>
                <%= product.price %>
            </td>
            <td  >
                <%= link_to("Edit", edit_admin_product_path(product)) %>
                |
                <%= link_to("Destroy", admin_product_path(product), :method => :delete, :data => { :confirm => "Are you sure?"}) %>
            </td>
            <td  >
                <%= product.created_at %>
            </td>

        </tr>
        <% end %>

    </tbody>
</table>
