<h1>Products Manager Panel</h1>
<div class="pull-right">
  <%= link_to("Add a Product", new_admin_product_path, :class => "btn btn-default" ) %>
</div>
<table class="table table-boldered">
  <tr>
    <td>Product</td>
    <td>IMG</td>
    <td>Price</td>
    <td>Quantity</td>
    <td>Oprate</td>
  </tr>
  <% @products.each do |product| %>
  <tr>
    <td>
      <%= link_to(product.title, product_path(product)) %>
    </td>
    <td>
      <%= link_to(image_tag(product.avatar_url(:small)), product_path(product)) %>
    </td>
    <td>
      <%= product.price %>
    </td>
    <td>
      <%= product.quantity %>
    </td>
    <td>
      <%= link_to("Edit", edit_admin_product_path(product)) %>
      <%= link_to("Hide/Pubilsh", "#") %>
      <%= link_to("Delete", admin_product_path(product), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
    </td>
  </tr>
  <% end %>
</table>
