<h2> Produce List </h2>

<div class="pull-right">
  <%= link_to("New Product", new_admin_product_path, :class => "btn btn-default" ) %>
</div>

<br><br>

<table class="table table-boldered">
  <thead>
       <tr>
           <td>商品名称</td>
           <td>商品详情</td>
           <td>商品数量</td>
           <td>价格</td>
           <td>管理</td>
           <td>创建时间</td>

       </tr>

   </thead>
 <tbody>
  <% @products.each do |product| %>
  <tr>
    <td>
      <%= link_to(product.title, admin_product_path(product)) %>
    </td>

    <td>
      <%= product.description %>
    </td>

    <td>
      <%= product.quantity %>
    </td>

    <td>
      <%= product.price %>
    </td>

    <td>
      <%= link_to("Edit", edit_admin_product_path(product)) %>
      <%= link_to("Destroy", admin_product_path(product), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
    </td>

    <td>
      <%= product.created_at %>
    </td>
  </tr>
  <% end %>
<tbody>
</table>
