<h2> Product List </h2>
<div style="padding-top: 50px;">
  <%= link_to("新增产品", new_admin_product_path, class: "btn btn-default btn-lg") %>

</div>
<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th>#</th>
      <th width="220">产品图片</th>
      <th>名称</th>
      <th>价格</th>
      <th>类目</th>
      <th width="100"> 选项</th>

    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td>
          <%= product.id %>
        </td>
        <td>
          <%= link_to product_path(product) do %>
            <% if product.product_images.present? %>
              <%= image_tag(product.product_images[0].image.small.url, class: "thumbnail") %>
            <% else %>
              <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= product.title %>
        </td>
        <td>
          <%= product.price %>
        </td>

        <td>
          <%= product.category.name %>
        </td>

        <td>
          <%= link_to(edit_admin_product_path(product),class: "btn btn-default") do %>
            <span class="fa fa-pencil"></span>
            <% end %>
          <%= link_to(admin_product_path(product), :method => :delete, :data => { :confirm => "Are you sure?" },class: "btn btn-default") do %>
            <span class="fa fa-trash"></span>
            <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>
