<h2>Product List</h2>

<button class="pull-right btn btn-default"><%= link_to("Add new product", new_admin_product_path) %></button>
<br/>
<br/>
<br/>

<table class="table table-boldered">

  <thead>
    <tr>
      <td>#</td>
      <td>品名</td>
      <td>叙述</td>
      <td>库存</td>
      <td>价格</td>
      <td>选项</td>
      <td>创建日期</td>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td>xx</td>
        <td><%= link_to(product.title, admin_product_path(product)) %></td>
        <td><%= product.description %></td>
        <td><%= product.quantity %></td>
        <td><%= product.price %></td>
        <td>
          <%= link_to("Edit", edit_admin_product_path(product)) %> |
          <%= link_to("Destroy", admin_product_path(product), method: :delete, data: { confirm: "Are you sure?" }) %>
        </td>
        <td><%= product.created_at %></td>
      </tr>
    <% end %>
  </tbody>

</table>
