<!-- <div class="col-md-12 col-centered">
<h2> Product List </h2>
    <div class="dropdown clearfix pull-right">
      <%= link_to("Add New Product",new_admin_product_path, :class=>"btn btn-info")%>
      </div>

      <table class="table table-boldered table-stdiped custab">
        <thead>
            <tr>
              <td> #  </td>
              <td width="220">Product Pic</td>
              <td> 商品名称  </td>
              <td>  描述    </td>
              <td>  价格    </td>
              <td>  库存    </td>
              <td>  管理选项 </td>
              <td>  上货时间 </td>
            </tr>
        </thead>

        <% @products.each do |product| %>
        <tr>
          <td><%= product.id %></td>
          <td>
            <%= link_to admin_product_path(product) do %>
            <% if product.image.present? %>
            <%= image_tag(product.image.thumb.url, class: "thumbnail")%>
            <% else %>
            <%= image_tag("http://placehold.it/200*200&text=No Pic", class: "thumbnail")%>
            <% end %>
            <% end %>
          </td>
          <td><%= link_to(product.title,admin_product_path(product))%></td>
          <td><%= product.description %></td>
          <td><%= product.price %></td>
          <td><%= product.quantity %></td>
          <td>
            <%= link_to("Edit",edit_admin_product_path(product), :class=>"btn btn-xs btn-info")%>
            <%= link_to("Delete",admin_product_path(product), :method => :delete, :class=>"btn btn-xs btn-danger")%>
            <%= link_to('向上', move_up_admin_product_path(product),method: :patch)%>
            <%= link_to('向下',move_down_admin_product_path(product),method: :patch)%>
          </td>
          <td> <%= product.created_at %></td>
        </tr>
        <% end %>
      </table>

    </div> -->


    <h2> Product List </h2>
<div class="pull-right" style="padding-bottom: 20px;">
  <%= link_to("新增产品", new_admin_product_path, class: "btn btn-primary btn-sm") %>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th width="220">Product Pic</th>
      <th>Name</th>
      <th>Price</th>
      <th width="100"> Options</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td>
          <%= product.id %>
        </td>
        <td>
          <%= link_to product_path(product) do %>
            <% if product.image.present? %>
              <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
            <% else %>
              <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= product.title %>
        </td>
        <td>
          <%= product.price %>
        </td>
        <td>
          <%= link_to("Edit", edit_admin_product_path(product)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
