<h2> 商品管理 </h2>
<div class="pull-right" style="padding-bottom: 20px;">
  <%= link_to("新增产品", new_admin_product_path, class: "btn btn-primary btn-sm") %>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th width="220">图片</th>
      <th>品名</th>
      <th>价格</th>
      <th>库存</th>
      <th width="100">操作</th>
      <th>创建日期</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td>
          <%= product.id %>
        </td>
        <td>
          <%= link_to admin_product_path(product) do %>
            <% if product.image.present? %>
              <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
            <% else %>
              <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= product.title %>
        </td>
        <td>
          <%= product.price %>
        </td>
        <td>
          <%= product.quantity%>
        </td>
        <td>
          <%= link_to("Edit", edit_admin_product_path(product)) %> |
          <%= link_to("Delet", admin_product_path(product), :method => :delete, :data => { :confirm => "Are you sure?" })%>
        </td>
        <td><%= product.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
