<h2> Product List </h2>
<div class="pull-right" style="padding-bottom: 20px;" data-toggle="tooltip" data-placement="left" title="赶紧加">
  <%= link_to("新增产品", new_admin_product_path, class: "btn btn-primary btn-sm") %>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th width="220">Product Pic</th>
      <th>Name</th>
      <th>Price</th>
      <th width="100"> Options </th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |p| %>
      <tr>
        <td>
          <%= p.id %>
        </td>
        <td>
          <%= link_to product_path(p) do %>
            <% if p.image.present? %>
              <%= image_tag(p.image.thumb.url, class: "thumbnail") %>
            <% else %>
              <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= p.title %>
        </td>
        <td>
          <%= p.price %>
        </td>
        <td>
          <%= link_to("Edit", edit_admin_product_path(p)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
