<div class="container-fluid" style="margin-top: 30px;">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h2><%= t("admin.new_product") %></h2>
        </div>
        <div class="panel-body">
          <%= simple_form_for [:admin, @product] do |f| %>
          <div class="group">
            <%= f.input :title %>
          </div>

          <div class="group">
            <%= f.input :author %>
          </div>

          <div class="group">
            <%= f.input :description %>
          </div>

          <div class="group">
            <%= f.association :category %>
          </div>

          <div class="group">
            <%= f.input :quantity %>
          </div>

          <div class="group">
            <%= f.input :price %>
          </div>

          <div class="group">
            <%= f.input :image, as: :file %>
          </div>

          <%= f.submit t("admin.create_product"), data: {disable_with: "Submiting..."}, class: "btn btn-primary"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  autosize($('#product_description'))
</script>

<script>
  $("#product_category_id").select2( { theme: "bootstrap"} );
</script>
