<div class="col-md-8 col-md-offset-2">
  <h2 class="text-center">Create a Product</h2>
  <%= simple_form_for [:admin, @product] do |f| %>
    <%= f.collection_select :category_id, Category.all, :id, :name %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :quantity %>
    <%= f.input :price %>
    <%= f.input :size, placeholder: "请输入产品规格"%>
    <%= f.file_field :image, :multiple => true, name: "photos[image][]" %>（"请上传5张图片"）<br>
    <%= f.submit "Submit", class: "btn btn-default" %>
  <% end %>
</div>
