<h1>New Product</h1>
<%= simple_form_for [:admin,@product] do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :quantity %>
  <%= f.input :price %>
  <%= f.input :image, as: :file %>

  <%= select_tag(:category_id, options_for_select(@categories), :prompt => "类别") %>

  <%= f.submit "Create Product", data: { disable_with: "Submitting..."} %>
<% end %>
