<h2>新产品</h2>

<%= simple_form_for [:admin, @product] do |f| %>

    <div class="group">
      <%= f.input :title, label: "名称" %>
    </div>

    <div class="group">
      <%= f.input :description, label: "描述" %>
    </div>

    <div class="group">
      <%= f.input :quantity, label: "数量" %>
    </div>

    <div class="group">
      <%= f.input :price, label: "价格" %>
    </div>

    <div class="group">
      <%= f.input :image, as: :file, label: "图片" %>
    </div>

    <%= f.submit "提交", data: { disable_with: "上传中……"} %>

<% end %>
