<h2> New Product </h2>
<%= simple_form_for [:admin, @product] do |f| %>

  <div class="group">
    <%= f.input :title %>
  </div>

  <div class="group">
    <%= f.input :description %>
  </div>

  <div class="group">
    <%= f.input :quantity %>
  </div>

  <div class="group">
    <%= f.input :price %>
  </div>

  <div class="group">
    <%= f.input :image, as: :file %>
  </div>

  <div class="group">
    <%= f.input :shirt_name %>
  </div>

  <div class="group">
    <%= f.input :sweatre_name %>
  </div>

  <div class="group">
    <%= f.input :jean_name %>
  </div>

  <div class="group">
    <%= f.input :jacket_name %>
  </div>

<div class="group">
  <%= f.input :is_hidden %>
  <%= f.input :is_shirt %>
  <%= f.input :is_sweatre %>
  <%= f.input :is_jean %>
  <%= f.input :is_jacket %>
</div>

  <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>

<% end %>
