<h2>新产品</h2>

<%= simple_form_for [:admin, @product] do |f| %>
  <%= f.input :title, :label => "名称" %>
  <%= f.input :description, :label => "简介" %>
  <%= f.input :quantity, :label => "库存" %>
  <%= f.input :price, :label => "单价" %>
  <%= f.input :image, :label => "图像" %>
  <%= f.submit "提交信息"%>
<% end %>
