<div class="newzhongchou-backimg">
  <div class="mainbody">
    <div class="tips animated bounceInDown">
      请勿在此发起疾病救助类型的项目，一经发现将立即删除！
    </div>
    <div class="admin-product-info animated flipInX">
      <div class="demo">
        <a href="/pages/demo" class="pull-right" target="_blank">
          <i class="fa fa-question-circle-o" aria-hidden="true"></i>
          项目示例
        </a>
      </div>
      <h2> 众筹项目信息 </h2>
      <%= simple_form_for [:admin, @product] do |f| %>
        <div class="group">
          <%= f.input :title, autofocus: true %>
        </div>
        <div class="group">
          <%= f.input :description %>
        </div>
        <div class="group">
          <%= f.input :price %>
        </div>
        <div class="group">
          <%= f.input :image, as: :file %>
        </div>
        <div class="create-product-btn">
          <%= f.submit "创建众筹", class: "btn btn-primary", data: { disable_with: "提交中..." } %>
        </div>

        <div class="group">
            <%= f.input :price_re %>
        </div>
        <div class="group">
            <%= f.input :description_re %>
        </div>

        <div class="group">
            <%= f.input :quantity_re %>
        </div>

      <% end %>
    </div>
  </div>
</div>
