<h1> New Product </h1>
<%= simple_form_for [:admin,@product] do |f| %>
<%= f.input :title %>
<%= f.input :description %>
<%= f.input :quantity %>
<%= f.input :price %>
<%= f.input :is_hidden %>
<%= f.input :image, as: :file %>
<%= f.label :avatar %>
<%= f.file_field :avatar, :multiple => true, name: "photos[avatar][]" %>
<%= f.submit "Submit" %>
<% end %>
