<h1> Add a product </h1>

<%= simple_form_for [:admin, @product] do |f| %>

<%= f.input :title %>
<%= f.input :description %>
<%= f.input :quantity %>
<%= f.input :price %>
<div class="group">
  <%= f.input :image, as: :file %>
</div>

  <%= f.submit "Submit", data: { disable_with: "Submitting..."} %>
<% end %>
