<h2> New Product </h2>

<%= simple_form_for [:admin,@product] do |f| %>

  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :quantity %>
  <%= f.input :price %>
  <%= f.input :image, as: :file %>

  <%= f.submit "Create Product", data: {disable_with: "Submitting..."} %>

<% end %>
