<h2> New Product </h2>

<%= simple_form_for [:admin, @product] do |f| %>

  <div class="group">
    <%= f.input :title %>
  </div>

  <div>
    <%= f.input :zhonglei %>
  </div>

  <div class="group">
    <%= f.input :description %>
  </div>

  <div>
    <%= f.input :quantity %>
  </div>

  <div>
    <%= f.input :price %>
  </div>
  <div class="group">
    [动物制品暂定 穿山甲:'pangolin',海龟:'turtle',鹰隼:'hawk',环保理念页面:'normal']
    <%= f.input :animal%>
  </div>
  <div class="group">
    <%= f.input :is_hidden %>
  </div>

  <div class="group">
    <%= f.input :image, as: :file %>
  </div>

  <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>

<% end %>
