<h2> New Product</h2>

<%= simple_form_for [:admin, @product] do |f| %>

  <div class="form">
   <%= f.label :friendly_id %>
   <%= f.text_field :friendly_id, :required => true, :class => "form" %>
   <p class="help-block">限小写英数字及横线，将作为网址的一部分</p>
  </div>

  <div class="group">
    <%= f.input :title %>
  </div>

  <div class="group">
    <%= f.input :description %>
  </div>

  <div class="group">
    <%= f.input :quantity %>
  </div>

  <div class="group">
    <%= f.input :price %>
  </div>

  <div class="group">
    <%= f.input :image, as: :file %>
  </div>

  <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>

<% end %>

<script type="text/javascript">
  autosize($('#production_description'));
</script>
