<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title" style="padding-bottom: 50px;"><h2> 新增商品 </h2></h3>
  </div>
  <div class="panel-body">
    <%= simple_form_for [:admin, @product] do |f| %>

      <div class="group">
        <%= f.input :title, :label => "商品名称" %>
      </div>

      <div class="group">
        <%= f.input :description, :label => "商品介绍" %>
      </div>

      <div class="group">
        <%= f.input :quantity, :label => "商品库存" %>
      </div>

      <div class="group">
        <%= f.input :price, :label => "商品名称" %>
      </div>

     <div class="group">
       <%= f.input :image, :label => "商品图片", as: :file %>
     </div>

      <%= f.submit "提交", data: { disable_with: "提交中..." } %>

    <% end %>

  </div>
</div>
