<h1> Add new Product </h1>

<%= simple_form_for [:admin,@product] do |f| %>

<%= f.input :title %>
<%= f.input :description %>
<%= f.input :price %>
<%= f.input :quantity %>

<divv class="group">
  <%= f.input :image, as: :file %>
</div>

  <%= f.submit "Submit" %>
<% end %>
