<h1> New product </h1>

<%= simple_form_for [:admin,@product] do |f| %>

<%= f.input :title %>
<%= f.input :description %>
<%= f.input :price %>
<%= f.input :quantity %>
<%= f.input :pic%>

  <%= f.submit "Submit" %>
<% end %>
