<div class="col-md-8 col-centered" style="height:600px;padding-top:70px;margin-lept:100px">
    <h1>Add a product</h1>
    <%= simple_form_for [:admin, @product] do |p| %>
        <%= p.input :title,:label => "品名"%>
        <%= p.input :description, :label => "叙述" %>
        <%= p.input :quantity, :label => "库存" %>
        <%= p.input :price, :label => "价格" %>
        <%= p.submit "Submit" %>
    <% end %>
</div>
