<h1>New Product</h1>

<%= simple_form_for [:admin, @product] do |f| %>

<%= f.input :image %>
<%= f.input :title %>
<%= f.input :descritpion %>
<%= f.input :quantity %>
<%= f.input :price %>
<%= f.submit 'Create Product' %>

<% end %>