<h2> New Product </h2>
<%= simple_form_for [:admin, @product] do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :price, :label => "商品价格"%>
    <%= f.input :quantity, :label => "商品库存"%>
    <%= f.submit "Submit" %>
<% end %>
