<%= simple_form_for [:admin, @product] do |f|%>
<%= f.input :title%>
<%= f.input :description%>
<%= f.input :price%>
<%= f.input :quantity%>
 <div class="group">
   <%= f.input :image, as: :file %>
 </div>
<%= f.submit "Add a Product"%>
<% end %>
