<h1> <%= @product.title %> </h1>

<p><strong>Description: </strong><%= simple_format(@product.description) %></p>
<p><strong>Quantity: </strong><%= @product.quantity %></p>
<p><strong>Price: </strong><%= @product.price %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @product.image.thumb.url unless @product.image.blank? %>
</p>
<% if current_user.is_admin = true %>
<%= link_to 'Edit', edit_admin_product_path(@product) %> |
<%= link_to 'Back', admin_products_path %>
<% end %>
