<div style="width: 60%;">
   <div style="float:left;">
		<p>
			<div class="thumbnail" >
		  	<%= image_tag @product.image.medium.url, :class => "style_image" %>
			</div>
		</p>
	 </div>

	 <div style="float:right;">
		 <h2> <%= @product.title %> </h2>

		 <p><strong>Description: </strong><%= simple_format(@product.description) %></p>
		 <p><strong>Quantity: </strong><%= @product.quantity %></p>
		 <p><strong>Price: </strong>$<%= @product.price %></p>
   </div>
</div>
<div style="clear:both"></div>

<div class="buy">
	<%= link_to("Add to Cart", "#", class: "btn btn-primary pull-right") %>
</div>
</br></br>
<div style="float:right;">
<% if current_user.is_admin %>
<%= link_to 'Edit', edit_admin_product_path(@product) %> |
<%= link_to 'Back', admin_products_path %>
<% end %>
</div>
