<div class="col-md-12">
  <div class="group">
    <!-- 管理员本人可见 -->
    <%= link_to("编辑",edit_admin_product_path(@product), class: "btn btn-md pull-right") %>
    <%= link_to("删除",admin_product_path(@product), class: "btn btn-md pull-right", method: :delete, data:{confirm:"确定删除？"}) %>
  </div>

  <h2><%= link_to(@product.title, admin_products_path) %></h2>
  <p> <%= @product.description %> </p>
  <p> 价格：<%= @product.price %> </p>
  <p> 库存：<%= @product.quantity %> </P>
</div>
