<div class="group">
  <%= @product.title %>
</div>

<div class="group">
  <%= @product.description %>
</div>

<div class="group">
  <%= @product.quantity %>
</div>

<div class="group">
  <%= @product.price %>
</div>
<div class="group">
  <img src="<%= @product.image %>" %>
</div>
