<h2> <%= @product.title %> </h2>

<p>
  <%= simple_format(@product.description) %>
  <%= simple_format(@product.quantity) %>
  <%= simple_format(@product.price) %>
  <%= link_to edit_admin_product(@product) %>
</p>
