<div class="col-md-12">
  <div class="product">
    <%= link_to("Edit", edit_admin_product_path(@product), class: "btn btn-primary pull-right")%>
  </div>
  <p>Title：<%= @product.title %></p>
  <p>Description：<%= @product.description %></p>
  <p>Quantity：<%= @product.quantity %></p>
  <p>Price：<%= @product.price %></p>
  <p>Image: <%= @product.image %></p>
</div>
