<h1> <%= @production.title %> </h1>

<p>
  <%= simple_format(@job.description) %>
  <%= simple_format(@job.quantity) %>
  <%= simple_format(@job.price) %>
  <%= simple_format(@job.created_at) %>

</p>
