<h2><%= @product.title %></h2>

  <div class="group">
    <%= @product.description %>
  </div>

  <div class="group">
    <%= @product.quantity %>
  </div>

  <div class="group">
    <%= @product.price %>
  </div>

  <% if @product.image.present? %>
    <span> Present Image </span> <br>
    <%= image_tag(@product.image.thumb.url) %>
  <% end %>


  <div class="group">
    <%= @product.quantity %>
  </div>
