<h1> <%= @product.title %> </h1>

<p>
  <%= simple_format(@product.description) %>

</p>
<br>
<div>
  <%= @product.image %>
</div>
<br>
<p>
   <%= @product.quantity %>
</p>
<p>
   <%= @product.price %>
</p>
