<div class="row">
  <div class="col-md-6">
    <% if @product.image.present? %>
      <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>
  </div>
  <div class="product-details col-md-4">
    <h2> <%= @product.title %> </h2>
    <div>
      <%= render_product_status(@product) %>
    </div>
    <div style="height:100px;">
      <p>
        <%= @product.description %>
      </p>
    </div>
    <div> 数量 : <%= @product.quantity %> </div>
    <div class="product-price"> ￥ <%= @product.price %> </div>
    <div class="pull-right">
      <%= link_to("修改", edit_admin_product_path(@product), :class => "btn btn-md btn-primary") %>
      <br />
      <br />
      <% if @product.is_hidden %>
        <%= link_to("上架", publish_admin_product_path(@product) , :method => :post, :class => "btn btn-md btn-success") %>
      <% else %>
        <%= link_to("下架", hide_admin_product_path(@product) , :method => :post, :class => "btn btn-md btn-warning") %>
      <% end %>
    </div>
  </div>
</div>
