<h2> <%= @product.title %> </h2>

<p>
  商品描述：<%= simple_format(@product.description) %>
</p>

<p>
  价格：<%= @product.price %>
</p>

<p>
  库存：<%= @product.quantity %>
</p>
<br />
<%= link_to("<Back", admin_products_path) %>
