<h1> 展示商品－<%= @product.title %> </h1>

<hr>
<p>
  <%#= simple_format(@product.description) %>
  <%= @product.description %> <br>
  <%= @product.quantity %> <br>
  <%= @product.price %> <br>
  <%= @product.created_at %>

</p>
