<div class="col-md-12">
  <div class="pull-right" style="margin-left:800px;">
    <%= link_to("Edit", edit_admin_product_path(@product), class: "btn btn-warning")%>

     <%= link_to("Delete",admin_product_path(@product),:class => "btn btn-danger",
                method: :delete, data: { confirm: "Are you sure?" }) %>
  </div>
  <div>
    <%= image_tag @product.image.medium.url unless @product.image.blank? %>
  </div>
  
  <div>
    <h3><%= @product.title %></h3>
    <p style="line-height:50px;"><b>商品描述： </b><%= @product.description %>
    <br/>
    <b>商品库存： </b><%= @product.quantity %>
    <br/>
    <b>商品价格： </b><%= @product.price %>
    <br/>
    <b>创建日期： </b><%= @product.created_at %>
    </p>
  </div>
</div>
