<div class="col-md-12">

  <div>
    <%= link_to("Destroy", admin_product_path(@product), :method => :delete, :class => "btn btn btn-danger pull-right", :data => { :confirm => "Are you sure?" }) %>
  </div>

  <div class="product">
    <%= link_to("Edit", edit_admin_product_path(@product), class: "btn btn-primary pull-right")%>
  </div>

  <h2><%= @product.title %></h2>
  <p><%= @product.description %></p>
  <p><%= @product.quantity %></p>
  <p><%= @product.price %></p>
</div>
