<div class="container">
    <h2><%= @product.title %></h2>
    <p><%= @product.description %></p>
    <p><%= @product.quantity %></p>
    <p><%= @product.price %></p>
    <br>
    <p><%= link_to "back", admin_products_path %></p>
</div>
