<h1>Users Manager Panel</h1>

<table class="table table-boldered">
  <thead>
    <th>ID</th>
    <th>User Name</th>
    <th>Join Time</th>
    <th>Level</th>
    <th>Operate</th>
  </thead>
  <tbody>
  <% @users.each do |user| %>
  <tr>
    <td>
      <%= user.id %>
    </td>
    <td>
      <%= user.email %>
    </td>
    <td>
      <%= user.created_at %>
    </td>
    <td>
      <%= render_user_level(user) %>
    </td>
    <td>
      <% if !user.is_admin %>
        <%= link_to("Sat As Admin", promote_admin_user_path(user) , :method => :post, :class => "btn btn-xs btn-default") %>
      <% else %>
        <%= link_to("Set As User", demote_admin_user_path(user) , :method => :post, :class => "btn btn-xs btn-default") %>
      <% end %>
    </td>
  </tr>
  <% end %>
</tbody>
</table>
