<!-- 区域：商品展示列表 -->
<div class="col-md-10 col-centered">
  <ul class="productList clearfix">
    <div class="row", style="margin-top: -49px;">
      <% @products.each do |product| %>
        <div class="col-md-3 col-xs-5", style="padding-left: 0px; padding-right: 0px;">
          <li class="productList-item productList-panel">
            <div class="productList-item-pic">
              <%= link_to product_path(product) do %>
                <% if product.photos.present? %>
                  <%= image_tag(product.photos[0].avatar.thumb.url) %>
                <% else %>
                  <%= image_tag("http://placehold.it/418x418&text=No Pic") %>
                <% end %>
              <% end %>
            </div>
            <div class="productList-item-price">￥<%= product.price %>
              <% if product.stock > 0 %>
                <%= link_to add_to_cart_product_path(product), :method => :post, class: "addCartBtn productList-item-cartBtn", :remote => true do %>
                  <i class="fa fa-shopping-cart"></i>
                <% end %>
              <% end %>
              <!-- 待加入預購功能 -->
              <% if product.stock <= 0 %>
                <div class="productList-item-sellout", style="margin-top: -33px; margin-right: 15px;">
                  <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                </div>
              <% end %>
              <!-- 待加入預購功能 -->
            </div>
            <div class="productList-item-name ell">
              <%= link_to product_path(product) do %>
                 <%= product.name %>
              <% end %>
            </div>
            <!-- <div class="productList-item-desc"><%= product.description %></div> -->
          </li>
        </div>
      <% end %>
    </div>
  </ul>
</div>
<!-- 商品展示列表结束 -->
