<% if params[:controller] == ('products') && params[:action] == ('show') %>
  <div class="menu-wrap">
    <ul class="menuList clearfix w1200 f16 bc">
      <li class="menuList-item fl pl20 pr20">
        <%= link_to("扶뒬못", products_path)%>
      </li>
      <% Category.all.each do |category| %>
        <li class="menuList-item fl <%= 'menuList-activeItem' if @product.category.name == category.name %>">
          <%= link_to category.name, products_path(category: category.name), class: "link" %>
        </li>
      <% end %>
    </ul>
  </div>
<% else %>
  <div class="menu-wrap">
    <ul class="menuList clearfix w1200 f16 bc">
      <li class="menuList-item fl pl20 pr20 <%= 'menuList-activeItem' if !params[:category] %>">
        <%= link_to("扶뒬못", products_path)%>
      </li>
      <% Category.all.each do |category| %>
        <li class="menuList-item fl <%= 'menuList-activeItem' if params[:category] == category.name %>">
          <%= link_to category.name, products_path(category: category.name), class: "link" %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>