
<div class="menu  bg-color1">
  <div class="menuList">

  <div class="menuList-item bg-color1 <%= 'menuList-activeItem' if !params[:category] %>">
    <%= link_to("首页", products_path)%>
  </div>

   <% Category.all.each do |category| %>

  <div class="menuList-item bg-color1 <%= 'menuList-activeItem' if params[:category] == category.name %>">


    <%= link_to products_path(category: category.name) do %>
      <% if category.image.present? %>
        <%= image_tag(category.image.small.url, class: "thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/100x100&text=No Pic", class: "thumbnail") %>
      <% end %>
    <% end %>
    <%= category.name %>

  </div>

<% end %>

  </div>

</div>
