<div class="product-show">

  <!-- 主图 -->
  <div class="col-md-5">
    <% if @product.image.present? %>
      <%= image_tag(@product.image.medium.url, class: "thumbnail img-responsive") %>
    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail img-responsive") %>
    <% end %>
  </div>

  <!-- 商品信息 -->
  <div class="col-md-7">

    <!-- 商品标题 -->
    <h2 class="product-title"><%= @product.title %></h2>

    <!-- 商品简述 -->
    <div class="product-description">
      <p>
        <%= simple_format(@product.description) %>
      </p>
    </div>

    <!-- 商品价格 -->
    <div class="product-price-bgcolor">
      <div class="product-price">
        ￥ <%= @product.price %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <!-- 商品库存 -->
        <div class="product-quantity">
          库存量： <%= @product.quantity %>
        </div>

        <!-- 商品产地 -->
        <div class="product-quantity">
          生产地： <%= @product.yieldly %> （正品保障）
        </div>
      </div>

      <div class="col-sm-6">
        <!-- 商品类别 -->
        <div class="product-quantity">
          类别： <%= @product.category %>
        </div>

        <!-- 商品服务 -->
        <div class="product-quantity">
          包邮： 99元起包邮 | 7天无忧退货
        </div>
      </div>
    </div>

    <!-- 按钮区域 -->
    <div class="add-to-cart-buttom row">
      <!-- 加入购物车按钮 -->
      <div class="col-sm-6">
        <% if @product.quantity.present? && @product.quantity > 0 %>
          <%= link_to("加入购物车", add_to_cart_product_path(@product), method: :post, class: "btn btn-danger") %>
        <% else %>
          <a href="#" class="btn btn-danger active" role="button" disabled="disabled">库存缺货ing...</a>
        <% end %>
      </div>

      <!-- 收藏商品按钮 -->
      <div class="col-sm-6 product-collection">
        <!-- <%= link_to("添加收藏 - 人气(26)", "#")%> -->
        <% if current_user && current_user.is_member_of?(@product) %>
          <%= link_to("已收藏（点击取消收藏）", quit_product_path(@product), method: :post) %>
        <% else %>
          <%= link_to("收藏商品", join_product_path(@product), method: :post) %>
        <% end %>
      </div>
    </div>

  </div>

  <!-- 商品详情区域 + 推荐展示 -->
  <div class="container">
      <!-- 商品详情区域 + 商品评论区域 -->
      <div class="col-md-9 product-particulars">


        <!-- 导航栏 -->
        <div class="row">
          <ul class="nav nav-tabs nav-justified">
            <li class="active">
              <a href="#tab_default_1" data-toggle="tab">商品详情</a>
            </li>
            <li>
              <a href="#tab_default_2" data-toggle="tab">用户评价</a>
            </li>
          </ul>
        </div>

        <div class="tab-content">

          <!-- 商品详情区域 -->
          <div class="product-particulars-box row tab-pane active" id="tab_default_1">
            <%= simple_format(@product.particulars) %>
          </div>

          <!-- 商品评论区域 -->
          <div class="product-particulars-box row tab-pane" id="tab_default_2">
            <%= simple_form_for ([@product, @review]) do |f| %>
              <div class="review-comment-form">
                <%= f.input :comment, :label => "添加评论" %>
              </div>
              <div class="review-comment-button">
                <%= f.submit "提交", class: "btn btn-sm btn-default", data: {disable_with: "Submiting..."} %>
              </div>
            <% end %>
            <hr>
            <% if @reviews.blank? %>
              <p>这个商品还没有人评论，来为他添加一个吧！</p>
            <% else %>
              <% @reviews.each do |review| %>
                <div class="reviews">
                  <ul>
                    <li>
                      <div class="row">
                        <div class="col-sm-9 review-user-email"><%= review.user.email %></div>
                        <div class="col-sm-3"><%= review.created_at.strftime("%Y-%m-%d %H-%M-%S") %></div>
                      </div>
                      <div class="review-comment">
                        <%= review.comment %>
                      </div>
                    </li>
                  </ul>
                  <div class="review-hr">
                    <hr>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>

        </div>

      </div>


      <!-- 购物指南区 -->
      <div class="col-md-3">
        <div class="product-recommend">
          <h5>购物指南</h5>
          <hr>
          <h6>配送费用</h6>
          <p>小件商品的配送费用为20.00元/单。单笔订单消费购买小件商品满99.00元，可享受免费配送服务。</p>
          <hr>
          <h6>支付方式</h6>
          <p>支付宝账户余额
            <br>
            网银支付（通过支付宝
            <br>
            信用卡支付（通过支付宝）</p>
          <hr>
          <h6>更换商品、退货</h6>
          <p>如您在极简生活法官网商城购买的商品未经使用，并不影响下一位消费者的权益的情况下，可在到货起14日内进行退货服务申请。当您需要申请退货服务时请联系客服中心。</p>
          <hr>
          <h6>关于商品颜色</h6>
          <p>因拍摄灯光或显示器等因素，网页商品颜色可能与实物存在一定偏差，请以实物为准，敬请谅解。</p>
        </div>
      </div>

  </div>
</div>
