<div class="row">

        <div class="col-xs-6 col-md-3">
          <%= link_to product_path(product) do %>
            <% if product.image.present? %>
              <%= image_tag(product.image.thumb.url, class: "thumbnails") %>
            <% else %>
              <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
          <% end %>
        </div>
        <div class="col-md-3" style="font-size:20px">
          <%= product.title %>
        </div>

        <div class="col-md-2">
          <i class="fa fa-location-arrow fa-md" aria-hidden="true" style="color:#FF6F00" ></i>
          <%= product.price %>
        </div>

        <div class="col-md-2">
          <span>
            <i class="fa fa-calendar" aria-hidden="true" style="color:#FF6F00"></i>
            <%= local_time(product.created_at, '%B %e') %> 发布
          </span>
        </div>
</div>
