<!--定义products/index中的partial  -->

<!-- <div class="box panel panel-default">
  <%= link_to product_path(product) do %>
    <% if product.photos.present? %>
      <%= image_tag(product.photos[0].image.url) %>
    <% else %>
      <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
    <% end %>
  <% end %>
  <div class="fig" >
    <p class="actions">
      <% if product.quantity.present? && product.quantity > 0 %> -->

      <!--  全部商品图片上有购物车小icon，直接点击加入 -->
      <!-- <%= link_to add_to_cart_product_path(product), class: "add-to-cart", :remote => true, :method => :post do %>
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        <% end %>
      <% else %>
        已销售一空，无法购买
      <% end %> -->
    <!-- </p>
  </div>
  <div class="panel-body" style="padding:5px;">
    <p >
      <span  class="price pull-left" >￥ <%= product.price %> </span>
    </p>
  </div>
</div>  -->
