<div class="col-xs-6 col-md-3">
  <% if product.picture.present? %>
    <%= link_to(image_tag(product.picture.thumb.url, class: "thumbnail"), product_path(product)) %>
    <p><%= product.title %> ¥<%= product.price %></p>
  <% else %>
    <%= link_to(image_tag("http://placehold.it/200x200&text=no picture", class: "thumbnail"), product_path(product))%>
    <p><%= product.title %> ¥<%= product.price %></p>
  <% end %>
</div>
