<div class="col-sm-12 col-md-3 col-lg-2">
  <div class="thumbnail">
    <%= link_to(product_path(product)) do %>
      <div>
        <%= image_tag product.image.thumb || "avatar.jpg", {alt: "img", style: "max-width:100%;max-height:100%"}%>
      </div>
      <div style="margin: 10px 5px">
        <p>
          <span><%= product.title %></span> $ <span><%= product.price %></span>
        </p>
      </div>
    <% end %>
    <div>
      <p class="text-right">
        <% if current_user && current_user.alrady_bookmark?(product) %>
          <%= link_to(unlike_user_path(product)) do%>
            <i class="fa fa-heart fa-1" style="color: red;" aria-hidden="true"></i>
          <% end %>
        <% else %>
          <%= link_to(like_user_path(product)) do%>
            <i class="fa fa-heart-o fa-1" aria-hidden="true"></i>
          <% end %>
        <% end %>
      </p>
    </div>
  </div>
</div>
