

<% @products.each do |product| %>
  <div class="col-xs-6 col-md-3">
    <%= link_to product_path(product) do %>
      <% if product.image.present? %>
        <%= image_tag(product.image.thumb.url, class: "thumbnails") %>
      <% else %>
        <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
      <% end %>
    <% end %>
      <%= product.title %> ￥ <%= product.price %>
    <%= link_to like_product_path(product), method: :put do %>
      <div class="pi-thumbs-up">
      <i class="fa fa-thumbs-up fa-2x" , style="color:#ff5722;"></i>
      <%= product.get_upvotes.size %>
      </div>
    <% end %>
  </div>
<% end %>
