<div class="row">
  <% @products.each do |product| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">

      <a href="<%= product_path(product) %>">

      <% if product.image.length == 0 %>
      <img src="/nopic.png" alt="no picture">
      <% else %>

      <img src="<%= product.image %>" alt="<%= product.title %>">
        
      <% end %>


      </a>
        
        <div class="caption">
          <h3>￥<%= product.price %>.00</h3>
          <p><%= product.description %></p>

        </div>
      </div>
    </div>
  <% end %>
</div>