<div class="row">
  <% @products.each do |product| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">

      <a href="<%= product_path(product) %>">

        <!-- 显示图判断 -->
        <% if no_pic?(product) %>
          <img src="/nopic.png" alt="no picture" class="img-responsive">
        <% else %>
          <img src="<%= product.image %>" alt="<%= product.title %>" class="img-responsive">
        <% end %>


      </a>
        
        <div class="caption">
        <h5><%= product.title %></h5>  
          <h3>￥<%= product.price %>.00</h3>
          <p><%= product.description %></p>

        </div>
      </div>
    </div>
  <% end %>
</div>