<!-- /.头图 -->
<div class="carousel">
  <img src="http://a1.qpic.cn/psb?/V13Obk462MXIb5/Niz*ZDexaUmPqbjRzV6VX4Nx9JoizTu7OTmKy*g8bjo!/m/dBgBAAAAAAAAnull&bo=wAOAAgAAAAARB3E!&rf=photolist&t=5" alt="search">
</div>
<!-- /.排序 -->
<div class="orderList bg-color1">
  <div class="orderList-item bg-color2"></div>
  <div class="orderList-item bg-color3"></div>
  <div class="orderList-item bg-color4"></div>
  <div class="orderList-item bg-color5"></div>
</div>

<!-- /.商品列表 -->
<div class="row">
  <div class="productList">
  <% @products.each do |product| %>
    <div class="col-xs-6 col-md-3">
      <%= link_to product_path(product) do %>
        <% if product.image.present? %>
          <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
      <% end %>
      <%= product.title %> ￥ <%= product.price %>
    </div>
  <% end %>
</div>
