<h2> Produce List </h2>


<br><br>

<table class="table table-boldered">
  <thead>
       <tr>
           <td>商品名称</td>
           <td>商品详情</td>
           <td>商品数量</td>
           <td>价格</td>
           <td>创建时间</td>

       </tr>

   </thead>
 <tbody>
  <% @products.each do |product| %>
  <tr>
    <td>
      <%= link_to(product.title, admin_product_path(product)) %>
    </td>

    <td>
      <%= product.description%>
    </td>

    <td>
      <%= product.quantity %>
    </td>

    <td>
      <%= product.price %>
    </td>

    <td>
      <%= product.created_at %>
    </td>
  </tr>
  <% end %>
<tbody>
</table>
