<!--
 <div class="row">
  <% @products.each do |product| %>
    <div class="col-xs-6 col-md-3">
      <%= link_to product_path(product) do %>
        <% if product.image.present? %>
          <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
      <% end %>
      <%= product.title %> ￥ <%= product.price %>
    </div>
  <% end %>
</div>
-->
<% if  @products.present? %>
                        <% @products.order('created_at DESC').each do |product| %>
                        <% if  true == product.category_id.eql?(3)%>
                        <li>
                            <%= link_to product_path(product) do %>
                            <% if product.image.present? %>
                            <span class="thumb"><%= image_tag(product.image.thumb.url)%></span>
                        <% else %>
                            <span class="thumb"><%=image_tag("http://placehold.it/200x200&text=No Pic", width="50") %>
                            </span>
                            <% end %>
                            <span class="name"><%=product.title%></span>
                            <span class="name">神器指数：⭐️⭐️⭐️⭐️</span>
                            <span class="name">￥
                                <%=product.price%></span>
                            <% end %>
                        </li>
                        <% end %>
                        <% end %>
                        <% end %>
