
<table class="table table-boldered">
  <tr>
    <td>商品名称</td>
    <td>商品描述</td>
    <td>数量</td>
    <td>价格</td>

    <td>图片</td>
  </tr>
  <% @products.each do |product| %>
  <tr>
    <td>
      <%= link_to(product.title, product_path(product)) %>
    </td>
    <td>
      <%= link_to(product.description, product_path(product)) %>
    </td>
    <td>
      <%= link_to(product.quantity, product_path(product)) %>
    </td>
    <td>
      <%= link_to(product.price, product_path(product)) %>
    </td>
    <td>
      <%= image_tag @product.image_url(:thumb).to_s %>
    </td>


    <td>
      <%= product.created_at %>
    </td>
  </tr>
  <% end %>
</table>
