
<div class="row">
  <% @products.each do |product| %>
    <div class="col-xs-6 col-lg-4">
      <%= link_to product_path(product) do %>
        <% if product.image.present? %>
          <%= image_tag(product.image.medium.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://www.teesnthings.com/ProductImages/ladies-t-shirts/plain-tee-shirt.jpg", class: "thumbnail") %>
        <% end %>
      <% end %>
        <%= product.title %> ￥ <%= product.price %>
    </div>
  <% end %>
</div>
