<!--三张图-->
<div class="sn_section">
    <div class="g-row">
       <div class="m-cate">
            <div class="bd">
                <div class="sn_list">
                    <a class="sn_item first large" href="products/1" target="_blank">
                        <img src="http://ojjhaj1wp.bkt.clouddn.com/2017-02-12-IMG_9045-Edit-2.jpg" data-original="" alt="" class="j-lazyload img-lazyload img img-noBgPic ">
                    </a>
                    <!--a class="sn_item first large" href="products/1" target="_blank">
                        <img src="http://ojjhaj1wp.bkt.clouddn.com/2017-02-12-IMG_9045-Edit-2.jpg" data-original="" alt="" class="j-lazyload img-lazyload img img-noBgPic img-lazyloaded">
                    </a-->
                    <a class="sn_item small " href="products/3" target="_blank">
                        <img src="http://ojjhaj1wp.bkt.clouddn.com/2017-02-12-IMG_9045-Edit-2.jpg" data-original="" alt="" class="j-lazyload img-lazyload img img-noBgPic img-lazyloaded">
                    </a>
                    <a class="sn_item small last" href="products/4" target="_blank">
                        <img src="http://ojjhaj1wp.bkt.clouddn.com/2017-02-12-IMG_9045-Edit-2.jpg" data-original="" alt="" class="j-lazyload img-lazyload img img-noBgPic img-lazyloaded">
                    </a>
                </div>
                <!--header class="hd">
                    <div class="left">
                        <h3 class="name">Snow Boots</h3>
                        <small class="frontName">当牛角扣遇见雪地靴，暖脚也暖心</small>
                    </div>
                    <div class="right">
                        <a class="moreItems" href="/products" target="_blank">全部商品 &gt;</a>
                    </div>
                 </header-->
            </div>
        </div>
    </div>
</div>
<!--end-->
<!--end-->
<div class=”container”>
  <div class="row">
  <div class="col-md-1" style="background-color:default;"></div>
  <div class="col-md-2 col-sm-4">
   <span class="thumbnail">
      <img src="http://placehold.it/500x400" alt="...">
      <h4>Product Tittle</h4>
      <div class="ratings">
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
          </div>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
      <hr class="line">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <p class="price">$29,90</p>
        </div>
        <div class="col-md-6 col-sm-6">
          <button class="btn btn-success right" href="/products">新增至购物车</button>
        </div>
      </div>
   </span>
  </div>
  <div class="col-md-2 col-sm-4">
   <span class="thumbnail">
      <img src="http://placehold.it/500x400" alt="...">
        <h4>Product Tittle</h4>
          <div class="ratings">
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
         </div>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
         <hr class="line">
         <div class="row">
            <div class="col-md-6 col-sm-6">
              <p class="price">$29,90</p>
            </div>
            <div class="col-md-6 col-sm-6">
               <button class="btn btn-success right" > BUY ITEM</button>
            </div>
         </div>
   </span>
  </div>
  <div class="col-md-2 col-sm-4">
    <span class="thumbnail">
      <img src="http://placehold.it/500x400" alt="...">
      <h4>Product Tittle</h4>
      <div class="ratings">
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
      </div>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
      <hr class="line">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <p class="price">$29,90</p>
        </div>
        <div class="col-md-6 col-sm-6">
          <button class="btn btn-success right" > BUY ITEM</button>
        </div>
      </div>
   </span>
  </div>
  <div class="col-md-2 col-sm-4">
    <span class="thumbnail">
      <img src="http://placehold.it/500x400" alt="...">
      <h4>Product Tittle</h4>
      <div class="ratings">
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
          </div>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
      <hr class="line">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <p class="price">$29,90</p>
        </div>
        <div class="col-md-6 col-sm-6">
          <button class="btn btn-success right" > BUY ITEM</button>
        </div>

      </div>
   </span>
  </div>
  <div class="col-md-2 col-sm-4">
    <span class="thumbnail">
      <img src="http://placehold.it/500x400" alt="...">
      <h4>Product Tittle</h4>
      <div class="ratings">
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
          </div>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
      <hr class="line">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <p class="price">$29,90</p>
        </div>
        <div class="col-md-6 col-sm-6">
          <button class="btn btn-success right" > BUY ITEM</button>
        </div>
      </div>
   </span>
  </div>
  <div class="col-md-1" style="background-color:default;"></div>
 </div>
</div>
<!--end-->
<!--作业购物栏-->
<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-3 col-xs-6">
      <%= link_to product_path(product) do %>
        <% if product.image.present? %>
          <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
      <% end %>
      <%= product.title %> ￥ <%= product.price %>
    </div>
  <% end %>
</div>
<!--end-->
