<!-- 全商品列表的的navbar -->
<!-- <div class="header_placeholder h80"></div>
<div class="header">
  <div class="header_content clearfix">
    <div class="logo1"><%=link_to("Select.", products_path)%></div>
    <div class="search_bar1">
      <%= form_tag search_products_path , :method => :get do %>
        <div class="input-group" id="search-id" >
          <input type="text" class="form-control" name="q" value="<%= params[:q] %>" placeholder="请输入商品信息">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      <% end %>
    </div>
    <div class="cart-wrap1">
      <div class="cart">
      	<%= link_to carts_path do %>
          <i class="fa fa-shopping-cart cart-icon f16 mr10 tc"></i>我的购物车
          <span class="products_count"><%= current_cart.products.count %></span>
        <% end %>
      </div>
    </div>
  </div>
</div> -->
<!-- 全商品列表的navbar结束 -->



<!-- 在商品列表中增加分类显示的按钮 -->
<!--
<div class="row">
  <% if params[:controller] == ('products') && params[:action] == ('show') %>
    <div class="menu-wrap">
      <ul class="menuList">
        <li class="menuList-item">
          <%= link_to("首页", products_path)%>
        </li>
        <% Category.all.each do |category| %>
          <li class="menuList-item <%= 'menuList-activeItem' if @product.category.name == category.name %>">
            <%= link_to category.name, products_path(category: category.name), class: "link" %>
          </li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <div class="menu-wrap">
      <ul class="menuList">
        <li class="menuList-item <%= 'menuList-activeItem' if !params[:category] %>">
          <%= link_to("首页", products_path)%>
        </li>
        <% Category.all.each do |category| %>
          <li class="menuList-item <%= 'menuList-activeItem' if params[:category] == category.name %>">
            <%= link_to category.name, products_path(category: category.name), class: "link" %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div> -->
<!-- 分类显示按钮结束 -->
<!-- <div class="minHeight1000 bg-color"> -->
<!-- 轮播图区域 -->
  <!-- <div class="banner">
    <div id="myCarousel_products_path" class="carousel slide" data-ride="carousel1" data-pause="hover" data-interval="5000">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel_products_path" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel_products_path" data-slide-to="1"></li>
        <li data-target="#myCarousel_products_path" data-slide-to="2"></li>
      </ol>
     <div class="carousel-inner" role="listbox">
        <div class="item active">
         <a href="#">
          <img src="http://ww2.sinaimg.cn/large/006tKfTcgy1ffqpid5tonj313x13xnb2.jpg">
          <div class="carousel-caption"></div>
         </a>
        </div>
        <div class="item">
         <a href="#">
          <img src="http://download.muuto.com/files/Airy_Connect_Elevated.jpg">
          <div class="carousel-caption"></div>
         </a>
        </div>
        <div class="item">
         <a href="#">
          <img src="http://www.images.stua.com/wp-content/uploads/stua-gas-1245-jm.jpg">
          <div class="carousel-caption"></div>
         </a>
        </div>
      </div> -->
      <!-- 轮播图左右选择的区域 -->
      <!-- <a class="left carousel-control" href="#myCarousel_products_path" role="button" data-slide="prev">
        <span class="sr-only">上一則</span>
      </a>
      <a class="right carousel-control" href="#myCarousel_products_path" role="button" data-slide="next">
        <span class="sr-only">下一則</span>
      </a> -->
      <!-- 轮播图左右选择区域结束 -->
    <!-- </div>
  </div> -->
<!-- 每个品牌信息展示区分区域 -->
  <% if @brand_id == 1 %>
    <%= render :partial => "products/HAY" %>
  <% elsif @brand_id == 2 %>
    <%= render :partial => "products/GUBI" %>
  <% elsif @brand_id == 3 %>
    <%= render :partial => "products/MENU" %>
  <% elsif @brand_id == 4 %>
    <%= render :partial => "products/muuto" %>
  <% elsif @brand_id == 5 %>
    <%= render :partial => "products/STUA" %>
  <% elsif @brand_id == 6%>
    <%= render :partial => "products/ferm_living" %>
  <% else %>
    <!-- 所處位置導航列開始 -->
    <ul class="breadcrumb">
      <li><a href="/">首页</a></li>
      <li class="active">全品项商品首页</li>
    </ul>
    <!-- 所處位置導航列結束 -->
    <!-- 活動廣告區域開始 -->
    <div class="row", style="margin-left: -21px;">
      <div class="col-md-10 col-md-offset-1", style="margin-bottom: -18px;" >
        <div class="panel panel-default">
          <div class="panel-body_products_img products_img">
            <div id="ad_bar" class="tab-content", style="padding: 0px 0px 30px;">
              <div class="tab-pane fade products_ad_1_img" id="ad_content_1">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <p style="text-align: center; font-size: 2em;"><a href="#" class="btn btn-success btn-lg">最新到货</a></p>
              </div>
              <div class="tab-pane fade active in products_ad_2_img" id="ad_content_2">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <p style="text-align: center; font-size: 2em;"><a href="#" class="btn btn-warning btn-lg">2017初夏轻色</a></p>
              </div>
              <ul class="nav nav-tabs", style="margin-left: 5%; margin-top: 0.5%;">
                <li class=""><a href="#ad_content_1" data-toggle="tab" aria-expanded="false">The NEW</a></li>
                <li class="active"><a href="#ad_content_2" data-toggle="tab" aria-expanded="true">Summer!</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 活動廣告區域結束 -->
    <!-- 所處位置導航列開始 -->
    <ul class="breadcrumb">
      <li><a href="/products">全品项商品</a></li>
      <li><a href="/products?category=椅子">椅子</a></li>
      <li><a href="/products?category=桌子">桌子</a></li>
      <li><a href="/products?category=凳子">凳子</a></li>
      <li><a href="/products?category=沙发">沙发</a></li>
    </ul>
    <!-- 所處位置導航列結束 -->
  <% end %>
<!-- 每个品牌信息展示区分区域结束 -->

<!-- 商品排序显示页面显示部分 -->
<div class="row", style="margin-left: -21px;">
  <div class="col-md-10 col-md-offset-1", style="margin-bottom: -18px;" >
    <div class="order clearfix">
      <p class="title">商品排序 | </p>
      <ul class="orderList">
        <li class="orderList-orderItem <%= 'orderList-activeItem' if !params[:order] %>"><%= link_to("新品", products_path) %></li>
        <li class="orderList-orderItem <%= 'orderList-activeItem' if params[:order] == 'by_product_stock' %>"><%= link_to("销量", products_path(:order => "by_product_stock")) %></li>
        <li class="orderList-orderItem <%= 'orderList-activeItem' if params[:order] == 'by_product_price' %>"><%= link_to("价格", products_path(:order => "by_product_price")) %></li>
      </ul>
    </div>
  </div>
</div>
<!-- 商品排序显示页面部分结束 -->

<!-- 区域：商品展示列表 -->
<div class="productList-wrap", style="margin: -15px auto;">
  <ul class="productList clearfix">
    <div class="row", style="margin-left: -21px;">
      <% @products.each do |product| %>
        <div class="col-md-3 col-xs-6", style="margin-left: 35px; margin-right: -70px;">
          <li class="productList-item box panel panel-default">
            <div class="productList-item-pic">
              <%= link_to product_path(product) do %>
                <% if product.image.present? %>
                  <%= image_tag(product.image.thumb.url) %>
                <% else %>
                  <%= image_tag("http://placehold.it/418x418&text=No Pic") %>
                <% end %>
              <% end %>
            </div>
            <div class="productList-item-price">￥<%= product.price %>
              <% if product.stock > 0 %>
                <%= link_to add_to_cart_product_path(product), :method => :post, class: "addCartBtn productList-item-cartBtn", :remote => true do %>
                  <i class="fa fa-shopping-cart"></i>
                <% end %>
              <% end %>
              <!-- 待加入預購功能 -->
              <% if product.stock <= 0 %>
                <div class="productList-item-sellout", style="margin-top: -33px;">
                  <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                </div>
              <% end %>
              <!-- 待加入預購功能 -->
            </div>
            <div class="productList-item-name ell">
              <%= link_to product_path(product) do %>
                 <%= product.name %>
              <% end %>
            </div>
            <!-- <div class="productList-item-desc"><%= product.description %></div> -->
          </li>
        </div>
      <% end %>
    </div>
  </ul>
</div>
<!-- 商品展示列表结束 -->

<!-- 设置回到顶部和网站链接功能 -->
<div id="sidebar" class="sidebar">
  <ul>
    <li class="backtop"><i class="fa fa-arrow-circle-up"></i></li>
    <li class="support">
      <i class="fa fa-thumbs-o-up"></i>
      <div class="ewm">
        <p>
          觉得不错嘛？<br>
          来，动动小手<br>
          <a href="https://fullstack.xinshengdaxue.com/works/579" target="_blank">帮我投个票</a><br>
          谢谢^_^
        </p>
      </div>
    </li>
  </ul>
</div>

<!-- 设置回到顶部和网站链接功能结束 -->

<!-- 设置轮播图自动转换时间 -->
<!-- <script>
$(document).ready(function () {
  $('#myCarousel').carousel({
    interval: 2000 //目前是2秒播放一张，可以根据需要调整这个值
  })
})
</script> -->
<!-- 轮播图自动转换设置结束 -->
