

<div class="row">
  <% @products.each do |product|%>
<figure class="snip1246">
 <div class="img-list">
  <%= link_to product_path(product) do %>
    <% if product.photos.present? %>
    <%= image_tag(product.photos[0].avatar.thumb.url, class: "thumbnail") %>
    <% else %>
    <%= image_tag("http://placehold.it/200x200&text=No Pic")   %>
    <% end %>
    <% end %>
  </div>
  <figcaption>
    <%= link_to product_path(product) do %>
    <h2><%= product.title %></h2>
    <p><%= product.description %> </p>
    <div class="price">¥<%= product.price %></div>

    <div clas="addgood">
    <%= link_to("加入购物车", add_to_cart_product_path(product),:method => :post, :class => "add-to-cart")%>
    <div>
      <% end %>

  </figcaption>

</figure>
  <% end %>
</div>
