


 <div class="title">
<div class="title-1">
   INTERESTING FINDS
 </div>
 </div>



<%= render :partial => "products/menu" %>



<div class="body1">
<div class="productList-wrap w1200 pt20 bc">
   <ul class="productList clearfix pb20">


  <% @products.each do |product| %>
    <div class="col-xs-6 col-md-3">
      <%= link_to product_path(product) do %>
        <% if product.product_images.present? %>
          <%= image_tag(product.product_images[0].image.thumb.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
      <% end %>
      <%= product.title %> ￥ <%= product.price %>
    </div>
  <% end %>
</ul>
</div>
</div>
