<table class="table table-bordered">
  <% @products.each do |product| %>
  <tr>
    <td>
      <%= link_to(product.name, product_path(product)) %>
    </td>
    <td>
      <%= link_to(product.description, product_path(product)) %>
    </td>
    <td>
      <%= link_to(product.price, product_path(product)) %>
    </td>
    <td>
      <%= link_to(product.amount, product_path(product)) %>
    </td>
    <td>
      <%= product.created_at %>
    </td>
  </tr>
  <% end %>
</table>
