<table class="table table-default">
  <thead>
    <tr>
      <th>商品名称</th>
      <th>描述</th>
      <th>价格</th>
      <th>数量</th>
      <th>上架时间</th>
    </tr>
  </thead>

  <% @products.each do |product| %>
  <tbody>
    <tr>
      <td><%= link_to(product.title, product_path(product)) %></td>
      <td><%= product.description %></td>
      <td><%= product.price %></td>
      <td><%= product.quantity %></td>
      <td><%= product.updated_at %></td>
    </tr>
  </tbody>
  <% end %>
</table>
