
<div class="row">

  <% @products.each do |product| %>
  <div class="col-sm-3 col-md-3" >


      <!-- <%= image_tag product.image.thumb %> -->
      <div class="thumbnail">
        <!-- <div style="border:1px solid #eee;padding:2px;float:left;margin-right:10px"><%= image_tag product.image.thumb %></div> -->
   <!-- <img src="product.image.thumb"/> -->
      <%= image_tag product.image.thumb %>
      <div class="caption">
        <h5>《<%=link_to(product.title, product_path(product))%>》 </h5>
         <!-- <p><%= product.description %></p> -->
         <table class="table table-boldered">
           <thead>
             <tr>
               <td>售价</td>
               <td>库存</td>
             </tr>
           <tr>
             <td><%= product.price %></td>
               <td><%= product.quantity %></td>
           </tr>
         </table>
        <p><a href="#" class="btn btn-primary" role="button">Buy</a> <a href="#" class="btn btn-default" role="button">Collect</a></p>
      </div>

    </div>

  </div>
  <% end %>
  </div>
