
<div class="sort-option">
  <ul class="line clearfix">
    <li class="sequence">
      <button class="btn btn-link"><%= sort_link(@q, :price, "按价格排序") %></button>
    </li>
    <li class="sequence">
      <button class="btn btn-link"> <%= sort_link(@q, :quantity, "按销量排序") %></button>
    </li>
    <li  id="first-kind"  class="kindof">
      <button class="btn btn-info  filter-button" data-filter="meat">各种肉</button>
    </li>
    <li class="kindof">
        <button class="btn btn-info filter-button" data-filter="grain">粗粮</button>
    </li>
    <li class="kindof">
        <button class="btn btn-info filter-button" data-filter="someregion">地方特色</button>
    </li>
  </ul>

</div>




<div class="item-box">
  <% @products.each do |product| %>
    <div class="item ng-scope  filter <%=render_special_filter_class(product)%>" >
      <div class="item-img">
        <%= link_to product_path(product) do %>
          <% if product.image.present? %>
            <%= image_tag(product.image.thumb.url) %>
          <% else %>
            <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
          <% end %>
        <% end %>


         <div class="pi-thumbs-up">
           <%= link_to like_product_path(product), method: :put do %>
           <i class="fa fa-thumbs-up fa-2x" , style="color:#ff5722;"></i>
           <%= product.get_upvotes.size %>
           <% end %>
          </div>

        </div>
      <h6 class="ng-binding"><%= product.title %></h6>


      <div class="item-price clearfix">
        <i>￥</i>
        <span class="ng-binding"> <%= product.price %></span>
      </div>

      <div class="operator">
        <span class="detail-btn">
          <%= link_to("查看详情",product_path(product)) %>
        </span>
        <span class="cart-btn ng-scope">
          <%= link_to("加入购物车", add_to_cart_product_path(product), :method => :post, :style => "color: white;") %>
        </span>

      </div>



    </div>
  <% end %>
</div>










<script type="text/javascript">
        $(document).ready(function(){

            $(".filter-button").click(function(){
                var value = $(this).attr('data-filter');

                if(value == "all")
                {
                    //$('.filter').removeClass('hidden');
                    $('.filter').show('1000');
                }
                else
                {

                    $(".filter").not('.'+value).hide('3000');
                    $('.filter').filter('.'+value).show('3000');

                }
            });

        });
</script>
