<div class="pull-right">
  <%= link_to("Add a product", new_product_path, :class => "btn btn-default" ) %>
</div>

<table class="table table boldered">
  <tr>

    <td>#</td>
    <td>品名</td>
    <td>叙述</td>
    <td>库存</td>
    <td>价格</td>
    <td>选项</td>
    <td>创建日期<td>

  <tr>

  <% @products.each do |product| %>

    <td>#</td>
    <td><%= link_to(product.title, product_path(product)) %></td>
    <td><%= link_to(product.description, product_path(product)) %></td>
    <td><%= link_to(product.quantity, product_path(product)) %></td>
    <td><%= link_to(product.price, product_path(product)) %></td>
    <td>
      <%= link_to("Edit", edit_product_path(product)) %> |
      <%= link_to("Destroy", product_path(product), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
    </td>
    <td>
      <%= product.created_at %>
    </td>
  </tr>
  <% end %>
</table>
