<!--  字体链接  -->
<link href="https://fonts.googleapis.com/css?family=Clicker+Script|Lobster|Ravi+Prakash|Satisfy" rel="stylesheet">

<!--================================ 1. 网站头图 =================================-->

<section class="welcome-top">
  <!--===== 廣告輪播 =====-->
  <div class="row">
    <div class="col-md-12 col-centered text-center">
      <!-- <div id="zi2">
        <strong><p>Hot Sell</p></strong>
      </div> -->

      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!--===== 輪播按鈕 =====-->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!--===== 輪播內容 =====-->
        <div class="carousel-inner" role="listbox">
          <div class="item active">

            <img src='<%= image_url 'https://ws3.sinaimg.cn/large/006tKfTcgy1ffvrqa3h6wj31kw0w012m.jpg' %>' >
            <div class="carousel-caption intro-content02">
                <h1>How to brand yourself as an artist</h1>
                <p>让你的生活变得更有趣</p>
            </div>
          </div>
          <div class="item">
            <img src='<%= image_url 'https://ws3.sinaimg.cn/large/006tNbRwgy1ffwxzagovlj31kw0w0wn6.jpg' %>'>
            <div class="carousel-caption intro-content03">
              <h1>How to brand yourself as an artist</h1>
            <p>大胆去想像人生的可能性 </p>
            </div>
          </div>
          <div class="item">
            <img src='<%= image_url 'https://ws4.sinaimg.cn/large/006tNbRwgy1ffwxz2t300j31kw0w0k0p.jpg' %>'>
            <div class="carousel-caption intro-content04">
              <h1>How to brand yourself as an artist</h1>
            <p>试着放慢脚步，写下自己的故事，用陶艺来表达，用图像来演绎。 </p>
            </div>
          </div>
        </div>
        <!--===== 換頁按鈕 =====-->
        <!-- <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="fa fa-angle-left" aria-hidden="true"></span></a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="fa fa-angle-right" aria-hidden="true"></span></a> -->
        </div>
      </div>
    </div>
</section>
<!--================================ end 1. 网站头图 =================================-->


<!--======== 海报锯齿 =========-->

<!-- <li>
  <div class="decor-bottom9">
 <svg class="decor-p" height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%" >
   <path d="M0 100 L2 60 L4 100 L6 60 L8 100 L10 60 L12 100 L14 60 L16 100 L18 60 L20 100 L22 60 L24 100 L26 60 L28 100 L30 60 L32 100 L34 60 L36 100 L38 60 L40 100 L42 60 L44 100 L46 60 L48 100 L50 60 L52 100 L54 60 L56 100 L58 60 L60 100 L62 60 L64 100 L66 60 L68 100 L70 60 L72 100 L74 60 L76 100 L78 60 L80 100 L82 60 L84 100 L86 60 L88 100 L90 60 L92 100 L94 60 L96 100 L98 60 L100 100 Z" stroke-width="0"></path>
 </svg>
</div>
</li> -->
<!-- <div class="decor-top9">
 <svg class="decor" height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%" >
   <path d="M0 0 L2 40 L4 0 L6 40 L8 0 L10 40 L12 0 L14 40 L16 0 L18 40 L20 0 L22 40 L24 0 L26 40 L28 0 L30 40 L32 0 L34 40 L36 0 L38 40 L40 0 L42 40 L44 0 L46 40 L48 0 L50 40 L52 0 L54 40 56 0 L58 40 L60 0 L62 40 L64 0 L66 40 L68 0 L70 40 L72 0 L74 40 L76 0 L78 40 L80 0 L82 40 L84 0 L86 40 L88 0 L90 40 L92 0 L94 40 L96 0 L98 40 L100 0" stroke-width="0"></path>
 </svg>
</div> -->
<!--======== 海报锯齿 =========-->

<!--================================  2. 课程块 =================================-->
<div class="fw">
  <div class="container-fluid col-md-12 col-centered text-center">
    <div class="row ">
      <h2 class="section-title">课程</h2>
       <div class="col-md-10 col-md-offset-1">
        <div class="col-md-4">
              <div class="polaroid2">
                <div align="center">
                  <h2 class="section-title-2">拉胚课程</h2>
                  <img class="small3" src="https://ws4.sinaimg.cn/large/006tNc79gy1ffuhx8n0tpj30b408c0v6.jpg" alt="llogo">
                </div>
                  <div class="container12">
                    <p>带你零基础学拉胚技巧，培养平静的心境
                      <br>脱离城市工作中快节奏的压力</p>
                  </div>
              </div>
        </div>
        <div class="col-md-4">
              <div class="polaroid2">
                <div align="center">
                  <h2 class="section-title-2">工艺学习</h2>
                  <img class="small3" src="https://ws2.sinaimg.cn/large/006tKfTcgy1ffxfcgbin2j30b408c0vm.jpg" alt="llogo">
                </div>
                  <div class="container12">
                    <p>认识工艺制作流程，快速上手实用技巧提升创作能力。
                    <br>学会如何在原型上进行雕刻，有哪些工具可以使用。
                    <br>学会如何砌造属于你的作品</p>
                  </div>
              </div>
        </div>
        <div class="col-md-4">
              <div class="polaroid2">
                <div align="center">
                  <div align="center">
                    <h3 class="section-title-2">创作实践</h3>
                    <img class="small3" src="https://ws2.sinaimg.cn/large/006tKfTcgy1ffxfa8x52fj30b408cwg1.jpg" alt="llogo">
                  </div>
                </div>
                  <div class="container12">
                    <p>帮助你发挥想象力，创造出自己都不敢想象的作品
                    <br>灵感来自于实践，耍泥能让你创意源源不断</p>
                  </div>
              </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 波浪纹 -->
  <div class="decor-top3">
   <svg class="decor-p" height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%" >
     <path d="M-5 100 Q 0 20 5 100 Z M0 100 Q 5 0 10 100 M5 100 Q 10 30 15 100 M10 100 Q 15 10 20 100 M15 100 Q 20 30 25 100 M20 100 Q 25 -10 30 100 M25 100 Q 30 10 35 100 M30 100 Q 35 30 40 100 M35 100 Q 40 10 45 100 M40 100 Q 45 50 50 100 M45 100 Q 50 20 55 100 M50 100 Q 55 40 60 100 M55 100 Q 60 60 65 100 M60 100 Q 65 50 70 100 M65 100 Q 70 20 75 100 M70 100 Q 75 45 80 100 M75 100 Q 80 30 85 100 M80 100 Q 85 20 90 100 M85 100 Q 90 50 95 100 M90 100 Q 95 25 100 100 M95 100 Q 100 15 105 100 Z" stroke-width="0"></path>
   </svg>
  </div>
  <!-- 波浪纹 -->
</div>


<!--================================ end 2. 课程块  =================================-->

<!--======== 海报波浪 =========-->
<!-- <div class="decor-top3">
 <svg class="decor-p" height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%" >
   <path d="M-5 100 Q 0 20 5 100 Z M0 100 Q 5 0 10 100 M5 100 Q 10 30 15 100 M10 100 Q 15 10 20 100 M15 100 Q 20 30 25 100 M20 100 Q 25 -10 30 100 M25 100 Q 30 10 35 100 M30 100 Q 35 30 40 100 M35 100 Q 40 10 45 100 M40 100 Q 45 50 50 100 M45 100 Q 50 20 55 100 M50 100 Q 55 40 60 100 M55 100 Q 60 60 65 100 M60 100 Q 65 50 70 100 M65 100 Q 70 20 75 100 M70 100 Q 75 45 80 100 M75 100 Q 80 30 85 100 M80 100 Q 85 20 90 100 M85 100 Q 90 50 95 100 M90 100 Q 95 25 100 100 M95 100 Q 100 15 105 100 Z" stroke-width="0"></path>
 </svg>
</div> -->
<!--======== 海报波浪 =========-->

<!--========================================== 3.产品块 ===========================================-->
<div class="pr">
  <div class="container-fluid col-md-10 col-centered text-center">
    <div class="row">
        <h2 class="section-title">我们的产品</h2>
        <div align="center">
          <% @products.each do |product| %>
            <div class="col-md-4">
                  <div class="boxx">
                      <div class="boxx-contentx">
                          <%= link_to product_path(product) do %>
                            <% if product.image.present? %>
                              <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
                            <% else %>
                              <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
                            <% end %>
                          <% end %>
                          <div class="container11">
                            <%= product.title %> ￥ <%= product.price %>
                          </div>
                          <a href="#" class="btn btn-block btn-warning">了解更多</a>
                      </div>
                  </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!--==================================== end 3.产品块 ===================================-->


<!--================================= 分割图  =============================-->
<div class="decor-top8">
 <svg class="decor" height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%" >
   <path d="M0 0 L2 40 L4 0 L6 40 L8 0 L10 40 L12 0 L14 40 L16 0 L18 40 L20 0 L22 40 L24 0 L26 40 L28 0 L30 40 L32 0 L34 40 L36 0 L38 40 L40 0 L42 40 L44 0 L46 40 L48 0 L50 40 L52 0 L54 40 56 0 L58 40 L60 0 L62 40 L64 0 L66 40 L68 0 L70 40 L72 0 L74 40 L76 0 L78 40 L80 0 L82 40 L84 0 L86 40 L88 0 L90 40 L92 0 L94 40 L96 0 L98 40 L100 0" stroke-width="0"></path>
 </svg>
</div>
<div class="middle-photo2"></div>

<div class="decor-bottom2">
 <svg class="decor-p" height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%" >
   <path d="M0 100 L2 60 L4 100 L6 60 L8 100 L10 60 L12 100 L14 60 L16 100 L18 60 L20 100 L22 60 L24 100 L26 60 L28 100 L30 60 L32 100 L34 60 L36 100 L38 60 L40 100 L42 60 L44 100 L46 60 L48 100 L50 60 L52 100 L54 60 L56 100 L58 60 L60 100 L62 60 L64 100 L66 60 L68 100 L70 60 L72 100 L74 60 L76 100 L78 60 L80 100 L82 60 L84 100 L86 60 L88 100 L90 60 L92 100 L94 60 L96 100 L98 60 L100 100 Z" stroke-width="0"></path>
 </svg>
</div>
<!--=================== end 分割图 ==================-->

<!--======================================== 4.摄影区 =========================================-->
<div class="ph">
  <div class="container-fluid col-md-12 col-centered text-center">
    <div class="row">
      <h2 class="section-title">Show我的队友</h2>
      <p>关于队友的更多作品请关注下一版的更新</p>
      <div class="container1">
        <div id="carousel1">
          <figure><img src="https://ws1.sinaimg.cn/large/006tKfTcgy1ffxfid1jwpj31kw0w0n6p.jpg" alt="" width="120%" height="120%"></figure>
          <figure><img src="https://ws4.sinaimg.cn/large/006tKfTcgy1ffxfilvc4pj31kw0w0ais.jpg" alt="" width="120%" height="120%"></figure>
          <figure><img src="https://ws3.sinaimg.cn/large/006tKfTcgy1ffxfir0q31j31kw0w07do.jpg" alt="" width="120%" height="120%"></figure>
          <figure><img src="https://ws2.sinaimg.cn/large/006tKfTcgy1ffxfivvfh3j31kw0w0ajk.jpg" alt="" width="120%" height="120%"></figure>
          <figure><img src="https://ws3.sinaimg.cn/large/006tKfTcgy1ffxfj1ujc9j31kw0w0n7c.jpg" alt="" width="120%" height="120%"></figure>
          <figure><img src="https://ws4.sinaimg.cn/large/006tKfTcgy1ffxfj6scv7j31kw0w0drg.jpg" alt="" width="120%" height="120%"></figure>
        </div>
      </div>
    </div>
  </div>
</div>
<!--======================================== end 4.摄影区 =========================================-->

<!--=================== end 分割图 ==================-->
<div class="decor-top5">
 <svg class="decor" height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%" >
   <path d="M0 0 L2 40 L4 0 L6 40 L8 0 L10 40 L12 0 L14 40 L16 0 L18 40 L20 0 L22 40 L24 0 L26 40 L28 0 L30 40 L32 0 L34 40 L36 0 L38 40 L40 0 L42 40 L44 0 L46 40 L48 0 L50 40 L52 0 L54 40 56 0 L58 40 L60 0 L62 40 L64 0 L66 40 L68 0 L70 40 L72 0 L74 40 L76 0 L78 40 L80 0 L82 40 L84 0 L86 40 L88 0 L90 40 L92 0 L94 40 L96 0 L98 40 L100 0" stroke-width="0"></path>
 </svg>
</div>
<!--=================== end 分割图 ==================-->

<!--====================================== 5.铁粉说 =======================================-->

<section id="say" class="say">
  <div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-centered text-center">
      <h2 class="section-title">我们的铁粉说</h2>

      <div class="row">
        <div class="col-md-4">
          <div class="do-box">
            <%= image_tag("girl.png") %>
            <p>做陶艺是一个锻炼耐心，培养心境事情，学会了道，也学会了术。更陶冶了情操！</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="do-box">
            <%= image_tag("boy.png") %>
            <p>想玩陶艺很久了，发现你们家可以玩，还可以卖自己作品！太好了！</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="do-box">
            <%= image_tag("girl2.png") %>
            <p>没想到自己变成了女1号收获了属于自己的创意摄影作品！</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!--====================================== end 5.铁粉说 =======================================-->

<!--======== footer锯齿 =========-->
<div class="decor-top2">
 <svg class="decor" height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%" >
   <path d="M0 0 L2 40 L4 0 L6 40 L8 0 L10 40 L12 0 L14 40 L16 0 L18 40 L20 0 L22 40 L24 0 L26 40 L28 0 L30 40 L32 0 L34 40 L36 0 L38 40 L40 0 L42 40 L44 0 L46 40 L48 0 L50 40 L52 0 L54 40 56 0 L58 40 L60 0 L62 40 L64 0 L66 40 L68 0 L70 40 L72 0 L74 40 L76 0 L78 40 L80 0 L82 40 L84 0 L86 40 L88 0 L90 40 L92 0 L94 40 L96 0 L98 40 L100 0" stroke-width="0"></path>
 </svg>
</div>
<!--======== footer锯齿 =========-->
