  <div class="container-fluid" style="background-color:#F2F2F2;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="order">
            <div class="col-md-8">

              <a href="?where=<%= if !@w.blank? then @w[0] end%>&order=hot"><span class="fa fa-long-arrow-down" aria-hidden="true">&nbsp;热门</span></a>
              <a href="?where=<%= if !@w.blank? then @w[0] end%>&order=new"><span class="fa fa-long-arrow-down" aria-hidden="true">&nbsp;新品</span></a>
              <a href="?where=<%= if !@w.blank? then @w[0] end%>&order=sale"><span class="fa fa-long-arrow-down" aria-hidden="true">&nbsp;销量</span></a>
              <a href="?where=<%= if !@w.blank? then @w[0] end%>&order=<%= if !@o.blank? && @o[0]=="price" then "price-down" else "price" end%>"><span class="fa fa-long-arrow-down" aria-hidden="true">&nbsp;价格</span></a>
              <a href="#"><span class="fa fa-long-arrow-down" aria-hidden="true">&nbsp;评价数</span></a>

            </div>
            <div class="text-right">
              <span>
                共<%= @products.count %>件商品
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="container">
  <div class="product-list">
    <ul>
      <% @products.each do |product| %>
      <li>

        <div class="product-price">
          <a href="<%= product_path(product) %>">
            <img class="product-img" src="<%= img430(product,1) %>" alt=""></a>
          <p class="price">￥<%= product.promotional %></p>
          <p class="describe"><%= product.title %></p>
          <p class="evaluate">已有<%= product.reviews.count%>条评价</p>
          <div class="cart text-center">
            <% if current_user %>
              <% if current_user.is_favorite_of?(product) %>
            <%= link_to(content_tag(:i,' 已收藏', class: 'fa fa-heart'), favorite_product_path(product)+"?fa=unfavorite-p", :method => :post,:remote => true,id:  "favorite-item-"+product.id.to_s) %>
             <% else %>
            <%= link_to(content_tag(:i,' 收藏', class: 'fa fa-heart-o'), favorite_product_path(product)+"?fa=favorite-p", :method => :post,:remote => true,id:  "favorite-item-"+product.id.to_s) %>
              <% end %>
            <% else %>
              <a href="#" data-toggle="modal" data-target="#login-modal"><i class="fa fa-heart-o"> 收藏</i></a>
            <% end %>
          </div>
            <a class="item_buy" mid="<%= img430(product,1) %>" data-remote="true" rel="nofollow" data-method="post" href="<%= add_to_cart_product_path(product)%>"><div class="shopCart cart text-center"><i class="fa fa-cart-arrow-down"> 加入购物车</i></div></a>
            <%#= link_to(content_tag(:i, ' 加入购物车', class: 'fa fa-cart-arrow-down'), add_to_cart_product_path(product), :method => :post,:remote => true,class: 'item_buy' , mid: img430(product,1)) %>
        </div>
      </li>
      <% end %>
      </ul>
    </div>

  </div>
  <div class="text-center">
    <%= will_paginate @products %>

  </div>

  <script type="text/javascript">
// Get a list of all svg elements
icons = document.querySelectorAll('.icon-hook');

// Cycle through list
for (var i = 0; i < icons.length; i++) {
  icons[i].addEventListener('click', function(event) {
    event.preventDefault();

    var icon = this;
    var currentClass = icon.getAttribute('class'); // The starting class

    console.log(icon);

    if (currentClass.indexOf('active-favor') > -1) {
      // Remove .active
      icon.setAttribute('class', currentClass.replace(' active-favor', ''));
    } else {
      // Add .active
      icon.setAttribute('class', currentClass + ' active-favor');
    }
  }, false);
}


</script>
