	<div class="row">
		<div id="bootstrap-touch-slider" class="carousel bs-slider fade  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000" >

						<!-- Indicators -->
						<ol class="carousel-indicators">
								<li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
								<li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
								<li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
						</ol>

						<!-- Wrapper For Slides -->
						<div class="carousel-inner" role="listbox">

								<!-- Third Slide -->
								<div class="item active">

										<!-- Slide Background -->
										<img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fclr6i3aojj31400ci43t.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
										<div class="bs-slider-overlay"></div>

										<div class="container">
												<div class="row">
														<!-- Slide Text Layer -->
														<div class="slide-text slide_style_left">
																<h1 data-animation="animated zoomInLeft">从货源保证正品</h1>
																<p style="color:black;" data-animation="animated fadeInRight">诚信老品牌童叟无欺</p>
																<a href="#" target="_blank" class="btn btn-default" data-animation="animated zoomInRight">查看详情</a>
														</div>
												</div>
										</div>
								</div>
								<!-- End of Slide -->

								<!-- Second Slide -->
								<div class="item">

										<!-- Slide Background -->
										<img src="https://ww3.sinaimg.cn/large/006tKfTcgy1fcptbkfjm1j31400clwie.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
										<div class="bs-slider-overlay"></div>
										<!-- Slide Text Layer -->
										<div class="slide-text slide_style_left">
												<h1 data-animation="animated flipInX">贴心客服保障售后</h1>
												<p data-animation="animated lightSpeedIn">老司机教你如何绕过买车的那些坑</p>
												<a href="#" target="_blank" class="btn btn-default" data-animation="animated fadeInUp">查看详情</a>

										</div>
								</div>
								<!-- End of Slide -->

								<!-- Third Slide -->
								<div class="item">

										<!-- Slide Background -->
										<img src="https://ww4.sinaimg.cn/large/006tKfTcgy1fclrlt2tdgj31400ci413.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
										<div class="bs-slider-overlay"></div>
										<!-- Slide Text Layer -->
										<div class="slide-text slide_style_left">
												<h1 data-animation="animated zoomInLeft">一流物流全方面服务</h1>
												<p data-animation="animated fadeInRight">专业销售一站式提车</p>
												<a href="" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">查看详情</a>

										</div>
								</div>
								<!-- End of Slide -->


						</div><!-- End of Wrapper For Slides -->

						<!-- Left Control -->
						<a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
								<span class="fa fa-angle-left" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
						</a>

						<!-- Right Control -->
						<a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
								<span class="fa fa-angle-right" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
						</a>

				</div> <!-- End  bootstrap-touch-slider Slider -->
			</div>

			<div class="container">
            <div class="col-sm-12">
                <div class="bs-calltoaction bs-calltoaction-primary">
                    <div class="row">
                        <div class="col-md-6 cta-contents">
                            <h1 class="cta-title">想要一辆超酷的车？</h1>

                        </div>
                        <div class="col-md-3 cta-button highlight">
                            <a href="#" class="btn btn-default">立即选购!</a>
                        </div>
                     </div>
                </div>
              </div>
          </div>


	<section class="sec-emp">
	<div class="container text-center">
	    <div class="col-lg-12">
	             <div class="col-sm-6 col-md-3">
	                <div class="panel panel-default panel-card">
	                    <div class="panel-heading">
	                        <img src="https://ooo.0o0.ooo/2017/02/13/58a1b97f6e177.png" />

	                    </div>

	                    <div class="panel-body">
	                      <br><br>
	                        <h4 class="panel-header"><%= link_to("法拉利", category_products_path(c:"法拉利"), class: "bootstrap-override-2") %></h4>
	                    </div>
	                    <div class="panel-thumbnails">
	                    </div>
	                </div>
	    		</div>
			    <div class="col-sm-6 col-md-3">
	        	    <div class="panel panel-default panel-card">
	                    <div class="panel-heading">
	                        <img src="https://ooo.0o0.ooo/2017/02/13/58a1b9bb9d1c9.png" />
	                    </div>

	                    <div class="panel-body">
	                      <br><br>
	                        <h4 class="panel-header"><%= link_to("保时捷", category_products_path(c:"保时捷"), class: "bootstrap-override-2") %></h4>
	                    </div>
	                    <div class="panel-thumbnails">
	                    </div>
	            	</div>
	    		</div>
	            <div class="col-sm-6 col-md-3">
	                <div class="panel panel-default panel-card">
	                    <div class="panel-heading">
	                        <img src="https://ooo.0o0.ooo/2017/02/13/58a1b9f1b18ca.png" />
	                    </div>
	                    <div class="panel-body">
	                      <br><br>
	                        <h4 class="panel-header"><%= link_to("兰博基尼", category_products_path(c:"兰博基尼"), class: "bootstrap-override-2") %></h4>
	                    </div>
	                    <div class="panel-thumbnails">

	                    </div>
	            	</div>
	    		</div>
	            <div class="col-sm-6 col-md-3">
	                <div class="panel panel-default panel-card">
	                    <div class="panel-heading">
	                        <img src="http://www.kuqin.com/upimg/allimg/100709/0003350.jpg" />
	                    </div>
	                    <div class="panel-body">
	                      <br><br>
	                        <h4 class="panel-header"><%= link_to("布加迪威龙", category_products_path(c:"布加迪威龙"), class: "bootstrap-override-2") %></h4>
	                    </div>
	                    <div class="panel-thumbnails">
	                    </div>
	            	</div>
	    		</div>
	    </div>
	</div>
	</section>

<div class="container">
<h3>超跑列表</h3>
					<hr>
<div class="row">
  <% @products.each do |product| %>
	<div class="col-md-3 col-sm-6">
    		<span class="thumbnail product-item">
					<div class="pi-img-wrapper">
						<% if product.image.present? %>
							<%= image_tag(product.photos[0].avatar.thumb.url, class: "thumbnail") %>
						<% else %>
							<%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
						<% end %>
						<div>
							<p class="btn">
							<% if current_user && current_user.is_favorite_of?(product) %>
         				<%= link_to("取消收藏", favorite_product_path(product, type: "unfavorite"), method: :put) %>
       				<% else %>
         				<%= link_to("添加收藏", favorite_product_path(product, type: "favorite"), method: :put) %>
        			<% end %>
							</p>
						</div>
					</div>
      		<h3><%= link_to(product.title, product_path(product)) %></h3>
      		<div>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
          </div>

						<% if product.discount != 100 %>
						<span class="badge"><%= product.discount %>%</span>
						<% end %>

      		<p><%= product.description %></p>
      		<hr class="line">
      		<div class="row">
      				<div class="col-md-6 col-sm-6">
      					<p class="pi-price">￥ <%= product.price %></p>
      				</div>
      				<div class="col-md-6 col-sm-6">
      					<div class="btn add2cart" > <%= link_to('Buy', product_path(product)) %></div>
      				</div>
      			</div>
						<% if product.newproduct %>
						<div class="sticker sticker-new"></div>
						<% end %>
    		</span>
  		</div>

  <% end %>
</div>
</div>
