<div class="FilterBox">
  <div class="InnerBox">
      <label>行业筛选：</label>
      <div class="ClassesBox">
        <a class="ClassesActive" href="/">全部</a>
        <a href="/">公益</a>
        <a href="/">农业</a>
        <a href="/">出版</a>
        <a href="/">艺术</a>
        <a href="/">其他</a>
      </div>
      <label>项目排序：</label>
      <div class="ClassesBox">
        <a class="ClassesActive" href="/">全部</a>
        <a href="/">正在众筹</a>
        <a href="/">将要结束</a>
        <a href="/">成功结束</a>

      </div>
      <label>项目进程：</label>
      <div class="ClassesBox">
        <a class="ClassesActive" href="/">默认</a>
        <a href="/"><i class="fa fa-arrow-down" aria-hidden="true"></i>最新上线</a>
        <a href="/"><i class="fa fa-arrow-down" aria-hidden="true"></i>目标金额</a>
        <a href="/"><i class="fa fa-arrow-down" aria-hidden="true"></i>支持人数</a>
        <a href="/"><i class="fa fa-arrow-down" aria-hidden="true"></i>筹资额度</a>
      </div>
  </div>
</div>


<div class="col-md-12">
  <h3 style="text-align:center;
  background:#dddddd;
  border:3px solid #a1a1a1;
  padding:10px 40px;
  border-radius:25px;">买家列表</h3>

  <div class="row">
    <% @products.each do |product| %>
      <div class="col-xs-6 col-md-3">
        <%= link_to product_path(product) do %>
          <% if product.image.present? %>
            <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
          <% else %>
            <%= image_tag("http://oj8zlumqh.bkt.clouddn.com/image/noimage.png", class: "thumbnail") %>
          <% end %>
        <% end %>
        <%= product.title %> ￥ <%= product.price %>
      </div>
    <% end %>
  </div>

</div>
