<!DOCTYPE html>
<html>

    <head>
        <title>LOVE&GIFT</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <style>

            body {
                background: url("https://ww4.sinaimg.cn/large/006tNc79jw1fcoiwefp5oj300o00g0c7.jpg") repeat fixed;
            }

            .searchBar {
                margin-top: 40px;
            }

            .container {
                margin-top: 40px;
                margin-bottom: 40px;
            }

            .caption {
                font-size: 16px;
            }

            .btn-primary {
                background-color: #E61C64;
                border-color: #E61C64;
                font-family: "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
            }
            .btn-primary:hover {
                background-color: #d10b51;
                border-color: #d10b51;
                font-family: "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
            }

        </style>
    </head>

    <body>
        <div class="searchBar">
            <div class="col-sm-9 col-lg-8 col-lg-offset-2">
                <%= form_tag search_products_path, method: :get, class: 'products-search-form'  do %>
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control" name="query_string" placeholder="text here">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
                <% end %>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <% @products.each do |product| %>
            <div class="col-sm-3, col-sm-6, col-sm-3">
                <div class="thumbnail">
                    <%= link_to product_path(product) do %>
                    <% if product.image.present? %>
                    <%= image_tag(product.image.thumb.url  class: "thumbnail" %>
                <% else %>
                    <%= image_tag("http://placehold.it/400x400&text=No Pic" class: "thumbnail" %>
                    <% end %>
                    <% end %>
                    <div class="caption">
                        <%= product.title %>
                        &nbsp&nbsp&nbsp￥
                        <%= product.price %>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</body>
</html>
