<!-- copy -->
<!DOCTYPE html>
<html>
<head>



<!-- For-Mobile-Apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //For-Mobile-Apps -->

<!-- Custom-Theme-Files -->
	<!-- Bootstrap-Default-CSS --> <link href="assets/bootstrap.min.css" rel="stylesheet" />
	<!-- Pages-Style-CSS --> <link rel="stylesheet" href="assets/style.css" type="text/css" media="all" />
	<!-- Navbar-CSS -->	<link rel="stylesheet" type="text/css" href="assets/navbar.css" />
	<!-- Product-Slider-CSS -->	<link rel="stylesheet" type="text/css" href="assets/product_slider.css" />
	<!-- Supporting-JavaScript-File --> <script src="assets/modernizr.custom.63321.js"></script>
<!-- //Custom-Theme-Files -->

<!-- Web-Fonts -->
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700"	   type="text/css" media="all">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700"			   type="text/css" media="all">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" type="text/css" media="all">
<!-- //Web-Fonts -->

</head>

<body>



	<div class="main" id="womens-wear">
		<h2>Fashion</h2>
		<div id="mi-slider" class="mi-slider">
			<ul>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>PRADA</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>GUCCI</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>CHANEL</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>VALENTINO</h4></li>
			</ul>
			<ul>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>ARMANI</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>ZARA</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>FENDI</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>HERMES</h4></li>
			</ul>
			<ul>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>CARTIER</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>H&M</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>DIOR</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>BURBERRY</h4></li>
			</ul>
			<ul>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>D.K.N.Y</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>TIFFANY & CO.</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>BALMAIN</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>MARK JACOBS</h4></li>
			</ul>
			<nav>
				<a href="#">Dresses</a>
				<a href="#">Party</a>
				<a href="#">Ethnic</a>
				<a href="#">Wedding</a>
			</nav>
		</div>
		<script src="js/product_jquery.min.js"></script>
		<script src="js/jquery.catslider.js"></script>
		<script>
			$(function() {
				$( '#mi-slider' ).catslider();
			});
		</script>
	</div>

	<div class="main main-2" id="womens-wear1">
    <h2>Events</h2>
		<div id="mi-slider1" class="mi-slider">
			<ul>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>MARK JACOBS</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>BALMAIN</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>TIFFANY & CO.</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>D.K.N.Y</h4></li>
			</ul>
			<ul>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>ZARA</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>VALENTINO</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>PRADA</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>HERMES</h4></li>
			</ul>
			<ul>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>GUCCI</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>CARTIER</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>FENDI</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>CHANEL</h4></li>
			</ul>
			<ul>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>DIOR</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>ARMANI</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>H&M</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>BURBERRY</h4></li>
			</ul>
			<nav>
				<a href="#">Shoes</a>
				<a href="#">Accessories</a>
				<a href="#">Watches</a>
				<a href="#">Purse</a>
			</nav>
		</div>
	</div>

	<div class="main main-2" id="mens-wear">
		<h2>Nature</h2>
		<div id="mi-slider2" class="mi-slider">
			<ul>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>PRADA</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>GUCCI</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>CHANEL</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>VALENTINO</h4></li>
			</ul>
			<ul>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>ARMANI</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>ZARA</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>FENDI</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>HERMES</h4></li>
			</ul>
			<ul>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>CARTIER</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>H&M</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>DIOR</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>BURBERRY</h4></li>
			</ul>
			<ul>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>D.K.N.Y</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>TIFFANY & CO.</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>BALMAIN</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>MARK JACOBS</h4></li>
			</ul>
			<nav>
				<a href="#">Suits</a>
				<a href="#">Shirts</a>
				<a href="#">Sports</a>
				<a href="#">Jackets</a>
			</nav>
		</div>
		<script src="js/product_jquery.min.js"></script>
		<script src="js/jquery.catslider.js"></script>
		<script>
			$(function() {
				$( '#mi-slider2' ).catslider();
			});
		</script>
	</div>

	<div class="main main-2">
    <h2>Model</h2>
		<div id="mi-slider3" class="mi-slider">
			<ul>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>MARK JACOBS</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>BALMAIN</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>TIFFANY & CO.</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>CAT</h4></li>
			</ul>
			<ul>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>RAYBAN</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>ARMANI</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>H&M</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>BURBERRY</h4></li>
			</ul>
			<ul>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>ZIIIRO</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>FERRARI</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>FENDI</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>SEIKO</h4></li>
			</ul>
			<ul>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>ZARA</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>VALENTINO</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>PRADA</h4></li>
				<li><img src="images/event-2.jpg" alt="Estelle"><h4>HERMES</h4></li>
			</ul>
			<nav>
				<a href="#">Shoes</a>
				<a href="#">Shades</a>
				<a href="#">Watches</a>
				<a href="#">Accessories</a>
			</nav>
		</div>

		<script src="js/product_jquery.min.js"></script>
		<script src="js/jquery.catslider.js"></script>
		<script>
			$(function() {
				$( '#mi-slider3' ).catslider();
			});
		</script>
	</div>





<!-- Custom-JavaScript-File-Links -->

	<!-- Default-Supportive-JavaScript --> <script type="text/javascript" src="assets/jquery.min.js"></script>
	<!-- Default-JavaScript-File-For-Bootstrap --> <script type="text/javascript" src="assets/bootstrap.min.js"></script>

	<!-- Navbar-JavaScript --> <script src="assets/classie.js"></script>
	<!-- Navbar-JavaScript --> <script src="assets/borderMenu.js"></script>


	<!-- Product-Slider-JavaScript -->
	<script src="assets/product_jquery.min.js"></script>
	<script src="assets/jquery.catslider.js"></script>
	<script>
		$(function() {
			$( '#mi-slider1' ).catslider();
		});
	</script>
	<!-- //Product-Slider-JavaScript -->

	<!-- Smooth-Scrolling-JavaScript -->
	<script type="text/javascript" src="assets/move-top.js"></script>
	<script type="text/javascript" src="assets/easing.js"></script>
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll, .navbar li a").click(function(event){
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
	<!-- //Smooth-Scrolling-JavaScript -->

<!-- //Custom-JavaScript-File-Links -->

</body>
</html>


<div class="row">
  <% @products.each do |product| %>
    <div class="col-xs-6 col-md-3">
      <%= link_to product_path(product) do %>
        <% if product.image.present? %>
          <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
      <% end %>
      <%= product.title %> ￥ <%= product.price %>
    </div>
  <% end %>
</div>
