<!--
<<<<<<< HEAD
<div class="row">
  <#% @products.each do |product| %>
  <div class="col-xs-6 col-md-3">
    <#%= link_to product_path(product) do %>
      <#% if product.image.present? %>
        <#%= image_tag(product.image.thumb.url, class: "thumbnail") %>
    <#% else %>
        <#%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
    <#% end %>
  <#% end %>
    <#%= product.title %> $ <#%= product.price %>
    <#% if current_user && current_user.is_favorite_of?(product) %>
    <#%= link_to('取消收藏'.html_safe, favorite_product_path(product, type: "unfavorite"), method: :put) %>
    <#% else %>
    <#%= link_to('添加收藏'.html_safe, favorite_product_path(product, type: "favorite"), method: :put) %>
    <#% end %>
=======
-->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="order">
        <div class="col-md-8">
          <a href="#"><span class="fa fa-long-arrow-down" aria-hidden="true">&nbsp;排序</span></a>
          <a href="#"><span class="fa fa-long-arrow-down" aria-hidden="true">&nbsp;新品</span></a>
          <a href="#"><span class="fa fa-long-arrow-down" aria-hidden="true">&nbsp;销量</span></a>
          <a href="#"><span class="fa fa-long-arrow-down" aria-hidden="true">&nbsp;价格</span></a>
          <a href="#"><span class="fa fa-long-arrow-down" aria-hidden="true">&nbsp;评价数</span></a>
        </div>
        <div class="text-right">
          <span>
            共<%= @products.count %>件商品
          </span>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <div class="product-list">
    <ul>
      <% @products.each do |product| %>
      <li>

        <div class="product-price">
          <a href="<%= product_path(product) %>">
            <img class="product-img" src="<% if product.image.present? %>
            <%= product.image.thumb.url %>
            <% else %>
            <% if product.http_image.nil? %>
            http://placehold.it/200x200&text=No Pic
            <% else %>
            <%= product.http_image %>
            <% end %>
            <% end %>" alt=""></a>
          <p class="price">￥<%= product.promotional %></p>
          <p class="describe"><%= product.title %></p>
          <p class="evaluate">已有33条评价</p>
          <div class="cart text-center">
            <a href="#"> <i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;收藏</a>
          </div>
          <div class="cart text-center">
                            <%= link_to(content_tag(:i, '加入购物车', class: 'fa fa-cart-arrow-down'), add_to_cart_product_path(product), :method => :post) %>
          </div>
        </div>
      </li>
      <% end %>
      </ul>
    </div>

  </div>
  <div class="text-center">
    <%= will_paginate @products %>
  </div>
