<!-- /.头图 -->
<div class="carousel">
  <img src="http://a2.qpic.cn/psb?/V13Obk462MXIb5/tuF4eLuhmZBZUKKfOGAK6IxSLEtehh5ZF*biiypTUiA!/b/dBgBAAAAAAAA&bo=wAOAAgAAAAARB3E!&rf=viewer_4" alt="search" class="img-responsive" width="970" height="4">
</div>

<!-- /.排序 -->
<div class="orderList bg-color1">
  <div class="orderList-item">
    <%= link_to("新品",products_path) %>
  </div>
  <div class="orderList-item">
    <li><%= link_to(content_tag(:i, '价格', class: ' fa fa-arrow-up'), products_path(:order => "by_upper_price")) %>
    </li>
  </div>
  <div class="orderList-item">
    <li><%= link_to(content_tag(:i, '价格', class: ' fa fa-arrow-down'), products_path(:order => "by_down_price")) %>
    </li>
  </div>
  <div class="orderList-item">
    <%= link_to("销量", products_path(:order => "by_down_sale_count")) %>
  </div>
</div>

<!-- /.商品列表 -->
<div class="row">
  <div class="productList">
  <% @products.each do |product| %>
    <div class="col-xs-6 col-md-3">
      <%= link_to product_path(product) do %>
        <% if product.image.present? %>
          <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
      <% end %>
      <p>
        <div class="row">
          <div class="col-md-6">
          ￥<%= product.price %>
          </div>
          <div class="col-md-6">
          <%= product.sale_count %>人购买
          </div>
        </div>
      </p>
      <p>
        <div class="row">
          <div class="col-md-6">
            描述: <%= product.description %>
          </div>
          <div class="col-md-6">
            <% if current_user && current_user.is_favorite_of?(product) %>
              <%= link_to('取消收藏'.html_safe, favorite_product_path(product, type: "unfavorite"), method: :put, class: "fa fa-heart") %>
            <% else %>
              <%= link_to('添加收藏'.html_safe, favorite_product_path(product, type: "favorite"), method: :put, class: "fa fa-heart", style: "color:red;") %>
            <% end %>
          </div>
        </div>

      </p>
    </div>
  <% end %>
</div>
</div>
