
<div class="row">
  <% @products.each do |product| %>
  <%= link_to(product_path(product)) do %>
  <div class="col-sm-6 col-md-3">

    <div class="thumbnail">
      <% if product.image.present? %>
      <%= image_tag(product.image.thumb.url, class: "thumbnail" ) %>
      <% else %>
      <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
      <% end %>
      <div class="caption">
      <h3>  <%= product.title %></h3>
        <p>
          <%= link_to("look look", product_path(product), class: "btn btn-danger") %>

          <%= link_to("加入购物车",add_to_cart_product_path(product),method: :post, class: "btn btn-default") %>

        </p>
      </div>
    </div>

  </div>
  <% end %>

</div>
