<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-5 col-md-offset-1">
      <%= link_to product_path(product) do %>
        <% if product.image.present? %>
          <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/800x800&text=No Pic", class: "thumbnail") %>
        <% end %>
      <% end %>
      <%= product.title %> ￥ <%= product.price %>
      <br>
      <br>
    </div>
  <% end %>
</div>
