<div class="category-bar">
  <span><%= link_to("全部", products_path, class:"btn btn-secondary active")%></span>
  <%  Category.all.each do |category| %>
    <span><%= link_to(category.name, products_path(category: category.id), class: "btn btn-secondary") %> </span>
  <% end %>
</div>

<div class="row">
 <% @products.each do |product| %>
   <div class="col-xs-6 col-md-3">
     <%= link_to product_path(product) do %>
       <% if product.image.present? %>
         <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
       <% else %>
         <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
       <% end %>
     <% end %>
     <%= product.title %> ￥ <%= product.price %>
   </div>
 <% end %>
</div>
