<table class="table table-boldered">
  <% @products.each do |product| %>
  <tr>
    <td>
      <%= link_to(product.title, product_path(product)) %>
    </td>
    <td>
      <%= link_to(image_tag(product.attachment.thumb), product_path(product)) %>
      <%#= image_tag product.attachment.thumb %>
    </td>
    <td>
      <%= product.description %>
    </td>
    <td>
      价格：￥ <%= product.price %>
    </td>
    <td>
      数量：<%= product.quantity %>
    </td>
    <td>
      <%= product.created_at %>
    </td>
  </tr>
  <% end %>
  <tr>
    <iframe id="widget-ticker-preview" src="//www.coingecko.com/en/widget_component/ticker/ethereum/cny" style="border:none; height:125px; width: 275px;" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
  </tr>
</table>
