<div class="pd__warpper">
    <div class="panel-body">
        <div class="row">
         <% @products.each do |product| %>
           <div class="col-xs-6 col-md-3">
            <div class="panel-body">
             <%= link_to product_path(product) do %>
               <% if product.image.present? %>
                 <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
               <% else %>
                 <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
               <% end %>
             <% end %>
             <%= product.title %> ￥ <%= product.price %>
             <%= link_to "更新价格", update_price_product_path(product), :method => :post %>
           </div>
           </div>
         <% end %>
        </div>
    </div>
</div>

<!-- 美洽客服 -->
<script type='text/javascript'>
    (function(m, ei, q, i, a, j, s) {
        m[i] = m[i] || function() {
            (m[i].a = m[i].a || []).push(arguments)
        };
        j = ei.createElement(q),
            s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = '//static.meiqia.com/dist/meiqia.js?_=t';
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '_MEIQIA');
    _MEIQIA('entId', 50521);
</script>
<!-- 这是你自己的 JavaScript 代码 -->
<script>
    // 你可以自己的代码中选择合适的时机来调用手动初始化
    _MEIQIA('init');
</script>
<!-- 美洽客服 -->
