<div class="row">
  <% @products.each do |product| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3><%= link_to("product.title", product_path(product)) %></h3>
        <% if !product.image.blank? %>
          <img src="<%= product.image.thumb %>">
        <% else %>
          <img src="http://ussec.org/wp-content/plugins/social-media-builder//img/no-image.png", width="200">
        <% end %>
        <p><%= product.description %></p>
        <p>单价：<%= product.price %><br>库存：<%= product.quantity %></p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <% end %>
</div>
