
<div class="sort-option">
  <ul class="line clearfix">
    <li>
      <%= sort_link(@q, :price, "按价格排序") %>
    </li>
    <li>
      <%= sort_link(@q, :quantity, "按销量排序") %>
    </li>

  </ul>

</div>



<div class="item-box">
  <% @products.each do |product| %>
    <div class="item ng-scope" >
      <div class="item-img">
        <%= link_to product_path(product) do %>
          <% if product.image.present? %>
            <%= image_tag(product.image.thumb.url) %>
          <% else %>
            <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
          <% end %>
        <% end %>
      </div>
      <h6 class="ng-binding"><%= product.title %></h6>
      <div class="item-price clearfix">
        <i>￥</i>
        <span class="ng-binding"> <%= product.price %></span>
      </div>



    </div>
  <% end %>
</div>
