
<div class="container">
  <!--wll 分类功能 -->
  <div class="productCatetory">
    <div class="productCatetory-menuList">
      <div class="productCatetory-menuList-item ">
        <%= link_to products_path(category: "历史读物") do %>
         <h4>历史读物</h4>
         <% end %>
      </div>
      <div class="productCatetory-menuList-item">
        <%= link_to products_path(category: "学习方法") do %>
         <h4>学习方法</h4>
         <% end %>
      </div>
      <div class="productCatetory-menuList-item">
        <%= link_to products_path(category: "管理") do %>
         <h4>管理</h4>
         <% end %>
      </div>
    </div>
  </div>
  <!--产品列表 -->
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-3 col-sm-6">
        <span class="thumbnail">
          <%= link_to product_path(product) do %>
            <% if product.image.present? %>
              <%= image_tag(product.image.thumb.url, class: "thumbnail img-responsive") %>
            <% else %>
              <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail img-responsive") %>
            <% end %>
          <% end %>
            <h4><%= product.title %></h4>
            <div class="ratings">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
            </div>
            <p><%= product.description %></p>
            <hr class="line">


            <div class="row">
              <div class="col-md-6 col-sm-6">
                <p class="price">￥<%= product.price %></p>
              </div>
              <div class="col-md-6 col-sm-6">
                <% if product.quantity.present? && product.quantity > 0 %>
                  <%= link_to("借阅", add_to_cart_product_path(product), :method => :post, :class => "btn btn-danger right") %>
                <% else %>
                   Sold out
                <% end %>
              </div>
            </div>
        </span>
      </div>
    <% end %>
 </div>

</div>
