<!-- 在商品列表中增加分类显示的按钮 -->

<div class="row">
  <% if params[:controller] == ('products') && params[:action] == ('show') %>
    <div class="menu-wrap">
      <ul class="menuList">
        <li class="menuList-item">
          <%= link_to("首页", products_path)%>
        </li>
        <% Category.all.each do |category| %>
          <li class="menuList-item <%= 'menuList-activeItem' if @product.category.name == category.name %>">
            <%= link_to category.name, products_path(category: category.name), class: "link" %>
          </li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <div class="menu-wrap">
      <ul class="menuList">
        <li class="menuList-item <%= 'menuList-activeItem' if !params[:category] %>">
          <%= link_to("首页", products_path)%>
        </li>
        <% Category.all.each do |category| %>
          <li class="menuList-item <%= 'menuList-activeItem' if params[:category] == category.name %>">
            <%= link_to category.name, products_path(category: category.name), class: "link" %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
<!-- 分类显示按钮结束 -->

<!-- 商品排序显示页面显示部分 -->
<div class="order clearfix">
  <p class="title">商品排序：</p>
  <ul class="orderList">
    <li class="orderList-orderItem <%= 'orderList-activeItem' if !params[:order] %>"><%= link_to("新品", products_path) %></li>
    <li class="orderList-orderItem <%= 'orderList-activeItem' if params[:order] == 'by_product_stock' %>"><%= link_to("销量", products_path(:order => "by_product_stock")) %></li>
    <li class="orderList-orderItem <%= 'orderList-activeItem' if params[:order] == 'by_product_price' %>"><%= link_to("价格", products_path(:order => "by_product_price")) %></li>
  </ul>
</div>
<!-- 商品排序显示页面部分结束 -->

<div class="row">
  <% @products.each do |product| %>
    <div class="col-xs-6 col-md-3">
      <%= link_to product_path(product) do %>
        <% if product.image.present? %>
          <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail")%>
        <% end %>
      <% end %>
      <%= product.name %> ￥ <%= product.price %>
    </div>
  <% end %>
</div>
