<div class="jumbotron">
  <h1>早买早享受，晚买有折扣</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">买买买</a></p>
</div>
<div class="row">
  <% @products.each do |p| %>
    <div class="col-xs-6 col-md-3">
      <%= link_to product_path(p) do %>
        <% if p.image.present? %>
          <%= image_tag(p.image.thumb.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
      <% end %>
      <%= p.title %> ¥ <%= p.price %>
    </div>
  <% end %>
</div>


<%#= render :partial => "form", :collection => @products, :as => :u %>

<%# @products.each do |product| %>
<%#= link_to(image_tag(product.image(:thumb))) %>

  <%# if product.image.length != 0 %>
    <%#= image_tag(product.image.thumb.url) %>
  <%# end %>

  <%# if product.image.present? %>
  <%#= image_tag(product.image.thumb.url) %>
  <%# end %>
<%# end %>
