
<table class="table table-bordered">
  <thead>
    <tr>
      <td>品名</td>
      <td>叙述</td>
      <td>数量</td>
      <td>价格</td>
      <td>创建日期</td>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td>
        <%= link_to(product.title, product_path(product)) %>
      </td>
      <td>
        <%= product.description %>
      </td>
      <td>
        <%= product.quantity %>
      </td>
      <td>
        <%= product.price %>
      </td>

      <td>
        <%= product.created_at %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
