<div>
  <br>
    <% if @query_string.blank? %>
      <div class="search-info-title">
        <h2>搜索信息不能为空，请您输入相关信息进行搜索</h2>
      </div>
    <% elsif @products.blank? %>
      <br>
      <h2 class="search-info-title">没有找到"<%= @query_string %>"的商品信息，请输入关键字搜索</h2>
    <% else %>
      <h2 class="search-info-title"> 有关"<%= @query_string %>"的商品信息 </h2>
      <div class="search-result">
        <div class="row products-show0"></div>
        <div class="product-table">
          <div class="row">
            <% @products.each do |product| %>
              <div class="col-xs-6 col-md-3">
                <%= link_to product_path(product) do %>
                  <% if product.image.present? %>
                    <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
                  <% else %>
                    <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail")%>
                  <% end %>
                <% end %>
                <%= render_highlight_content(product, @query_string) %> ￥ <%= product.price %> <!-- 搜索关键字黄色背景显示 -->
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="text-center">
        <%= will_paginate(@products, renderer: BootstrapPagination::Rails) %>
      </div>
    <% end %>
</div>
