<%= render :partial => "products/search_bar" %>
<br>
<!-- <div>
    <br>
    <% if @query_string.blank? %>
        <div class="search-info-title">
            亲，没有搜索到商品哦，要不换个关键词试试？
        </div>
    <% elsif @products.blank? %>
        <br>
        <h2 class="search-info-title">搜索信息不能为空，请输入关键字搜索</h2>
    <% else %>


        <h2 class="search-info-title"> 有关"<%= @query_string %>"的信息 </h2>
        <div class="search-result">
            <div class="table table-borderd">
                <% @products.each do |product| %>
                    <%= link_to(product.title,product_path(product)) %>
                    <hr>
                <% end %>
            </div>
        </div>
        <div class="text-center">
            <%= will_paginate(@products, renderer: BootstrapPagination::Rails) %>
        </div>
    <% end %>
</div> -->
<div class="product-box">
    <div class="container">
        <!--=== 搜索结果，没有符合条件的数据 ===-->
        <% if @products.blank?%>
            <br>
            <h2 class="search-info-title">搜索信息不能为空，请输入关键字搜索</h2>
        <% else %>
            <!--=== 搜索结果，有符合条件的数据 ===-->
            <!--=== 搜索內容 ===-->
            <div class='row'>
                <% @products.each do |product| %>
                    <div class='col-xs-12 col-sm-4 col-md-3 product-content'>
                        <%= link_to product_path(product) do %>
                            <!-- 商品圖片 -->
                            <% if product.image.present? %>
                                <!-- 顯示圖片 -->
                                <%= image_tag(product.image.thumb.url, class: "thumbnail img-responsive") %>
                                <!-- <%= image_tag(product.image.medium.url, class: "thumbnail") %> -->
                            <% else %>
                                <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
                            <% end %>
                        <% end %>
                        <div class="product-info">
                            <p><%= link_to(render_highlight_content(product,@query_string), product_path(product)) %></p>
                            <p>$ <%= product.price %></p>
                        </div>
                    </div>
                <% end %>
            </div>
            <div class="page-box">
                <%= will_paginate @products, renderer: BootstrapPagination::Rails, :previous_label => t('previous-label'), :next_label => t('next-label') %>
            </div>
        <% end %>
    </div>
</div>
