<div>
  <br>
<% if @query_string.blank? %>
    <div class="search-info-title">
      亲，搜索内容为空！
    </div>

  <% elsif @products.blank? %>
    <br>
    <h2 class="search-info-title">抱歉，没有找到相关商品</h2>
  <% else %>
    <h2 class="search-info-title"> 搜索到以下商品 </h2>
    <div class="search-result">

      <div class="row products-show0"></div>
      <div class="product-table">
        <% @products.each do |product| %>

        <tr>
          <td>
            <%= product.id %>
          </td>
          <td>
            <%= link_to product_path(product) do %>
              <% if product.image.present? %>
                <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
              <% else %>
                <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
              <% end %>
            <% end %>
          </td>
          <td>
            <%= product.title %>
          </td>
          <td>
            <%= product.price %>
          </td>


        <div class="row products-show">

          <div class="col-md-12 col-lg-9 col-lg-offset-1">

            <div class="pull-right">
              发布时间：<%= product.created_at.to_date %>
            </div>

          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="text-center">
      <%= will_paginate(@jobs, renderer: BootstrapPagination::Rails) %>
    </div>
  <% end %>
</div>
