<div>
  <br>
  <% if @products.blank? %>
  <br>
  <h2 class="search_info_title">没有找到"<%= @query_string %>"的商品信息</h2>
  <% else %>
  <h2 class="search-info-title"> 有关"<%= @query_string %>"的商品信息 </h2>
  <div class="row">
    <% @products.order('created_at DESC').each do |product| %>
      <div class="col-sm-6 col-xs-6">
        <span class="thumbnail">
        <%= link_to product_path(product) do %>
          <% if product.photos.present? %>
            <%= image_tag(product.photos[0].avatar.medium.url, class: "thumbnail") %>
          <% else %>
            <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
          <% end %>
        <% end %>
        <h4><%= product.title %></h4>
        <% if product.category.name.present? %>
          <h5>Category: <%= product.category.name %></h5>
        <% end %>

        <hr class="line">
        <div class="row">
          <div class="col-sm-6">
            <p class="price">
              CNY
              <%= product.price %></p>
          </div>
          <div class="col-sm-6">
            <%= link_to("But Item", product_path(product),  class:"btn btn-info right") %>
          </div>
        </div>
        </span>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
