
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="order">
        <div class="col-md-8">
          <a href="#"><span class="fa fa-long-arrow-down" aria-hidden="true">&nbsp;排序</span></a>
          <a href="#"><span class="fa fa-long-arrow-down" aria-hidden="true">&nbsp;新品</span></a>
          <a href="#"><span class="fa fa-long-arrow-down" aria-hidden="true">&nbsp;销量</span></a>
          <a href="#"><span class="fa fa-long-arrow-down" aria-hidden="true">&nbsp;价格</span></a>
          <a href="#"><span class="fa fa-long-arrow-down" aria-hidden="true">&nbsp;评价数</span></a>
        </div>
        <div class="text-right">
          <span>
            共12.5万件商品
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <% if @products.blank?%>
  <br>
  <div>
    抱歉！没有搜索到结果！
  </div>
  <% else %>

  <div class="search-result">
    <div class="product-list">
      <ul>
        <% @products.each do |product| %>
        <li>
          <div class="product-price">
            <%= link_to product_path(product) do %>
            <a href="#"><img class="product-img" src="
              <% if product.image.present? %>
              <%= product.image.thumb.url %>
              <% else %>
              http://placehold.it/200x200&text=No Pic
              <% end %>
              "alt=""></a>
              <p class="price"><%= product.price %></p>
              <p class="describe"><%= product.title %></p>
              <p class="evaluate">已有33条评价</p>
              <div class="cart text-center">
                <a href="#"> <i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;收藏</a>
              </div>
              <div class="cart text-center">
                <%= link_to(content_tag(:i, '加入购物车', class: 'fa fa-cart-arrow-down'), add_to_cart_product_path(product), :method => :post) %>
              </div>
            </div>
          </li>
          <% end %>
          <% end %>
          <% end %>
        </ul>
      </div>
    </div>
