
<% if @products.blank?%>
<div class="container">
  <div class="row">
<br>
<br>

  <p class="text-center">抱歉！没有搜索到结果！</p>

</div>
</div>
<% else %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="order">
        <div class="col-md-8">
          <a href="<%= search_products_path + "?utf8=✓&q=" + params[:q] + "&order=hot"%>"><span class="fa fa-long-arrow-down" aria-hidden="true">&nbsp;热门</span></a>
          <a href="<%= search_products_path + "?utf8=✓&q=" + params[:q] + "&order=new"%>"><span class="fa fa-long-arrow-down" aria-hidden="true">&nbsp;新品</span></a>
          <a href="<%= search_products_path + "?utf8=✓&q=" + params[:q] + "&order=sale"%>"><span class="fa fa-long-arrow-down" aria-hidden="true">&nbsp;销量</span></a>
          <a href="<%= search_products_path + "?utf8=✓&q=" + params[:q] + "&order=price"%>"><span class="fa fa-long-arrow-down" aria-hidden="true">&nbsp;价格</span></a>
          <a href="#"><span class="fa fa-long-arrow-down" aria-hidden="true">&nbsp;评价数</span></a>
        </div>
        <div class="text-right">
          <span>
            共<%= @products.count %>件商品
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">




  <div class="search-result">
    <div class="product-list">
      <ul>
        <% @products.each do |product| %>
        <li>
          <div class="product-price">
            <%= link_to(image_tag(img430(product,1), class: 'product-img'), product_path(product)) %>
              <p class="price">￥<%= product.promotional %></p>
              <p class="describe"><%= product.title %></p>
              <p class="evaluate">已有<%= product.reviews.count%>条评价</p>
              <div class="cart text-center">
                <a href="#"> <i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;收藏</a>
              </div>
              <div class="shopCart cart text-center">
                <%= render :partial => "products/add_to_cart", :locals => { :product => product } %>
              </div>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="text-center">
      <%= will_paginate @products %>
    </div>

<% end %>
