<div class="row">

  <h4 style="text-align:center; background-color:rgba(187,222,251 ,0.5);padding:3px 2px;
  width:70px; padding-right:5px; margin-left:815px;border-radius:5px;">食品</h4>

  <br />
  <% @products1.each do |product| %>
  <div class="col-xs-6 col-md-3">
    <%=link_to product_path(product) do %>
    <% if product.image.present?%>
    <%=image_tag(product.image.thumb.url, class:"thumbnail") %>
    <% else %>
    <%= image_tag("http://placehold.it/200x200&text=No Pic",class:"thumbnail")%>

    <% end %>
    <% end %>
    <%= product.title%>￥ <%= product.price %>
  </div>
  <% end %>
</div>
<hr />
<div class="row">
  <h4 style="text-align:center; background-color:rgba(187,222,251 ,0.5);padding:3px 2px;
  width:70px; padding-right:5px; margin-left:815px;border-radius:5px;">水果</h4>
  <br />
  <% @products2.each do |product| %>
  <div class="col-xs-6 col-md-3">
    <%=link_to product_path(product) do %>
    <% if product.image.present?%>
    <%=image_tag(product.image.thumb.url, class:"thumbnail") %>
    <% else %>
    <%= image_tag("http://placehold.it/200x200&text=No Pic",class:"thumbnail")%>

    <% end %>
    <% end %>
    <%= product.title%>￥ <%= product.price %>
  </div>
  <% end %>
</div>
<hr />

<div class="row">
  <h4 style="text-align:center; background-color:rgba(187,222,251 ,0.5);padding:3px 2px;
  width:70px; padding-right:5px; margin-left:815px;border-radius:5px;">蔬菜</h4>
  <br />
  <% @products3.each do |product| %>
  <div class="col-xs-6 col-md-3">
    <%=link_to product_path(product) do %>
    <% if product.image.present?%>
    <%=image_tag(product.image.thumb.url, class:"thumbnail") %>
    <% else %>
    <%= image_tag("http://placehold.it/200x200&text=No Pic",class:"thumbnail")%>

    <% end %>
    <% end %>
    <%= product.title%>￥ <%= product.price %>
  </div>
  <% end %>
</div>
<hr />
