<div class="row">
  <div class="col-md-6" style="padding-left: 80px;">
    <% if @product.image.present? %>
      <%= image_tag(@product.image.medium.url, class: "thumbnail wow pulse", data: {wow_delay: "1s"}) %>
    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>
  </div>
  <div class="col-md-6" style="padding-right: 80px;">
    <h2> <%= @product.title %> </h2>
    <div style="height:100px;">
      <p>
        <%= @product.description %>
      </p>
    </div>
    <div> 数量 : <%= @product.quantity %> </div>
    <div class="product-price"> ￥ <%= @product.price %> </div>
    <div class="pull-right">
      <% if @product.quantity.present? && @product.quantity > 0 %>
        <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-primary btn-lg btn-danger") %>
      <% else %>
        已销售一空，无法购买
      <% end %>
    </div>
  </div>
</div>

<div id="getting-started" style="padding-left: 80px;"></div>
<script type="text/javascript">
  $("#getting-started")
  .countdown("<%= Time.zone.now + 3.days %>", function(event) {
    $(this).text(
      event.strftime('%D days %H:%M:%S')
    );
  });
</script>
