
<div class="container main1">
  <div class="row">
    <div class="col-md-9 col-sm-12 col-xs-12">

            <!-- 商品资料 left-->
            <div class="wrapper" >
              <div class="col-md-6 col-sm-12 col-xs-12 product-preview">
                <div class="preview-pic">
                  <% if @photos.present? %>
                     <% @photos.each_with_index do |p, index| %>
                       <% if index == 0 %>
                         <%= image_tag p.avatar.thumb.url, class: "thumbnail " %>
                         <!-- <div style="letter-spacing: -8px; margin-top:5px" >
                       <% else %>
                         <%= image_tag p.avatar.thumb.url %>
                       <% end %>
                     <% end %>
                     </div> -->
                   <% else %>
                       <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
                   <% end %>
                </div>
              </div>

          <!-- right card -->
          <div class="col-md-6" style="height: 300px" >

            <h3><%= @product.title %></h3>
            <h5 style="color:#f77f2f"><%= @product.description %></h5>

            <div class="price-service">
              <p class="price">售价
                <span class="rmb">￥</span>
                <span class="price"><%= @product.price %></span>
              </p>
              <p class="service">服务
                <span class="service-detail">7天无忧退货 | 48小时快速退款 | 正品保证</span>
              </p>
            </div>
            <!-- <div> 数量 : <%= @product.quantity %> </div>
                <div class="quantity-size">
                  <p class="quantity">库存 <span class="quantity"><%= @product.quantity %></span> </p> -->
            <!-- </div> -->
            <div class="action">
              <div class="col-md-3">
                <% if @product.quantity.present? && @product.quantity > 0 %>
                <%= link_to("立即购买", instant_buy_product_path(@product), class: "buy btn btn-danger",  :method => :post) %>
              <% else %>
                已销售一空，无法购买
                <% end %>
              </div>
              <div class="col-md-3">
                <% if @product.quantity.present? && @product.quantity > 0 %>
                <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-danger") %>
              <% else %>
                已销售一空，无法购买
                <% end %>
              </div>
              <div class="col-md-6">
                <% if current_user && !current_user.is_favorite_of?(@product) %>
                    <%= link_to favorite_product_path(@product), :class => "like btn btn-default", method: :post do %>
                    <i class="fa fa-heart" aria-hidden="true"></i>
                    <% end %>
                <% else %>
                    <%= link_to unfavorite_product_path(@product), :class => "like btn btn-default", method: :post do %>
                    <i class="fa fa-heart" aria-hidden="true" style="color:red;"></i>
                    <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>

          <!-- 商品展示与评论 -->
          <div class="col-md-12 comment">
            <div class="tabs">
              <div class="tabmenu">
                <ul class="nav nav-tabs">
                  <li class="active">
                    <a href="#tab_default_1" data-toggle="tab">商品详情
                    </a>
                  </li>
                  <li>
                    <a href="#tab_default_2" data-toggle="tab">商品评价
                    </a>
                  </li>
                </ul>
              </div>

              <div class="tab-content">
                <!-- 商品详情内容 -->
                <div class="tab-pane active" id="tab_default_1">
                   <p class="product-description2 text-center" style="font-size: 25px">产品展示</p>
                     <% if @photos.present? %>
                         <% @photos.each_with_index do |p, index| %>
                           <div class="row preview-pic1">
                             <div class="col-md-6 col-sm-12 ">
                                   <% if index >= 0  %>
                                     <%= image_tag p.avatar.medium.url, class: "thumbnail" %>
                                   <% end %>
                             </div>
                           </div>
                         <% end %>
                     <% end %>
                </div>

                <!-- 商品评价内容 -->
                <div class="tab-pane" id="tab_default_2">
                    <div class="row review">
                      <div class="col-sm-10 col-sm-offset-1">
                        <h3 class="reviews_title">
                          <%= @product.reviews.count %> 评论
                        </h3>
                        <hr>
                        <div id="reivews">
                          <%= render @product.reviews%>
                          <hr>
                          <%= render "reviews/form"%>
                        </div>
                      </div>
                    </div>
                </div>
                <!-- 商品评价内容end -->
            </div>
              <!-- 商品详情内容 end -->
          </div>
        </div>
        <!-- 商品展示与评论 end -->

    </div>



    <!-- 推荐 -->
    <div class="col-md-3">
        <div class="show-recom">
         <h4 style="padding-top:10px" font-style:"bold">猜您可能会喜欢</h4>
           <hr>
             <% @suggests.each do |product| %>
             <!-- 不同的产品 -->
               <%= link_to product_path(product) do %>
                 <div class="recomitem">
                   <div class="recomitemlist">
                       <% if product.photos.present? %>
                         <%= image_tag(product.photos[0].avatar.thumb.url, class: "thumbnail") %>
                       <% else %>
                         <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "image") %>
                       <% end %>
                   </div>
                <% end %>
                <!-- 不同的产品 end -->
                    <div class="wrap-recom">
                      <span class="rmb">￥ </span>
                      <span class="price"><%= product.price %> </span>
                        <% if product.quantity.present? && product.quantity > 0 %>
                            <%= link_to("加入购物车", add_to_cart_product_path(product), :method => :post, :class => "btn btn-xs btn-danger") %>
                        <% else %>
                            已销售一空，无法购买
                        <% end %>
                      </div>
                 </div>
             <% end %>
        </div>
    </div>
  </div>

  <br>


</div>
