
<div class='row product-box product-show'>

  <div class="col-sm-5 col-sm-offset-1 col-xs-10 col-xs-offset-1 product-image">

  <!-- 显示多张图片 -->
    <% if @product_images.present? %>
    <div class="col-md-12 ">
        <%= image_tag(@product_images.first.image.large.url , class: 'main-image thumbnail')%>
      </div>
      <% @product_images.each_with_index do |p| %>
      <div class="col-xs-4 col-sm-2 col-md-2 image-box">
          <%= image_tag(p.image.small.url,class: 'list-image thumbnail') %>
        </div>
      <% end %>

    <% else %>
        <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>

  </div>


  <div class="col-sm-3 col-sm-offset-0 col-xs-10  col-xs-offset-1 product-detail">
   <div>


    <h2> <%= @product.title %> </h2>
    <div class="product-price"> <span class="currency_symbol">￥</span><%= @product.price %> </div>
    <div >
      <p>
        <%= @product.description %>
      </p>
    </div>
    <div> 库存: <%= @product.quantity %> </div>



      <hr />

      <div class="add-to-fav">
        <% if !@product.users.include?(current_user) %>
     <%= link_to("",add_to_favorite_product_path(@product),method: :post,class: "fa fa-heart fa-1.5x", style: "color:rgba(0,0,0,0.1);") %>
    <% else %>
     <%= link_to("", quit_favorite_product_path(@product),method: :post,  class: "fa fa-heart fa-1.5x", style: "color:rgba(255,0,0,0.4);") %>
    <% end %>
      收藏
      </div>
      <div style="float:right;">
        <i class='fa fa-weixin fa-fw'> </i>
      </div>
      <% if @product.quantity.present? && @product.quantity > 0 %>
      <div class="quantity-box">
        数量:
        <%= link_to("-", "", id: "quantity-down", class: "quantity-actions") %>
        <input type="text" name="quantity" value="1" id="quantity" max="<%= @product.quantity %>" class="quantity-input">
        <%= link_to("+", "", id: "quantity-up", class: "quantity-actions") %>

      </div>
      <div class="add-to-cart">
        <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post, :class => "buy_button") %>
      </div>

     <% else %>
      已销售一空，无法购买
      <%end%>


  </div>
</div>
