<div style="margin-top:30px">
</div>
<main class="main" role="main">
  <div class="container">
    <div class="row" id="post-list">
      <div class="col-xs-12 col-sm-6">
        <article class="post tag-foreign-website tag-bootstrap-v3 tag-opensource-project">
          <div class="post-featured-image">
            <div class="thumbnail" href="/nemo/" onclick="_hmt.push(['_trackEvent', 'imagelink', 'click', 'Nemo'])" target="_blank">
                <img src="<%=@product.attachment%>" width="700" height="438" onload="imgLoaded(this)">
            </div>
          </div>
            <div class="post-content">

            </div>
        </article>
      </div>
      <div class="col-xs-12 col-sm-6">
        <article class="post tag-foreign-website tag-bootstrap-v3 tag-opensource-project">

            <div class="post-content">
              <h2><%= @product.title %></h2>
              <font>作品阐述：</font></br>
              <p><%= simple_format(@product.description) %></p>
              <font>画面尺寸：<font color="#d9534f"><%= @product.width %>CM x <%= @product.height %>CM</font> </br>
              <font>库存：<font color="#d9534f"><%= @product.store %></font>
              <div align="right">

                  <% if @product.store == 0 %>
                    <%= link_to("商品处于缺货状态", add_to_cart_product_path, :method => :post, :disabled=> :true, :class => "btn btn-danger btn-right") %>
                  <% else %>
                    <%= link_to("加入购物车", add_to_cart_product_path, :method => :post, :class => "btn btn-danger btn-right") %>
                  <% end %>
              </div>
            </div>
        </article>
      </div>
    </div>
  </div>
</main>
