<div class="row">
  <div class="col-xs-6">
    <% if @product.image.present? %>
      <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>
  </div>
  <div class="col-xs-6">


    <div class="intro-text fr">
          <h3 class="f20 ell fb"><%= @product.title %></h3>
          <p class="intro-text-desc"><%= @product.description %></p>
          <p class="intro-text-value bg-gray">
            <span class="pl20 pr30">售价</span><span class="price f24 fb col-red">￥<%= @product.price %></span>
          </p>
          <p class="intro-text-service">
            <span class="pl20 pr30">运费</span><span>满99元包邮 | 正品保证</span>
          </p>
          <p class="intro-text-count">
          <span class="pl20 pr30">库存</span><span id="quantity"><%= @product.quantity %></span>
          </p>
          <div class="intro-text-quantity clearfix">
            <span class="pl20 pr30 fl">数量</span>
            <div class="countNumber fl mt10">
              <%= link_to("-", remove_buying_quantity_product_path(@product), class: "countNumber-btn countNumber-btn-sub", method: :post) %>
              <input class="countNumber-input" type="text" value="<%= @product.buying_quantity %>">
              <%= link_to("+", add_buying_quantity_product_path(@product), class: "countNumber-btn countNumber-btn-plus", method: :post) %>
            </div>
          </div>
          <p class="intro-text-btnWrap">
            <%= render :partial => "products/cart_btn"%>
          </p>
        </div>
      </div>










    <!-- <h2> <%= @product.title %> </h2>
    <div style="height:100px;">
      <p>
        <%= @product.description %>
      </p>
    </div>
    <div> 数量 : <%= @product.quantity %> </div>
    <div class="product-price"> ￥ <%= @product.price %> </div>
    <div class="pull-right">
     <% if @product.quantity.present? && @product.quantity > 0 %>
      <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-primary btn-lg btn-danger") %>
     <% else %>
       已销售一空，无法购买
     <% end %>
    </div> -->
  </div>
</div>
