     <% if @product.image.present? %>
       <%=image_tag( @product.image.medium.url )%>

      <% else %>
        <%=image_tag("http://placehold.it/200x200&text=No Pic") %>
      <% end %>


      <h3><%= @product.title %><h3>
      <p><%= @product.quantity %></p>
      <%= @product.price %>



      <a href="#" class="btn btn-default" role="button">加到购物车</a>
