<div class="pd-s__item ">
   <div class="row">
     <div class="col-md-4">
       <div class="pd-show-card">
          <div class="pd--show-card-img">
            <% if @photos.present? %>
              <% @photos.each_with_index do |p, index| %>
                <% if index == 0 %>
                  <%= image_tag p.avatar.medium.url %>
                  <div style="letter-spacing: -8px">
                <% else %>
                  <%= image_tag p.avatar.thumb.url %>
                <% end %>
              <% end %>
              </div>
            <% else %>
                <%= image_tag("http://placehold.it/500x300&text=No Pic", class: "thumbnail") %>
            <% end %>
          </div>
          <div class="pd-show-container">
            <h2>市场数据</h2>
            <p class="pd-show-container-title"><%= @product.title %></p>
            <p>时间戳：<%= @product.timestamp_at %></p>
            <p>最高购买报价：<%= @product.price_buy %></p>
            <p>最低出售报价：<%= @product.price_sell %></p>
            <p>最低成交价：<%= @product.price_low %></p>
            <p>最高成交价：<%= @product.price_high %></p>
            <p>最后成交价：<%= @product.price_last %></p>
            <p>总交易币量：<%= @product.trade_vol %></p>
            <p><button><%= link_to "更新数据", update_price_product_path(@product), :method => :post %></button></p>
          </div>
       </div>
       <div class="pd-info-card">
         <div class="pd-info-container">
            <p> 数量 : <%= @product.quantity %> </p>
            <p>  价格 :￥ <%= @product.price %> </p>
          </div>
          <div class="pd-info-add-cart-btn pull-right">
            <% if @product.quantity.present? && @product.quantity > 0 %>
               <%= link_to("加入购物车", add_to_cart_product_path(@product), method: :post,
               class: "btn btn-lg btn-primary pd-show-button") %>
            <% else %>
               已售罄
            <% end %>
          </div>
       </div>

     </div>
     <div class="col-md-8 pull-right">
       <div class="pd-des-card">
          <div class="pd-des-title">
          <h2> <%= @product.title %> </h2>
          </div>
           <div class="pd-des-container">
           <p>
             <%= @product.description %>
           </p>
       </div>
      </div>
   </div>
</div>

<!-- qrcode二维码 -->
<div id="overlay" onclick="off()">
  <div id="text">手机扫一扫，分享给好友~
    <%= raw @qr.as_html %>
  </div>
</div>
<div style="padding:20px">
  <button onclick="on()">点击生成当前网页二维码</button>
</div>
<script>
  function on() {
    document.getElementById("overlay").style.height = "100%";
  }
  function off() {
    document.getElementById("overlay").style.height = "0";
  }
</script>



<!-- 美洽客服 -->
<script type='text/javascript'>
    (function(m, ei, q, i, a, j, s) {
        m[i] = m[i] || function() {
            (m[i].a = m[i].a || []).push(arguments)
        };
        j = ei.createElement(q),
            s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = '//static.meiqia.com/dist/meiqia.js?_=t';
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '_MEIQIA');
    _MEIQIA('entId', 50521);
</script>
<!-- 这是你自己的 JavaScript 代码 -->
<script>
    // 你可以自己的代码中选择合适的时机来调用手动初始化
    _MEIQIA('init');
</script>
<!-- 美洽客服 -->
