<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>无标题文档</title>
		<script>
			$(document).ready(function () {
				var $miaobian = $('.Xcontent08>div');
				var $huantu = $('.Xcontent06>img');
				var $miaobian1 = $('.Xcontent26>div');
				$miaobian.mousemove(function () {
					miaobian(this);
				});
				$miaobian1.click(function () {
					miaobian1(this);
				});
				function miaobian(thisMb) {
					for (var i = 0; i < $miaobian.length; i++) {
						$miaobian[i].style.borderColor = '#dedede';
					}
					thisMb.style.borderColor = '#cd2426';

					$huantu[0].src = thisMb.children[0].src;
				}
				function miaobian1(thisMb1) {
					for (var i = 0; i < $miaobian1.length; i++) {
						$miaobian1[i].style.borderColor = '#dedede';
					}
					//		thisMb.style.borderColor = '#cd2426';
					$miaobian.css('border-color', '#dedede');
					thisMb1.style.borderColor = '#cd2426';
					$huantu[0].src = thisMb1.children[0].src;
				}
				$(".Xcontent33").click(function () {
					var value = parseInt($('.input').val()) + 1;
					$('.input').val(value);
				})

				$(".Xcontent32").click(function () {
					var num = $(".input").val()
					if (num > 0) {
						$(".input").val(num - 1);
					}

				})

			})
		</script>

	</head>

	<body>
		<div class="Xcontent">
			<ul class="Xcontent01">
				<% if @photos.present? %>
				<% @photos.each_with_index do |p, index| %>
				<% if index == 0 %>
				<div class="Xcontent06"><%= image_tag p.avatar.medium.url %></div>
				<% end %>
				<% end %>
			<% else %>
				<%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
				<% end %>
				<ol class="Xcontent08">
					<% if @photos.present? %>
					<% @photos.each_with_index do |p, index| %>
					<% if index != 0 %>
					<div class="Xcontent09"><%= image_tag p.avatar.medium.url %></div>
					<% end %>
					<% end %>
				<% else %>
					<%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
					<% end %>
				</ol>
				<ol class="Xcontent13">
					<div class="Xcontent14">
						<a href="#">
							<p><%= @product.title %></p>
						</a>
					</div>
					<div class="Xcontent15"><img src="/images/shangpinxiangqing/X11.png"></div>
					<div class="Xcontent16">
					</div>
					<div class="Xcontent17">
						<p class="Xcontent18">售价</p>
						<p class="Xcontent19">￥<span><%= @product.price %></span>
						</p>
						<div class="Xcontent20">
							<p class="Xcontent21">促销</p>
							<img src="/images/shangpinxiangqing/X12.png">
							<p class="Xcontent22">领610元新年礼券，满再赠好礼</p>
						</div>
						<div class="Xcontent23">
							<p class="Xcontent24">服务</p>
							<p class="Xcontent25">30天无忧退货&nbsp;&nbsp;&nbsp;&nbsp; 48小时快速退款 &nbsp;&nbsp;&nbsp;&nbsp; 满88元免邮</p>
						</div>

					</div>
					<div class="Xcontent26">
						<p class="Xcontent27">颜色</p>
						<div class="Xcontent28"><img src="/images/shangpinxiangqing/X14.png"></div>
						<div class="Xcontent29"><img src="/images/shangpinxiangqing/X1.png"></div>
					</div>
					<div class="Xcontent30">
						<p class="Xcontent31">数量</p>
						<div class="Xcontent32"><img src="/images/shangpinxiangqing/X15.png"></div>
						<form>
							<input class="input" value="1"></form>
						<div class="Xcontent33"><img src="/images/shangpinxiangqing/16.png"></div>

					</div>
					<div class="Xcontent34">
                <% if @product.quantity.present? && @product.quantity > 0 %>
                <%= link_to("加入购物车", add_to_cart_product_path(@product), method: :post,
                          class: "btn btn-md btn-default") %>
            <% else %>
                <a href="#" class="btn btn-md btn-default">已销售一空，无法购买</a>
                <% end %>
					</div>
					<div class="Xcontent35">
						<a href="#"><img src="/images/shangpinxiangqing/X18.png"></a>
					</div>

				</ol>

			</ul>

		</div>
	</body>
</html>
