  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-8-offset-1">
          <p class="thumbnail">
            <%= image_tag(@product.avatar_url(:large)) if @product.avatar %>
          </p>
        </div>

      <div class="col-xs-12 col-sm-5 col-md-8-offset-1">
            <h1> <%= @product.title %> </h1>
            <h3>Price: &nbsp ¥ <%= @product.price %></h3>
            <h3>Quantity: &nbsp<%= @product.quantity %></h3>

      <div class="pull-left">
        <% if @product.quantity<1 %>
          <%= link_to("Out of Stock", "#", :class => "btn btn-warning" ) %>
        <% else %>
          <%= link_to("Add to Cart", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-success" ) %>
        <% end %>
      </div>
    </div>
  </div>
  </div>

<hr>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-8-offset-1">
          <p><%= simple_format(@product.description) %></p>
        </div>
      </div>
    </div>
<hr>
