<!-- 本页面对应的CSS样式表：products.scss -->
<div class="container product-show">
  <div class="row">

    <!-- 主图 -->
    <div class="col-md-7">
        <div class="productDetail">
          <div class="productDetail-left">
            <div class="productDetail-left-bigImage">
              <%= image_tag(@product.photos[0].image.main.url) %>
            </div>
            <!-- 下方小图-->
            <div class="productDetail-left-imageList ">
              <div class="productDetail-left-imageList-item">
                <%= image_tag @product.photos[0].image.main.url  %>
              </div>
              <div class="productDetail-left-imageList-item">
                <%= image_tag @product.photos[1].image.main.url  %>
              </div>
              <div class="productDetail-left-imageList-item">
                <%= image_tag @product.photos[2].image.main.url  %>
              </div>
              <div class="productDetail-left-imageList-item">
                <%= image_tag @product.photos[3].image.main.url  %>
              </div>
            </div>
          </div>
        </div>
    </div>

    <!-- 商品信息 -->
    <div class="col-md-5">

      <!-- 商品标题 -->
      <h2 class="product-title"><%= @product.title %></h2>

      <!-- 商品简述 -->
      <div class="product-description">
        <p>
          <%= simple_format(@product.description) %>
        </p>
      </div>

      <!-- 商品价格 -->
      <div class="product-price-bgcolor">
        <div class="product-price">
          ￥ <%= @product.price %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <!-- 商品库存 -->
          <div class="product-quantity">
            库存量： <%= @product.quantity %>
          </div>
          <!-- 商品服务 -->
          <div class="product-quantity">
            包邮： 199元起包邮 | 7天无忧退货
          </div>

        </div>

        <div class="col-sm-6">
          <!-- 商品类别 -->
          <div class="product-quantity">
            类别： <%= @product.category.name %>
          </div>


        </div>
      </div>

      <!-- 按钮区域 -->
      <div class="add-to-cart-buttom row">
        <!--选择商品数量-->
        <%= simple_form_for @product, method: :post, url: add_to_cart_product_path(@product) do |f| %>
         <div class="buy-quantity">
          <%= link_to("-", "", id: "quantity-minus", class: "quantity-minus btn btn-default disabled") %>
          <%= f.input_field "", name: "quantity", value: '1', id: "quantity-input", class: "quantity-input" %>
          <%= link_to("+", "", id: "quantity-plus", class: "quantity-plus btn btn-default #{@product.quantity <= 1 ? 'disabled' : ''}") %>
         </div>


        <!-- 加入购物车按钮 -->
        <!-- <div class="col-sm-4">
          <% if @product.quantity.present? && @product.quantity > 0 %>
            <%= link_to add_to_cart_product_path(@product), method: :post, class: "btn btn-danger" do %>
              <%= fa_icon("cart-arrow-down", text: "加入购物车") %>
            <% end %>
          <% else %>
            <a href="#" class="btn btn-danger active" role="button" disabled="disabled">库存缺货ing...</a>
          <% end %>
        </div> -->
        <button type="submit"  class="btn btn-warning <%= @product.quantity == 0 ? 'disabled' : '' %>">
          <%= fa_icon("cart-arrow-down", text: "加入购物车") %>
        </button>
        <!-- <button type="submit" link_to buy_now_product_path(@product) class="btn btn-danger <%= @product.quantity == 0 ? 'disabled' : '' %>">
          立刻下单
        </button> -->
        <% end %>

        <!-- 收藏商品按钮 -->
        <!-- <div class="col-sm-4 product-collection">
          <!-- <%= link_to("添加收藏 - 人气(26)", "#")%> -->
          <!-- <% if current_user && current_user.is_member_of?(@product) %>
            <%= link_to quit_product_path(@product), method: :post, class: " btn btn-lg btn-default pull-right" do%>
            <i class="fa fa-heart fa-lg"></i><% end %>
          <% else %>
            <%= link_to join_product_path(@product), method: :post, class: " btn btn-lg btn-danger pull-right" do%>
              <i class="fa fa-heart fa-lg"></i><% end %>
          <% end %>
        </div> -->

        <!--  点赞 -->
        <!-- <div class="col-sm-4 product-zan">
        <%= link_to like_product_path(@product), method: :put do %>
          <div class="pi-thumbs-up">
            <i class="fa fa-thumbs-up fa-2x" , style="color:#ff5722;"></i>
            <a>人气（<%= @product.get_upvotes.size %>）</a>
          </div>
        <% end %>
        </div> -->
      </div>
    </div>

    <!-- 商品详情区域 + 推荐展示 -->
    <div class="container">
      <!-- 商品详情区域 + 商品评论区域 -->
      <div class="col-md-9 product-particulars">
        <!-- 导航栏 -->
        <div class="row">
          <ul class="nav nav-tabs nav-justified">  <!--nav-justified整个画面详情和评论各占一半-->
            <li class="active">
              <a href="#tab_default_1" data-toggle="tab">商品详情</a>
            </li>
            <li>
              <a href="#tab_default_2" data-toggle="tab">用户评价 (<%= @product.reviews.count %>) </a>
            </li>
          </ul>
        </div>

        <div class="tab-content">
          <!-- 商品详情区域 -->
          <div class="product-particulars-box row tab-pane active" id="tab_default_1">
            <% @product.photos.each do |p| %>
              <%= image_tag p.image.main.url  , class: "thumbnail img-responsive col-md-5" %>
            <% end %>
          </div>
          <!-- 商品评论区域 --><!--对商品评论以及评星-->
          <div class="product-particulars-box row tab-pane" id="tab_default_2">
            <div class="text-center">
              <h3>综合评价</h3>
              <div class="star-freshness" data-score= <%= @avg_review %> >新鲜： </div>
              <div class="star-look" data-score= <%= @avg_look %> >外观： </div>
              <div class="star-price" data-score= <%= @avg_price %> >价格： </div>
            </div>
            <%= link_to("评价",new_product_review_path(@product), :class => "btn btn-lg btn-info") %>

            <hr>

            <% @reviews.each do |review| %>
              <div class="reviews">
                <ul>
                  <li>
                    <div class="row">
                      <div class="col-xs-9 review-user-email"><%= review.user.email %></div>
                      <div class="col-xs-3"><%= review.created_at.strftime("%Y-%m-%d %H-%M-%S") %></div>
                    </div>
                    <div class="review-comment">
                      新鲜： <div class="star-freshness" data-score= <%= review.freshness %> ></div>
                      外观： <div class="star-look" data-score= <%= review.look %> ></div>
                      价格： <div class="star-price" data-score= <%= review.price %> ></div>
                      <%= review.body %>
                    </div>

                    <div>
                      <% if review.user == current_user %>
                         <%= link_to("Delete", product_review_path(@product, review), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-sm pull-right") %>
                      <% end %>
                    </div>
                  </li>
                </ul>
                <div class="review-hr">
                  <hr>
                </div>
              </div>
              <% end %>
          </div>
        </div>
      </div>
    <!-- 购物指南区 -->
      <!-- <div class="col-md-3">
        <div class="product-recommend">
          <h5>购物指南</h5>
          <hr>
          <h6>配送费用</h6>
          <p>小件商品的配送费用为20.00元/单。单笔订单消费购买小件商品满99.00元，可享受免费配送服务。</p>
          <hr>
          <h6>支付方式</h6>
          <p>支付宝账户余额
            <br>
            网银支付（通过支付宝
            <br>
            信用卡支付（通过支付宝）</p>
          <hr>
          <h6>更换商品、退货</h6>
          <p>如您在简屋官方网络商城购买的商品未经使用，并不影响下一位消费者的权益的情况下，可在到货起14日内进行退货服务申请。当您需要申请退货服务时请联系客服中心。</p>
          <hr>
          <h6>关于商品颜色</h6>
          <p>因拍摄灯光或显示器等因素，网页商品颜色可能与实物存在一定偏差，请以实物为准，敬请谅解。</p>
        </div>
      </div> -->
    </div>
  </div>
</div>

<script>
  $('.star-freshness').raty({
        path: '/assets/',
            readOnly: true,
            score: function() {
          return $(this).attr('data-score');
        }
  });
  $('.star-look').raty({
        path: '/assets/',
            readOnly: true,
            score: function() {
          return $(this).attr('data-score');
        }
  });
  $('.star-price').raty({
        path: '/assets/',
            readOnly: true,
            score: function() {
          return $(this).attr('data-score');
        }
  });

  $('#star-freshness').raty({
  path: '/assets/',
  scoreName: 'review[freshness]'
  });

  $('#star-look').raty({
  path: '/assets/',
  scoreName: 'review[look]'
  });

  $('#star-price').raty({
      path: '/assets/',
      scoreName: 'review[price]'
  });

  $('#star-freshness img').eq(0).trigger('click')
  $('#star-look img').eq(0).trigger('click')
  $('#star-price img').eq(0).trigger('click')

</script>
