<!-- 全商品列表的的navbar -->
<!-- <div class="header_placeholder h80"></div>
<div class="header">
<div class="header1">
  <div class="header_content clearfix">
    <div class="logo1"><%=link_to("Select.", products_path)%></div>
    <div class="search_bar1">
      <%= form_tag search_products_path , :method => :get do %>
        <div class="input-group" id="search-id" >
          <input type="text" class="form-control" name="q" value="<%= params[:q] %>" placeholder="请输入商品信息">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      <% end %>
    </div>
    <div class="cart-wrap1">
      <div class="cart">
      	<%= link_to carts_path do %>
          <i class="fa fa-shopping-cart cart-icon f16 mr10 tc"></i>我的购物车
          <span class="products_count"><%= current_cart.products.count %></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div> -->
<!-- 全商品列表的navbar结束 -->

<!-- 在商品列表中增加分类显示的按钮 -->

<!-- <div class="row">
  <% if params[:controller] == ('products') && params[:action] == ('show') %>
    <div class="menu-wrap">
      <ul class="menuList">
        <li class="menuList-item">
          <%= link_to("首页", products_path)%>
        </li>
        <% Category.all.each do |category| %>
          <li class="menuList-item <%= 'menuList-activeItem' if @product.category.name == category.name %>">
            <%= link_to category.name, products_path(category: category.name), class: "link" %>
          </li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <div class="menu-wrap">
      <ul class="menuList">
        <li class="menuList-item <%= 'menuList-activeItem' if !params[:category] %>">
          <%= link_to("首页", products_path)%>
        </li>
        <% Category.all.each do |category| %>
          <li class="menuList-item <%= 'menuList-activeItem' if params[:category] == category.name %>">
            <%= link_to category.name, products_path(category: category.name), class: "link" %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div> -->
<!-- 分类显示按钮结束 -->

<div class="col-md-9 col-centered", style="margin-bottom: 20px;">
  <%= link_to(products_path, class: "btn btn-default back-btn") do %>
    <span></span>返回首页
  <% end %>
</div>
<div class="col-md-12 col-centered panel panel-default">
  <div class="panel-body", style="margin-top: -50px;">
    <div class="col-md-5 col-md-offset-1">
      <% if @product.image.present? %>
        <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail")%>
      <% end %>
    </div>
    <div class="col-md-5 col-md-offet-1">
      <h2> <%= @product.name %></h2>
      <div style="height:100px;">
        <p><%= @product.description %></p>
      </div>
      <div>类别:<%= @product.category.name %></div>
      <div>库存: <%= @product.stock %></div>
      <div class="product-price"> ￥ <%= @product.price %></div>

      <br />
      <div class="btn-group btn-group-justified">
        <!-- 点赞的view部分 -->
        <div class="like btn btn-default">
          <%= link_to like_product_path(@product), method: :put do %>
            <div class="pi-thumbs-up">
            <i class="fa fa-thumbs-up fa-x"></i>
            <%= @product.get_upvotes.size %>
            </div>
          <% end %>
        </div>
        <!-- 点赞的view部分结束 -->
        <!-- 收藏商品和取消商品view部分 -->
        <div class="favorite btn btn-default">
          <% if !@product.fans.include?(current_user) %>
            <%= link_to("收藏商品",add_to_favorite_product_path(@product),method: :post, class: "fa fa-heart-o") %>
          <% else %>
            <%= link_to("取消收藏", cancel_favorite_product_path(@product),method: :post,  class: "fa fa-heart", style: "color:red;") %>
          <% end %>
        </div>
        <!-- 收藏商品和取消商品view部分结束 -->
      </div>

      <hr>
      <div class="pull-right">
        <% if @product.stock.present? && @product.stock > 0 %>
          <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post,  class: "btn btn-primary btn-lg") %>
        <% else %>
          <%= link_to("已售罄", add_to_cart_product_path(@product), :method => :post,  class: "btn btn-primary btn-lg btn-danger disabled") %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- 商品详情及用户评价 -->
<!-- <div class="productDetail">
    <ul class="productDetail-tabList clearfix">
      <li class="productDetail-tabList-tab productDetail-tabList-activeTab">
        商品详情
      </li>
      <li class="productDetail-tabList-tab">
        商品评价
      </li>
    </ul>
    <div class="productDetail-contentWrap">
      <div class="productDetail-content" style="display: block;">
        <div class="productDetail-introImg">
        </div>
      </div>
      <div class="productDetail-content">
        <ul class="commentList">
        </ul>
        <p class="comment-say">
          <%= link_to("评论和评星功能正在开发中，即将更新", "#", :class => "btn bc") %>
        </p>
      </div>
    </div>
  </div> -->
  <!-- 商品详情和用户评价结束 -->
