<!-- <div class="row">
<div class="col-md-6">
<% if @photos.present? %>
  <% @photos.each_with_index do |p, index| %>
    <% if index == 0 %>
      <%= image_tag p.avatar.medium.url %>
       <div style="letter-spacing: -8px">
    <% else %>
           <%= image_tag p.avatar.thumb.url %>
    <% end %>
  <% end %>
</div>
<% else %>
  <%= image_tag("http://placehold.it/450x450&text=No Pic", class:"thumbnail")%> -->
<!-- <% end %> -->

<div class="productDetail">
  <div class="productDetail-left bg-color1">
     <div class="productDetail-left-bigImage bg-color3">
        <% if @photos.present? %>
           <img id="thumb" src="<%= @photos.first.avatar.medium.url %>"></div>
        <% end %>
       <div class="productDetail-left-imageList-group">
         <% if @photos.present? %>
          <% @photos.each_with_index do |p, index| %>
           <% if index == 0 %>
             <div class="productDetail-left-imageList-item productDetail-left-imageList-activeItem bg-color4">
           <% elsif index == 4 %>
             <div class="productDetail-left-imageList-item last-item">
           <% else %>
             <div class="productDetail-left-imageList-item bg-color4">
           <% end %>
           <% if index < 5 %>
             <%= image_tag p.avatar.medium.url %>
           <% end %>
         </div>
          <% end %>
         <% end %>
       </div>
    </div>
  <div class="productDetail-right bg-color2"></div>
</div>
