<div class="col-md-12">
  <%= link_to("Back to index",products_path,class:"btn btn-default") %>
</div>
<div class="col-md-12">
  <div class="row">

    <div class="col-sm-5 col-md-8">
      <div class="thumbnail">
        <!-- <img src="..." alt="..."> -->
        <div class="caption">
          <h5><%= @product.title %></h5>
          <table>
            <tr>
              <td>
                <%= image_tag @product.image.medium %>
              </td>
              <td>
                <table>
                    <tr>
                      <%= @product.description %><br/>
                      <%= @product.quantity %><br/>
                      <%= @product.price %><br/>
                    </tr>
                </table>

              </td>
            </tr>
          </table>


          <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
        </div>
      </div>
    </div>

  </div>
</div>
