<div class="row">
  <div class="col-md-6">
    <img id="zoom_01" src=<%= @product.image.medium.url %> data-zoom-image=<%= @product.image.url %> >





    <% if @product.image.present? %>
           <!-- <% @photos.each_with_index do |p, index| %>
          <% if index == 0 %>
            <%= image_tag p.avatar.medium.url %>
            <div style="letter-spacing: -8px">
          <% else %>
            <%= image_tag p.avatar.thumb.url %>
          <% end %>
       <% end %> -->

       <!-- 主图 -->
           <div class="col-md-6">
               <div class="productDetail">
                 <div class="productDetail-left">
                   <div class="productDetail-left-bigImage">
                     <%= image_tag(@product.photos[0].avatar.thumb.url) %>
                   </div>
            </div>
       <!-- 下方小图-->
           <div class="col-md-6">
                   <%= image_tag @product.photos[0].avatar.medium.url  %>
                 </div>
                 <div class="productDetail-left-imageList-item">
                   <%= image_tag @product.photos[1].avatar.medium.url  %>
                 </div>
                 <div class="productDetail-left-imageList-item">
                   <%= image_tag @product.photos[2].avatar.medium.url  %>
                 </div>

               </div>
             </div>
           </div>
           </div>

    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>

  </div>
  <div class="col-md-6">
    <h2> <%= @product.title %> </h2>
    <div style="height:100px;">
      <p>
        <%= @product.description %>
      </p>
    </div>
    <div> 数量 : <%= @product.quantity %> </div>
    <div>类别 : <%= @product.category.name %></div>
    <div class="product-price"> ￥ <%= @product.price %> </div>
    <div class="pull-right">
      <% if @product.quantity.present? && @product.quantity > 0 %>
        <%= link_to("加入购物车", add_to_cart_product_path(@product), method: :post, class: "btn btn-lg btn-danger") %>
      <% else %>
        已销售一空，无法购买
       <% end %>
    </div>
  </div>
</div>

<script>
$('#zoom_01').elevateZoom();
</script>
