<div class="container">
  <div class="row">
    <div class="box">
      <div class="wrap-left">
        <div class="tb-booth tb-s310">
          <a href="#">
            <img src="<%= img430(@product,1) %>" alt="" rel="<%= imgmax(@product,1) %>" class="jqzoom"/>
            <span class="zoomIcon">
              <i class="fa fa-search" aria-hidden="true"></i>
            </span>
          </a>
        </div>
        <div class="tb-thumb">
          <ul id="thumblist">
            <li class="tb-selected">
              <div class="tb-s40">
                <a href="#"><img src="<%= img430(@product,1) %>" mid="<%= img430(@product,1) %>" big="<%= imgmax(@product,1) %>">
                </a>
              </div>
            </li>
            <li>
              <div class="tb-s40">
                <a href="#">
                  <img src="<%= img430(@product,2) %>" mid="<%= img430(@product,2) %>" big="<%= imgmax(@product,2) %>">
                </a>
              </div>
              </li>
              <li>
                <div class="tb-s40">
                  <a href="#"><img src="<%= img430(@product,3) %>" mid="<%= img430(@product,3) %>" big="<%= imgmax(@product,3) %>">
                  </a>
                </div>
                </li>
                <li>
                  <div class="tb-s40">
                    <a href="#"><img src="<%= img430(@product,4) %>" mid="<%= img430(@product,4) %>" big="<%= imgmax(@product,4) %>"></a>
                  </div>
                  </li>
                  <li>
                    <div class="tb-s40">
                      <a href="#"><img src="<%= img430(@product,5) %>" mid="<%= img430(@product,5) %>" big="<%= imgmax(@product,5) %>"></a>
                    </div>
                    </li>
                  </ul>
                </div>

              </div>
              <div class="wrap-right">
                <h1><%= @product.title %></h1>
                <div class="summary-price-wrap">
                  <div class="summary-sale">
                    <div class="dt">
                      <span>促 销 价</span>
                        <span style="font-size: 18px;">&nbsp;&nbsp;￥&nbsp;</span>
                        <span class="price"><%= @product.promotional %></span>
                    </div>
                    <div class="dd">
                      <span>价 格</span>
                        <span style="font-size: 18px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;￥&nbsp;</span>
                        <span class="price-o"><%= @product.price %></span>
                    </div>
                  </div>
                </div>
                <div class="tm-ind-panel">
                  <ul>
                    <li>
                      <span class="tm-label">月销量</span>
                      <span class="tm-count">394</span>
                    </li>
                    <li>
                      <span class="tm-label">累计评价</span>
                      <span class="tm-count"><%= @product.reviews.count %></span>
                    </li>
                  </ul>
                </div>

                <div class="tb-key">
                  <div class="tb-skin">
                    <div class="tb-sku">
                      <dl class="tb-amount tm-clear">
                        <dt class="tb-metatit">数量</dt>
                        <dd id="J_Amount">
                          <span class="tb-amount-widget mui-amount-wrap">
                            <span class="mui-amount-btn">
                              <span class="mui-amount-increase">
                                <i class="fa fa-angle-up" aria-hidden="true"></i>
                              </span>
                              <span class="mui-amount-decrease">
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                              </span>
                            </span>
                            <input type="text" class="tb-text mui-amount-input" value="1" name="quantity">
                            <span class="mui-amount-unit">件</span>
                          </span>
                          <span id="J_StockTips"></span>
                        </dd>
                      </dl>
                      <div class="tb-action">
                        <div class="tb-btn-buy">
                          <%= link_to("立即购买", checkout_carts_path, :method => :post , id: "J_LinkBasket") %>

                        </div>
                        <div class="shopCart tb-btn-basket">
                          <%= link_to(content_tag(:i, ' 加入购物车', class: 'fa fa-shopping-cart'), add_to_cart_product_path(@product), :method => :post ,:remote => true, class: "J_LinkBasket item_buy", mid: img430(@product,1)) %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tm-ser">
                  <dl>
                    <dt>服务承诺</dt>
                  </dl>
                  <dd>
                    <ul>
                      <li>
                        <a href="#">坏单包退</a>
                      </li>
                      <li>
                        <a href="#">满88包邮</a>
                      </li>
                      <li>
                        <a href="#">一站式购齐</a>
                      </li>
                      <li>
                        <a href="#">正品保证</a>
                      </li>
                      <li>
                        <a href="#">极速退款</a>
                      </li>
                    </ul>
                  </dd>
                </div>
              </div>
            </div>
            <div class="ald-skuRight">
              <div class="ald-hd">
                <s></s>
                <span>看了又看</span>
              </div>
              <div id="srollGoods" class="ald-carousel">
                <div class="wrapCon">
                  <ul id="wrapCon">
                    <% @products_see.each do |product| %>
                    <li>
                      <div class="img">
                        <a class="ALDCLS-act" title="<%= product.title %>" href="<%= product_path(product) %>">
                          <img src="<%= img430(product,1) %>">
                        </a>
                        <p class="look_price">¥<%= product.promotional %>
                        </p>
                      </div>
                      <p class="look_title">
                        <a class="ALDCLS-act" href="<%= product_path(product) %>" target="_blank" data-spm-anchor-id="a220o.1000855.1998025129.2"><%= product.title %>
                        </a>
                      </p>
                    </li>
                    <% end %>
                  </ul>
                </div>
                <ul class="ald-switchable-trigger">
                  <li class="ald-switchable-prev-btn">上一个</li>
                  <li class="ald-switchable-next-btn">下一个</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="product-wrap">
              <div class="ald-skuRight">
                <div class="tab3">
                  <a href="#">热门关注</a>
                </div>
                <div class="product-hot">
                  <div class="ald-carousel">
                    <div class="wrapCon">
                      <ul>
                        <% @products_hot.each do |product| %>
                        <li>
                          <div class="img">
                            <a class="ALDCLS-act" title="<%= product.title %>" href="<%= product_path(product) %>">
                              <img src="<%= img430(product,1) %>">
                            </a>
                            <p class="look_price">¥<%= product.promotional %>
                            </p>
                          </div>
                          <p class="look_title">
                            <a class="ALDCLS-act" href="<%= product_path(product) %>" target="_blank" data-spm-anchor-id="a220o.1000855.1998025129.2"><%= product.title %>
                            </a>
                          </p>
                        </li>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product-info">
                <div class="TabBarBox">
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="active ">
                      <a href="#tab-left" role="tab" data-toggle="tab">商品详情</a>
                    </li>
                    <li>
                      <a href="#tab-right" role="tab" data-toggle="tab">累计评价
                        <%= @product.reviews.count %></a>
                    </li>
                  </ul>
                </div>

                <div class="tab-content">
                  <div class="tab-pane active" id="tab-left">
                    <div class="description">
                      <p>
                        <%= raw @product.description %>
                      </p>
                    </div>
                    <div class="TabBarBox">
                      <div class="tab2">
                        <a href="#">商品评价</a>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="tab-right">
                    <div class="row review">
                      <div class="col-sm-10 col-sm-offset-1">
                        <hr>
                        <div id="reivews">
                          <%= render @product.reviews%>
                          <hr>
                          <%= render "reviews/form"%>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--
<span class="pull-right">
  <% if current_user && current_user.is_voter_of?(@product) %>
    <%= link_to("", downvote_product_path(@product), method: :post, class: "fa fa-heart fa-2x", style: "color:red;") %>
   <% else %>
    <%= link_to("", upvote_product_path(@product), method: :post, class: "fa fa-heart-o fa-2x") %>
  <% end %>
</span>
-->
        <script type="text/javascript">
          //---------数量-------//
          (function ($) {
            $.fn.changeNnmber = function () {
              var $app = $(this);
              //  var value = $app.find(".mui-amount-input").attr("value");
              var value = Number($app.find(".mui-amount-input").val());
              var $up = $app.find('.fa-angle-up');
              var $down = $app.find('.fa-angle-down');
              $up.on('click', function () {
                if (value >= 1) {
                  value += 1;
                } else {
                  value = 1;
                }
                $app.find(".mui-amount-input").val(value);
              });
              $down.on('click', function () {
                if (value <= 1) {
                  value = 1;
                } else {
                  value -= 1;
                }
                $app.find(".mui-amount-input").val(value);
              });
            }
          })(jQuery);
          $(function () {
            $('#J_Amount').changeNnmber();
          });

          //----------看了有看
          (function ($) {
            $.fn.scrollGoods = function (options) {
              var defaults = {
                top: 0
              };
              options = $.extend(defaults, options);
              var top = options.top;
              var $app = $(this);
              var $panel = $app.find('.wrapCon');
              var $ul = $app.find('#wrapCon');
              var panelHeight = $panel.height();
              var ulHeight = $ul.height();
              var $up = $app.find('.ald-switchable-next-btn');
              var $down = $app.find('.ald-switchable-prev-btn');
              $up.on('click', function () {
                if ((top + ulHeight) <= panelHeight) {
                  top = 0;
                } else {
                  top -= 522;
                }
                $ul.animate({
                  'top': top + 'px'
                });
              });
              $down.on('click', function () {
                if (top >= 0) {
                  top = (ulHeight - panelHeight) * -1;
                } else {
                  top += 522;
                }
                $ul.animate({
                  'top': top + 'px'
                });
              });
            }
          })(jQuery);
          $(function () {
            $('#srollGoods').scrollGoods();
          });

          //------放大镜-------//
          $(".jqzoom").imagezoom();
          $("#thumblist li").hover(function () {
            $(this).addClass("tb-selected").siblings().removeClass("tb-selected");
            $(".jqzoom").attr('src', $(this).find("img").attr("mid"));
            $(".jqzoom").attr('rel', $(this).find("img").attr("big"));
          },);
        </script>
