
  <div class="row">
    <div class="col-md-5">
      <% if @photos.present? %>
    <% @photos.each_with_index do |p, index| %>
      <% if index == 0 %>
        <%= image_tag p.avatar.medium.url %>
        <div style="letter-spacing: -8px">
      <% else %>
        <%= image_tag p.avatar.thumb.url, class: "big"%>
      <% end %>
    <% end %>
    </div>
  <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
  <% end %>
    </div>
    <div class="col-md-7">
      <div class="container">
	<div class="row clearfix">
		<div class="col-md-7 column">

      <h1>商品名称:<%= @product.title %></h1>
      <br>
      <h5>商品概述:<%= simple_format(@product.description) %></h5>
      <br>
      <br>
      <br>
      <h5>价格:<%= @product.price %></h5>
      <h5>库存:<%= @product.quantity %></h5>
      <% if @product.quantity == 0 %>
      加紧搬用中。。。
      <% else %>
      <br><br><br><br><br>
      <div class="pull-right">
      <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-default") %>
       <% end %>
     </div>
		</div>
	</div>
</div>

    </div>
  </div>
