<div class="col-md-12">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag(@product.image.medium) %>
    </div>
    <div class="col-md-8">
      <h1><%= @product.title %></h1>  <%= link_to("加入购物车", new_admin_product_path, class: "btn btn-success pull-right") %>
      <p>数量：<%= @product.quantity %></p>
      <p>$ <%= @product.price %></p>
    </div>
  </div>
</div>
