<div class="container-fluid">
  <div class="col-xs-4">
     <% if @product.image.present? %>
       <%=image_tag( @product.image.medium.url )%>

      <% else %>
        <%=image_tag("http://placehold.it/200x200&text=No Pic") %>
      <% end %>

  </div>
  <div class="col-xs-4">
      <h2><%= @product.title %><h2>
      <br>
      数量<%= @product.quantity %>
      <br>
      价格<%= @product.price %>
  </div>
  <div class="col-xs-4">
      <a href="#" class="btn" role="button">加到购物车</a>
  </div>
</div>
