
  <div class="row">
    <div class="col-md-4">
  <!-- <%= image_tag @product.image_url.to_s %> -->
  <%= image_tag(@product.image.medium.url) %>
    </div>
    <div class="col-md-8">
      <h1>商品名称:<%= @product.title %></h1>
      <h5>商品概述:<%= @product.description %></h5>
      <h5>价格:<%= @product.price %></h5>
      <h5>库存:<%= @product.quantity %></h5>
      <% if @product.quantity > 0 %>
      <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-xs btn-danger") %>
      <% else %>
       加紧搬用中。。。
       <% end %>
    </div>
  </div>
