<div class="pull-right">
  <%= link_to("购买", :class => "btn btn-default" ) %>
</div>

<h1> <%= @product.title %> </h1>


<%= @product.description %>
<%= @product.price %>

<%= @product.quantity %>
<%= image_tag@product.image_url %>
<%= link_to("加入購物車", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-primary btn-lg btn-danger") %>
