<div class="container">
  <div class="row">
    <div class="box">
      <% if @product.image.present? %>
      <%= @product.image.thumb.url %>
      <% else %>
      <% if @product.http_image.nil? %>

      <% else %>
      <% img430 = @product.http_image + "_430x430q90.jpg" %>
      <% img2430 = @product.http_image2 + "_430x430q90.jpg" %>
      <% img3430 = @product.http_image3 + "_430x430q90.jpg" %>
      <% img4430 = @product.http_image4 + "_430x430q90.jpg" %>
      <% img5430 = @product.http_image5 + "_430x430q90.jpg" %>
      <% end %>
      <% end %>

      <div class="wrap-left">
        <div class="tb-booth tb-s310">
          <a href="javascript:void(0);">
            <img src="<%= img430 %>" alt="" rel="<%= @product.http_image %>" class="jqzoom" />
            <span class="zoomIcon"><i class="fa fa-search" aria-hidden="true"></i></span>
          </a>
        </div>
        <div class="tb-thumb">
          <ul id="thumblist">
            <li class="tb-selected">
              <div class="tb-s40"><a href="javascript:void(0);"><img src="<%= img430 %>" mid="<%= img430 %>" big="<%= @product.http_image %>"></a></div>
            </li>
            <li>
              <div class="tb-s40"><a href="javascript:void(0);"><img  src="<%= img2430 %>" mid="<%= img2430 %>" big="<%= @product.http_image2 %>"</a></div>
            </li>
            <li>
              <div class="tb-s40"><a href="javascript:void(0);"><img  src="<%= img3430 %>" mid="<%= img3430 %>" big="<%= @product.http_image3 %>"</a></div>
            </li>
            <li>
              <div class="tb-s40"><a href="javascript:void(0);"><img  src="<%= img4430 %>" mid="<%= img4430 %>" big="<%= @product.http_image4 %>"</a></div>
            </li>
            <li>
              <div class="tb-s40"><a href="javascript:void(0);"><img  src="<%= img5430 %>" mid="<%= img5430 %>" big="<%= @product.http_image5 %>"</a></div>
            </li>
          </ul>
        </div>

      </div>
      <div class="wrap-right">
        <h1><%= @product.title %></h1>
        <div class="summary-price-wrap">
          <div class="summary-sale">
            <div>
              <div class="dt">促 销 价</div>
              <div class="dd">
                <span style="font-size: 18px;">￥</span>
                <span class="dr"><%= @product.promotional %></span>
              </div>
              <div class="comment text-rigth">
                <p>累计评价</p>
                <a href="javascript:void(0);">1100</a>
              </div>
            </div>
            <div class="">
              <div class="price">价 格</div>
              <div class="dd">
                <span style="font-size: 18px;color: #999;">￥</span>
                <span class="dr" style="color: #999;font-weight: normal;text-decoration: line-through;"><%= @product.price %></span>
              </div>
            </div>
          </div>
        </div>
        <div class="tm-ind-panel">
          <ul>
            <li><span class="tm-label">月销量</span><span class="tm-count">394</span></li>
            <li><span class="tm-label">累计评价</span><span class="tm-count">2014</span></li>
          </ul>
        </div>

        <div class="tb-key">
          <div class="tb-skin">
            <div class="tb-sku">
              <dl class="tb-amount tm-clear">
                <dt class="tb-metatit">数量</dt>
                <dd id="J_Amount"><span class="tb-amount-widget mui-amount-wrap">
                  <span class="mui-amount-btn">
                    <span class="mui-amount-increase"><i class="fa fa-angle-up" aria-hidden="true"></i></span>
                    <span class="mui-amount-decrease"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                  </span>
                  <input type="text" class="tb-text mui-amount-input" value="1" name="quantity">
                  <span class="mui-amount-unit">件</span>
                </span>
                <span id="J_StockTips"></span>
              </dd>
            </dl>
            <div class="tb-action">
              <div class="tb-btn-buy">
                <a id="J_LinkBuy" href="#" rel="nofollow" data-addfastbuy="true" title="点击此按钮，到下一步确认购买信息。" class="" role="button" data-spm-anchor-id="a220o.1000855.0.0">立即购买</a>
              </div>
              <div class="tb-btn-basket">
                <a href="javascript:void(0);" rel="nofollow" id="J_LinkBasket" class="" role="button"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;加入购物车</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tm-ser">
        <dl>
          <dt>服务承诺</dt>
        </dl>
        <dd>
          <ul>
            <li><a href="javascript:void(0);" >坏单包退</a></li>
            <li><a href="javascript:void(0);">满88包邮</a></li>
            <li><a href="javascript:void(0);">一站式购齐</a></li>
            <li><a href="javascript:void(0);">正品保证</a></li>
            <li><a href="javascript:void(0);">极速退款</a></li>
          </ul>
        </dd>
      </div>
    </div>
  </div>
  <div class="ald-skuRight">
    <div class="ald-hd">
      <s></s>
      <span>看了又看</span>
    </div>
    <div id="srollGoods" class="ald-carousel">
      <div class="wrapCon">
        <ul id="wrapCon">
          <% @products_see.each do |product| %>
          <% if product.image.present? %>
          <%= product.image.thumb.url %>
          <% else %>
          <% if @product.http_image.nil? %>

          <% else %>
          <% img430 = product.http_image + "_430x430q90.jpg" %>
          <% end %>
          <% end %>

          <li>
            <div class="img">
              <a class="ALDCLS-act" title="<%= product.title %>" href="<%= product_path(product) %>">
                <img src="<%= img430 %>">
              </a>
              <p class="look_price">¥<%= product.promotional %>
              </p>
            </div>
            <p class="look_title">
              <a class="ALDCLS-act" href="<%= product_path(product) %>" target="_blank" data-spm-anchor-id="a220o.1000855.1998025129.2"><%= product.title %>
              </a>
            </p>
          </li>
          <% end %>
        </ul>
      </div>
      <ul class="ald-switchable-trigger">
        <li class="ald-switchable-prev-btn">上一个</li>
        <li class="ald-switchable-next-btn">下一个</li>
      </ul>
    </div>
  </div>
</div>
</div>

<div class="container">
<div class="row">
  <div class="product-wrap">
    <div class="ald-skuRight">
      <div class="tab3">
            <a href="javascript:void(0);">热门关注</a>
      </div>
      <div class="product-hot">
        <div class="ald-carousel">
          <div class="wrapCon">
            <ul>
              <% @products_hot.each do |product_hot| %>
              <% if product_hot.image.present? %>
              <%= product_hot.image.thumb.url %>
              <% else %>
              <% if @product.http_image.nil? %>

              <% else %>
              <% img430 = product_hot.http_image + "_430x430q90.jpg" %>
              <% end %>
              <% end %>

              <li>
                <div class="img">
                  <a class="ALDCLS-act" title="<%= product_hot.title %>" href="<%= product_path(product_hot) %>">
                    <img src="<%= img430 %>">
                  </a>
                  <p class="look_price">¥<%= product_hot.promotional %>
                  </p>
                </div>
                <p class="look_title">
                  <a class="ALDCLS-act" href="<%= product_path(product_hot) %>" target="_blank" data-spm-anchor-id="a220o.1000855.1998025129.2"><%= product_hot.title %>
                  </a>
                </p>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="product-info">
      <div class="TabBarBox">
        <ul>
          <li class="tab"><a href="#description">商品详情</a></li>
          <li class="tab2"><a href="javascript:void(0);">累计评价 166</a></li>
        </ul>
      </div>
      <div class="description">
        <p>
          <%= raw @product.description %>
        </p>
      </div>
      <div class="TabBarBox">
          <div class="tab2">
            <a href="javascript:void(0);">商品评价</a>
          </div>
      </div>
    </div>
  </div>
</div>
</div>
<script type="text/javascript">
//---------数量-------//
(function ($) {
  $.fn.changeNnmber = function () {
      var $app = $(this);
    //  var value = $app.find(".mui-amount-input").attr("value");
        var value = Number($app.find(".mui-amount-input").val());
      var $up = $app.find('.fa-angle-up');
      var $down = $app.find('.fa-angle-down');
      $up.on('click', function () {
          if (value >= 1) {
              value  += 1;
          } else {
              value = 1;
          }
          $app.find(".mui-amount-input").val(value);
      });
      $down.on('click', function () {
          if (value <= 1) {
              value = 1;
          } else {
              value -= 1;
          }
          $app.find(".mui-amount-input").val(value);
      });
  }
})(jQuery);
$(function () {
  $('#J_Amount').changeNnmber();
});



//----------看了有看
      (function ($) {
          $.fn.scrollGoods = function (options) {
              var defaults = {
                  top: 0
              };
              options = $.extend(defaults, options);
              var top = options.top;
              var $app = $(this);
              var $panel = $app.find('.wrapCon');
              var $ul = $app.find('#wrapCon');
              var panelHeight = $panel.height();
              var ulHeight = $ul.height();
              var $up = $app.find('.ald-switchable-next-btn');
              var $down = $app.find('.ald-switchable-prev-btn');
              $up.on('click', function () {
                  if ((top + ulHeight) <= panelHeight) {
                      top = 0;
                  } else {
                      top -= 522;
                  }
                  $ul.animate({ 'top': top + 'px' });
              });
              $down.on('click', function () {
                  if (top >= 0) {
                      top = (ulHeight - panelHeight) * -1;
                  } else {
                      top += 522;
                  }
                  $ul.animate({ 'top': top + 'px' });
              });
          }
      })(jQuery);
      $(function () {
          $('#srollGoods').scrollGoods();
      });

//------放大镜-------//
$(".jqzoom").imagezoom();
$("#thumblist li").hover(
function () {
  $(this).addClass("tb-selected").siblings().removeClass("tb-selected");
  $(".jqzoom").attr('src',$(this).find("img").attr("mid"));
  $(".jqzoom").attr('rel',$(this).find("img").attr("big"));
},
);

</script>


<!--<div class="row">
  <div class="col-md-6">
    <% if @product.image.present? %>
     <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
    <% else %>
    <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>
    <% if @photos.present? %>
         <% @photos.each_with_index do |p, index| %>
           <% if index == 0 %>
             <%= image_tag p.avatar.medium.url %>
             <div style="letter-spacing: -8px">
           <% else %>
             <%= image_tag p.avatar.thumb.url %>
           <% end %>
         <% end %>
         </div>
       <% else %>
           <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
       <% end %>
  </div>
  <div class="col-md-6">
    <h2> <%= @product.title %> </h2>
    <div style="height:100px;">
      <p>
         <%= @product.description %>
      </p>

    <div 数量 : <%= @product.quantity %>  </div>
    <div class="product-price"> $ <%= @product.price %> </div>
    <div class="pull-right">
      <% if @product.quantity.present? && @product.quantity > 0 %>
      <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-primary btn-lg btn-danger") %>
      <% else %>
        已销售一空，无法购买
      <% end %>
      </div>
  </div>
</div>
<<<<<<< HEAD
</div>
=======
-->
