<div class="container-fluid" id="show">
  <div class="row">
    <div class="col-md-8 col-md-offset-2" id="pro-info">
      <div class="row">
        <div class="col-md-6">
          <% if @product.image.present? %>
            <%= image_tag(@product.image.medium.url, class: "thumbnail wow pulse", data: { wow_delay: "0.2s" }) %>
          <% else %>
            <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
          <% end %>
        </div>
        <div class="details col-md-6">
          <h3 class="product-title"><%= @product.title %></h3>
          <div class="rating">
            <div class="stars">
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
          </div>
          <h4 class="author">作者：<%= @product.author %></h4>
          <h4 class="price">价格：<span>￥<%= @product.price %></span></h4>
          <h4 class="stock">库存：<%= @product.quantity %></h4>
          <div class="actions">
            <%= link_to("加入购物车", add_to_cart_product_path(@product), method: :post, class: "btn btn-default add-to-cart")%>
            <%= link_to(content_tag(:i, '点赞', class:'fa fa-heart'), "#", class: "btn btn-default like") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="review">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
  <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">商品介绍</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">商品评价</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">...</div>
        <div role="tabpanel" class="tab-pane" id="profile">...</div>
      </div>
    </div>
  </div>
</div>
