<div class="row">
   <div class="col-md-6">
      <% if @product.image.present? %>
         <%= image_tag(@product.image.medium.url, class: "thumbnail")%>
      <% else %>
         <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail")%>
      <% end %>
   </div>

   <div class="col-md-6">
      <h2><%= @product.title %></h2>
      <div style="height:100px;">
         <p>
            <%= @product.description%>
         </p>
      </div>
      <div> 数量: <%= @product.quantity %></div>
      <div class="product-price"> ¥ <%= @product.price %> </div>
      <div class="pull-right">
         <% if @product.quantity.present? && @product.quantity >0 %>
            <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-primary btn-danger btn-lg")%>
         <% else %>
            已销售空，无法购买
            <% end %>
      </div>
   </div>
</div>

<div class="story-box">
     <div class="row">
         <div class="col-md-12">
            <hr>
            <div class="row">
               <div class="col-md-4 " style="width: 30%;" >
                     <%= image_tag 'salad1.jpg', class: 'img-responsive'%>
                  <br>
                  <p> 周一:牛油果沙拉</p>
               </div>


               <div class="col-md-4 " style="width: 30%;">
                  <%= image_tag 'salad2.jpg', class: 'img-responsive' %>
                  <br>
                  <p> 周二:西红柿沙拉</p>
               </div>

               <div class="col-md-4 " style="width: 30%;">
                  <%= image_tag 'salad3.jpg', class: 'img-responsive' %>
                  <br>
                  <p> 周三:土豆沙拉</p>
               </div>
            </div>
            <hr>
            <div class="row">
               <div class="col-md-4 " style="width: 30%;" >
                     <%= image_tag 'salad4.jpg', class: 'img-responsive'%>
                  <br>
                  <p> 周四:洋葱沙拉</p>
               </div>


               <div class="col-md-4 " style="width: 30%;">
                  <%= image_tag 'salad5.jpg', class: 'img-responsive' %>
                  <br>
                  <p> 周五:三文鱼沙拉</p>
               </div>

               <div class="col-md-4 " style="width: 30%;">
                  <%= image_tag 'salad6.jpg', class: 'img-responsive' %>
                  <br>
                  <p> 周六:鸡肉沙拉</p>
               </div>
            </div>


         </div>
      </div>
</div>
