<div class="container col-lg-8 col-centered">
  <div class="jumbotron">

      <div class="row">
        <div class="col-lg-6">
          <% if @product.image.present? %>
            <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
          <% else %>
            <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
          <% end %>
        </div>
        <div class="col-lg-6">
          <h2> <%= @product.title %> </h2>
          <div style="height:100px;">
            <p>
              <%= @product.description %>
            </p>
          </div>
          <div> 現貨： <%= @product.quantity %> </div>
          <div class="product-price"> NT$ <%= @product.price %> </div>
          <div class="pull-right">
            <% if @product.quantity > 0 %>
              <%= link_to("加入購物車", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-primary btn-lg btn-danger") %>
            <% else %>
              缺貨中
            <% end %>
          </div>
        </div>
      </div>

  </div>
</div>




<div class="col-lg-6 col-lg-offset-2">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">商品展示圖</h3>
    </div>
    <div class="panel-body">
      Panel content
    </div>
  </div>

</div>

<div class="col-lg-2">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">推薦商品</h3>
    </div>
    <div class="panel-body">
      Panel content
    </div>
  </div>

</div>


<div class="col-lg-8 col-lg-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">購買評論</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
</div>
