<!-- <div class="header_placeholder h80"></div>
<div class="header">
  <div class="w1200 clearfix bc mt30 pb20 header_content pr">
    <div class="logo fl"><%=link_to("时尚生活", products_path, class: "col-red")%></div>
    <div class="fl ml40 mt10">
      <%#= render :partial => "products/search_bar" %>
    </div>
    <div class="pa mt10 cart-wrap">
      <%#= render :partial => "products/cart" %>
    </div>
  </div>
</div> -->
<br>

<br>
<%= render :partial => "products/menu" %>
<br>
<div class="container">
  <p ><%= link_to("首页", products_path)%> >
    <% Category.all.each do |category| %>
          <% if @product.category.name == category.name %>
        <%= link_to category.name, products_path(category: category.name) %>
    <% end %>
    <% end %>
    > <%= @product.title %></p>
  <div class="col-md-12 col-container">
    <!-- 左上角内容 -->
    <div class="col-md-6">
      <div class="show-top-left">
        <div class="border image-medium">
        <% if @photos.present? %>
          <a class="magnifier-thumb-wrapper" href="javascript:;">
            <img
              id="thumb"
              src="<%= @photos.first.avatar.medium.url %>"
              data-large-img-wrapper="preview"
              data-large-img-url="<%= @photos.first.avatar.medium.url %>">
          </a>
        <% end %>
        </div>
      <ul>
        <% if @photos.present? %>
          <% @photos.each_with_index do |p, index| %>
            <% if index == 0 %>
              <li class="border intro-preview-item intro-preview-activeItem fl">
            <% else %>
              <li class="border intro-preview-item fl">
            <% end %>
            <% if index < 5 %>
              <%= image_tag p.avatar.minimal.url %>
            <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
      <p>
        <% if current_user && current_user.is_favorite_of?(@product) %>
          <i class="fa fa-star"></i>
          <%= link_to('收藏'.html_safe, favorite_product_path(@product, type: "unfavorite"), method: :put) %>
        <% else %>
          <i class="fa fa-star-o"></i>

          <%= link_to('收藏'.html_safe, favorite_product_path(@product, type: "favorite"), method: :put) %>
        <% end %>
        <span>（<%= @product.favorite_lists.count %>人气）</span>
      </p>
      </div>
  </div>

    <!-- 右上角内容 -->
    <div class="col-md-6">
      <h3><%= @product.title %></h3>
      <p><%= @product.description %></p>
      <p>
        <span>售价</span><span>￥<%= @product.price %></span>
      </p>
      <p>
        <span>运费</span><span>满99元包邮 | 正品保证</span>
      </p>
      <p>
      <span>库存</span>&nbsp;<span id="quantity"><%= @product.quantity %></span>
      </p>
      <div class="intro-text-quantity clearfix">
        <span>数量</span>
        <div class="countNumber fl mt10">
          <%= link_to("-", reduce_quantity_product_path(@product), class: "countNumber-btn countNumber-btn-sub", method: :post,remote: true) %>
          <input class="countNumber-input" type="text" value="<%= @product.purchase_quantity %>" readonly>
          <%= link_to("+", add_quantity_product_path(@product), class: "countNumber-btn countNumber-btn-plus", method: :post,remote: true) %>
        </div>
      </div>
      <p class="intro-text-btnWrap">
        <%= render :partial => "products/cart_btn"%>
      </p>
    </div>
  </div>

  <div class="">
    <ul class="productDetail-tabList  clearfix">
      <li class="productDetail-tabList-tab productDetail-tabList-activeTab fl pl50 pr50">
        商品详情
      </li>
      <li class="productDetail-tabList-tab fl pl50 pr50">
        商品评价(<%= @product.comments.count%>)
      </li>
    </ul>
    <div class="productDetail-contentWrap">
      <div class="productDetail-content pt20 tc pb20" style="display: block;">
        <div class="productDetail-introImg">
          <% if @prints.present? %>
            <% @prints.each_with_index do |p, index| %>
                <%= image_tag p.avatar.medium.url %>
            <% end %>
          <% else %>
              <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
          <% end %>
        </div>
        <p class="mt20 mb20"><%= @product.description %></p>
      </div>
      <div class="productDetail-content pt30 tc pb20">
        <div class="productDetail-evaluation w200 bc">
          <div class="intro-text-count clearfix mt10">
            <div class="fl mr10">味道: </div>
            <div class="star-rating" data-score= <%= @avg_comment %> ></div>
          </div>
          <div class="intro-text-count clearfix mt10">
            <div class="fl mr10">外观: </div>
            <div class="star-look" data-score= <%= @avg_look %> ></div>
          </div>
          <div class="intro-text-count clearfix mt10">
            <div class="fl mr10">价格: </div>
            <div class="star-price" data-score= <%= @avg_price %> ></div>
          </div>
        </div>
        <ul class="commentList mt70">
          <% if @comments.present? %>
          <% @comments.each do |comment| %>
            <li class="commentList-item w700 pt10 pb10 bc clearfix">
              <p class="fl content tl f12">
                <%= emojify comment.content  %><br>
                <% if comment.graphics.present? %>
                  <% comment.graphics.each_with_index do |p, index| %>
                      <%= image_tag p.avatar.medium.url, class: "commentImage no-border" %>
                  <% end %>
                <% end %>
                <br>
                <img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fczn4z618nj301a010mwz.jpg" class="commentBigImage">
              </p>
              <p class="fr name ell tr f12">
                <%= comment.user.email %>
              </p>
            </li>
          <% end %>
        <% end %>
        </ul>
        <p class="comment-say mt20 mb20">
          <%= link_to("增加评价", new_product_comment_path(@product),
              :class => "g-btn pl15 pr15 mt20 ml20 tc col-red f20 bg-red bc") %>
        </p>
      </div>
    </div>
  </div>
</div>
