<div class='row product-box product-show'>

  <div class="col-md-6 product-image">

  <!-- 显示多张图片 -->
    <% if @product_images.present? %>
    <div class="col-md-12 ">
        <%= image_tag(@product_images.first.image.url , class: 'main-image thumbnail')%>
      </div>
      <% @product_images.each_with_index do |p| %>
      <div class="col-xs-2 image-box">
          <%= image_tag(p.image.small.url,class: 'list-image thumbnail') %>
        </div>
      <% end %>

    <% else %>
        <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>

  </div>


  <div class="col-md-6">
    <h2> <%= @product.title %> </h2>
    <div style="height:100px;">
      <p>
        <%= @product.description %>
      </p>
    </div>
    <div> 数量 : <%= @product.quantity %> </div>
    <div class="product-price"> ￥ <%= @product.price %> </div>
    <div class="pull-right">
      <% if @product.quantity.present? && @product.quantity > 0 %>
      <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-primary btn-lg btn-danger") %>
      <% else %>
         已销售一空，无法购买
      <%end%>

    </div>
  </div>
</div>
