
  <div class="row">
    <div class="col-md-4">
      <% if @product.image.present? %>
      <%= image_tag(@product.image.thumb.url, class: "thumbnail" ) %>
      <% else %>
      <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
    </div>
    <div class="col-md-8">
      <h1>商品名称:<%= @product.title %></h1>
      <h5>商品概述:<%= @product.description %></h5>
      <h5>价格:<%= @product.price %></h5>
      <h5>库存:<%= @product.quantity %></h5>
      <% if @product.quantity == 0 %>
      加紧搬用中。。。
      <% else %>
      <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-xs btn-danger") %>
       <% end %>
    </div>
  </div>
