<div class="col-md-12">

    <div class="row">





            <div class="col-md-5">
              <div style="height: 400px;width: 600px;">
                <img src="<%= @product.image %>" alt=""   height="300" width="450" />
              </div>
            </div>
            <div class="col-md-7">

            <p>
              商品名称：<%= link_to(@product.title, admin_product_path(@product)) %>
            </p>

            <div>
              商品描述：<%= @product.description %>
            </div>

            <br />


            <div class="" style="margin-top: 100px;padding-right: 20px;">
              <div class="row">

                <div  style="padding-left: 20px;">
                  数量：1
                  <br />
                  价格：¥<%= @product.price %>
                </div>
              </div>

              <div>
              <%= link_to("加入购物车", new_admin_product_path, class: "btn btn-primary pull-right") %>
            </div>
            </div>
          </div>




    </div>
</div>
