<head>
  <style>
    .selector1{
      padding-left: 100px;
    }
    .selector2{
      padding-top: 150px;
      padding-left: 100px;
    }
    .selector3{
      padding-top: 220px;
      padding-left: 100px;
    }
  </style>
</head>

<body>
  <div class="row">
    <div class="col-md-3">
      <%= image_tag(@product.image.medium) %>
    </div>

    <div class="col-md-3">
      <p class="lead selector1">
        <strong><%= @product.title %></strong>
      </p>
      <p class="selector2">
      数量：<%= @product.quantity %>
      <br>
      ¥ <%= @product.price %>
    </p>
    </div>

    <div class="col-md-3 selector3">
      <%= link_to("加入购物车", add_to_cart_product_path(@product),
  :method => :post, :class => "btn btn-danger") %>
    </div>
  </div>
</body>
