<div class="productDetail">
  <div class="productDetail-left bg-color1">
     <!-- multi-pics -->
    <% if @photos.present? %>
      <% @photos.each_with_index do |p, index| %>
        <% if index == 0 %>
          <%= image_tag p.avatar.medium.url %>
          <div style="letter-spacing: -8px">
        <% else %>
          <%= image_tag p.avatar.thumb.url %>
        <% end %>
      <% end %>
      </div>
    <% else %>
        <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>
    <!-- multi-pics -->
  </div>

  <div class="productDetail-right bg-color2">
    <h2> <%= @product.title %> </h2>
    <div style="height:100px;">
      <p>
        <%= @product.description %>
      </p>
    </div>
    <div> 数量 : <%= @product.quantity %> </div>
    <div class="product-price"> ￥ <%= @product.price %> </div>
    <div class="pull-right">
     <% if @product.quantity.present? && @product.quantity > 0 %>
        <%= link_to("Add to Cart", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-primary btn-lg btn-danger") %>
        <% else %>
            已销售一空，无法购买
        <% end %>
    </div>
  </div>
</div>

<div class="productDecription">
  <ul class="productDetail-tabList bg-gray clearfix">Detail Information</ul>
  <div class="productDecription-content bg-color3">
    <iframe width="100%" height="480" src="https://www.youtube.com/embed/j53_KDSA1H4" frameborder="0" allowfullscreen></iframe>
  </div>

</div>

<div class="footer bg-color1"></div>
