<div class="row">
  <div class="col-md-6">
    <% if @product.photos.present? %>
    <%= image_tag(@product.photos[0].avatar.thumb.url, class: "thumbnail") %>
    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>
  </div>
  <div class="col-md-6">
    <h2> <%= @product.title %> </h2>
    <div style="height:100px;">
      <p>
        <%= @product.description %>
      </p>
    </div>
    <div> 数量 : <%= @product.quantity %> </div>
    <div class="product-price"> ￥ <%= @product.price %> </div>
    <div class="pull-right">
      <% if @product.quantity.present? && @product.quantity > 0 %>
      <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-primary btn-lg btn-danger") %>
         <% else %> 
        已销售一空，无法购买
      <% end %>
    </div>
  </div>

</div>

<br><br>
<div class="productDetail border mt40">
  <ul class="productDetail-tabList bg-gray clearfix">
    <li class="productDetail-tabList-tab productDetail-tabList-activeTab fl pl80 pr80">
      商品详情
    </li>
  </ul>
</div>

<% if @photos.present? %>
  <% @photos.each_with_index do |p, index| %>
    <% if index == 0 %>
      <%= image_tag p.avatar.medium.url %>
      <div style="letter-spacing: -8px">
    <% else %>
      <%= image_tag p.avatar.thumb.url %>
    <% end %>
  <% end %>
  </div>
<% else %>
    <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
<% end %>
