<!-- 全商品列表的的navbar -->
<!-- <div class="header_placeholder h80"></div>
<div class="header">
<div class="header1">
  <div class="header_content clearfix">
    <div class="logo1"><%=link_to("Select.", products_path)%></div>
    <div class="search_bar1">
      <%= form_tag search_products_path , :method => :get do %>
        <div class="input-group" id="search-id" >
          <input type="text" class="form-control" name="q" value="<%= params[:q] %>" placeholder="请输入商品信息">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      <% end %>
    </div>
    <div class="cart-wrap1">
      <div class="cart">
      	<%= link_to carts_path do %>
          <i class="fa fa-shopping-cart cart-icon f16 mr10 tc"></i>我的购物车
          <span class="products_count"><%= current_cart.products.count %></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div> -->
<!-- 全商品列表的navbar结束 -->

<!-- 在商品列表中增加分类显示的按钮 -->

<!-- <div class="row">
  <% if params[:controller] == ('products') && params[:action] == ('show') %>
    <div class="menu-wrap">
      <ul class="menuList">
        <li class="menuList-item">
          <%= link_to("首页", products_path)%>
        </li>
        <% Category.all.each do |category| %>
          <li class="menuList-item <%= 'menuList-activeItem' if @product.category.name == category.name %>">
            <%= link_to category.name, products_path(category: category.name), class: "link" %>
          </li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <div class="menu-wrap">
      <ul class="menuList">
        <li class="menuList-item <%= 'menuList-activeItem' if !params[:category] %>">
          <%= link_to("首页", products_path)%>
        </li>
        <% Category.all.each do |category| %>
          <li class="menuList-item <%= 'menuList-activeItem' if params[:category] == category.name %>">
            <%= link_to category.name, products_path(category: category.name), class: "link" %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div> -->
<!-- 分类显示按钮结束 -->

<ul class="breadcrumb">
  <li>
    <a href="/products">全品项商品</a> /
    <a href="/products?category=<%= @product.category.name %>"><%= @product.category.name %></a>
  </li>
  <li>
    <a href="/products?brand=<%= @product.brand.name %>"><%= @product.brand.name %></a> /
    <a href="/products?brand=<%= @product.brand.name %>&category=<%= @product.category.name %>"><%= @product.category.name %></a>
  </li>
</ul>

<div class="row", style="margin-left: -21px;">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body", style="padding: 45px 0px;">

        <!-- 商品圖片區開始 -->
        <div class="col-md-5 col-md-offset-1">
          <!-- 第一张大图显示 -->
          <!-- <div class="intro-bigPic">
          <div class="magnifier-preview border" id="preview"></div>
            <% if @photos.present? %>
              <a class="magnifier-thumb-wrapper" href="javascript:;">
                <img
                  id="thumb"
                  src="<%= @photos.first.avatar.medium.url %>"
                  data-large-img-wrapper="preview"
                  data-large-img-url="<%= @photos.first.avatar.medium.url %>">
              </a>
            <% end %>
          </div> -->
          <!-- 第一张大图显示结束 -->
          <!-- 第一张图显示大图，其余的都显示小图 -->

          <!-- 多图显示功能：实现点击小图，大图跟着改变 -->
           <% if @photos.present? %>
             <div class="tab-content show-picture">
               <% @photos.each_with_index do |p,index| %>
                 <% if index <5 %>
                  <div class= "tab-pane <%= render_active(index) %>" id="<%= index %>"><%= image_tag(p.avatar.medium.url) %>
                  </div>
                 <% end %>
               <% end %>
             </div>

             <ul class="show-photo-xsmall-box nav nav-tabs">
               <% @photos.each_with_index do |p,index| %>
                 <% if index <5 %>
                   <li><a href="#<%= index %>" data-toggle="tab"><%= image_tag(p.avatar.small.url)%></a></li>
                 <% end %>
               <% end %>
             </ul>
          <!-- 多图显示功能结束 -->
           <% else %>
               <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
           <% end %>
        </div>
        <!-- 商品圖片區結束 -->

        <!-- 商品訊息區開始 -->
        <div class="col-md-5 col-md-offet-1">
          <!-- 商品名 -->
          <div style="height: 169px;">
            <h3> <%= @product.name %></h3>
          </div>
          <!-- 商品庫存 -->
          <div style="text-align: left;">
            现有库存量:<%= @product.stock %>
          </div>

          <hr>
          <!-- 商品價格 -->
          <div class="well well-lg", style="text-align: right; padding-right: 30px; margin-bottom: 0px;">
            <h4 style="color: #edbdb5;"> ￥ <%= @product.price %></h4>
          </div>
          <!-- 商品購買集合鈕開始 -->
          <div class="btn-group btn-group-justified", style="height: 60px;">
            <div class="btn btn-primary btn-lg", style="background-color: #474c6b;">
              立即购买
            </div>
            <% if @product.stock.present? && @product.stock > 0 %>
              <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post,  class: "btn btn-primary btn-lg") %>
            <% else %>
              <%= link_to("已售罄", add_to_cart_product_path(@product), :method => :post,  class: "btn btn-primary btn-lg btn-danger disabled") %>
            <% end %>
          </div>
          <!-- 商品購買集合鈕結束 -->

          <hr>
          <!-- 商品評論＋點讚＋收藏集合鈕開始 -->
          <div class="btn-group btn-group-justified", style="height: 45px;">
            <div class="btn btn-default">
              <a href="#product_comments"><span class="badge"><%= @product.comments.count %></span>查看评价</a>
            </div>
            <!-- 点赞的view部分 -->
            <div class="btn btn-default">
              <%= link_to like_product_path(@product), method: :put do %>
                <div class="pi-thumbs-up">
                <i class="fa fa-thumbs-up fa-x", style=" padding: 0px 5px;"></i>
                <%= @product.get_upvotes.size %>
                </div>
              <% end %>
            </div>
            <!-- 点赞的view部分结束 -->
            <!-- 收藏商品和取消商品view部分 -->
            <div class="btn btn-default">
              <% if !@product.fans.include?(current_user) %>
                <%= link_to(" 收藏商品",add_to_favorite_product_path(@product),method: :post, class: "fa fa-heart-o") %>
              <% else %>
                <%= link_to(" 取消收藏", cancel_favorite_product_path(@product),method: :post,  class: "fa fa-heart") %>
              <% end %>
            </div>
            <!-- 收藏商品和取消商品view部分结束 -->
          </div>
          <!-- 商品評論＋點讚＋收藏集合鈕結束 -->
        </div>
        <!-- 商品訊息區結束 -->

      </div>
    </div>
    <!-- 品牌簡短介紹開始 -->
    <div>
      <% if @product.brand_id == 1 %>
        <%= render :partial => "products/short_HAY" %>
      <% elsif @product.brand_id == 2 %>
        <%= render :partial => "products/short_GUBI" %>
      <% elsif @product.brand_id == 3 %>
        <%= render :partial => "products/short_MENU" %>
      <% elsif @product.brand_id == 4 %>
        <%= render :partial => "products/short_muuto" %>
      <% elsif @product.brand_id == 5 %>
        <%= render :partial => "products/short_STUA" %>
      <% elsif @product.brand_id == 6%>
        <%= render :partial => "products/short_ferm_living" %>
      <% end %>
    </div>
    <!-- 品牌簡短介紹結束 -->
    </div>
  </div>
</div>


<!-- 商品详情及用户评价 -->
<div class="row", style="margin-left: -21px;">
  <div class="col-md-10 col-md-offset-1">
    <div class="productDetail">
        <ul class="productDetail-tabList clearfix">
          <li class="productDetail-tabList-tab productDetail-tabList-activeTab">
            商品详情
          </li>

          <li class="productDetail-tabList-tab">
            商品评价<span class="badge"><%= @product.comments.count %></span>
          </li>

        </ul>

        <div class="productDetail-contentWrap">
          <div class="productDetail-content col-md-6 col-centered" style="display: block; overflow: hidden;">
            <p><%= simple_format(@product.description) %></p>
            <div class="productDetail-introImg">
            </div>
          </div>
          <div class="productDetail-content col-md-6 col-centered" style="display: block; overflow: hidden;">
            <div id="product_comments">
              <ul class="commentList">
                <p style="border-top-style:solid; border-bottom-style:dotted; border-width:1.2px; text-align: center;">
                来自我们顾客的宝贵评价</p>
                <% @comments.each do |comment| %>
                  <li class="commentList-item clearfix">
                    <p class="content">
                      <%= simple_format(comment.body)  %>
                    </p>
                    <p class="name">
                      <%= comment.user.email %>
                    </p>
                  </li>
                <% end %>
              </ul>
              <p style="border-bottom-style:solid; border-width:1.2px; text-align: center; color: #3c3d42">
                想提供您的心得吗？欢迎留言！
                <span class="comment-say">
                  <%= link_to("发表评价", new_product_comment_path(@product), :class => "btn btn-primary btn-sm") %>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 商品详情和用户评价结束 -->
