

<div class="container main1">
  <div class="row">
    <div class="col-md-9 col-sm-12 col-xs-12">

            <!-- 商品资料 -->
              <div class="col-md-5 col-sm-12 col-xs-12 product-preview">
                <div class="preview-pic">
                  <% if @photos.present? %>
                     <% @photos.each_with_index do |p, index| %>
                       <% if index == 0 %>
                         <%= image_tag p.avatar.thumb.url, class: "thumbnail " %>
                         <!-- <div style="letter-spacing: -8px; margin-top:5px" >
                       <% else %>
                         <%= image_tag p.avatar.thumb.url %>
                       <% end %>
                     <% end %>
                     </div> -->
                   <% else %>
                       <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
                   <% end %>
                </div>
              </div>

          <!-- description -->
              <div class="col-md-5">
                <h3> <%= @product.title %> </h3>
                <div class="show-description " style="height: 160px;">
                  <p>
                    <%= @product.description %>
                  </p>
                </div>
                <div> 数量 : <%= @product.quantity %> </div>
                       <div class="show-price">
                            <div class="price">
                              ￥ <%= @product.price %>
                            </div>
                            <div class="addcart pull-right">
                                <% if !current_user.is_favorite_of?(@product) %>
                                  <%= link_to favorite_product_path(@product), :class => "like btn btn-default", method: :post do %>
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                  <% end %>
                                <% else %>
                                  <%= link_to unfavorite_product_path(@product), :class => "like btn btn-default", method: :post do %>
                                    <i class="fa fa-heart" aria-hidden="true" style="color:red;"></i>
                                  <% end %>
                                <% end %>

                                <% if @product.quantity.present? && @product.quantity > 0 %>
                                    <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-primary btn-lg btn-danger") %>
                                <% else %>
                                    已销售一空，无法购买
                                <% end %>
                            </div>
                      </div>
               </div>
    </div>

    <!-- 推荐 -->
    <div class="col-md-3">
      猜你可能喜欢
    </div>
  </div>

  <br>
    <hr>

  <div class="pictures">
    <% if @photos.present? %>
        <% @photos.each_with_index do |p, index| %>
          <div class="row preview-pic1">
            <div class="col-md-6 preview-image">
                  <% if index >= 0  %>
                    <%= image_tag p.avatar.medium.url, class: "thumbnail" %>
                  <% end %>
            </div>
          </div>
        <% end %>
    <% end %>
  </div>

</div>
