<!-- <head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head> -->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="/assets/logo.png" width="150" height="100">
        </div>
        <div class="col-sm-8 dzl-pd-show-searchbar" style="padding-left: 80px">
            <%= render :partial => "products/search_bar" %>
        </div>
    </div>
    <div class="row">
        <div class="well">
            <span><a href="/">首页</a></span> &nbsp;&nbsp; >&nbsp;&nbsp;  <span><%= @product.title %></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <% if @product.image.present? %>
                <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
            <% else %>
                <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
            <% end %>
        </div>
        <div class="col-md-7">
            <div class="dzl-pd-show-description">
                <h2><%= @product.title %> </h2>
            </div>
            <br>
            <div class="dzl-pd-show-description">
                <p>
                    <%= @product.description %>
                </p>
            </div>
            <br>
            <div class="dzl-pd-show-description">作者 : <%= @product.author %> </div>
            <br>
            <div class="dzl-product-price">售价 <span class="rmb-price"> &nbsp;&nbsp;&nbsp;￥ <%= @product.price %>
                    <h2></span> </div>
                <br>
                <div class="dzl-pd-show-description">库存 : &nbsp;&nbsp;&nbsp;<%= @product.quantity %> </div>
                <br>
                <br>
                <div>
                    <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="dzl-pd-show-buy"><img src="/assets/favorite.png" width="30" height="30">&nbsp;收藏商品</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                    <span>
                        <% if current_user && current_user.is_like?(@product) %>
                            <%= link_to("取消收藏 ☆ ", unlike_product_path(@product), method: :post, :class => "dzl-pd-show-buy") %>
                        <% else %>
                            <%= link_to("收藏商品 ❤ ", like_product_path(@product), method: :post, :class => "dzl-pd-show-buy") %>
                        <% end %>
                    </span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span>
                        <% if @product.quantity.present? && @product.quantity > 0 %>
                            <%= link_to("加入购物车",add_to_cart_product_path(@product), :method => :post,
                         :class => "dzl-pd-show-buy") %>
                        <% else %>
                            商品已销售一空，无法购买
                        <% end %>
                    </span>
                </div>
            </div>
        </div>
    </div>
