<div class="">
  <h2 class="text-center">商品详情</h2>
  <div class="">
     <div class="product-image">
        <%= image_tag(@product.image_url(:medium))%>
     </div>
     <div class="product-details">
       <p>商品名称：<%= @product.title%></p>
       <p>商品描述：<%= @product.description%></p>
       <p>商品价格：<%= @product.price%></p>
       <p>商品数量：<%= @product.quantity%></p>
       <button type="button" name="button" class="btn btn-success buy-button">加入购物车</button>
     </div>
  </div>
</div>
