<div class="row">
  <div class="col-md-6">
    <% if @product.image.present? %>
      <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>
  </div>
  <div class="col-md-6">
    <h2> <%= @product.title %> </h2>
    <div style="height:100px;">
      <p>
        <%= @product.description %>
      </p>
    </div>
    <div> 数量 : <%= @product.quantity %> </div>
    <div class="product-price"> ¥ <%= @product.price %></div>
    <div class="pull-right">
      <%# if @product.quantity == 0 %>
      <%#= link_to("已经卖完了", "#", :class => "btn btn-default btn-lg") %>
      <%# else %>
      <%# if current_cart.cart_items.blank? %>
        <%# if @product.quantity.blank? %>
          <%#= link_to("已放进购物车","#", :class => "btn btn-primary btn-lg btn-danger") %>
        <%# else %>

          <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-primary btn-lg btn-danger") %>
        <%# end %>

      <%# end %>
    </div>
  </div>
</div>
