<div style="width: 60%;">
   <div style="float:left;">
		 <div class="thumbnail" >
			 <p>
			   <!-- <strong>Image:</strong> -->
			   <%= image_tag @product.image.medium.url, :class => "style_image" %>
			 </p>
	 	</div>
	 </div>

	 <div style="float:right;">
		 <h2> <%= @product.title %> </h2>

		 <p><strong>Description: </strong><%= simple_format(@product.description) %></p>
		 <p><strong>Quantity: </strong><%= @product.quantity %></p>
		 <p><strong>Price: </strong>$<%= @product.price %></p>
   </div>
</div>
<div style="clear:both"></div>

<div class="buy">
	<%= link_to("Add to Cart", "#", class: "btn btn-primary pull-right") %>
</div>
