<div class="row">
	<div class="col-sm-6">
		<div class="b_product_cover">
			<% if @product.image.present? %>
				<%= image_tag(@product.image.thumb.url) %>	
			<% else %>
				<div class="no_pic">No Pic</div>
			<% end %>	
		</div>
	</div>
	<div class="col-sm-6">
		<div class="infomation">
			<h3><%= @product.title %></h3>
			<p>数量： <%= @product.quantity %></p>
			<p>￥：<%= @product.price %></p>
		</div>

		<%= link_to('加入购物车', add_to_cart_product_path(@product), :method => :post, :class => "btn btn-primary btn-lg btn-danger") %>
	</div>
</div>