<div class="row">
  <div class="col-md-6">
    <% if @product.image.present? %>
      <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>
  </div>
  <div class="col-md-6">
    <h2> <%= @product.title %> </h2>
    <div style="height:100px;">
      <p>
        <%= @product.description %>
      </p>
    </div>
    <div> 数量 : <%= @product.quantity %> </div>
    <div class="product-price"> ￥ <%= @product.price %> </div>
    <div class="pull-right">
      <% if @product.quantity.present? && @product.quantity > 0 %>
        <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-danger btn-lg") %>
      <% else %>
        已销售一空，无法购买
      <% end %>
    </div>
  </div>
</div>

<!--======== footer锯齿 =========-->
<div class="decor-bottom">
 <svg class="decor" height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%" >
   <path d="M0 0 L2 40 L4 0 L6 40 L8 0 L10 40 L12 0 L14 40 L16 0 L18 40 L20 0 L22 40 L24 0 L26 40 L28 0 L30 40 L32 0 L34 40 L36 0 L38 40 L40 0 L42 40 L44 0 L46 40 L48 0 L50 40 L52 0 L54 40 56 0 L58 40 L60 0 L62 40 L64 0 L66 40 L68 0 L70 40 L72 0 L74 40 L76 0 L78 40 L80 0 L82 40 L84 0 L86 40 L88 0 L90 40 L92 0 L94 40 L96 0 L98 40 L100 0" stroke-width="0"></path>
 </svg>
</div>
<!--======== footer锯齿 =========-->
