<div class="show-page">
    <ol class="breadcrumb">
      <li><a href="<%= root_path %>">所有商品</a></li>
      <li><a href="<%= category_path @product.category %>"><%= @product.category.title %></a></li>
      <li class="active"><%= @product.title %></li>
    </ol>
  <!-- Start of product card -->
  <div class="container card">
    <!-- Start of left card -->
    <div class="preview col-md-7 " style="">
      <% if @product.product_images.present? %>
        <% if @product.product_images.count > 4 %>
          <div class="preview-pic tab-content" >
            <div class="tab-pane active" id="pic-1"><img src=<%= cl_image_path(@product.product_images[0].image.url) %>></div>
            <div class="tab-pane" id="pic-2"><img src=<%= cl_image_path(@product.product_images[1].image.url) %>></div>
            <div class="tab-pane" id="pic-3"><img src=<%= cl_image_path(@product.product_images[2].image.url) %>></div>
            <div class="tab-pane" id="pic-4"><img src=<%= cl_image_path(@product.product_images[3].image.url) %>></div>
            <div class="tab-pane" id="pic-5"><img src=<%= cl_image_path(@product.product_images[4].image.url) %>></div>
          </div>
          <ul class="preview-thumbnail nav nav-tabs">
            <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src=<%= cl_image_path(@product.product_images[0].image.url) %>></li>
            <li><a data-target="#pic-2" data-toggle="tab"><img src=<%= cl_image_path(@product.product_images[1].image.url) %>></li>
            <li><a data-target="#pic-3" data-toggle="tab"><img src=<%= cl_image_path(@product.product_images[2].image.url) %>></li>
            <li><a data-target="#pic-4" data-toggle="tab"><img src=<%= cl_image_path(@product.product_images[3].image.url) %>></li>
            <li><a data-target="#pic-5" data-toggle="tab"><img src=<%= cl_image_path(@product.product_images[4].image.url) %>></li>
          </ul>
        <% else %>
          <div class="preview-pic tab-content" >
            <img src=<%= cl_image_path(@product.main_product_image.image.url) %>>
          </div>
        <% end %>
      <% else %>
        <div class="preview-pic tab-content" >
          <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
        </div>
      <% end %>
    </div>
    <!-- End of left card -->
    <!-- Start of right cart -->
    <div class="details col-md-5" style="margin-top:50px;">
      <h3 class="product-title"><%= @product.title %></h3>
      <div class="price-service">
        <p class="price">原價 <span class="rmb">NT$ </span><span class="msrp"><%= @product.msrp.to_i %></span> 元</p>
        <p class="price">現價 <span class="rmb">NT$ </span><span class="price"><%= @product.price %></span> 元</p>
        <p class="service">服務 <span class="service-detail">7天內無條件退貨</span></p>
      </div>
      <div class="quantity-size">
        <p class="delivery">運費 <span class="delivery">全站免運</span></p>
        <p class="quantity">庫存 <span class="quantity"><%= @product.quantity %></span> 件 </p>
        <!-- <p>購買: &nbsp &nbsp &nbsp<input type="text" style="width:50px" name="quantity" value="1" />&nbsp件</p> -->
      </div>
      <div class="action">
        <div class="col-md-10" >
             <% if @product.quantity.present? && @product.quantity > 0 %>
                <%= link_to("加入購物車", add_to_cart_product_path(@product), method: :post,
                            class: "add-to-cart btn btn-block") %>
             <% else %>
               無現貨
             <% end %>
        </div>
        <div class="col-md-2"  >
           <% if !current_user.is_fan_of?(@product) %>
             <%= link_to favorite_product_path(@product), :class => "like btn btn-default", method: :post do %>
               <i class="fa fa-heart fa-lg"></i>
             <% end %>    <!-- 對應do -->
           <% else %>
             <%= link_to unfavorite_product_path(@product), :class => "unlike btn btn-default", method: :post do %>
               <i class="fa fa-heart fa-lg"></i>
             <% end %>   <!-- 對應do -->
           <% end %>  <!-- 對應if! -->
        </div>
      </div>
      <div class="row share">
        <hr />
        <div class="col-md-6">
            <p> 珍藏人氣（<%= @product.fans.count %>） </p>
        </div>
        <div class="col-md-6">
          <%= link_to like_product_path(@product), method: :put do %>
            <div class="pi-thumbs-up">
              點讚（<%= @product.get_upvotes.size %>）
            </div>
          <% end %>
        </div>
      </div>
      <div class="row share">
        <div class="col-md-6 ">
            <p><i class="fa fa-share-alt" aria-hidden="true"></i> 分享 </p>
        </div>
        <div class="col-md-6" style="margin-left:-40px;">
          <%= social_share_button_tag(@product.title) %><!-- 社交分享 -->
        </div>
      </div>
    </div><!-- End of left card -->
  </div><!-- End of product card -->
  <!-- Start of product description & reviews -->
  <div class="row product_description col-md-12">
    <div class="tabs" >
      <div class="tabbable-panel">
        <div class="tabbable-line">
          <ul class="nav nav-tabs">
            <li role="presentation" class="active">
              <a href="#tab_default_1" data-toggle="tab">商品資訊</a>
            </li>
            <li>
              <a href="#tab_default_2" data-toggle="tab">商品評價(<%= @product.reviews.count %>) </a>
            </li>
          </ul>
          <br />
          <div class="tab-content">
            <div class="tab-pane active" id="tab_default_1">
               <p class="product-description"><%= @product.description.html_safe %></p>
               <p class="product-description2 text-center">商品展示</p>
                <!--商品大圖展示 -->
               <div class="row">
                 <% @product.product_images.each do |product_image| %>
                   <div class="col-xs-12 col-md-12 product-show-detail">
                      <img src=<%= cl_image_path(product_image.image.url) %>>
                   </div>
                 <% end %>
               </div>
               <div class="faq">
                 <p class="faq-title text-center">常見問題</p>
                 <p class="question">如何申請退貨？</p>
                 <p class="answer">
                   1.自收到商品之日起7日内，買家可申請無條件退貨，JayDstore將全額退款，不同的銀行處理時間不同，預計1-3個工作日到帳；<br />
                   2.退貨流程：<br />
                   確認收貨-申請退貨-客服審核通過-用户寄回商品-倉庫簽收驗貨-退款審核-退款完成；<br />
                   3.因JayDstore疏失導致的退貨（如質量問題，退貨運費由JayDstore承擔。因買家個人因素導致的退貨，退貨運費將由買家承擔。）<br />
                 </p>
                 <p class="question">需要發票？</p>
                 <p class="answer">如需開具發票，請在下單時聯繫客服處理，我們將連同貨物一起寄送给您；</p>
               </div>
            </div><!-- End of tab_default_1 -->
            <div class="tab-pane" id="tab_default_2">
                <div class="row">
                  <div class="col-sm-12 ">
                    <h4>
                      <%= @product.reviews.count %> Reviews
                    </h4>
                    <hr>
                    <div >
                      <%= render @product.reviews %>
                      <%= render "reviews/form"%>
                    </div>
                  </div>
                </div>
              </div><!-- End of tab_default_2 -->
            </div><!-- End of tab-content -->
          </div><!-- End of tabbable-line -->
        </div><!-- End of tabbable-panel -->
      </div><!-- End of tabs -->
    </div><!-- End of product description & reviews -->
</div><!-- End of product show page -->
