<div class="">
  <h2 class="text-center">商品详情</h2>
  <div class="">
     <div class="product-image">
        <%= image_tag(@product.image_url(:medium))%>
     </div>
     <div class="product-details">
       <p>商品名称：<%= @product.title%></p>
       <p>商品描述：<%= @product.description%></p>
       <p>商品价格：<%= @product.price%></p>
       <p>商品数量：<%= @product.quantity%></p>
     </div>
     <div class="pull-right">
       <% if @product.quantity.present? && @product.quantity > 0 %>
        <%= link_to("加入购物车", add_to_cart_product_path(@product), method: :post,
                class: "btn btn-lg btn-danger") %>
       <% else %>
         已销售一空，无法购买
       <% end %>
     </div>
  </div>
</div>
