<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-md-5">
            <%= image_tag(@product.image_url(:medium)) %>
        </div>
        <div class="col-sm-6 col-md-2 col-md-offset-1">
            <h2><%= @product.title %></h2>
            <p><%= @product.description %></p>
            <p>数量：<%= @product.quantity %></p>
            <p>
                $
                <%= @product.price %></p>
        </div>
        <div class="col-sm-6 col-md-4">
            <%= link_to("加入购物车", "#" , class: "btn btn-danger pull-right") %>
        </div>
    </div>
</div>
