</br>
</br>
</br>
</br>
</br>
<div class="row">
  <div class="col-md-6">
    <%# if @product.image.present? %>
      <%#= image_tag(@product.image.medium.url, class: "thumbnail") %>
    <%# else %>
      <%#= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <%# end %>

    <!-- <%# if @photos.present? %>
      <%# @photos.each_with_index do |p, index| %>
        <%# if index == 0 %>
          <%#= image_tag p.avatar.medium.url %>
          <div style="letter-spacing: -8px">
        <%# else %>
          <%#= image_tag p.avatar.thumb.url %>
        <%# end %>
      <%# end %>
    </div>
    <%# else %>
      <%#= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail")%>
    <%# end %> -->

    <% if @photos.present? %>
  <div class="tab-content show-picture">
    <% @photos.each_with_index do |product,index| %>
      <% if index < 5 %>
      <!-- 用each_with_index记录，第一张(index ==0)时，显示大图，其余显示小图(thumb) -->
        <div class= "tab-pane <%= render_active(index) %>" id="<%= index %>">
          <!-- 为达到点击轮播效果，采用了rails内建的tap pane 选项卡窗格的写法 -->
          <%= image_tag(product.avatar.medium.url) %>
        </div>
      <% end %>
    <% end %>
  </div>

  <ul class="show-photo-xsmall-box nav nav-tabs">
     <% @photos.each_with_index do |product,index| %>
       <% if index <5 %>
         <li><a href="#<%= index %>" data-toggle="tab"><%= image_tag(product.avatar.thumb.url) %></a></li>
       <% end %>
     <% end %>
   </ul>
<% else %>
  <%= image_tag("http://placehold.it/400x400&text=No Pic", class:"thumbnail") %>
<% end %>

  </div>
  <div class="col-md-6">
    <h2> <%= @product.title %> </h2>
    <div style="height:100px;">
      <p>
        <%= @product.description %>
      </p>
    </div>
    <div> 数量 : <%= @product.quantity %> </div>
    <div class="product-price"> ￥ <%= @product.price %> </div>
    <div class="pull-right">
      <% if @product.quantity.present? && @product.quantity > 0 %>
        <%= link_to("加入购物车", add_to_cart_product_path(@product), :method=> :post, :class => "btn btn-primary btn-lg btn-danger") %>
      <% else %>
        以售一空，无法购买
      <% end %>
    </div>
  </div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
