<div class="row">
  <div class="col-md-6 >"
    <% if procuct.image.present? %>
      <%= image_tag(procuct.image.medium.url, class: "thumbnail") %>
    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>
  </div>
  <div class="col-md-6">
    <h2> <%= @product.title %> </h2>
    <div style="height:100px;">
      <p>
        <%= @procuct.description %>
      </P>
    </div>
    <div> 數量 ： <%= @product.quantity %>> </div>
    <div class="product-price"> ￥ <%= product.price %> </div>
    <div class="prll-right">
      <%= link_to("加入購物車", "#" :class =>"btn btn-danger btn-lg") %>
    </div>
  </div>
</div>
