<style media="screen">
    .floatleft {
        float: left;
    }

</style>

<div class="panel panel-default ">
    <div class="panel panel-body floatleft">
        <%=image_tag @product.image.medium %>
    </div>
    <div class="panel panel-body">
        <p>
            <h1><%=@product.title %></h1>
        </p>
        <p>
            描述:
            <%=@product.description %>
        </p>
        <p>
            价格:
            <%=@product.price %>
        </p>
        <p>
            数量:
            <%=@product.quantity %>
        </p>

        <div style="margin-top: 190px">
            <% if @product.quantity > 0 %>
            <%= link_to("加入购物车", add_to_cart_product_path(@product), method: :post, class: "btn btn-danger pull-right" ) %>
        <% else %>
            <% end %>
        </div>

    </div>

</div>
