<div class="reviews_wrapper clearfix">
    <div class="pull-left">
      <% @reviews.each do |review| %>
        新鲜： <div class="star-taste" data-score= <%= review.freshness %> ></div>
        外观： <div class="star-look" data-score= <%= review.look %> ></div>
        价格： <div class="star-price" data-score= <%= review.price %> ></div>

        <p class="lead"><%= review.body %></p>
        <p>
            <small>Submitted
                <strong><%= time_ago_in_words(review.created_at) %>
                    ago</strong>
                by <%= review.user.email %></small>
        </p>
        <% end %>
    </div>

    <div>
<% if review.user == current_user %>
   <%= link_to("Delete", product_review_path(@product, review), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-sm pull-right") %>
<% end %>
  </div>
</div>
