<div class="row">
  <div class="col-md-12">
        <div class="col-md-2">
          panel
        </div>

        <div class="col-md-10">
          <div class="row">
            <div class="col-md-8">
              product
            </div>

          </div>
          product
        </div>

  </div>
</div>










<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
         <div class="product-tab">
             <div class="col-md-offset-2 col-md-10">
              <div class="category">
                <div>panel  a</div>
                <div>panel  a</div>
                <div>panel  a</div>
                <div>panel  a</div>
                </div>
              </div>
         </div>
       </div>


      <div class="col-md-9">
        <div class="row">
           <div class="col-md-10">
               <div> product list</div>
               <div>
                 <% @products.each do |product| %>
                 <%= link_to product_path(product) do %>
                 <div class="col-md-4 col-sm-6 ">
                   <div class="product-item" style="width: 400px">
                     <div class="img-wrapper">
                       <% if product.image.present? %>
                       <%= image_tag(product.image.thumb.url, class: "image") %>
                     <% else %>
                       <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
                       <% end %>
                     </div>
                     <hr>
                     <table>
                       <tr>
                         <td colspan="3" width="100%">
                           <div class="product-title">
                             <h4><%= product.title %></h4>
                           </div>
                         </td>
                       </tr>
                       <tr>
                         <td>
                           <div class="product-price">
                             <h4>$<%= product.price %></h4>
                           </div>
                         </td>
                         <td width="100" style="width:50px">
                           <% if !current_user.is_favorite_of?(product) %>
                             <%= link_to favorite_product_path(product), :class => "like btn btn-default", method: :post do %>
                               <i class="fa fa-heart" aria-hidden="true"></i>
                             <% end %>
                           <% else %>
                             <%= link_to unfavorite_product_path(product), :class => "like btn btn-default", method: :post do %>
                               <i class="fa fa-heart" aria-hidden="true" style="color:red;"></i>
                             <% end %>
                           <% end %>
                         </td>
                         <td>
                           <% if product.quantity.present? && product.quantity > 0 %>
                           <%= link_to("加入购物车", add_to_cart_product_path(product), :method => :post, :class => "btn btn-danger") %>
                         <% else %>
                           已销售一空，无法购买
                           <% end %>
                         </td>
                       </tr>
                     </table>
                   </div>
                 </div>
                 <% end %>
                 <% end %>
               </div>
           </div>
        </div>
      </div>
  </div>
</div>



<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
       <div class="row">
         <ol> category
           <li> A</li>
           <li> b </li>
           <li> c</li>
           <li> d</li>
           <li> e</li>
         </ol>
       </div>
    </div>

    <div class="col-md-9">
      <div class="row">
         <div class="col-md-10">
             product list
         </div>
      </div>
    </div>
  </div>
</div>

.img-wrapper {
  .image {
  width: 220px;
  height: 220px;
  border-radius: 2%;
  overflow: hidden; /*图片溢出部分隐藏*/
  img {
   height: 100% /* 这一条要加上，不然会造成图片只有一小局部 */
  }
}
}

.random{
  .image {
  width: 220px;
  height: 220px;
  border-radius: 2%;
  overflow: hidden; /*图片溢出部分隐藏*/
  img {
   height: 100% /* 这一条要加上，不然会造成图片只有一小局部 */
  }
}

}



<div class="container">
  <div class="display">
    <div class="recommend-pic ">
      <div class="col-md-7 ">
        <a href="/products/3.html" target=_blank>
           <img class="image img-responsive" src="http://imgs-qn.iliangcang.com/ware/upload/orig/2/354/354800.jpg" width="40%" height="60%" alt="recommend1">
         </a>
      </div>
    </div>

   <div class="recommend-des">
      <div class="col-md-4  descrip" >
         <a href="products/3.html" target=_new>  <h2> 礼盒“福”字款</h2> </a>
         <br>
         <div>小蓝边碗
            尺寸：高/59mm   直径/118mm
            工艺：釉下青花/1330度
            材料：传统大件泥/白釉</div>
          <br>

          <div>  大蓝边碗/
            尺寸：高/72mm   直径/172mm
            工艺：釉下青花/1330度
            材料：传统大件泥/白釉</div>


      </div>
   </div>
 </div>
</div>

<div class="container">
<div class="display">
  <div class="recommend-pic ">
    <div class="col-md-7 ">
      <a href="/products/3.html" target=_blank>
         <img class="image" src="http://imgs-qn.iliangcang.com/ware/upload/orig/2/354/354800.jpg" width="40%" height="60%" alt="recommend1">
       </a>
    </div>
  </div>

 <div class="recommend-des">
    <div class="col-md-4 descrip" >
       <a href="products/3.html" target=_new>  <h2> 礼盒“福”字款</h2> </a>
       <br>
       <div>小蓝边碗
          尺寸：高/59mm   直径/118mm
          工艺：釉下青花/1330度
          材料：传统大件泥/白釉</div>
        <br>

        <div>  大蓝边碗/
          尺寸：高/72mm   直径/172mm
          工艺：釉下青花/1330度
          材料：传统大件泥/白釉</div>


    </div>
 </div>
</div>
</div>

<div class="container">
<div class="display">
<div class="recommend-pic ">
  <div class="col-md-7 ">
    <a href="/products/3.html" target=_blank>
       <img class="image" src="http://imgs-qn.iliangcang.com/ware/upload/orig/2/354/354800.jpg" width="40%" height="60%" alt="recommend1">
     </a>
  </div>
</div>

<div class="recommend-des">
  <div class="col-md-4 descrip" >
     <a href="products/3.html" target=_new>  <h2> 礼盒“福”字款</h2> </a>
     <br>
     <div>小蓝边碗
        尺寸：高/59mm   直径/118mm
        工艺：釉下青花/1330度
        材料：传统大件泥/白釉</div>
      <br>

      <div>  大蓝边碗/
        尺寸：高/72mm   直径/172mm
        工艺：釉下青花/1330度
        材料：传统大件泥/白釉</div>


  </div>
</div>
</div>
</div>

<div class="container">
<div class="display">
<div class="recommend-pic ">
  <div class="col-md-7 ">
    <a href="/products/3.html" target=_blank>
       <img class="image" src="http://imgs-qn.iliangcang.com/ware/upload/orig/2/354/354800.jpg" width="40%" height="60%" alt="recommend1">
     </a>
  </div>
</div>

<div class="recommend-des">
  <div class="col-md-4 descrip" >
     <a href="products/3.html" target=_new>  <h2> 礼盒“福”字款</h2> </a>
     <br>
     <div>小蓝边碗
        尺寸：高/59mm   直径/118mm
        工艺：釉下青花/1330度
        材料：传统大件泥/白釉</div>
      <br>

      <div>  大蓝边碗/
        尺寸：高/72mm   直径/172mm
        工艺：釉下青花/1330度
        材料：传统大件泥/白釉</div>


  </div>
</div>
</div>
</div>
