<footer style="margin-top: 20px;">
  <div class="lp-section-5">
   <section class="container-fluid">
    <div class="row  text-center">
      <div class="col-xs-6 col-md-3">
        <%= image_tag("https://ww1.sinaimg.cn/large/006tNc79gy1fchouk1v8lj30m80m8q39.jpg",size:"50x50")%>
        正品保障
        平台信誉 品质保证
      </div>
      <div class="col-xs-6 col-md-3">
        <%= image_tag("https://ww3.sinaimg.cn/large/006tNc79gy1fchox1n6abj305k05k0sm.jpg",size:"50x50")%>
        全球直供
        海外资源 一站选购
      </div>
      <div class="col-xs-6 col-md-3">
        <%= image_tag("https://ww4.sinaimg.cn/large/006tNc79gy1fchrbo4rm8j305k05kjrb.jpg",size:"50x50")%>
        极速物流
        闪电物流 急您所需
      </div>
      <div class="col-xs-6 col-md-3">
        <%= image_tag("https://ww1.sinaimg.cn/large/006tNc79gy1fchrdg1kkej305k05kq2s.jpg",size:"50x50")%>
        低价省时
        省时无忧 低价保障
      </div>
    </div>
  </section>
  </div>


  <!--<div class="lp-section-6">
    <section class="container">
      <div class="row">

        <div class="col-xs-4 col-md-2">
          <h6> 新手指南 </h6>
          <p>
            购物流程
            <br>
            购物须知
          </p>
        </div>
        <div class="col-xs-4 col-md-2">
          <h6> 售后服务 </h6>
          <p>
            退款／退货规则
            <br>
            退款／退货流程
          </p>
        </div>
        <div class="col-xs-4 col-md-2">
          <h6> 支付配送 </h6>
          <p>
            支付方式
            <br>
            配送方式
          </p>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="pull-right">
              <i class="icons icon-quickmark-weixin"></i>
              <h4>快乐购官方微信</h4>

            </div>
        </div>

      </div>
    </section>
  </div>  -->

  <div class="footer" id="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3>使用帮助 </h3>
                    <ul>
                        <li> <a href="#"> 新手指南 </a> </li>
                        <li> <a href="#"> 常见问题</a> </li>
                        <li> <a href="#"> 帮助中心</a> </li>
                        <li> <a href="#"> 用户协议</a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> 支付方式 </h3>
                    <ul>
                        <li> <a href="#"> 货到付款</a> </li>
                        <li> <a href="#"> 在线支付 </a> </li>
                        <li> <a href="#"> 余额支付 </a> </li>
                        <li> <a href="#"> 现金券支付 </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> 配送方式 </h3>
                    <ul>
                        <li> <a href="#"> 包邮政策 </a> </li>
                        <li> <a href="#"> 配送说明 </a> </li>
                        <li> <a href="#"> 运费说明 </a> </li>
                        <li> <a href="#"> 验货签收 </a> </li>

                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> 售后服务 </h3>
                    <ul>
                        <li> <a href="#"> 正品承诺 </a> </li>
                        <li> <a href="#"> 售后咨询 </a> </li>
                        <li> <a href="#"> 退货政策 </a> </li>
                        <li> <a href="#"> 退货办理 </a> </li>

                    </ul>
                </div>
                <div class="col-lg-3  col-md-4 col-sm-6 col-xs-12 ">
                    <h3> 联系我们 </h3>
                    <div class="contactus">

                      <%= image_tag("https://ww3.sinaimg.cn/large/006tNbRwgy1fcor83fhgrj30by0byaav.jpg")%>


                      <%= image_tag("https://ww3.sinaimg.cn/large/006tNbRwgy1fcoy0at94yj30b80a275e.jpg")%>

                    </div>
                    <ul class="social">
                        <li> <a href="#"> <i class=" fa fa-weixin">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-qq">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-facebook">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                    </ul>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.footer-->
  <section class="text-center" >
    Copyright© 2014-2017 HappyGo HappyGo.com All Rights Reserved. 鄂ICP备14091961号-2
    <br>
    Design by echo
  </section>
</footer>
