<footer style="margin-top: 20px;">
  <div class="lp-section-5">
   <section class="container-fluid">
    <div class="row  text-center">
      <div class="col-xs-6 col-md-3">
        <%= image_tag("https://ww1.sinaimg.cn/large/006tNc79gy1fchouk1v8lj30m80m8q39.jpg",size:"50x50")%>
        正品保障
        平台信誉 品质保证
      </div>
      <div class="col-xs-6 col-md-3">
        <%= image_tag("https://ww3.sinaimg.cn/large/006tNc79gy1fchox1n6abj305k05k0sm.jpg",size:"50x50")%>
        全球直供
        海外资源 一站选购
      </div>
      <div class="col-xs-6 col-md-3">
        <%= image_tag("https://ww4.sinaimg.cn/large/006tNc79gy1fchrbo4rm8j305k05kjrb.jpg",size:"50x50")%>
        极速物流
        闪电物流 急您所需
      </div>
      <div class="col-xs-6 col-md-3">
        <%= image_tag("https://ww1.sinaimg.cn/large/006tNc79gy1fchrdg1kkej305k05kq2s.jpg",size:"50x50")%>
        低价省时
        省时无忧 低价保障
      </div>
    </div>
  </section>
  </div>


  <!--<div class="lp-section-6">
    <section class="container">
      <div class="row">
        <div class="col-xs-4 col-md-2">
          <h6> 新手指南 </h6>
          <p>
            购物流程
            <br>
            购物须知
          </p>
        </div>
        <div class="col-xs-4 col-md-2">
          <h6> 售后服务 </h6>
          <p>
            退款／退货规则
            <br>
            退款／退货流程
          </p>
        </div>
        <div class="col-xs-4 col-md-2">
          <h6> 支付配送 </h6>
          <p>
            支付方式
            <br>
            配送方式
          </p>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="pull-right">
              <i class="icons icon-quickmark-weixin"></i>
              <h4>快乐购官方微信</h4>
            </div>
        </div>
      </div>
    </section>
  </div>  -->

  <div class="footer" id="footer">
        <div class="container-fluid ">
            <div class="row">

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
                    <h3> 关于我们 </h3>
                    <div class="contactus">

                      <%= image_tag("http://wx1.sinaimg.cn/mw690/6588fa30ly1fd9asytrwgj208c08c74r.jpg")%>


                      <%= image_tag("http://wx2.sinaimg.cn/mw690/6588fa30ly1fd9at4gahqj208c08cwes.jpg")%>

                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.footer-->
  <section class="text-center" >
    <br>
    Design by Jason
  </section>
</footer>
