<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-md-2 col-xs-4">
            <h4><%= t('产品信息') %></h4>
            <ul class="list-unstyled">
              <li><a href="#s"><%= t('最新产品') %></a></li>
              <li><a href="#s"><%= t('独家推荐') %></a></li>
              <li><a href="#s"><%= t('品牌分类') %></a></li>
            </ul>
          </div>
          <div class="col-md-2 col-xs-4">
            <h4><%= t('购物须知') %></h4>
            <ul class="list-unstyled">
              <li><a href="#s"><%= t('关于运送') %></a></li>
              <li><a href="#s"><%= t('退货方式') %></a></li>
              <li><a href="#s"><%= t('常见问题') %></a></li>
            </ul>
          </div>
          <div class="col-md-2 col-xs-4">
            <h4><%= t('关于我们') %></h4>
            <ul class="list-unstyled">
              <li><a href="#s"><%= t('品牌故事') %></a></li>
              <li><a href="#s"><%= t('媒体报道') %></a></li>
              <li><a href="#s"><%= t('联系我们') %></a></li>
            </ul>
          </div>
          <div class="col-md-6 col-xs-12">
            <br/>
            <h4><i class="fa fa-modx" aria-hidden="true"></i><%= t('公司名称') %></h4>

            <ul class="list-unstyled">
              <p>Designed By <a href="http://zhongdaoyou-blog.logdown.com/" target="_blank">daoyou </a> & <a href="http://xiaoyi-blog.logdown.com/" target="_blank">xiaoyi</a>
              <br/>
              Copyright ©2017 公司名称</a>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
