<footer style="margin-top: 20px;">
  <div class="lp-section-5">
   <section class="container-fluid">
    <div class="row  text-center">
      <div class="col-xs-6 col-md-3">
        <%= image_tag("http://wx3.sinaimg.cn/large/6588fa30ly1fdae487prvj202s02sgls.jpg",size:"50x50")%>
        <br>
        快速到达
          <br>
        闪电物流 急您所需
          <br>
      </div>
      <div class="col-xs-6 col-md-3">
        <%= image_tag("http://wx2.sinaimg.cn/large/6588fa30ly1fdae46uiv6j202s02sq34.jpg",size:"50x50")%>
<br>
        全球直供
        <br>
        海外资源 一站选购
        <br>
      </div>
      <div class="col-xs-6 col-md-3">
        <%= image_tag("http://wx2.sinaimg.cn/large/6588fa30ly1fdae4918euj202s02smxb.jpg",size:"50x50")%>
<br>
    客服在线
<br>
        你的问题 不是问题
<br>
      </div>
      <div class="col-xs-6 col-md-3">
        <%= image_tag("http://wx3.sinaimg.cn/large/6588fa30ly1fdae4a83i8j202s02st8v.jpg",size:"50x50")%>
<br>
        品质保证
<br>
        省时无忧 低价保障
<br>
      </div>
    </div>
  </section>
  </div>


  <div class="footer" id="footer">
        <div class="container-fluid ">
            <div class="row">

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
                    <h3> 关于我们 </h3>
                    <div class="contactus">

                      <%= image_tag("http://wx1.sinaimg.cn/mw690/6588fa30ly1fd9asytrwgj208c08c74r.jpg")%>


                      <%= image_tag("http://wx2.sinaimg.cn/mw690/6588fa30ly1fd9at4gahqj208c08cwes.jpg")%>

                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.footer-->
  <section class="text-center" >
    <br>
    Copyright 2017 © Little Beer.
  </section>
</footer>
