<footer class="text-muted well" id="last-footer">
    <section>
    <div class="row" style="font-size:11px;">
    <div class="container">
    <h3 class="subhead" style="text-align:center;">Welcome to iRobot</h3>
       <div class="col-md-9">
        <div class="row" >
      <div class="col-md-3">
      <div class="row footlinks">
      <div class="col-xs-12">
      <h5>All Products</h5>
      <ul class="noBullets">
      <li><i class="fa fa-angle-right"></i><a href="#">iWash</a></li>
      <li><i class="fa fa-angle-right"></i><a href="#">iDish</a></li>
      <li><i class="fa fa-angle-right"></i><a href="#">Air</a></li>
      <li><i class="fa fa-angle-right"></i><a href="#">More</a></li>
      </ul>
      </div>
      </div>
      </div>
      <div class="col-md-3">
      <div class="row footlinks">
      <div class="col-xs-12">
      <h5>About Us</h5>
      <ul class="noBullets">
      <li><i class="fa fa-angle-right"></i><a href="#">Company Address</a></li>
      <li><i class="fa fa-angle-right"></i><a href="#">Telephone Number</a></li>
      <li><i class="fa fa-angle-right"></i><a href="#">E-Mail</a></li>
      <li><i class="fa fa-angle-right"></i><a href="#">More</a></li>
      </ul>
      </div>
      </div>
      </div>
      <div class="col-md-3">
      <div class="row footlinks">
      <div class="col-xs-12">
      <h5>Contact us</h5>
      <ul class="noBullets">
      <li><i class="fa fa-angle-right"></i><a href="#">FullStack</a></li>
      <li><i class="fa fa-angle-right"></i><a href="#">Slack</a></li>
      <li><i class="fa fa-angle-right"></i><a href="#">Logdown</a></li>
      <li><i class="fa fa-angle-right"></i><a href="#">Wechat</a></li>
      </ul>
      </div>
      </div>
      </div>
      <div class="col-md-3">
      <div class="row footlinks">
      <div class="col-xs-12">
      <h5>External Links</h5>
      <ul class="noBullets">
      <li><i class="fa fa-angle-right"></i><a href="#">Facebook</a></li>
      <li><i class="fa fa-angle-right"></i><a href="#">Twitter</a></li>
      <li><i class="fa fa-angle-right"></i><a href="#">Youtube</a></li>
      <li><i class="fa fa-angle-right"></i><a href="#">Linkedin</a></li>
      </ul>
      </div>
      </div>
      </div>
      <hr/>
        </div><!--/.row inner-->
    </div>
     <div class="col-md-3 subscribe">
     <div class="row">
     <div class="col-xs-12">
     <form class="form-inline" role="form">
     <ul class="noBullets">
    <h5>Subscribe Newsletters!</h5>
     <li>
     <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
    </div>
          </li>
          <li class="text-center">
          <button type="submit" class="btn btn-success btn-sm">Subscribe Now!</button>
          </li>
          </ul>
        </form>
    </div></div>
     </div>


    <footer>	<div class="row">
      <div class="container text-center">
        <h5>Copyright © 2017 iRobot | Design by Johnson & Caroline </h5>
      </div>
      </div></footer>
       </div><!--/.container-->
       </div><!--/.row outer-->
    </section>
        </footer>

        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
          <div class="modal-dialog" role="document">
            <div class="loginmodal-container">
               <h2>Log in</h2>
               <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                 <div class="form-inputs">
                   <%= f.input :email, required: false, autofocus: true %>
                   <%= f.input :password, required: false %>
                   <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                 </div>
                 <div class="form-actions">
                   <%= f.button :submit, "Log in" %>
                 </div>
               <% end %>
            </div>
          </div>
        </div>

        <div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
          <div class="modal-dialog">
            <div class="loginmodal-container">
              <h2>Sign up</h2>
                <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= f.error_notification %>
                <div class="form-inputs">
                  <%= f.input :email, required: true, autofocus: true %>
                  <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
                  <%= f.input :password_confirmation, required: true %>
                </div>
                <div class="form-actions">
                    <%= f.button :submit, "Sign up" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
