<footer class="container-fluid text-center footer-default design">

  <div class="row logo">
    <div class="col-md-10 col-centered text-center">
      <%= image_tag("twitter.png") %>
      <%= image_tag("facebook.png") %>
      <%= image_tag("weixin.png") %>
      <%= image_tag("weibo.png") %>
      <%= image_tag("qq.png") %>
    </div>
    </div>
    <a href="#mypage"><span class="glyphicon glyphicon-chevron-up"></span></a>
      <p>Design by Ling Min Chen & Dong Yan Cai</p>
</footer>
