<!DOCTYPE html>
<html>
    <head>
        <style>
            .jumbotron {
                margin-bottom: 0;
                height: 160px;
                background: none;
            }
            .jumbotron h1 {
                font-family: "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
                font-size: 45px;
                margin-top: -16px;
                color: #E61C64;

            }

            .jumbotron p {
                font-family: 宋体;
                font-size: 20px;
                margin-bottom: 30px;
            }

            .fa-heart {
                color: #E61C64;
            }
            .fa-icon1 {
                margin-right: 5px;
            }
            .fa-icon2 {
                margin-left: 5px;
            }

        </style>
    </head>

    <!-- 以下是店招 -->
    <div class="jumbotron">
        <div class="container text-center">
            <h1>花好月缘</h1>
            <span class="slogan">

                <p>
                    <i class=" fa-icon1 fa fa-heart"></i>助有情人终成眷属<i class="fa-icon2 fa fa-heart"></i>
                </p>

            </span>
        </div>
    </div>

    <!-- 以下是导航栏 -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!--Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img src='<%= image_url "logo.png"  %>' style="color: #fff">
                    花好月缘
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <i class="fa fa-bell-o"></i>
                            所有商品
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">
                                    <i class="fa fa-fw fa-tag"></i>
                                    <span class="badge">品类1</span>
                                    商品1
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-fw fa-thumbs-o-up"></i>
                                        <span class="badge">品类2</span>
                                        商品2</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-fw fa-thumbs-o-up"></i>
                                        <span class="badge">品类3</span>
                                        商品3</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-fw fa-thumbs-o-up"></i>
                                        <span class="badge">品类4</span>
                                        商品4</a>
                                </li>
                            </ul>
                        </li>

                        <!-- <li class="active">
                    <%= link_to("所有商品", products_path) %>
                </li> -->

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <%= link_to carts_path do %>
                            购物车
                            <i class="fa fa-shopping-cart"></i>
                            (<%= current_cart.products.count %>)
                            <% end %>
                        </li>
                        <% if !current_user %>
                        <li><%= link_to(content_tag(:i, '注册', class: 'fa fa-user-plus'), new_user_registration_path) %></li>
                        <li><%= link_to(content_tag(:i, '登录', class: 'fa fa-sign-in'), new_user_session_path) %></li>
                    <% else %>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-fw fa-user-circle" aria-hidden="true"></i><%= current_user.email %>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <% if current_user.admin? %>
                                <li>
                                    <%= link_to("管理后台", admin_products_path) %>
                                </li>
                                <% end %>
                                <li>
                                    <%= link_to("我的订单", account_orders_path) %>
                                </li>
                                <li>
                                    <%= link_to(content_tag(:i, '退出', class: 'fa fa-sign-out'), destroy_user_session_path, method: :delete) %>
                                </li>
                            </ul>
                        </li>
                        <% end %>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </html>
