<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">好物购</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active">
                <%= link_to("发现美好生活", products_path) %>
              </li>
              <li>
                <%= link_to("图书", "/") %>
              </li>
              <li>
                <%= link_to("美食", "/") %>
              </li>

            </ul>

            <div class="nav navbar-nav navbar-left">
              <%= form_tag search_products_path , :method => :get do %>
              <div class="input-group" id="search-id" >
                  <input type="text" class="form-control" name="q" value="<%= params[:q] %>" placeholder="请输入商品名称">
                  <div class="input-group-btn">
                      <%= submit_tag "搜索", class: "btn btn-default" %>
                  </div>
              </div>
              <% end %>
            </div>

            <ul class="nav navbar-nav navbar-right">
              <li>
                  <%= link_to carts_path do %>
                      购物车 <i class="fa fa-shopping-cart"> </i> ( <%= current_cart.products.count %>)
                  <% end %>
              </li>
                <li>
                    <% if !current_user %>
                      <li><a href="#" data-toggle="modal" data-target="#signup-modal">注册</a></li>
                      <li><a href="#" data-toggle="modal" data-target="#login-modal">登录</a></li>
                    <% else %>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Hi!, <%= current_user.email %>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                          <li>
                            <%= link_to("我的账户", account_users_path) %>
                          </li>
                          <% if current_user.admin? %>
                            <li>
                              <%= link_to("Admin 选单", admin_products_path) %>
                            </li>
                          <% end %>
                          <li>
                            <%= link_to("个人订单列表", account_orders_path) %>
                          </li>
                            <li> <%= link_to(content_tag(:i, '登出', class: 'fa fa-sign-out'), destroy_user_session_path, method: :delete) %></li>
                        </ul>
                      </li>
                    <% end %>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog" role="document">
        <div class="loginmodal-container">
          <h2>登录</h2>
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs">
              <%= f.input :email, required: false, autofocus: true %>
              <%= f.input :password, required: false %>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>
            <div class="form-actions">
              <%= f.button :submit, "Log in" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
        <div class="loginmodal-container">
          <h2>注册</h2>
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>
            <div class="form_inputs">
              <%= f.input :email, required: true, autofocus: true %>
              <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
              <%= f.input :password_confirmation, required: true %>
            </div>
            <div class="form-actions">
                <%= f.button :submit, "Sign up" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</nav>
