<!DOCTYPE html>
<html>

    <head>
        <title>LOVE&GIFT</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <style>
            .jumbotron {
                margin-bottom: 0;
                height: 160px;
                background: none;
            }
            .jumbotron h1 {
                font-family: "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
                font-size: 45px;
                margin-top: -16px;
                color: #E61C64;

            }

            .jumbotron p {
                font-family: "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
                font-size: 20px;
                margin-bottom: 30px;
            }

        </style>
    </head>

    <!-- 以下是店招 -->
    <!-- <div class="jumbotron">
        <div class="container text-center">
            <h1>花好月缘</h1>
            <span class="slogan">

                <p>
                    <i class=" fa-icon1 fa fa-heart"></i>助有情人终成眷属<i class="fa-icon2 fa fa-heart"></i>
                </p>

            </span>
        </div>
    </div> -->

    <!-- 以下是导航栏 -->

    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!--Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src='<%= image_url "logo.png"  %>' style="color: #fff">
                    LOVE&GIFT
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="/products" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <i class="fa fa-bell-o"></i>
                            PRODUCTS
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="/products">
                                    <i class="fa fa-fw fa-list-alt"></i>
                                    <span>All Products</span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="/products">
                                    <i class="fa fa-fw fa-thumbs-o-up"></i>
                                    Red Rose<span class="badge">hot</span>
                                </a>
                            </li>
                            <li>
                                <a href="/products">
                                    <i class="fa fa-fw fa-gratipay"></i>
                                    <span>Chocolate</span>
                                </a>
                            </li>
                            <li>
                                <a href="/products">
                                    <i class="fa fa-fw fa-gift"></i>
                                    <span>Small Part</span>
                                </a>
                            </li>
                            <li>
                                <a href="/products">
                                    <i class="fa fa-fw fa-envira"></i>
                                    <span>Other Flower</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <%= link_to carts_path do %>
                        CART
                        <i class="fa fa-shopping-cart"></i>
                        (<%= current_cart.products.count %>)
                        <% end %>
                    </li>
                    <% if !current_user %>
                    <li><%= link_to(content_tag(:i, 'Sign up' ), new_user_registration_path) %></li>
                    <li><%= link_to(content_tag(:i, 'Login'), new_user_session_path) %></li>
                <% else %>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-fw fa-user-circle" aria-hidden="true"></i><%= current_user.email %>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <% if current_user.admin? %>
                            <li>
                                <%= link_to("Admin Panel", admin_products_path) %>
                            </li>
                            <% end %>
                            <li>
                                <%= link_to("My Order", account_orders_path) %>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <%= link_to(content_tag(:i, 'Logout', class: 'fa fa-sign-out'), destroy_user_session_path, method: :delete) %>
                            </li>
                        </ul>
                    </li>
                    <% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

</html>
