<nav class="navbar-main">

  <!-- <div class="container-fluid"> -->
    <div class="row">

      <div class="col-md-12 nav-top">
        <div class="site-wrapper">

          <div class="col-md-6 nav-top-left">
            <span class="btn btn-xs">
              <% if current_user %>
              您好：<%= current_user.user_name %>，
              <% end %>
              <a href="/">欢迎光临大绿色商城！</a>
            </span>
          </div>

          <div class="col-md-6 nav-top-right">
            <!-- <span class="btn btn-xs">
            <%= link_to carts_path do %>
            购物车 <i class="fa fa-shopping-cart"></i> (<%= current_cart.products.count %>)
            <% end %>
          </span> -->
            <div class="btn-group">
              <% if !current_user %>
              <span class="btn btn-xs"><%= link_to(content_tag(:i, "注册", class: "fa fa-user-circle"), new_user_registration_path) %> &nbsp; | </span>
              <span class="btn btn-xs"><%= link_to(content_tag(:i, "登入", class: "fa fa-sign-in"), new_user_session_path) %> &nbsp; | </span>
            <% else %>
              <span class="dropdown-xs">
                <ul class="btn btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  个人中心<span class="caret"></span>
                </ul>
                &nbsp; |
                <ul class="dropdown-menu btn-xs" aria-labelledby="dropdownMenu1">
                  <% if current_user.admin? %>
                  <li><%= link_to(content_tag(:i, " 管理后台", class: "fa fa-laptop"), admin_products_path) %></li>
                  <li><%= link_to(content_tag(:i, " 订单列表", class: "fa fa-truck"), account_orders_path) %></li>
                  <li><%= link_to(content_tag(:i, " 我的收藏", class: "fa fa-heart"), account_favorites_path) %></li>
                  <% end %>
                  <li><%= link_to(content_tag(:i, " 个人信息", class: "fa fa-user"), edit_user_registration_path(current_user) ) %></li>
                  <li><%= link_to(content_tag(:i, " 登出", class: "fa fa-sign-out"), destroy_user_session_path, method: :delete) %></li>
                </ul>
              </span>
              <% end %>
              <span class="btn btn-xs"><a href="#"> 帮助中心 </a> &nbsp; | </span>
              <span><i class="fa fa-weixin fa-fw"></i> &nbsp; | </span>
              <span><i class="fa fa-weibo fa-fw"></i></span>
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-12 nav-mid">
        <div class="site-wrapper">

          <div class="col-md-3 nav-mid-left">
            <div class="logo">
              <a href="/">
                <img src="/images/logo.png" alt="大绿色商城">
              </a>
            </div>
          </div>

          <div class="col-md-6 nav-mid-mid">
            <div class="search">
              <%= form_tag search_products_path, :method => :get do %>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="搜索商品" name="q" value="<%= params[:q] %>">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                  </button>
                </div>
              </div>
              <% end %>
            </div>
            <div class="search-hot">
              <ul>
                <li style="color: #FF9800;">热门搜索:</li>
                <li>
                  <a href="/products/search?utf8=✓&q=真实">真实</a>
                </li>
                <li>
                  <a href="/products/search?utf8=✓&q=进口">进口</a>
                </li>
                <li>
                  <a href="/products/search?utf8=✓&q=水果">水果</a>
                </li>
                <li>
                  <a href="/products/search?utf8=✓&q=蔬菜">蔬菜</a>
                </li>
                <li>
                  <a href="/products/search?utf8=✓&q=樱桃">樱桃</a>
                </li>
                <li>
                  <a href="/products/search?utf8=✓&q=黄杏">黄杏</a>
                </li>
                <li>
                  <a href="/products/search?utf8=✓&q=芒果">芒果</a>
                </li>
                <li>
                  <a href="/products/search?utf8=✓&q=香瓜">香瓜</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-md-3 nav-mid-right">
            <div class="cart">
              <%= link_to carts_path do %>
              <i class="fa fa-shopping-cart"></i>
              (<%= current_cart.products.count %>)
              <% end %>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-12 nav-bot">
        <div class="site-wrapper">

          <div class="col-md-9 nav-bot-left">


            <div class="menu">
              <div class="menu-nav">

                <div class="menu-category">
                  <div class="dropdown">
                    <a href="#">商品分类
                      <span class="caret"></span>
                      <!-- <b><img src="/images/littleb.png"/></b> -->
                    </a>
                  </div>
                  <div class="category-box">
                    <div id="category-main" class="dd">
                      <div id="category-more">

                        <div class="item">
                          <span class="i-master">
                            <h3>
                              <p class="item-3"></p>
                              <a class="trackref" title="新鲜果蔬" target="" href="/products/search1?utf8=✓&q=新鲜果蔬">新鲜果蔬</a>
                            </h3>
                            <ul class="subCat">
                              <li>
                                <a href="/products/search2?utf8=✓&q=水果" target="">水果</a>
                              </li>
                              <li>
                                <a href="/products/search2?utf8=✓&q=蔬菜" target="">蔬菜</a>
                              </li>
                            </ul>
                            <s></s>
                          </span>
                          <div class="i-cm">
                            <div class="i-left">
                              <div class="cat-sort">
                                <dl>
                                  <dt>
                                    <strong>
                                      <a class="trackref" href="/products/search2?utf8=✓&q=水果" target="">水果</a>
                                    </strong>
                                  </dt>
                                  <dd>
                                    <a class="trackref" target="" href="/products/search3?utf8=✓&q=樱桃">樱桃</a>
                                    <a class="trackref" target="" href="/products/search3?utf8=✓&q=荔枝">荔枝</a>
                                    <a class="trackref" target="" href="/products/search3?utf8=✓&q=芒果">芒果</a>
                                    <a class="trackref" target="" href="/products/search3?utf8=✓&q=苹果">苹果</a>
                                    <a class="trackref" target="" href="/products/search3?utf8=✓&q=桃">桃/李/杏</a>
                                    <a class="trackref" target="" href="/products/search3?utf8=✓&q=梨">梨</a>
                                    <a class="trackref" target="" href="/products/search3?utf8=✓&q=菠萝">菠萝</a>
                                    <a class="trackref" target="" href="/products/search3?utf8=✓&q=哈密瓜">哈密瓜</a>
                                    <a class="trackref" target="" href="/products/search3?utf8=✓&q=木瓜">木瓜</a>
                                    <a class="trackref" target="" href="/products/search3?utf8=✓&q=柑橘类">柑橘类</a>
                                    <a class="trackref" target="" href="/products/search3?utf8=✓&q=橙">橙</a>
                                    <a class="trackref" target="" href="/products/search3?utf8=✓&q=蓝莓">蓝莓</a>
                                    <a class="trackref" target="" href="/products/search3?utf8=✓&q=草莓">草莓</a>
                                    <a class="trackref" target="" href="/products/search3?utf8=✓&q=牛油果">牛油果</a>
                                  </dd>
                                </dl>
                                <dl>
                                  <dt>
                                    <strong>
                                      <a class="trackref" href="/products/search2?utf8=✓&q=蔬菜" target="">蔬菜</a>
                                    </strong>
                                  </dt>
                                  <dd></dd>
                                </dl>
                              </div>
                              <table cellpadding="0" cellspacing="0">
                                <tr>
                                  <td>
                                    <a href="/products/search1?utf8=✓&q=新鲜果蔬" target=""><img alt="导航-产品分类-新鲜果蔬" src="" border="0" width="560" height="200"/></a>
                                  </td>
                                </tr>
                              </table>
                            </div>
                          </div>
                        </div>

                        <div class="item">
                          <span class="i-master">
                            <h3>
                              <p class="item-4"></p>
                              <a class="trackref" title="肉类蛋禽" target="" href="/products/search1?utf8=✓&q=肉类蛋禽">肉类蛋禽</a>
                            </h3>
                            <ul class="subCat">
                              <li>
                                <a href="/products/search2?utf8=✓&q=牛羊猪" target="">牛羊猪</a>
                              </li>
                              <li>
                                <a href="/products/search2?utf8=✓&q=鸡鸭鹅" target="">鸡鸭鹅</a>
                              </li>
                              <li>
                                <a href="/products/search2?utf8=✓&q=蛋" target="">蛋</a>
                              </li>
                              <li>
                                <a href="/products/search2?utf8=✓&q=鱼" target="">鱼</a>
                              </li>
                            </ul>
                            <s></s>
                          </span>
                          <div class="i-cm">
                            <div class="i-left">
                              <div class="cat-sort">
                                <dl>
                                  <dt>
                                    <strong>
                                      <a class="trackref" href="/products/search2?utf8=✓&q=牛羊猪" target="">牛羊猪</a>
                                    </strong>
                                  </dt>
                                  <dd>
                                    <a class="trackref" target="" href="/products/search3?utf8=✓&q=">牛</a>
                                    <a class="trackref" target="" href="/products/search3?utf8=✓&q=">羊</a>
                                    <a class="trackref" target="" href="/products/search3?utf8=✓&q=">猪</a>
                                  </dd>
                                </dl>
                                <dl>
                                  <dt>
                                    <strong>
                                      <a class="trackref" href="/products/search2?utf8=✓&q=鸡鸭鹅" target="">鸡鸭鹅</a>
                                    </strong>
                                  </dt>
                                  <dd>
                                    <a class="trackref" target="" href="/products/search3?utf8=✓&q=">鸡</a>
                                    <a class="trackref" target="" href="/products/search3?utf8=✓&q=">鸭</a>
                                    <a class="trackref" target="" href="/products/search3?utf8=✓&q=">鹅</a>
                                  </dd>
                                </dl>
                                <dl>
                                  <dt>
                                    <strong>
                                      <a class="trackref" href="/products/search2?utf8=✓&q=蛋" target="">蛋</a>
                                    </strong>
                                  </dt>
                                  <dd>
                                    <a class="trackref" target="" href="/products/search3?utf8=✓&q=土鸡蛋">土鸡蛋</a>
                                    <a class="trackref" target="" href="/products/search3?utf8=✓&q=海鸭蛋">海鸭蛋</a>
                                    <a class="trackref" target="" href="/products/search3?utf8=✓&q=鹌鹑蛋">鹌鹑蛋</a>
                                    <a class="trackref" target="" href="/products/search3?utf8=✓&q=咸蛋">咸蛋</a>
                                    <a class="trackref" target="" href="/products/search3?utf8=✓&q=皮蛋">皮蛋</a>
                                  </dd>
                                </dl>

                                <dl>
                                  <dt>
                                    <strong>
                                      <a class="trackref" href="/products/search2?utf8=✓&q=鱼" target="">鱼</a>
                                    </strong>
                                  </dt>
                                  <dd>
                                    <a class="trackref" target="" href="/products/search3?utf8=✓&q=">桂鱼</a>
                                    <a class="trackref" target="" href="/products/search3?utf8=✓&q=">鲈鱼</a>
                                  </dd>
                                </dl>
                              </div>
                              <table cellpadding="0" cellspacing="0">
                                <tr>
                                  <td>
                                    <a href="/products/search1?utf8=✓&q=肉类蛋禽" target=""><img alt="导航-产品分类-肉类蛋禽" src="" border="0" width="560" height="200"/></a>
                                  </td>
                                </tr>
                              </table>
                            </div>
                          </div>
                        </div>

                        <div class="item">
                          <span class="i-master">
                            <h3>
                              <p class="item-1"></p>
                              <a class="trackref" title="五谷粮油" target="" href="/products/search1?utf8=✓&q=五谷粮油">五谷粮油</a>
                            </h3>
                            <ul class="subCat">
                              <li>
                                <a href="/products/search2?utf8=✓&q=米" target="">米</a>
                              </li>
                              <li>
                                <a href="/products/search2?utf8=✓&q=麦" target="">麦</a>
                              </li>
                              <li>
                                <a href="/products/search2?utf8=✓&q=豆" target="">豆</a>
                              </li>
                              <li>
                                <a href="/products/search2?utf8=✓&q=油" target="">油</a>
                              </li>
                            </ul>
                            <s></s>
                          </span>
                          <div class="i-cm">
                            <div class="i-left">
                              <div class="cat-sort">
                                <dl>
                                  <dt>
                                    <strong>
                                      <a class="trackref" href="/products/search2?utf8=✓&q=米" target="">米</a>
                                    </strong>
                                  </dt>
                                  <dd>
                                    <a class="trackref" target="" href="/products/search3?utf8=✓&q=大米">大米</a>
                                    <a class="trackref" target="" href="/products/search3?utf8=✓&q=小米">小米</a>
                                    <a class="trackref" target="" href="/products/search3?utf8=✓&q=糯米">糯米</a>
                                  </dd>
                                </dl>
                                <dl>
                                  <dt>
                                    <strong>
                                      <a class="trackref" href="/products/search2?utf8=✓&q=麦" target="">麦</a>
                                    </strong>
                                  </dt>
                                  <dd>
                                    <a class="trackref" target="" href="/products/search3?utf8=✓&q=面粉">面粉</a>
                                    <a class="trackref" target="" href="/products/search3?utf8=✓&q=面制品">面制品</a>
                                    <a class="trackref" target="" href="/products/search3?utf8=✓&q=麦片">麦片</a>
                                  </dd>
                                </dl>
                                <dl>
                                  <dt>
                                    <strong>
                                      <a class="trackref" href="/products/search2?utf8=✓&q=豆" target="">豆</a>
                                    </strong>
                                  </dt>
                                  <dd>
                                    <a class="trackref" target="" href="/products/search3?utf8=✓&q=绿豆">绿豆</a>
                                    <a class="trackref" target="" href="/products/search3?utf8=✓&q=红豆">红豆</a>
                                    <a class="trackref" target="" href="/products/search3?utf8=✓&q=扁豆">扁豆</a>
                                  </dd>
                                </dl>
                                <dl>
                                  <dt>
                                    <strong>
                                      <a class="trackref" href="/products/search1?utf8=✓&q=五谷杂锦" target="">五谷杂锦</a>
                                    </strong>
                                  </dt>
                                  <dd>
                                    <a class="trackref" target="" href="/products/search3?utf8=✓&q=百宝粥">百宝粥</a>
                                  </dd>
                                </dl>
                                <dl>
                                  <dt>
                                    <strong>
                                      <a class="trackref" href="/products/search2?utf8=✓&q=油" target="">食用油</a>
                                    </strong>
                                  </dt>
                                  <dd>
                                    <a class="trackref" target="" href="/products/search3?utf8=✓&q=花生油">花生油</a>
                                    <a class="trackref" target="" href="/products/search3?utf8=✓&q=花生油">菜籽油</a>
                                  </dd>
                                </dl>
                              </div>
                              <table cellpadding="0" cellspacing="0">
                                <tr>
                                  <td>
                                    <a href="/products/search1?utf8=✓&q=五谷粮油" target=""><img alt="导航-产品分类-五谷粮油" src="" border="0" width="560" height="200"/></a>
                                  </td>
                                </tr>
                              </table>
                            </div>
                          </div>
                        </div>

                        <div class="item">
                          <span class="i-master">
                            <h3>
                              <p class="item-2"></p>
                              <a class="trackref" title="干货零食" target="" href="/products/search1?utf8=✓&q=干货零食">干货零食</a>
                            </h3>
                            <ul class="subCat">
                              <li>
                                <a href="/products/search2?utf8=✓&q=干货" target="">干货</a>
                              </li>
                              <li>
                                <a href="/products/search2?utf8=✓&q=零食" target="">零食</a>
                              </li>
                            </ul>
                            <s></s>
                          </span>
                          <div class="i-cm">
                            <div class="i-left">
                              <div class="cat-sort">
                                <dl>
                                  <dt>
                                    <strong>
                                      <a class="trackref" href="/products/search2?utf8=✓&q=干货" target="">干货</a>
                                    </strong>
                                  </dt>
                                  <dd></dd>
                                </dl>
                                <dl>
                                  <dt>
                                    <strong>
                                      <a class="trackref" href="/products/search2?utf8=✓&q=零食" target="">零食</a>
                                    </strong>
                                  </dt>
                                  <dd>
                                    <a class="trackref" target="" href="/products/search2?utf8=✓&q=滋补类">滋补类</a>
                                    <a class="trackref" target="" href="/products/search2?utf8=✓&q=坚果类">坚果类</a>
                                    <a class="trackref" target="" href="/products/search2?utf8=✓&q=奶制品">奶制品</a>
                                  </dd>
                                </dl>
                              </div>
                              <table cellpadding="0" cellspacing="0">
                                <tr>
                                  <td>
                                    <a href="/products/search1?utf8=✓&q=干货零食" target=""><img alt="导航-产品分类-干货零食" src="" border="0" width="560" height="200"/></a>
                                  </td>
                                </tr>
                              </table>
                            </div>
                          </div>
                        </div>


                        <div class="item">
                          <span class="i-master">
                            <h3>
                              <p class="item-5"></p>
                              <a class="trackref" title="茶水饮品" target="" href="/products/search1?utf8=✓&q=茶水饮品">茶水饮品</a>
                            </h3>
                            <ul class="subCat">
                              <li>
                                <a href="/products/search2?utf8=✓&q=茶叶" target="">茶叶</a>
                              </li>
                              <li>
                                <a href="/products/search2?utf8=✓&q=果汁" target="">果汁</a>
                              </li>
                              <li>
                                <a href="/products/search2?utf8=✓&q=咖啡" target="">咖啡</a>
                              </li>
                            </ul>
                            <s></s>
                          </span>
                          <div class="i-cm">
                            <div class="i-left">
                              <div class="cat-sort">
                                <dl>
                                  <dt>
                                    <strong>
                                      <a class="trackref" href="/products/search2?utf8=✓&q=茶叶" target="">茶叶</a>
                                    </strong>
                                  </dt>
                                  <dd></dd>
                                </dl>
                                <dl>
                                  <dt>
                                    <strong>
                                      <a class="trackref" href="/products/search2?utf8=✓&q=果汁" target="">果汁</a>
                                    </strong>
                                  </dt>
                                  <dd></dd>
                                </dl>
                                <dl>
                                  <dt>
                                    <strong>
                                      <a class="trackref" href="/products/search2?utf8=✓&q=咖啡" target="">咖啡</a>
                                    </strong>
                                  </dt>
                                  <dd></dd>
                                </dl>
                                <dl>
                                  <dt>
                                    <strong>
                                      <a class="trackref" href="/products/search2?utf8=✓&q=健康" target="">健康</a>
                                    </strong>
                                  </dt>
                                  <dd></dd>
                                </dl>
                              </div>
                              <table cellpadding="0" cellspacing="0">
                                <tr>
                                  <td>
                                    <a href="/products/search1?utf8=✓&q=茶水饮品" target=""><img alt="导航-产品分类-茶水饮品" src="" border="0" width="560" height="200"/></a>
                                  </td>
                                </tr>
                              </table>
                            </div>
                          </div>
                        </div>
                        <div class="item">
                          <span class="i-master">
                            <h3>
                              <p class="item-6"></p>
                              <a class="trackref" title="礼品礼盒" target="" href="/products/search1?utf8=✓&q=礼品礼盒">礼品礼盒</a>
                            </h3>
                            <ul class="subCat">
                              <li>
                                <a href="/products/search1?utf8=✓&q=礼品礼盒" target="">节日精选</a>
                              </li>
                              <li>
                                <a href="/products/search1?utf8=✓&q=礼品礼盒" target="">亲朋好友</a>
                              </li>
                            </ul>
                            <s></s>
                          </span>
                          <div class="i-cm">
                            <div class="i-left">

                              <div class="cat-sort">
                                <dl>
                                  <dt>
                                    <strong>
                                      <a class="trackref" href="/products/search1?utf8=✓&q=礼品礼盒" target="">节日精选</a>
                                    </strong>
                                  </dt>
                                  <dd>
                                    <a class="trackref" target="" href="/products/search1?utf8=✓&q=礼品礼盒">春节</a>
                                    <a class="trackref" target="" href="/products/search1?utf8=✓&q=礼品礼盒">情人节</a>
                                    <a class="trackref" target="" href="/products/search1?utf8=✓&q=礼品礼盒">端午节</a>
                                    <a class="trackref" target="" href="/products/search1?utf8=✓&q=礼品礼盒">中秋节</a>
                                    <a class="trackref" target="" href="/products/search1?utf8=✓&q=礼品礼盒">父/母亲节</a>
                                    <a class="trackref" target="" href="/products/search1?utf8=✓&q=礼品礼盒">圣诞节</a>
                                    <a class="trackref" target="" href="/products/search1?utf8=✓&q=礼品礼盒">儿童节</a>
                                  </dd>
                                </dl>
                                <dl>
                                  <dt>
                                    <strong>
                                      <a class="trackref" href="/products/search1?utf8=✓&q=礼品礼盒" target="">亲朋好友</a>
                                    </strong>
                                  </dt>
                                  <dd>
                                    <a class="trackref" target="" href="/products/search1?utf8=✓&q=礼品礼盒">父母长辈</a>
                                    <a class="trackref" target="" href="/products/search1?utf8=✓&q=礼品礼盒">夫妻情侣</a>
                                    <a class="trackref" target="" href="/products/search1?utf8=✓&q=礼品礼盒">闺蜜好友</a>
                                    <a class="trackref" target="" href="/products/search1?utf8=✓&q=礼品礼盒">儿女小辈</a>
                                  </dd>
                                </dl>
                              </div>

                              <table cellpadding="0" cellspacing="0">
                                <tr>
                                  <td>
                                    <a href="/products/search1?utf8=✓&q=礼品礼盒" target=""><img alt="导航-产品分类-礼品礼盒" src="" border="0" width="560" height="200"/></a>
                                  </td>
                                </tr>
                              </table>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- <span class="cutline"></span> -->
                <a href="/" class="menu-mid ">首页</a>

                <span class="cutline"></span>
                <a href="#" class="menu-mid ">农户加盟</a>

                <span class="cutline"></span>
                <a href="#" class="menu-mid ">电商扶持</a>

              </div>
            </div>

          </div>

          <!-- <div class="col-md-3 nav-bot-right">
            <div class="hotline">
              热线电话：400-12345678
            </div>
          </div> -->

        </div>
      </div>

    </div>
    <!-- row end -->

  <!-- </div> -->
  <!-- container-fluid end -->

</nav>


<script type="text/javascript">
  $(".cutline").eq(0).css("display", "none");
  $(function () {
    $('.item').mouseover(function () {
      $(this).addClass('hover')
    })
    $('.item').mouseleave(function () {
      $(this).removeClass('hover')
    })
  })

  // function deleteCartGoods(rec_id) {
  //   Ajax.call('delete_cart_goods.php', 'id=' + rec_id, deleteCartGoodsResponse, 'POST', 'JSON');
  // }

  // function deleteCartGoodsResponse(res) {
  //   if (res.error) {
  //     alert(res.err_msg);
  //   } else {
  //     document.getElementById('ECS_CARTINFO').innerHTML = res.content;
  //   }
  // }
</script>
