<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">JDstore</a>
        </div>

        <ul class="nav navbar-nav">
          <li class="active">
             <a href="#">双11</a>
          </li>
          <li>
             <a href="#">jd购物节</a>
          </li>
          <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown">商品分类<strong class="caret"></strong></a>
            <ul class="dropdown-menu">
              <li>
                 <a href="#">Action</a>
              </li>
              <li>
                 <a href="#">Another action</a>
              </li>
              <li>
                 <a href="#">Something else here</a>
              </li>
              <li class="divider">
              </li>
              <li>
                 <a href="#">Separated link</a>
              </li>
              <li class="divider">
              </li>
              <li>
                 <a href="#">One more separated link</a>
              </li>
            </ul>
          </li>
        </ul>

        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" />
          </div> <button type="submit" class="btn btn-default">查找商品</button>
        </form>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
             <li>
               <%= link_to carts_path do %>
                  购物车 <i class="fa fa-shopping-cart"> </i> ( <%= current_cart.cart_items.sum("quantity") %> )
               <% end %>
             </li>
              <% if !current_user %>
                <li><%= link_to("注册", new_user_registration_path) %> </li>
                <li><%= link_to(content_tag(:i,'登入',class:'fa fa-sign-in'),new_user_session_path) %></li>
              <% else %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      Hi!, <%= current_user.email %>
                      <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                      <li> <%= link_to(content_tag(:i,'登出',class:'fa fa-sign-out'), destroy_user_session_path, method: :delete) %> </li>
                      <li> <%= link_to('我的订单',account_orders_path) %> </li>

                      <% if current_user.admin? %>
                      <li> <%= link_to("Admin Panel",admin_products_path) %> </li>
                      <li> <%= link_to("所有订单",admin_orders_path) %> </li>
                      <% end %>
                  </ul>
                </li>
                <% end %>
            </ul>
        </div>

    </div>

</nav>
