<div class="row">
  <nav class="navbar-custome">
    <div class="margin-side">
      <div class="nav-links">
        <div class="default-link">
          <a href="/">JD</a>
        </div>
        <div class="default-link">
          <a href="#">匠心手机</a>
        </div>
        <div class="default-link">
          <a href="#">智能家居</a>
        </div>
        <div class="default-link">
          <a href="#">酷炫应用</a>
        </div>
        <div class="default-link">
          <a href="#">视听享受</a>
        </div>
        <div class="nav navbar-nav">
          <li>
            <div class="form-group form-inline search-bar">
              <%= render :partial => "products/search_bar" %>
            </div>
          </li>
        </div>
        <% if !current_user %>
        <div class="default-link">
          <%= link_to("注册", new_user_registration_path) %>
        </div>
        <div class="default-link">
          <%= link_to(content_tag(:i, '登入', class: 'fa fa-sign-in'), new_user_session_path) %>
        </div>
        <% else %>
        <div class="default-link">
          <div class="account-link">
          <a href="#" class="account-link-icon">
          </a>
          </div>
          <div class="account-dropdown content-toggle">
            <% if current_user.admin? %>
            <div class="default-link">
              <!-- <a href="/admin/products">
                <i class="fa fa-history"> 后台</i>
              </a> -->
              <%= link_to(content_tag(:i,'   后台',class: 'fa fa-history '), admin_products_path ) %>
            </div>
            <% end %>
            <div class="default-link">
              <%= link_to(content_tag(:i, ' 我的订单', class: 'fa fa-credit-card '), account_orders_path ) %>
            </div>
            <div class="default-link">
              <%= link_to(content_tag(:i, '   登出', class: 'fa fa-sign-out'), destroy_user_session_path, method: :delete) %>
            </div>
            <div class="default-link">
              <%= link_to(content_tag(:i, ' 我的收藏', class: 'fa fa-heart-o'), destroy_user_session_path, method: :delete) %>
            </div>
          </div>
        </div>
        <% end %>
        <div class="cart-wrap">
            <%= render :partial => "products/cart" %>
        </div>
        <div class="responsive-link">
          <a href="javascript:void(0);" id="responsive-navbar">&#9776;</a>
        </div>
      </div>
    </div>
  </nav>
</div>
