<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">JDstore</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <!-- <%= link_to("Login", "#")%> -->
          <% if !current_user %>
            <li>
              <%= link_to(content_tag(:i, 'Login', class: "fa fa-sign-in"), new_user_session_path)%>
            </li>
            <li>
              <%= link_to(content_tag(:i, 'Sign Up', class: "fa fa-sign-up"), new_user_registration_path)%>
          <% else %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user-circle"></i> <%= current_user.email%>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to(content_tag(:i, "Logout", class: "fa fa-sign-out"), destroy_user_session_path, method: :delete)%>
                </li>
              </ul>
            </li>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
