<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid" id="nav-height">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">开味</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to("首页", root_path) %>
        </li>
        <li>
          <%= link_to("推荐", recommend_path) %>
        </li>

        <% Category.all.each do |category| %>
        <li>
          <%= link_to category.name, products_path(category: category.name) %>
        </li>
        <% end %>
      </ul>

        <!-- for more category aggregation>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">分类浏览
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <% Category.all.each do |category| %>
            <li>
              <%= link_to(category.name, products_path(category: category.name)) %>
            </li>
            <% end %>
          </ul>
        </li> -->

        <!-- 搜寻框 -->
      <div class="nav navbar-nav">
        <%= form_tag search_products_path, :method => :get do %>
          <div class="input-group" id="search-id">
            <input type="text" class="form-control" name="q" value="<%= params[:q] %>" placeholder="请输入商品系列信息">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </div>
          </div>
        <% end %>
      </div>
        <!-- 搜寻框end -->


      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to carts_path do  %>购物车
            <i class="fa fa-shopping-cart"></i>
            (<%= current_cart.products.count %>)
          <% end %>
        </li>

 <!-- login/signup -->
        <li>
          <% if !current_user %>
            <li><%= link_to("注册", new_user_registration_path) %></li>
            <li><%= link_to("登录", new_user_session_path) %></li>
          <% else %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Hi!,
                <%= current_user.email %>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <% if current_user.admin? %>
                  <li>
                    <%= link_to("后台管理", admin_products_path ) %>
                  </li>
                <% end %>
                  <li>
                    <%= link_to("我的订单", account_orders_path ) %>
                  </li>
                  <li>
                    <%= link_to("我的收藏", favorites_path ) %>
                  </li>
                  <li>
                    <%= link_to('注销', destroy_user_session_path, method: :delete) %>
                  </li>
              </ul>
            </li>
          <% end %>
        </li>
      </ul>
    </div>

  <!-- /.navbar-collapse -->
  </div>
<!-- /.container-fluid -->
</nav>
