<div id="background"></div>
<div class="navbar navbar-fixed-top">
  <div class="nav navbar-inner header">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand nav-link" href="/">
          必买清单
        </a>

      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="active nav nav-link">
            <%= link_to("PRODUCTS", products_path) %>
          </li>
          <li class="nav-link">
            <%= link_to carts_path do %>
              购物车 <i class="fa fa-shopping-cart"> </i> ( <%= current_cart.products.count %> )
            <% end %>
          </li>
          <li>
            <a class="nav navbar-brand nav-link" href="/">Contact</a>
          </li>

        <% if !current_user %>

            <li>
              <a href="#" data-toggle="modal" data-target="#login-modal" class="nav-link">登入</a>
            </li>
            <li>
              <a href="#" data-toggle="modal" data-target="#signup-modal" class="nav-link">马上加入</a>
            </li>
        <% else %>


            <li class="dropdown">
              <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                    Hi!, <%= current_user.email %>
              </a>
              <ul class="dropdown-menu">
                <% if current_user.admin? %>
                  <li>
                    <%= link_to("Admin 选单", admin_products_path) %>
                  </li>
                  <li>
                    <%= link_to("个人订单列表", account_orders_path)%>
                  </li>
                <% end %>
                <li>
                  <%= link_to(content_tag(:i, '登出', class: "fa fa-sign-out"), destroy_user_session_path, method: :delete) %>
                </li>
              </ul>
            </li>

        <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>


<%= render :partial => "common/navbar-login-modal" %>
