<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- 右侧下拉选单（移动端显示）-->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <!-- 网站名称 -->
          <a class="navbar-brand " href="/">穿梭市集</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <!--网站链接
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="#">Link <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        -->

        <!--搜索栏-->
        <form class="navbar-form navbar-left" action="/products/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
          <div class="input-group search-box">
            <input type="text" name="keyword" class="form-control" placeholder="搜寻好物..." value="">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit" ><span><i class="fa fa-search"></i></span>开始</button>
            </div>
          </div>
        </form>

        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to carts_path do  %>
              购物车 <i class="fa fa-shopping-cart"> </i> ( <%= current_cart.products.count %> )
            <% end %>
          </li>

        <% if !current_user %>
            <li><%= link_to("注册", new_user_registration_path) %> </li>
            <li><%= link_to(content_tag(:i, '登入', class: 'fa fa-sign-in'), new_user_session_path) %></li>
            <% else %>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Hi!, <%= current_user.email %>
            <b class="caret"></b>
            </a>

        <ul class="dropdown-menu">
            <% if current_user.admin? %>
              <li>
                <%= link_to("Admin 选单", admin_products_path ) %>
              </li>
            <% end %>

              <li>
              <%= link_to("个人订单列表", account_orders_path ) %>
              </li>

              <li>
                 <%= link_to(content_tag(:i, '登出', class: 'fa fa-sign-out'), destroy_user_session_path, method: :delete) %>
              </li>
        </ul>

          </li>
                 <% end %>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-->
  </div>
  </nav>
</html>
