<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><img src='<%= image_url 'logo02.png' %>' >LOHAS ART</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to("Products", products_path) %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to carts_path do %>
             购物车 <i class="fa fa-shopping-cart"> </i> ( <%= current_cart.products.count %> )
          <% end %>
        </li>
        <li class="active2">
          <%= link_to("关于我们", ours_path) %>
        </li>

        <!-- 注册 登入 -->
         <% if !current_user %>
           <li><a href="#" data-toggle="modal" data-target="#signup-modal">注册</a></li>
           <li><a href="#" data-toggle="modal" data-target="#login-modal">登入</a></li>
         <% else %>
           <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                 HI! <%= current_user.email %>
                 <b class="caret"></b>
             </a>
             <ul class="dropdown-menu">
               <% if current_user.admin? %>
                 <li>
                   <%= link_to("Admin 选单", admin_products_path ) %>
                 </li>
               <% end %>
                 <li>
                   <%= link_to("个人订单列表", account_orders_path ) %>
                 </li>
                 <li>
                   <%= link_to(content_tag(:i, "登出", class: 'fa fa-sign-out'), destroy_user_session_path, method: :delete) %>
                 </li>
             </ul>
           </li>
         <% end %>
         <!-- 结束 注册 登入 登出 -->
      </ul>
    </div>
  </div>
</nav>

<!-- 登入弹窗 -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="loginmodal-container">
      <div align="center">
         <img class="smaller2-image logo" id="img_logo" src="https://ws2.sinaimg.cn/large/006tNc79gy1fftziobnpzj305k05k0u3.jpg">
      </div>
       <h2>登入</h2>
       <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
         <div class="form-inputs">
           <%= f.input :email, required: false, autofocus: true %>
           <%= f.input :password, required: false %>
           <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
         </div>
         <div class="form-actions">
           <%= f.button :submit, "Log in" %>
         </div>
       <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="loginmodal-container">
      <div align="center">
        <img class="smaller2-image logo" id="img_logo" src="https://ws2.sinaimg.cn/large/006tNc79gy1fftziobnpzj305k05k0u3.jpg">
      </div>
      <h2 id="qq">注册</h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :password_confirmation, required: true %>
        </div>
        <div class="form-actions">
            <%= f.button :submit, "Sign up" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- 登入弹窗 -->
