<nav class="nav navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">小精选</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/products" >全部产品</a></li>
    </ul>
    <ul class="nav navbar-nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="falses">商品分类
          <span class="caret"></span></a>


          <ul class="dropdown-menu" role="menu">

              <li>
                <%= link_to("饰品", accessory_products_path) %>
              </li>

              <li>
                <%= link_to("鞋子", shoes_products_path) %>
              </li>

      </ul>
    </li>
  </ul>

    <ul class="nav navbar-nav navbar-right">

      <li class="navbar-form navbar-left" >
        <div class="form-group">
        <%= search_form_for @q do |f| %>
          <%= f.search_field :title_cont, class: 'form-control input-sm', 'datepicker' => true %>
          <%= f.submit :class => "btn btn-default" %>
        <% end %>
        </div>
      </li>
      <li>
          <%= link_to carts_path do  %>
              购物车 <i class="fa fa-shopping-cart"> </i> ( <%= current_cart.products.count %> )
        <% end %>
      </li>
      <% if !current_user.present? %>
         <li><a href="/users/sign_up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
         <li><a href="/users/sign_in"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <% else %>
            <li><%= link_to("我的订单", account_orders_path) %></li>
            <li><%= link_to(content_tag(:i, "我的收藏", class: "fa fa-heart fa-md"), products_path(:favorite => "yes"))%> </li>
            <li class="upper-links dropdown">
               <a class="links" href="#" class="dropdown-toggle" data-toggle="dropdown">
               Hi!, <%= current_user.email %>
                   <b class="caret"></b>
                </a>
          <ul class="dropdown-menu">
            <% if current_user.admin? %>
              <li>
                <%= link_to("Admin 选单", admin_products_path) %>
              </li>
            <% end %>
            <li>
               <%= link_to("个人订单列表", account_orders_path ) %>
            </li>
             <li> <%= link_to(content_tag(:i, '登出', class: 'fa fa-sign-out'), destroy_user_session_path, method: :delete) %> </li>
          </ul>
        </li>

      <% end %>

    </ul>
  </div>
</nav>
