<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="collapse navbar-collapse js-navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li class="navbar-header ">
          <a class="navbar-brand" href="/"> 酷跑网 </a><!-- 0214pm编辑，新增active  陈扬帆-->
        </li>
        <li class="dropdown mega-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">各大品牌 <span class="caret"></span></a>
          <ul class="dropdown-menu mega-dropdown-menu">
            <li class="col-sm-4">
              <ul>
                <h3 style="border-top:2px solid #cc092f; border-bottom:2px solid #cc092f; padding:10px;color:"><%= link_to("法拉利", category_products_path(c:"法拉利"), class: "bootstrap-override-2") %></h3>
                <img style="height: 200px !important;" src="https://ww4.sinaimg.cn/large/006tKfTcgy1fd1hh4xt48j30wo0ig7wh.jpg" class="img-responsive" alt="">
              </ul>
            </li>
            <li class="col-sm-4">
              <ul>
                <h3 style="border-top:2px solid #cc092f; border-bottom:2px solid #cc092f; padding:10px;"><%= link_to("兰博基尼", category_products_path(c:"兰博基尼"), class: "bootstrap-override-2") %></h3>
                <img style="height: 200px !important;" src="http://media.caranddriver.com/images/13q1/494258/2013-lamborghini-aventador-lp700-4-roadster-first-drive-review-car-and-driver-photo-500213-s-450x274.jpg" class="img-responsive" alt="">
              </ul>
            </li>
            <li class="col-sm-4">
              <ul>
                <h3 style="border-top:2px solid #cc092f; border-bottom:2px solid #cc092f; padding:10px;"><%= link_to("保时捷", category_products_path(c:"保时捷"), class: "bootstrap-override-2") %></h3>
                <img style="height: 200px !important;" src="http://i7.download.fd.pchome.net/t_1024x768/g1/M00/08/0D/ooYBAFOIW-iIWkPSAAgBcBvY2PkAABkQgPntHQACAGI829.jpg" class="img-responsive" alt="">
              </ul>
            </li>
          </ul>
        </li>

        <li class="dropdown mega-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">线下门店 <span class="caret"></span></a>
          <ul class="dropdown-menu mega-dropdown-menu">
            <div class="col-lg-12 text-center">
              <div class="col-sm-4">
                <div class="panel panel-default panel-card">
                  <div class="panel-heading">
                    <img src="https://ooo.0o0.ooo/2017/02/13/58a1b97f6e177.png" />
                  </div>
                  <div class="panel-body">
                    <br>
                    <h4 class="panel-header">北京</h4>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="panel panel-default panel-card">
                  <div class="panel-heading">
                    <img src="https://ooo.0o0.ooo/2017/02/13/58a1b9bb9d1c9.png" />
                  </div>
                  <div class="panel-body">
                    <br>
                    <h4 class="panel-header">上海</h4>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="panel panel-default panel-card">
                  <div class="panel-heading">
                    <img src="https://ooo.0o0.ooo/2017/02/13/58a1b9f1b18ca.png" />
                  </div>
                  <div class="panel-body">
                    <br>
                    <h4 class="panel-header">广州</h4>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="panel panel-default panel-card">
                  <div class="panel-heading">
                    <img src="https://ooo.0o0.ooo/2017/02/13/58a1b9bb9d1c9.png" />
                  </div>
                  <div class="panel-body">
                    <br>
                    <h4 class="panel-header">深圳</h4>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="panel panel-default panel-card">
                  <div class="panel-heading">
                    <img src="https://ooo.0o0.ooo/2017/02/13/58a1b9bb9d1c9.png" />
                  </div>
                  <div class="panel-body">
                    <br>
                    <h4 class="panel-header">厦门</h4>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="panel panel-default panel-card">
                  <div class="panel-heading">
                    <img src="https://ooo.0o0.ooo/2017/02/13/58a1b9bb9d1c9.png" />
                  </div>
                  <div class="panel-body">
                    <br>
                    <h4 class="panel-header">杭州</h4>
                  </div>
                </div>
              </div>
            </div>
          </ul>
        </li>

        <li class="dropdown mega-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">酷跑社区 <span class="caret"></span></a>
          <ul class="dropdown-menu mega-dropdown-menu">
            <div class="col-lg-12">
              <div class="col-sm-6 col-md-6">
                <h1>酷跑社区</h1>
                <br>
                <h4>这里是全国最大的线上超跑俱乐部，定期举办各种各样的精彩活动，更多机会近距离触摸跑车。</h4>
                <p>
                  ✔️ 速度与激情——跑车赛事<br><br>
                  ✔️ 壮观的车队环城活动<br><br>
                  ✔️ 非凡之旅——非洲跑车大冒险<br><br>
                  ✔️ 酷跑老司机教你如何打造个性跑车<br><br>
                  ✔️ 技术交流车友会<br><br>
                  ✔️ 炫魅之夜狂欢派对
                </p>
    		     </div>
		         <div class="col-sm-6 col-md-3">
        	     <div class="panel panel-default panel-card">
                  <div class="panel-heading">
                    <img src="https://unsplash.imgix.net/41/bXoAlw8gT66vBo1wcFoO_IMG_9181.jpg?q=75&fm=jpg&s=a760fd82863937c841f4b3870cdef011" />
                  </div>
                  <div class="panel-body">
                    <br>
                    <h4 class="panel-header">跑车赛事</h4>
                  </div>
            	 </div>
    		     </div>
             <div class="col-sm-6 col-md-3">
               <div class="panel panel-default panel-card">
                 <div class="panel-heading">
                   <img src="https://unsplash.imgix.net/41/bXoAlw8gT66vBo1wcFoO_IMG_9181.jpg?q=75&fm=jpg&s=a760fd82863937c841f4b3870cdef011" />
                 </div>
                 <div class="panel-body">
                   <br>
                   <h4 class="panel-header">环城活动</h4>
                 </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="panel panel-default panel-card">
                    <div class="panel-heading">
                        <img src="https://ununsplash.imgix.net/19/waves.JPG?q=75&fm=jpg&s=6f316bc8e1dc9887a7cebe0841096e99" />
                    </div>
                    <div class="panel-body">
                      <br>
                        <h4 class="panel-header">车友会</h4>
                    </div>
            	 </div>
    		    </div>
            <div class="col-sm-6 col-md-3">
                <div class="panel panel-default panel-card">
                    <div class="panel-heading">
                        <img src="https://ununsplash.imgix.net/26/camera-keys.jpg?q=75&fm=jpg&s=b919d3158053cde8e9f0e37b4876c14f" />
                    </div>
                    <div class="panel-body">
                      <br>
                        <h4 class="panel-header">狂欢派对</h4>
                    </div>
            	  </div>
    		     </div>
          </div>
        </ul>
      </li>

      <li class="dropdown mega-dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">改装计划</a>
      </li>
    </ul>

    <div class="navbar-form navbar-left">
      <%= form_tag search_products_path , :method => :get, :class => "jobs-search-form" do %>
        <div class="input-group" id="search-id" >
          <input type="text" class="form-control" name="q" value="<%= params[:q] %>" placeholder="搜索超跑">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </div>
        </div>
      <% end %>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= link_to carts_path do  %>
          购物车 <i class="fa fa-shopping-cart">
                  <% if current_cart.products.count != 0 %>
                    <span class="label labelnumber label-danger"><%= current_cart.products.count %></span>
                  <% end %>
                </i>
        <% end %>
      </li>

      <% if !current_user %>
        <li class="highlight btn-default btn-info"><a href="#" data-toggle="modal" data-target="#signup-modal">注册</a></li>
        <li class="highlight btn-default btn-info"><a href="#" data-toggle="modal" data-target="#login-modal">登入</a></li>
      <% else %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            你好, <%= current_user.email %>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu text-center">
            <% if current_user.admin? %>
              <li><%= link_to("管理后台", admin_products_path ) %></li>
            <% end %>
            <li>
              <%= link_to("个人订单列表", account_orders_path) %>
            </li>
            <li>
              <%= link_to("收藏", favorite_index_path) %>
            </li>
            <li class="divider"></li>
            <li> <%= link_to(content_tag(:i, '登出', class: 'fa fa-sign-out'), destroy_user_session_path, method: :delete) %> </li>
          </ul>
        </li>
      <% end %>
    </ul>

    </div>
  </div><!-- /.nav-collapse -->

  <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
      <div class="loginmodal-container">
         <h2 class="text-center">登录</h2>
         <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
           <div class="form-inputs">
             <%= f.input :email, required: false, autofocus: true , :label => "登录邮箱" %>
             <%= f.input :password, required: false , :label => "登录密码" %>
             <%= f.input :remember_me,  :label => "记住我", as: :boolean if devise_mapping.rememberable?  %>
           </div>
           <div class="form-actions">
             <%= f.button :submit, "登录" %>
           </div>
         <% end %>
      </div>
    </div>
  </div>

  <div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="loginmodal-container">
        <h2 class="text-center">注册</h2>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true , :label => "注册邮箱" %>
            <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) , :label => "设置密码" %>
            <%= f.input :password_confirmation, required: true , :label => "确认密码" %>
          </div>
          <div class="form-actions">
              <%= f.button :submit, "注册" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</nav>
