<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">野兽生活</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to("商品", products_path) %></li>
        <li><%= link_to("联系我们", products_path) %></li>
        <li><a href="#contact">无麸理念</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">分类
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <% Category.all.each do |category| %>
                      <li>
                        <%= link_to category.name, products_path(category: category.name), class: "link" %>
                      </li>
                      <% end %>
                    </ul>
               </li>
          </ul>

      <ul class="nav navbar-nav navbar-right">
              <li>
                  <%= link_to carts_path do %>
                    购物车 <i class="fa fa-shopping-cart"> </i> ( <%= current_cart.products.count %>)
                  <% end %>
              </li>

              <% if !current_user %>
                   <li><%= link_to("注册", new_user_registration_path) %> </li>
                   <li><%= link_to(content_tag(:i, '登入', class: 'fa fa-sign-in'), new_user_session_path) %></li>
             <% else %>
                   <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                         Hi!, <%= current_user.email %>
                         <b class="caret"></b>
                     </a>
                     <ul class="dropdown-menu">
                       <% if current_user.admin? %>
                       <li>
                        <%= link_to("Admin 选单", admin_products_path ) %>
                       </li>
                       <% end %>
                       <li>
                         <%= link_to("个人订单列表", account_orders_path )  %>
                       </li>
                       <li> <%= link_to(content_tag(:i, '登出', class: 'fa fa-sign-out'), destroy_user_session_path, method: :delete) %> </li>
                     </ul>
                   </li>
                   <% end %>
               </ul>


    </div>
  </div>
</nav>
