<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">幻宠城邦 </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <div class="navbar-form navbar-right">
              <%= form_tag search_products_path , :method => :get, :class => "products-search-form" do %>
                <div class="input-group">
                  <input type="text" class="form-control" name="q" value="<%= params[:q] %>" placeholder="搜索关键字...">

                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-default">
                      <span class="glyphicon glyphicon-search"></span>
                    </button>
                  </span>
                </div>
                <% end %>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                   <%= link_to carts_path do  %>
                      购物车 <i class="fa fa-shopping-cart"> </i> ( <%= current_cart.products.count %> )
                   <% end %>
                </li>
                <li>
                    <% if !current_user %>
                        <li><%= link_to("注册", new_user_registration_path) %> </li>
                        <li><%= link_to("登入", new_user_session_path) %></li>
                    <% else %>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Hi!, <%= current_user.email %>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <% if current_user.admin? %>
                                    <li>
                                        <%= link_to("Admin 选单", admin_products_path ) %>
                                    </li>
                                <% end %>
                                              <li>
                                                <%= link_to("个人订单列表", account_orders_path ) %>
                                              </li>

                                <li> <%= link_to("登出", destroy_user_session_path, method: :delete) %> </li>
                            </ul>
                        </li>
                    <% end %>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
