<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href='/' class="navbar-brand">JDstore</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to("首页", href="/") %></li>
        <li class="active"><%= link_to("图书", products_path) %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">分类浏览 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% Category.all.each do |category| %>
             <li>
               <%= link_to(category.name, products_path(category: category.name)) %>
             </li>
            <% end %>
          </ul>
        </li>
      </ul>

        <!-- search -->
      <div class="nav navbar-nav navbar-left">
        <%= form_tag search_products_path , :method => :get do %>
        <div class="input-group" id="search-id" >
          <input type="text" class="form-control" name="q" value="<%= params[:q] %>" placeholder="请输入商品">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>

        </div>
        <% end %>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to carts_path do %>
            购物车 <i class="fa fa-shopping-cart"></i> ( <%= current_cart.products.count %> )
          <% end %>
        </li>
        <% if !current_user %>
          <li><%= link_to("注册", new_user_registration_path)%></li>
          <li><%= link_to(content_tag(:i, '登录', class: 'fa fa-sign-in'), new_user_session_path) %></li>
        <% else %>
          <li class="dropdown">
            <a href= "#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t("hello", :email => current_user.email.split("@").first) %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if current_user.admin? %>
                <li><%= link_to("Admin 选单", admin_products_path) %></li>
              <% end %>
              <li><%= link_to("个人订单列表", account_orders_path) %></li>
              <li><%= link_to(content_tag(:i, "我的收藏", class: "fa fa-heart fa-md"), collect_products_path(:favorite => "yes"))%> </li>
              <li><%= link_to(content_tag(:i, '退出', class: 'fa fa-sign-out'), destroy_user_session_path, method: :delete) %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
