<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="collapse navbar-collapse js-navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li class="navbar-header ">
          <a class="navbar-brand" href="/"> 酷跑网 </a><!-- 0214pm编辑，新增active  陈扬帆-->
        </li>
        <li class="dropdown mega-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">各大品牌 <span class="caret"></span></a>
          <ul class="dropdown-menu mega-dropdown-menu">
            <li class="col-sm-4">
              <ul>
                <h3 style="border-top:2px solid #cc092f; border-bottom:2px solid #cc092f; padding:10px;color:"><%= link_to("法拉利", category_products_path(c:"法拉利"), class: "bootstrap-override-2") %></h3>
                <img style="height: 200px !important;" src="https://ooo.0o0.ooo/2017/02/26/58b265f19e35c.png" class="img-responsive" alt="">
              </ul>
            </li>
            <li class="col-sm-4">
              <ul>
                <h3 style="border-top:2px solid #cc092f; border-bottom:2px solid #cc092f; padding:10px;"><%= link_to("兰博基尼", category_products_path(c:"兰博基尼"), class: "bootstrap-override-2") %></h3>
                <img style="height: 200px !important;" src="https://ooo.0o0.ooo/2017/02/26/58b2669ac5e67.png" class="img-responsive" alt="">
              </ul>
            </li>
            <li class="col-sm-4">
              <ul>
                <h3 style="border-top:2px solid #cc092f; border-bottom:2px solid #cc092f; padding:10px;"><%= link_to("保时捷", category_products_path(c:"保时捷"), class: "bootstrap-override-2") %></h3>
                <img style="height: 200px !important;" src="https://ooo.0o0.ooo/2017/02/26/58b2671390bf7.png" class="img-responsive" alt="">
              </ul>
            </li>
          </ul>
        </li>

        <li class="dropdown mega-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">线下门店 <span class="caret"></span></a>
          <ul class="dropdown-menu mega-dropdown-menu">
            <div class="col-lg-12 text-center">
              <div class="col-sm-4">
                <div class="panel panel-default panel-card">
                  <div class="panel-heading">
                    <img src="http://images.china.cn/attachement/jpg/site1000/20080804/0019b91ebfe20a00d9a459.jpg" />
                  </div>
                  <div class="panel-body">
                    <br>
                    <h4 class="panel-header">北京</h4>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="panel panel-default panel-card">
                  <div class="panel-heading">
                    <img src="http://img.yilvcheng.com/Public/kinde/image/20160309/20160309173054_92921.jpg" />
                  </div>
                  <div class="panel-body">
                    <br>
                    <h4 class="panel-header">上海</h4>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="panel panel-default panel-card">
                  <div class="panel-heading">
                    <img src="http://news.xinhuanet.com/food/2016-04/22/128909744_14610318418901n.png" />
                  </div>
                  <div class="panel-body">
                    <br>
                    <h4 class="panel-header">广州</h4>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="panel panel-default panel-card">
                  <div class="panel-heading">
                    <img src="http://y0.ifengimg.com/a/2015_49/3507ea1b59ebc75.jpg" />
                  </div>
                  <div class="panel-body">
                    <br>
                    <h4 class="panel-header">深圳</h4>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="panel panel-default panel-card">
                  <div class="panel-heading">
                    <img src="http://news.xmnn.cn/a/xmwy/201512/W020151203542947605502.jpg" />
                  </div>
                  <div class="panel-body">
                    <br>
                    <h4 class="panel-header">厦门</h4>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="panel panel-default panel-card">
                  <div class="panel-heading">
                    <img src="http://www.xiancity.cn/uploadimg/20160826/1472195297.jpg" />
                  </div>
                  <div class="panel-body">
                    <br>
                    <h4 class="panel-header">杭州</h4>
                  </div>
                </div>
              </div>
            </div>
          </ul>
        </li>

        <li class="dropdown mega-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">酷跑社区 <span class="caret"></span></a>
          <ul class="dropdown-menu mega-dropdown-menu">
            <div class="col-lg-12">
              <div class="col-sm-6 col-md-6 text2">
                <h1>酷跑社区</h1>
                <br>
                <h4>这里是全国最大的线上超跑俱乐部，定期举办各种各样的精彩活动，更多机会近距离触摸跑车。</h4>
                <p>
                  ✅  速度与激情——跑车赛事<br><br>
                  ✅  壮观的车队环城活动<br><br>
                  ✅  非凡之旅——非洲跑车大冒险<br><br>
                  ✅  酷跑老司机教你如何打造个性跑车<br><br>
                  ✅  技术交流车友会<br><br>
                  ✅  炫魅之夜狂欢派对
                </p>
    		     </div>
		         <div class="col-sm-6 col-md-3">
        	     <div class="panel panel-default panel-card">
                  <div class="panel-heading">
                    <img src="https://ooo.0o0.ooo/2017/02/26/58b26a16f075e.png" />
                  </div>
                  <div class="panel-body">
                    <br>
                    <h4 class="panel-header">跑车赛事</h4>
                  </div>
            	 </div>
    		     </div>
             <div class="col-sm-6 col-md-3">
               <div class="panel panel-default panel-card">
                 <div class="panel-heading">
                   <img src="https://ooo.0o0.ooo/2017/02/26/58b26af9c005d.png" />
                 </div>
                 <div class="panel-body">
                   <br>
                   <h4 class="panel-header">环城活动</h4>
                 </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="panel panel-default panel-card">
                    <div class="panel-heading">
                        <img src="https://ooo.0o0.ooo/2017/02/26/58b26c07aaf65.png" />
                    </div>
                    <div class="panel-body">
                      <br>
                        <h4 class="panel-header">车友会</h4>
                    </div>
            	 </div>
    		    </div>
            <div class="col-sm-6 col-md-3">
                <div class="panel panel-default panel-card">
                    <div class="panel-heading">
                        <img src="https://ooo.0o0.ooo/2017/02/26/58b26d95999c4.png" />
                    </div>
                    <div class="panel-body">
                      <br>
                        <h4 class="panel-header">狂欢派对</h4>
                    </div>
            	  </div>
    		     </div>
          </div>
        </ul>
      </li>

      <li class="dropdown mega-dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">改装计划</a>
      </li>
    </ul>

    <div class="navbar-form navbar-left">
      <%= form_tag search_products_path , :method => :get, :class => "jobs-search-form" do %>
        <div class="input-group" id="search-id" >
          <input type="text" class="form-control" name="q" value="<%= params[:q] %>" placeholder="搜索超跑">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </div>
        </div>
      <% end %>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= link_to carts_path do  %>
          购物车 <i class="fa fa-shopping-cart">
                  <% if current_cart.products.count != 0 %>
                    <span class="label labelnumber label-danger"><%= current_cart.products.count %></span>
                  <% end %>
                </i>
        <% end %>
      </li>

      <% if !current_user %>
        <li class="highlight btn-default btn-info"><%= link_to("注册", new_user_registration_path) %></li>
        <li class="highlight btn-default btn-info"><%= link_to("登入", new_user_session_path) %></li>
      <% else %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            你好, <%= current_user.email %>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu text-center">
            <% if current_user.admin? %>
              <li><%= link_to("管理后台", admin_products_path ) %></li>
            <% end %>
            <li>
              <%= link_to("个人订单列表", account_orders_path) %>
            </li>
            <li>
              <%= link_to("收藏", favorite_index_path) %>
            </li>
            <li class="divider"></li>
            <li> <%= link_to(content_tag(:i, '登出', class: 'fa fa-sign-out'), destroy_user_session_path, method: :delete) %> </li>
          </ul>
        </li>
      <% end %>
    </ul>

    </div>
  </div><!-- /.nav-collapse -->

</nav>
