		<table class="table table-condensed">
			
			<thead>
				<th class="info col-md-3">收货地址</th>
				<tr class="active">
					<th>收货人姓名</th>
					<th>收货人地址</th>
					<th>联系方式</th>
				</tr>				
			</thead>

			<tbody>
				<tr>
					<td><%=  delivery_address.name %></td>
					<td><%=  delivery_address.address %></td>
					<td><%=  delivery_address.phone %></td>
				</tr>
			</tbody>
		</table>

		<table class="table table-condensed">
			<thead>
				<th class="info col-md-3">商品一览</th>
				
				<tr class="active">
					<td>商品</td>
					<td>数量</td>
					<td>单价</td>
					<td>总计（元）</td>
				</tr>				
			</thead>

			<tbody>
				<% order.product_lists.each do |list| %>
				<tr>
					<td><%=  Product.find_by(id: list.product_id).title %></td>
					<td><%=  list.quantity %></td>
					<td><%=  list.price %></td>
					<td><%=  list.quantity * list.price %></td>
				</tr>
				<% end %>
			</tbody>
			
		</table>
