<% if user.role == 1 %>
  <tr class="success">
<% else %>
  <tr class="active">
<% end %>
  <td><%= user.id %></td>
  <td><%= user.email %></td>
  <td><%= user.created_at %></td>
  <td>
    <% if user.role == 1%>
      <% if user.id != current_user.id %>
        <%= link_to("degrade", degrade_to_user_admin_use_path(user), class: "btn btn-primary") %>
      <% end %>
    <% else %>
      <% if user.id != current_user.id %>
        <%= link_to("upgrade", upgrade_to_admin_admin_use_path(user), class: "btn btn-danger") %>
      <% end %>
    <% end %>
  </td>
</tr>
