<!DOCTYPE html>
<html>
  <head>
    <title>个人中心</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="content">
      <div class="container-fluid">
      <%= render "common/flashes" %>
      </div>
      <div class="container">
        <%= render "common/navbar" %>


          <div class="">

            <!-- 侧边分类选项栏 -->
            <div class="col-xs-2 nav-left-style">
              <hr>
              <h5>我的账号</h5>
              <p><%= current_user.email %></p>
              <hr>
              <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
                <li><%= link_to("我的订单", account_orders_path) %></li>
                <li><%= link_to("收藏商品", account_collections_path) %></li>
              </ul>
              <hr>
              <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
                <li><%= link_to("我的文章", account_article_collections_path) %></li>
                <li><%= link_to("我要投稿", new_article_path) %></li>
              </ul>
              <hr>
              <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
                <li><%= link_to("编辑账户", edit_account_user_path(current_user)) %></li>
              </ul>
              <hr>
              <!-- <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
                <li><%= link_to("我的课程") %></li>
                <li><%= link_to("我的作业") %></li>
              </ul>
              <hr>
              <hr> -->
            </div>

            <!-- 主内容 -->
            <div class="col-xs-10">
              <%= yield %>
            </div>

          </div>
      </div>
    </div>


    <%= render "common/footer" %>

  </body>
</html>
