<!DOCTYPE html>
<html>
  <head>
    <title>Jdstore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render "common/navbar" %>
      <%= render "common/flashes" %>

        <div class="row">

          <!-- 侧边分类选项栏 -->
          <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
              <li><%= link_to("商品管理", admin_products_path) %></li>
            </ul>
          </div>

          <!-- 主内容 -->
          <div class="col-md-10">
            <%= yield %>
          </div>

        </div>

    </div>

    <%= render "common/footer" %>

  </body>
</html>
