<!DOCTYPE html>
<html>
<head>
  <title>JDstore 后台</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render "common/navbar" %>

      <div class="main">
        <div class="row">

          <div class="col-md-12">
            <div class="col-md-2 admin-tab">
                <ul class="nav nav-pills nav-stacked" style="max-width: 200px;">
                  <li> <%= link_to("Orders", admin_orders_path) %> </li>
                  <li> <%= link_to("Categories", admin_categories_path) %></li>
                </ul>
            </div>

            <div class="col-md-10">
                <%= yield %>
            </div>
          </div>

        </div>


    </div>


</div>
      <%= render "common/footer" %>
</body>
</html>
