<!DOCTYPE html>
<html>
<head>
  <title>JDstore 后台</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


        <%= render "common/navbar" %>

  <div class="container">
    <div class="row">
      <div class="col-xs-2">

        <ul class="nav nav-pills nav-stacked" style="max-width: 300px;margin-top:100px; margin-left:-10px;">
          <li> <%= link_to("产品管理", admin_products_path) %> </li>
          <li> <%= link_to("类目管理", categories_path) %> </li>
          <li> <%= link_to("订单管理", admin_orders_path) %> </li>

        </ul>
      </div>
      <!-- <div class= "body"> -->
      <div class="col-xs-9">
        <%= yield %>
      </div>

      <!-- </div> -->
    </div>
  </div>
    <%= render "common/footer" %>
</body>
</html>
