<!DOCTYPE html>
<html>
<head>
  <title>九木生活</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <%= render "common/navbar" %>
    <%= render "common/flashes" %>
    <div class="row">
      <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
          <li> <%= link_to("Products", admin_products_path) %> </li>
          <li> <%= link_to("Orders", admin_orders_path) %> </li>
          <li>
             <%= link_to"商品分类:"%>

               <ul>
                <% Category.all.each do |category| %>
                  <li>
                    <%= link_to(category.name, admin_products_path(category: category.name)) %>
                  </li>
                <% end %>
              </ul>
            </li>

        </ul>

      </div>
      <div class="col-md-10">
        <%= yield %>
      </div>
    </div>

</body>
</html>
