<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>JDStore Admin</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="shortcut icon"href="/images/favicon.ico">

</head>
<body>
  <div class="container-fluid">
    <%= render "common/navbar"%>
    <div class="row">
      <div class="col-md-2" style="padding-top:30px;">
        <ul class="nav nav-pills nav-stacked" style="max-width:300px;">
          <li><%= link_to "商品列表", admin_products_path %></li>
        </ul>
      </div>

      <div class="col-md-10">
        <%= yield%>
      </div>
    </div>
  </div>

</body>
</html>
