<!DOCTYPE html>
<html>
  <head>
    <title>Jdstore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "common/navbar" %>
    <%= render "common/flashes" %>
    <div class="row">
      <div class="col-md-2">
        <ul class="nav nav-black">
          <li class="active"><%= link_to("Product", admin_products_path ) %> </li>
        </ul>
        <ul class="nav nav-black">
          <li class="active"><%= link_to("Users",admin_users_path ) %> </li>
        </ul>
        <ul class="nav nav-black">
          <li><%= link_to("Orders",admin_orders_path ) %> </li>
        </ul>
      </div>
      <div class="col-md-10">
      <%= yield %>
      </div>
    </div>
    <%= render "common/footer" %>
  </body>
</html>
