<!DOCTYPE html>
<html>
<<<<<<< HEAD
  <head>
    <title>JDStore</title>
    <%= csrf_meta_tags %>
=======
    <head>
        <title>JDStore </title>
        <%= csrf_meta_tags %>
>>>>>>> demo

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

<<<<<<< HEAD
  <body>
    <div class="container-fluid">
      <%= render "common/navbar" %>
      <%= yield %>
    </div>
    <%= render "common/footer" %>
  </body>
=======
    <body>

        <div class="container-fluid">
            <%= render "common/navbar" %>
            <%= render "common/flashes" %>            
            <%= yield %>
        </div>

        <%= render "common/footer" %>

    </body>
>>>>>>> demo
</html>
