<!DOCTYPE html>
<html>
  <head>
    <title>mindbentos</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="/images/faviconcon.ico">
  </head>

  <body>
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <%= render "common/navbar" %>
        </div>
        <div class="indexbody">
          <%= render "common/flashes" %>
        </div>
          <%= yield %>

      </div>
    </div>

    <%= render "common/footer" %>
  </body>
</html>
