<!DOCTYPE html>
<html>
<head>
  <title>大绿色 - 大自然的颜色！</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="shortcut icon" href="/images/favicon.ico">
</head>

<body>
  <div class="wrapper">
    <div>
      <%= render "common/navbar" %>
      <%= render "common/flashes" %>
      <%= yield %>
    </div>
  </div>
  <%= render "common/footer" %>
</body>

<!--  Js Files  -->
<!-- Core js -->
<!-- <script src="assets/js/jquery-3.1.1.min.js"></script> -->
<!-- <script src="assets/js/bootstrap.min.js"></script> -->

<script src="/js/menu.js"></script>
<script src="/js/jquery.sticky.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.dcjqaccordion.min.js"></script>
<script src="/js/instagram.js"></script>
<script src="/js/appear.js"></script>

<!-- Google Map -->
<script type="text/javascript" src="http://ditu.google.cn/maps/api/js?key=AIzaSyAvpnlHRidMIU374bKM5-sx8ruc01OvDjI"></script>
<script src="/js/gmap3.min.js"></script>

<!-- Custom Script -->
<script src="/js/main.js"></script>

</html>
