<!DOCTYPE html>
<html>
  <head>
    <title>Knowledge Store</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag ('http://user-image.logdown.io/user/18394/blog/17929/post/775442/7MePFyQHTZu4NNEXN1Zy_logo.ico') %>
  </head>

  <body style="background-image: url(http://user-image.logdown.io/user/18394/blog/17929/post/775442/kUDrkT2URmWu74jOYTYZ_cubes.png);">
    <div class="container-fluid">
      <%= render 'common/navbar' %>
      <%= render 'common/flashes' %>
      <%= yield %>
    </div>

  </body>

    <%= render 'common/footer' %>

</html>
