<!DOCTYPE html>
<html>
  <head>
    <title>Jdstore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <%= render "common/navbar" %>
      </div>
      <%= render "common/flashes" %>
      <%= yield %>
   </div>
   <div class="navbar navbar-blend navbar-fixed-bottom">
       <div class="nav"><span><%= render "common/footer" %></span></div>
   </div>
   
  </body>
</html>
