<!DOCTYPE html>
<html>
  <head>
    <title>真读</title>
    <%= csrf_meta_tags %>

    <link rel="shortcut icon" href="https://ws3.sinaimg.cn/large/006tKfTcgy1fg3iv0og2wj30ha0g2wh8.jpg">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container-fluid">
      <%= render "common/navbar" %>
      <%= render "common/flashes" %>
      <%= yield %>
    </div>

    <%= render "common/footer" %>

  </body>
</html>
