<!DOCTYPE html>
<html>
    <head>
        <title>JDStore </title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>

        <div class="container-fluid">
            <%= render "common/navbar" %>
            <%= render "common/flashes" %>
            <%= yield %>
        </div>

        <%= render "common/footer" %>

    </body>
</html>

<!-- 浮动（在线客服和回到顶部）代码 -->
<div id="usr_rmenu" class="usr-rmenu">
    <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=57096821&amp;site=qq&amp;menu=yes" target="_blank" class="btn btn-qq"></a>
    <div class="btn btn-top" style="display: block;"></div>
</div>
<!-- 浮动（在线客服和回到顶部）代码_end -->
