<!DOCTYPE html>
<html>
<head>
  <title>大绿色 - 大自然的颜色！</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="shortcut icon" href="/images/favicon.ico">
</head>

<body>
  <div class="wrapper">
    <div>
      <%= render "common/navbar" %>
      <%= render "common/flashes" %>
      <%= yield %>
    </div>
  </div>
  <%= render "common/footer" %>

  <!--  Js Files  -->

  <!-- Core js -->
  <script src="assets/javascripts/jquery-3.1.1.min.js"></script>
  <!-- <script src="assets/javascripts/bootstrap.min.js"></script> -->

  <script src="/javascripts/menu.js"></script>
  <script src="/javascripts/jquery.sticky.js"></script>
  <script src="/javascripts/owl.carousel.min.js"></script>
  <script src="/javascripts/jquery.dcjqaccordion.min.js"></script>
  <!-- <script src="/javascripts/instagram.js"></script> -->
  <script src="/javascripts/appear.js"></script>

  <!-- Custom Script -->
  <script src="/javascripts/main.js"></script>

  <!-- JS Implementing Plugins -->
  <script type="text/javascript" src="/javascripts/back-to-top.js"></script>
  <script type="text/javascript" src="/javascripts/smoothScroll.js"></script>

  <!-- Google Map -->
  <script type="text/javascript" src="http://ditu.google.cn/maps/api/js?key=AIzaSyAvpnlHRidMIU374bKM5-sx8ruc01OvDjI"></script>
  <script src="/javascripts/gmap3.min.js"></script>

</body>
</html>
