<script type="text/javascript" src="assets/javascripts/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="assets/javascripts/bootstrap.min.js"></script>


<!DOCTYPE html>
<html>
  <head>
    <title>Jdstore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <%= render "common/navbar" %>
      <%= render "common/flashes" %>
      <%= yield %>
    </div>

    <%= render "common/footer" %>

  </body>
</html>
