<!DOCTYPE html>
<html>
    <head>
        <title>JDStore </title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    </head>

    <body>
      <div class="content" style="margin-bottom: 70px;">
        <div class="container-fluid">
          <div class="row">
           <%= render "common/navbar" %>
            <%= render "common/flashes" %>
            <%= yield %>
          </div>
        </div>
      </div>

        <%= render "common/footer" %>
      <div style="margin-top:50px;"></div>
    </body>
</html>
