<!DOCTYPE html>
<html>
  <head>
    <title>Jdstore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <script src="http://cdn.bootcss.com/messenger/1.5.0/js/messenger.min.js"></script>

    <link href="http://cdn.bootcss.com/messenger/1.5.0/css/messenger.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/messenger/1.5.0/css/messenger-theme-block.min.css" rel="stylesheet">
  </head>
<header id="top"></header>
  <body>
    <div class="container-fluid">
      <div class="row">
        <%= render "common/navbar" %>
        <%#= render "common/flashes" %>
        <div class="row">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render "common/footer" %>
  </body>
</html>
