<!DOCTYPE html>
<html>
  <head>
    <title>Select.</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="/images/favicon.ico">
  </head>

  <body>
    <div class="container-fluid", style="margin-top: 87px;">
      <div class="row">
        <%= render "common/navbar" %>
        <%= render "common/flashes" %>
      </div>
      <%= yield %>
    </div>
    <%= render "common/footer" %>
  </body>
</html>
