<!DOCTYPE html>
<html>
    <head>
        <title> 酷跑网 </title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>


          <div class="row">
            <%= render "common/navbar" %>
            <%= render "common/flashes" %>
          </div>
          <main><div class="container container-fluid">
            <%= yield %>
          </div></main>
        <div class="row">
          <%= render "common/footer" %>
        </div>

    </body>
</html>
