<!DOCTYPE html>
<html>
  <head>
    <title>美丽家居</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container-fluid row">
        <div class="col-md-2"></div>
        <div class="col-md-8 main">
            <%= render "common/navbar" %>
            <%= render "common/flashes"%>
            <%= yield %>
            <%= render "common/footer" %>
        </div>
        <div class="col-md-2"></div>
    </div>

  </body>
</html>
