<!DOCTYPE html>
<html>
  <head>
    <title>Jdstore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid" style="margin-bottom:50px">
      <div class="row">
        <%= render "common/navbar" %>
        <%= render "common/flashes" %>
      </div>
      <div>
        <%= yield %>
      </div>
   </div>
  </body>
    <div >
     <%= render "common/footer" %>
    </div>
</html>
