<!DOCTYPE html>
<html>
  <head>
    <title>美丽家居</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= render "common/navbar" %>
    <div class="container-fluid">

        <%= render "common/flashes"%>
        <%= yield %>
      </div>
    <!-- <%= render "common/footer" %> -->
    <%= render "common/footer1" %>
  </body>
</html>
