<!DOCTYPE html>
<html>

    <head>
        <title title="你未来资产的一部分">数字资产--你未来资产的一部分</title>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

        <%= csrf_meta_tags %>

    </head>


    <body>

        <div>
            <%= render "common/navbar" %>
            <%= render "common/flashes" %>
            <%= yield %>
        </div>

        <%= render "common/footer" %>

        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

        <%= yield :handwrite_javascript %>

    </body>

</html>
