<!-- landing page专用页面布局 -->
<!DOCTYPE html>
<html>
  <head>
    <title>Select.</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="/images/favicon.ico">
  </head>

  <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
    <div class="container-fluid">
      <div class="row">
        <%= render "common/welcome_navbar" %>
        <%= render "common/flashes" %>
      </div>
      <%= yield %>
    </div>
    <%= render "common/footer" %>
  </body>
</html>
