<!DOCTYPE html>
<html>
<head>
  <title>酷跑网</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
        <%= render "common/navbar" %>
        <%= yield %>
      </div></main>
      <div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
        <%= render "common/footer" %>
</body>
</html>
